<template>
	<view class="content">
		<view class="popupTop">
			<view class="logo">
				MOTI
			</view>
			<view class="mobi">魔币+{{coupon.score || 10}}</view>
		</view>
		<view class="coupon" v-if="coupon.couponName && coupon.endTime && coupon.denomination">
			<view class="couponLeft">
				<p>{{coupon.couponName}}</p>
				<p class="couponTime">有效期至：{{coupon.endTime}}</p>
			</view>
			<view>
				<p class="couponPrice"><span>{{coupon.denomination}}</span>元</p>
				<p class="usedCoupon" @tap="toUse">立即使用</p>
			</view>
		</view>
	</view>
</template>

<script>
	export default {

		props: {
			coupon: {
				type: Object,
				default: function(e) {
					return {}
				}
			}
		},
		methods: {
			toUse: function() {
				uni.switchTab({
					url: '/pages/index/index'
				});
			}
		}
	}
</script>

<style scoped lang="scss">
	.content {
		width: 550upx;
		padding: 20upx 0;

		.popupTop {
			width: 100%;
			display: flex;
			flex-direction: column;
			text-align: center;

			.logo {
				width: 70upx;
				height: 70upx;
				margin: 0 auto;
				line-height: 70upx;
				text-align: center;
				color: #b7bac1;
				font-size: 18upx;
				background: #fff;
				border-radius: 50%;
				border: 1upx solid #b7bac1;
			}

			.mobi {
				color: #000;
				font-size: 24upx;
				margin: 20upx 0;
			}
		}

		.coupon {
			padding: 20upx 0;
			color: #000;
			display: flex;
			justify-content: space-between;

			.couponTime {
				margin-top: 45upx;
				font-size: 20upx;
				color: #9a9a9a;
			}

			.couponPrice {
				text-align: center;
				color: #e00005;

				span {
					font-size: 48upx;
				}
			}

			.usedCoupon {
				min-width: 80upx;
				font-size: 18upx;
				text-align: center;
				background: #000;
				color: #fff;
				padding: 5upx 25upx;
				border-radius: 30upx;
			}

			p {
				font-size: 24upx;
			}
		}
	}
</style>
