<template>
	<view class="cart_wrapper">
		<block v-if="hourItems.length > 0">
			<card title="一小时达">
				<block v-for="(item, index) in hourItems" :key="index">
					<cart-item :goods="item" :index="index" type="hour" @changeCheck="changeCheck"
					 @numberChange="numberChange" @delGoods="delGoods" :class="{'first-top-padding':index ==0}"></cart-item>
				</block>
				
			</card>
		</block>
		<block v-if="hourItems.length > 0">
			<view class="go_pay">
				<view class="cart_all_checkbox" @tap="changeAllCheck('hour')">
					<image :src="isAllHoursChecked ? 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/cart_checked.png' : 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/cart_unchecked.png'"></image>
					<text>全选</text>
				</view>
				<view class="total_price">
					<view class="price">合计: {{hourTotalSum}}</view>
					<!-- <view class="disount">共优惠¥50</view> -->
				</view>
				<view class="btn" @tap="goPay('hour')"  v-track-event="{category:'按钮', action:'一小时结算按钮',label:`material=${sourceInfo.material}channel=${sourceInfo.channel}`}">去结算</view>
			</view>
		</block>


		<block v-if="averageItems.length > 0">
			<card title="普通快递">
				<block v-for="(item, index) in averageItems" :key="index">
					<cart-item :goods="item" :index="index" type="average" @changeCheck="changeCheck" @numberChange="numberChange"
					 @delGoods="delGoods"></cart-item>
				</block>
			</card>
		</block>
		<block v-if="averageItems.length > 0">
			<view class="go_pay">
				<view class="cart_all_checkbox" @tap="changeAllCheck('average')">
					<image :src="isAllAverageChecked ? 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/cart_checked.png' : 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/cart_unchecked.png'"></image>
					<text>全选</text>
				</view>
				<view class="total_price">
					<view class="price">合计: {{averageTotalSum}}</view>
					<!-- <view class="disount">共优惠¥50</view> -->
				</view>
				<view class="btn" @tap="goPay('average')" v-track-event="{category:'按钮', action:'普通快递结算按钮',label:`material=${sourceInfo.material}channel=${sourceInfo.channel}`}">去结算</view>
			</view>
		</block>
		<!-- <card title="MOTI普通配送"></card> -->
		<!-- <card title="普通快递"></card> -->

		<!-- <view class="go_pay">
			<view class="cart_all_checkbox" @tap="changeAllCheck">
				<image :src="isAllChecked ? 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/cart_checked.png' : 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/cart_unchecked.png'"></image>
				<text>全选</text>
			</view>
			<view class="total_price">
				<view class="price">合计: {{totalSum}}</view>
				<view class="disount">共优惠¥50</view>
			</view>
			<view class="btn" @tap="goPay">去结算</view>
		</view> -->

		<!-- <view class="uncontent" v-if="goodsList.length === 0">购物车空空如也</view> -->
		<anomaly :icon="'moti-gouwucheweikong'" :hint="'购物车空空如也'" v-if="goodsList.length === 0" :link="{text:'去逛逛', url:'../index/index'}"></anomaly>
		
		<!-- #ifdef MP-WEIXIN -->
		<loginMask :show="isShowLoginMask" @loginResult="loginResult"></loginMask>
		<!-- #endif -->
	</view>
</template>

<script>
	import anomaly from '../../components/anomaly.vue'
	import Card from './components/card.vue'
	import CartItem from './components/cartItem.vue'
	import {
		getCar,
		delCar
	} from '@/common/request.js'

	export default {
		data() {
			return {
				goodsList: [],
				averageItems: [],
				hourItems: [],
				selectedGoods: [],
				hourTotalSum: 0,
				averageTotalSum: 0,
				isAllChecked: false,
				isAllHoursChecked: false,
				isAllAverageChecked: false,
				isShowLoginMask: false,
				sourceInfo:{}
			};
		},
		components: {
			Card,
			CartItem,
			anomaly
		},
		onTabItemTap: function(e){
			if(e.index == 1){
				this.MonitorEvent('shopcart');	// 大数据按钮埋点 shopcart
			}
		},
		onLoad() {
			// this.initData()

			// console.log(this.goodsList)
			//取得缓存
			this.sourceInfo = uni.getStorageSync('sourceInfo')
			console.log( JSON.stringify(this.sourceInfo))
			console.log("友盟更新")
		},
		onShow() {
			this.initData()
			uni.setStorageSync('orderGoodsList', [])
			// this.$store.commit('setOrderGoodsList', [])
		},
		onHide() {
			this.isShowLoginMask = false
		},
		methods: {
			async initData() {
				this.getCar()
				// this.hourItems = this.goodsList
				// this.averageItems = this.goodsList
			},
			async getCar() {
				let cartData = null
				const isLogin = this.$isLogin()
				if (!isLogin) {
					cartData = this.$utils.cartCache.getCartCache()
					console.log('cartData', cartData)
				} else {
					const {
						result
					} = await getCar()
					cartData = result
				}
				const goodsList = cartData.items
				const averageItems = cartData.averageItems
				const hourItems = cartData.hourItems
				this.goodsList = []
				this.averageItems = []
				this.hourItems = []
				for (let i in goodsList) {
					goodsList[i].selected = false
					this.goodsList.push(goodsList[i])
				}
				for (let i in hourItems) {
					hourItems[i].selected = false
					this.hourItems.push(hourItems[i])
				}
				for (let i in averageItems) {
					averageItems[i].selected = false
					this.averageItems.push(averageItems[i])
				}
				this.calcSum('hour')
				this.calcSum('average')
				this.$store.commit('setCartNum', this.goodsList.length)
				if (this.goodsList.length > 0) {
					uni.setTabBarBadge({
						index: 1,
						text: `${this.goodsList.length}`
					})
				} else {
					uni.removeTabBarBadge({
						index: 1
					})
				}
				
				this.$wxBuryDot('page_cart')
			},
			async delGoods(e) {
				if (this.$isLogin()) {
					const res = await delCar(e.skuId)
					if (res.code === 0) {
						if (e.type === 'hour') {
							this.hourItems.splice(e.index, 1)
						} else if (e.type === 'average') {
							this.averageItems.splice(e.index, 1)
						}
						this.getCar()
						this.calcSum(e.type)

					}
				} else {
					if (e.type === 'hour') {
						this.hourItems.splice(e.index, 1)
					} else if (e.type === 'average') {
						this.averageItems.splice(e.index, 1)
					}
					this.$utils.cartCache.delCartCache(e.skuId, e.type)
					const cartNum = this.$utils.cartCache.getCartCacheNum()
					this.$store.commit('setCartNum', cartNum)
					this.goodsList.length = cartNum
				}
			},
			changeCheck(e) {
				if (e.type === 'hour') {
					this.hourItems[e.index].selected = e.selected
				} else if (e.type === 'average') {
					this.averageItems[e.index].selected = e.selected
				}
				console.log(e)
				this.calcSum(e.type)
			},
			numberChange(e) {
				console.log('numberChange', e)
				if (e.type === 'hour' && this.hourItems.length > 0) {
					this.hourItems[e.index].num = e.num
				} else if (e.type === 'average' && this.averageItems.length > 0) {
					this.averageItems[e.index].num = e.num
				}
				this.calcSum(e.type)
			},
			changeAllCheck(type = '') {
				if (type === 'hour') {
					if (!this.isAllHoursChecked) {
						for (let item of this.hourItems) {
							item.selected = true
						}
					} else {
						for (let item of this.hourItems) {
							item.selected = false
						}
					}
				} else if (type === 'average') {
					if (!this.isAllAverageChecked) {
						for (let item of this.averageItems) {
							item.selected = true
						}
					} else {
						for (let item of this.averageItems) {
							item.selected = false
						}
					}
				}
				this.calcSum(type)
			},
			calcSum(type = '') {
				// this.isAllChecked = this.goodsList.every((item) => { return item.selected === true })
				let sum = 0
				if (type === 'hour' && this.hourItems.length > 0) {
					this.isAllHoursChecked = this.hourItems.every((item) => {
						return item.selected === true
					})
					for (let item of this.hourItems) {
						if (item.selected) {
							const price = item.singlePrice
							const num = item.num ? item.num : item.skuNum
							sum = +sum + Number(price * num)
						}
					}
					this.hourTotalSum = sum
				} else if (type === 'average' && this.averageItems.length > 0) {
					console.log('this.averageItems', this.averageItems)
					this.isAllAverageChecked = this.averageItems.every((item) => {
						return item.selected === true
					})
					for (let item of this.averageItems) {
						if (item.selected) {
							const price = item.singlePrice
							const num = item.num ? item.num : item.skuNum
							sum = +sum + Number(price * num)
						}
					}
					this.averageTotalSum = sum
				}
			},
			async goPay(type = '') {
				if (type === 'hour') {
					this.MonitorEvent('hour_close_acc');	// 大数据按钮埋点 hour_close_acc
				} else if (type === 'average') {
					this.MonitorEvent('aver_close_acc');	// 大数据按钮埋点 aver_close_acc
				}
				if (!this.$isLogin()) {
					// #ifdef H5
					return this.$putils.goLogin()
					// #endif
					
					// #ifdef MP-WEIXIN
					await this.$getUserToken()
					return this.isShowLoginMask = true
					// #endif
					// return uni.navigateTo({
					// 	url: '/pages/login/login'
					// })
				}
				const goodsArr = []
				if (type === 'hour') {
					for (let item of this.hourItems) {
						if (item.selected) {
							const goods = {
								spuId: item.spuId,
								skuId: item.skuId,
								spuName: item.spuName,
								skuName: item.skuName,
								skuPrice: item.singlePrice,
								skuNum: item.num || item.skuNum,
								pictureUrl: item.pictureUrl || item.pictureList[0]
							}
							goodsArr.push(goods)
						}
					}
				} else if (type === 'average') {
					for (let item of this.averageItems) {
						if (item.selected) {
							const goods = {
								spuId: item.spuId,
								skuId: item.skuId,
								spuName: item.spuName,
								skuName: item.skuName,
								skuPrice: item.singlePrice,
								skuNum: item.num || item.skuNum,
								pictureUrl: item.pictureUrl || item.pictureList[0]
							}
							goodsArr.push(goods)
						}
					}
				}

				// if (this.colors.length > 0 && this.currentColorIndex > -1) {
				// 	goods.color = this.colors.attrValueList[this.currentColorIndex].attrValue
				// 	goods.colorId = this.tastes.attrValueList[this.currentTasteIndex].attrValueId
				// }
				// if (this.tastes.attrValueList.length > 0 && this.currentTasteIndex > -1) {
				// 	goods.taste = this.tastes.attrValueList[this.currentTasteIndex].attrValue
				// 	goods.tasteId = this.tastes.attrValueList[this.currentTasteIndex].attrValueId
				// }
				// if (this.specifications.length > 0 && this.currentSpecIndex > -1) {
				// 	goods.spec = this.specifications.attrValueList[this.currentSpecIndex].attrValue
				// 	goods.specId = this.specifications.attrValueList[this.currentSpecIndex].attrValueId
				// }
				console.log('goodsArr', goodsArr);

				if (goodsArr.length === 0) return uni.showToast({
					title: '请选择商品',
					icon: 'none'
				})
				uni.setStorageSync('orderGoodsList', goodsArr)
				// this.$store.commit('setOrderGoodsList', goodsArr)
				// this.$store.commit()
				uni.navigateTo({
					url: `/pages/orderInfo/orderInfo?sendType=${type}`
				})
			},
			loginResult(e) {
				if (e.type === 'success') {
					this.isShowLoginMask = false
					this.getCar()
				} else if (e.type === 'close') {
					this.isShowLoginMask = false
				}
			}
		},
	}
</script>

<style lang="scss">
	.cart_wrapper {
		padding-bottom: 140upx;
		background: transparent;

		.first-top-padding {
			padding-top: 16upx;
		}

		.go_pay {
			padding: 22upx 24upx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 98upx;
			background: #fff;

			.cart_all_checkbox {
				display: flex;
				align-items: center;

				image {
					width: 32upx;
					height: 32upx;
				}

				text {
					margin-left: 16upx;
				}
			}

			.total_price {
				margin-left: 24upx;
				flex-grow: 1;

				.price {
					font-size: 30upx;
					line-height: 30upx;
					color: #333;
					font-weight: 500;
				}

				.disount {
					margin-top: 12upx;
					font-size: 22upx;
					line-height: 22upx;
					color: #999;
				}
			}

			.btn {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 222upx;
				height: 70upx;
				background: linear-gradient(270deg, rgba(255, 74, 101, 1) 0%, rgba(250, 70, 80, 1) 100%);
				border-radius: 8upx;
				color: #fff;
				font-size: 28upx;
			}
		}

		.uncontent {
			margin-top: 300upx;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
</style>
