<template>
	<view class="order_info_wrapper" v-if="isPageReady">
		<view class="order_status" v-if="orderId" @tap="goLogisticsDetail">
			<view class="status">
				<text>{{statusText}}</text>
				<text class="iconfont moti-right" v-if="distributionId >= 2 && statusCode >= 30"></text>
			</view>
			<view class="status_text" v-if="statusDesc">{{statusDesc}}</view>
			<view class="status_info">
				<text class="text_1" v-if="statusText !== '待付款'">订单金额:</text>
				<text class="text_1" v-else>需付款:</text>
				<text class="text_2"><text class="rmb_icon">¥</text>{{totalPrice}}</text>
				<text class="text_3">
					<block v-if="statusText === '待付款' && isShowTimeDown">
						<count-down splitorColor="#999" color="#999" borderColor="#fff" :show-day="false" :second="timeDown"></count-down>
					</block>
					<block v-else>
						<!-- {{orderDetail.createTime}} -->
					</block>
				</text>
				<view class="handle_btns">
					<view class="handle_btn" v-if="statusText !== '待付款'" @tap.stop="callPhone">联系客服</view>
					<view class="handle_btn" v-if="isShowConfirmRevBtn" @tap.stop="confirmReceive">确认收货</view>
				</view>
			</view>
		</view>
		<!-- orderId -->
		<view style="height: 20upx;background: #f0f0f0" v-if="orderId"></view>

		<!-- 地址 -->
		<view class="address_wrapper" @tap="goAddress" v-track-event="{category:'选择收货地址', action:'选择收货地址',label:'选择收货地址'}">
			<view class="un_address" v-if="!isHasDefaultAddress">
				<text>请选择收货地址</text>
				<text class="iconfont moti-right"></text>
			</view>
			<view class="address_info" v-else>
				<view class="column_left">
					<text class="iconfont moti-round_location_fill"></text>
				</view>
				<view class="column_center">
					<view class="column_center_line_1">
						{{addressText}}
					</view>
					<view class="column_center_line_2">
						<text class="username">{{address.receiveName}}</text>
						<text class="phone_number">{{address.receivePhone}}</text>
					</view>
					<!-- <view class="column_center_line_3">
						收货不便时,可选择免费代收获服务
					</view> -->
				</view>
				<view class="column_right" v-if="!orderId"><text class="iconfont moti-right"></text></view>
			</view>
			<!-- #ifdef MP-WEIXIN -->
			<formIdLayout></formIdLayout>
			<!-- #endif -->
		</view>

		<!-- 商品信息 -->
		<card title="MOTI店铺" :cardTitleStyle="{'font-weight': 'normal'}">
			<block v-if="goodsList.length === 1">
				<view class="base_info" v-for="(goods, index) in goodsList" :key="index" @tap="goGoodsDetail(goods.spuId)">
					<view class="poster_wrapper img_def">
						<img class="poster" :src="goods.pictureUrl" mode="aspectFit">
					</view>
					<view class="info_text">
						<view class="title">{{goods.spuName}}</view>
						<view class="choosed_attr">已选: {{goods.skuName}}</view>
						<view class="price_number">
							<view class="price">
								<text class="icon_rmb">¥</text>
								<text class="icon_number">{{parseInt(goods.skuPrice)}}</text>
							</view>
							<view class="number">
								x{{goods.skuNum}}
								<!-- <uni-number-box :value="goods.skuNum" :min="1" @change="numberChange" /> -->
							</view>
						</view>
						<view class="notice_text">未成年人(未满18岁)请勿购买本产品</view>
					</view>
				</view>
			</block>
			<block v-else>
				<view class="multi_wrapper" @tap="showGoodsPopup">
					<view class="goods_wrapper">
						<view class="base_info" v-for="(goods, index) in goodsList" :key="index">
							<view class="poster_wrapper img_def">
								<img class="poster" :src="goods.pictureUrl" mode="aspectFit">
							</view>
							<view class="info_text">
								<view class="price_number">

								</view>
							</view>
						</view>
					</view>
					<view class="nums_wrapper">共{{goodsList.length}}件</view>
				</view>
			</block>
			<!-- 蓝牙延后 -->
			<!-- <block v-if="!isBluetooth"> -->
			<block>
				<view class="send_info" @tap="goSendWay" v-track-event="{category:'选择配送方式', action:'选择配送方式',label:'选择配送方式'}">
					<view class="send_info_text_1">配送信息</view>
					<view class="send_info_text_2">{{sendWay.name}}</view>
					<view class="send_info_text_3">{{sendTypeText}}</view>
					<!-- <view class="send_info_text_4" v-if="sendWay.id == 1">13:00-14:00</view> -->
				</view>

				<view class="bottom_text">
					<block v-if="distributionId == 1">
						一小时达服务时间：周一至周五9:30-17:30
					</block>
					<block v-else>
						<!-- 大促销间时效较长,请耐心等待哦! -->
					</block>
				</view>
			</block>
		</card>
		
		<!-- 蓝牙预售发货信息 -->
		<!-- 蓝牙延后 -->
		<!-- <block v-if="isBluetooth">
			<view class="bluetooth_info">
				<view class="title">发货信息</view>
				<view class="info">
					<text>发货时间</text>
					<text>预计2019年10月12日发货</text>
				</view>
			</view>
		</block> -->
		
		<view class="price_sum">
			<view class="table">
				<view class="table_line first_line">
					<view class="left">商品金额</view>
					<view class="right">
						<text class="price">¥{{orderMoney}}</text>
						<!-- <text class="number">x{{}}</text> -->
					</view>
				</view>
				<view class="table_line" v-if="false">
					<view class="left">满减优惠</view>
					<view class="right red">-¥30</view>
				</view>
				<view class="table_line" @tap="goDiscounts" v-if="!(statusText === '已取消' && couponNum == 0)"  v-track-event="{category:'选择优惠券', action:'选择优惠券',label:'选择优惠券'}">
					<view class="left">优惠券</view>
					<view class="right">
						<template v-if="couponDiscount > 0">
							<text class="red">{{couponDiscount}}折</text>
						</template>
						<template v-else-if="couponNum > 0">
							<text class="red">-¥{{couponNum}}</text>
						</template>
						<template v-else-if="isNotUseCoupon">
							<text>不使用优惠券</text>
						</template>
						<template v-else>
							<text>暂无可用优惠券</text>
						</template>
						<text class="iconfont moti-right" v-if="(!orderId && (couponNum > 0 || couponDiscount > 0)) || isNotUseCoupon"></text>
					</view>
				</view>
				<view class="table_line">
					<view class="left">
						<text>配送费</text>
						<text class="first_order red" v-if="isFirstOrder">(首单免运费)</text>
						<!-- <text class="right red">¥{{freight}}</text> -->
					</view>
					<view class="right">¥{{isFirstOrder ? 0 : freight}}</view>
				</view>
				<!-- <view class="table_line" v-if="remark && orderId || !orderId">
					<view class="left">
						<text>订单备注</text>
					</view>
					<view class="right">
						<input type="text" v-model="remark" placeholder="备注" placeholder-style="font-size: 24upx">
					</view>
				</view> -->
			</view>

			<view class="sum_footer">
				<text>合计</text>
				<text class="price">¥{{totalPrice}}</text>
			</view>
		</view>

		<!-- 订单编号时间等 -->
		<view class="order_base_info" v-if="orderId">
			<view class="order_base_info_header">订单信息</view>
			<view class="order_info_line">
				<view class="left">订单号</view>
				<view class="right">
					{{orderNo}}
					<!-- <text class="copyBtn" @tap="copyFun">复制</text> -->
				</view>
			</view>
			<view class="order_info_line">
				<view class="left">下单时间</view>
				<view class="right">{{orderDetail.createTime}}</view>
			</view>
			<view class="order_info_line" v-if="orderDetail.payTime">
				<view class="left">支付时间</view>
				<view class="right">{{orderDetail.payTime}}</view>
			</view>
			<!-- <view class="order_info_line">
				<view class="left">支付时间</view>
				<view class="right">{{orderDetail}}</view>
			</view>
			<view class="order_info_line">
				<view class="left">配送时间</view>
				<view class="right">332231343211233</view>
			</view> -->
			<!-- <view class="order_info_line" v-if="remark">
				<view class="left">订单备注</view>
				<view class="right"><input type="text" v-model="remark" placeholder="选填, 请先和商家协商一致" placeholder-style="font-size: 24upx"></view>
			</view> -->
		</view>


		<view class="confirm_footer" v-if="orderId && statusText !== '已取消'">
			<!-- <view class="icon_rmb">¥</view>
			<view class="money_number">{{totalPrice}}</view> -->
			<view class="discount"></view>
			<!-- <view class="cancle_btn order" v-if="statusText === '待付款'" @tap="cancleOrder">取消订单</view> -->
			<view class="cancle_btn order" v-if="statusText === '待付款'" @tap="cancleOrder">取消订单</view>
			<view class="pay_btn order" @tap="payOrder" v-if="statusText === '待付款'">去支付</view>
		</view>
		<view class="confirm_footer" v-if="!orderId">
			<view class="icon_rmb">¥</view>
			<view class="money_number">{{totalPrice}}</view>
			<view class="discount"></view>
			<view class="pay_btn" @tap="beforeConfirmPay"  v-track-event="{category:'按钮', action:'确认支付按钮',label:`totalPrice=${totalPrice}+material=${sourceInfo.material}+channel=${sourceInfo.channel}`}">
				确认支付
				<!-- #ifdef MP-WEIXIN -->
				<formIdLayout></formIdLayout>
				<!-- #endif -->
			</view>
		</view>


		<PopupBottom :show="isShowPopGoods">
			<view class="popup_header">
				<view class="left">商品清单</view>
				<view class="right">
					<text>共{{goodsList.length}}件</text>
					<image @tap="closePopup" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/close_1.png"></image>
				</view>
			</view>
			<view class="popup_goods_wrapper">
				<view class="base_info" v-for="(goods, index) in goodsList" :key="index" @tap="goGoodsDetail(goods.spuId)">
					<view class="poster_wrapper">
						<img class="poster" :src="goods.pictureUrl" mode="aspectFit">
					</view>
					<view class="info_text">
						<view class="title">{{goods.spuName}}</view>
						<view class="choosed_attr">口味: {{goods.skuName}}</view>
						<view class="price_number">
							<view class="price">
								<text class="icon_rmb">¥</text>
								<text class="icon_number">{{parseInt(goods.skuPrice)}}</text>
							</view>
							<view class="number">
								<view class="goods_num">x{{goods.skuNum}}</view>
								<!-- <block v-else><uni-number-box :index="index" :value="goods.skuNum" :min="1" @change="numberChange" /></block> -->
							</view>
						</view>
						<view class="notice_text">未成年人(未满18岁)请勿购买本产品</view>
					</view>

				</view>
			</view>
		</PopupBottom>

		<PopupBottom :show="false">
			<view class="cancel_order_wrapper">

			</view>
		</PopupBottom>

		<mmodal :show="isShowConfirmPopup" @confirm="afterDayConfirm" @cancel="closePopup">
			<view class="modal_wrapper">
				<view class="text" v-if="isOpenedHourCity">已经超出一小时达服务时间, 继续支付将自动为您转成<text class="red">普通快递</text>，将在24小时之内为您发货。</view>
				<view class="text" v-else>您的收货地址暂未开通一小时达服务，您继续支付将自动为您转成普通快递，将在24小时之内为您发货。</view>
			</view>
		</mmodal>

		<!-- <mmodal :show="isShowHourToNormalModal" @confirm="hourToNormalConfirm" @cancel="closePopup">
			<view class="modal_wrapper">
				<view class="text">您的收货地址暂未开通一小时达服务, 您继续支付将自动为您转成普通快递,将在24小时之内为您发货。</view>
			</view>
		</mmodal> -->

		<!-- <PopupCenter :show="isShowConfirmPopup" @close="closePopup">
			<view class="modal_wrapper">
				<view class="text" v-if="isOpenedHourCity">已经超出一小时达服务时间, 继续支付将自动为您转成<text class="red">普通快递</text>，将在24小时之内为您发货。</view>
				<view class="text" v-else>您的收货地址暂未开通一小时达服务，您继续支付将自动为您转成普通快递，将在24小时之内为您发货。</view>
				<view class="btns_wrapper">
					<view class="btn" @tap="closePopup">否</view>
					<view class="btn green" @tap="afterDayConfirm">是</view>
				</view>
			</view>
		</PopupCenter> -->
	</view>
</template>

<script>
	import Card from '@/components/card/card.vue'
	import PopupBottom from '@/components/popupBottom/popupBottom.vue'
	import PopupCenter from '@/components/popupCenter/popupCenter.vue'
	import uniNumberBox from '@/components/uni-number-box/uni-number-box.vue'
	import {
		formatDate,
		getOrderStatus
	} from '@/common/utils.js'
	import {
		queryUserDefaultAddress,
		subCarNum,
		listDictByName,
		generateOrder,
		queryPreOrderInfo,
		getFreight,
		tradeOrderDetail,
		checkOrder,
		cancelOrder,
		delCar,
		queryHourCity,
		confirmFinishOrder
	} from '@/common/request.js'
	import CountDown from '@/components/uni-countdown/uni-countdown'

	export default {
		data() {
			return {
				orderNo: '',
				orderId: '',
				sendType: '',
				firstSendType: null,
				options: {},
				orderDetail: {},
				goodsList: [],
				couponList: [],
				choosedCoupon: {},
				couponType: 1, // 1: 满减券, 2: 五折券
				couponNum: 0,
				couponDiscount: 0,
				goods: {},
				address: {},
				addressText: '',
				sendTypeText: '',
				userInfo: {},
				sendWay: {
					id: 1
				},
				distributionId: 3,
				distributionTempId: 3,
				orderMoney: 0,
				isShowPopGoods: false,
				listDict: [],
				orderInfo: {},
				freight: 0,
				statusText: '',
				statusDesc: '',
				statusCode: 0,
				isHasDefaultAddress: false,
				remark: '',
				isChangingNumber: false,
				isShowConfirmPopup: false,
				isSubmitOrder: false,
				isFirstOrder: false,
				timeDown: 0,
				isOrderEnded: false,
				isPageReady: false,
				isOpenedHourCity: false,
				isNotUseCoupon: false,
				isShowTimeDown: false,
				// isBluetooth: false
				sourceInfo:{}
			}
		},
		components: {
			Card,
			uniNumberBox,
			PopupBottom,
			PopupCenter,
			CountDown
		},
		watch: {
			totalPrice() {

			}
		},
		computed: {
			totalPrice() {
				// 计算最终价格
				if (this.couponDiscount > 0) {
					return parseFloat(this.orderMoney * this.couponDiscount / 10) + parseInt(this.freight)
				} else if (this.couponNum > 0) {
					return parseInt(this.orderMoney) + parseInt(this.freight) - parseInt(this.couponNum)
				} else {
					return parseInt(this.orderMoney) + parseInt(this.freight)
				}
			},
			unFreightPrice() {
				if (this.couponDiscount > 0) {
					return parseFloat(this.orderMoney * this.couponDiscount / 10)
				} else if (this.couponNum > 0) {
					return parseInt(this.orderMoney) - parseInt(this.couponNum)
				} else {
					return parseInt(this.orderMoney)
				}
			},
			isShowConfirmRevBtn() {
				// 计算是否显示确认收获按钮
				let bool = false
				if (this.distributionId === 1) {
					if (this.statusCode >= 13 && this.statusCode <= 19) {
						bool = true
					}
				} else {
					if (this.statusCode == 25 || this.statusCode == 30) {
						bool = true
					}
				}
				return bool
			}
		},
		onLoad(options) {
			console.log('options', options);
			this.options = options;
			this.sendType = options.sendType;
			this.orderNo = this.options.orderNo;
			this.orderId = this.options.orderId
			this.userInfo = uni.getStorageSync('userInfo')
			this.initData()
			//取得缓存
			this.sourceInfo = uni.getStorageSync('sourceInfo')
			console.log( JSON.stringify(this.sourceInfo))
			console.log("友盟更新")
		},
		onShow() {
			console.log('show')
			const fromPage = this.$store.getters.fromPage
			console.log('fromPage', fromPage)
			// if (fromPage === 'login') {
			// 	this.initData()
			// }
			if (fromPage === 'addressManager') {
				// 从选择地址页面返回后重新请求默认地址
				this.queryUserDefaultAddress()
			}
			if (fromPage === 'discounts') {
				// 从选择优惠券页面回来后重新计算优惠券
				this.couponNum = 0
				this.couponDiscount = 0
				const coupon = this.$store.getters.tempData
				console.log('coupon', coupon);

				this.isNotUseCoupon = coupon.data.notuse
				this.choosedCoupon = coupon.data
				console.log('this.choosedCoupon', this.choosedCoupon);
				if (this.choosedCoupon.denomination) {
					this.couponNum = parseInt(this.choosedCoupon.denomination)
				} else if (this.choosedCoupon.discountRate) {
					this.couponDiscount = parseFloat(this.choosedCoupon.discountRate * 10)
				}
				console.log(this.couponNum, this.couponDiscount);
				this.getFreight()
			}
			if (fromPage === 'sendWay') {
				// 从选择配送方式页面返回后重新设定配送方式
				console.log(this.$store.getters.sendWay);
				this.sendWay = this.$store.getters.sendWay
				this.distributionId = this.sendWay.id
				this.computSendTypeText()
			}
			this.$store.commit('clearTempData')
			this.$store.commit('clearFromPage')
			//  else if (this.options.spuType === 'hour' && this.listDict.length > 0) {
			// 	this.sendWay = this.listDict[0]
			// } else {
			// 	this.sendWay = this.listDict[2]
			// }
			// this.getFreight()
			// this.queryUserDefaultAddress()
			// this.sendWay = this.$store.getters.sendWay.id ? this.$store.getters.sendWay : { id: 1, name: '一小时达'},
			// if (options.type) {
			// 	
			// }
		},
		methods: {
			async initData() {
				uni.showLoading({
					mask: true
				})
				
				if (this.options.orderId) {
					// 订单列表进来， 显示订单详情
					// 588400983093415936
					await this.tradeOrderDetail()
					// 蓝牙延后
					// if (this.goodsList[0].spuId === '130285923059') {
					// 	this.isBluetooth = true
					// }
					// uni.hideLoading()
					this.listDictByName()
					this.$wxBuryDot('page_ord_detail')
				} else {
					// 下单，订单支付前状态
					this.goodsList = uni.getStorageSync('orderGoodsList')
					console.log('this.goodsList', this.goodsList);
					// 蓝牙延后
					// if (this.goodsList[0].spuId === '130285923059') {
					// 	this.isBluetooth = true
					// }
					// this.goodsList = this.$store.getters.orderGoodsList
					this.sum()
					this.queryUserDefaultAddress()
					await this.queryPreOrderInfo()
					await this.listDictByName()
					this.$wxBuryDot('page_order_info')
				}
				this.isPageReady = true
				uni.hideLoading()
			},
			// 获取订单详情
			async tradeOrderDetail() {
				// 有order_status  10:待付款 20:待配送 25:部分发货 30:待收货 99:完成  
				// 也有：is_refund 是否退货（1：否，2：退货审核，3：退货完成）  也有order_yn：取消订单(1:否，2:是)'
				const res = await tradeOrderDetail(this.options.orderId)
				if (res.code == 1) {
					// uni.showToast({
					// 	title: `${res.msg}`,
					// 	icon: 'none'
					// })
				}
				const result = res.result
				this.orderInfo = res.result
				this.address = result.address
				this.isFirstOrder = result.firstFlag === 'true'
				this.orderDetail = res.result
				this.orderNo = this.orderDetail.orderNo
				this.orderDetail.createTime = this.orderDetail.createTime.split('.')[0]
				this.remark = this.orderDetail.buyerMemo || ''
				this.distributionId = this.orderDetail.distributionId
				this.isHasDefaultAddress = true
				this.freight = parseInt(result.freight)
				// 倒计时
				const strArr = result.autoCancelTime && result.autoCancelTime.replace(/-|:/g, ' ').split(' ')
				const time = new Date(strArr[0], strArr[1] - 1, strArr[2], strArr[3], strArr[4], strArr[5]).getTime()
				if (time - Date.now() < 1000) {
					this.isOrderEnded = true
				} else {
					let timeDown = parseInt((time - Date.now()) / 1000)
					this.timeDown = timeDown
					this.isShowTimeDown = true
				}

				const orderStatus = Number(result.orderStatus)
				const orderYn = Number(result.orderYn)
				const isRefund = Number(result.isRefund)
				const address = result.address
				this.orderMoney = parseInt(result.orderOldMoney)
				
				const couponList = this.orderDetail.tradeOrderCouponVos || []
				const couponNums = []
				const couponDiscounts = []
				couponList.forEach((cur) => {
					if (cur.denomination) {
						couponNums.push(parseInt(cur.denomination))
					} else if (cur.discountRate) {
						couponDiscounts.push(parseFloat(cur.discountRate * 10))
					}
				})
				this.couponNum = couponNums.length > 0 ? Math.max(...couponNums) : 0
				this.couponDiscount = couponDiscounts.length > 0 ? Math.max(...couponDiscounts) : 0
				
				if (this.couponDiscount > 0) {
					this.couponList.forEach((cur) => {
						if (parseFloat(cur.discountRate) == this.couponDiscount / 10) {
							this.choosedCoupon = cur
						}
					})
				} else {
					this.couponList.forEach((cur) => {
						if (cur.denomination == this.couponNum) {
							this.choosedCoupon = cur
						}
					})
				}

				this.goodsList = []
				result.tradeOrderItemVos.forEach((cur) => {
					this.goodsList.push({
						spuId: cur.spuId,
						skuId: cur.skuId,
						skuPrice: cur.skuPrice,
						skuNum: cur.skuNum,
						pictureUrl: cur.pictureUrl,
						spuName: cur.spuName,
						skuName: cur.skuName
					})
				})
				console.log('this.goodsList', this.goodsList)
				this.address = address
				console.log(orderYn, isRefund, this.distributionId);
				const statusObj = getOrderStatus(result.isRefund, result.orderYn, result.orderStatus, result.distributionId,
					result.payTime)
				this.statusText = statusObj.status
				this.statusDesc = statusObj.text
				this.statusCode = statusObj.code
				this.addressText = `${address.provinceName} ${address.cityName} ${address.districtName} ${address.userAddress}`

			},

			async queryUserDefaultAddress() {
				const {
					result
				} = await queryUserDefaultAddress()
				this.address = result
				if (this.address.id) this.isHasDefaultAddress = true
				else return
				this.addressText = `${result.provinceName} ${result.cityName} ${result.districtName} ${result.userAddress}`
				console.log('queryUserDefaultAddress', result)
				// 根据地址查询是否是一小时达城市
				if (this.address.id) {
					const resHour = await queryHourCity(this.address.cityCode)
					this.isOpenedHourCity = resHour.result.areaOpen
				}
			},

			async queryPreOrderInfo() {
				const itemList = []
				console.log(this.goodsList)
				for (let item of this.goodsList) {
					itemList.push({
						spuId: item.spuId,
						skuId: item.skuId,
						skuNum: `${item.skuNum}`
					})
				}
				const {
					result
				} = await queryPreOrderInfo(JSON.stringify(itemList))
				
				this.orderInfo = result
				this.couponList = result.couponList
				this.activityList = result.activityList
				this.orderMoney = parseInt(result.orderVo.orderOldMoney)
				this.isFirstOrder = result.firstOrder == 'true'
				
				const couponNums = []
				const couponDiscounts = []
				this.couponList.forEach((cur) => {
					if (cur.denomination) {
						couponNums.push(parseInt(cur.denomination))
					} else if (cur.discountRate) {
						couponDiscounts.push(parseFloat(cur.discountRate * 10))
					}
				})
				this.couponNum = couponNums.length > 0 ? Math.max(...couponNums) : 0
				this.couponDiscount = couponDiscounts.length > 0 ? Math.max(...couponDiscounts) : 0
				
				if (this.couponDiscount > 0) {
					this.couponList.forEach((cur) => {
						if (parseFloat(cur.discountRate) == this.couponDiscount / 10) {
							this.choosedCoupon = cur
						}
					})
				} else {
					this.couponList.forEach((cur) => {
						if (cur.denomination == this.couponNum) {
							this.choosedCoupon = cur
						}
					})
				}
				
				console.log(this.couponNum);
				console.log(this.couponDiscount);
				console.log('this.choosedCoupon', this.choosedCoupon);
				
			},

			async getFreight() {
				const {
					result
				} = await getFreight(this.distributionId, this.unFreightPrice)
				this.freight = this.isFirstOrder ? 0 : result.freight
			},

			async listDictByName() {
				const {
					result
				} = await listDictByName('DistributeType')
				// 查询完配送方式之后设置当前配送方式
				this.listDict = result
				this.listDict[1].name = this.listDict[1].name.split(',')[0]
				if (this.orderId) {
					this.sendWay = this.listDict[this.distributionId - 1]
				} else {
					this.sendWay = this.options.sendType === 'hour' ? this.listDict[0] : this.options.sendType === 'average' ? this.listDict[
						2] : this.listDict[1]
					this.distributionId = this.sendWay.id
				}
				// 计算地址信息显示的文字
				this.computSendTypeText()
				if (!this.options.orderId) {
					// 立即下单获取配送费
					this.getFreight()
				}
			},

			async cancleOrder() {
				this.MonitorEvent('canc_ord');	// 大数据按钮埋点 canc_ord
				if (this.isOrderEnded) {
					return uni.showToast({
						title: '订单已超时'
					})
				}
				const _this = this
				uni.showModal({
					title: "确定要取消这个订单",
					async success(res) {
						if (res.confirm) {
							const res = await cancelOrder(_this.orderId)
							if (res.code === 0) uni.showToast({
								title: '取消成功',
								icon: 'none'
							})
							_this.tradeOrderDetail()
						}
					}
				})
			},

			payOrder() {
				this.MonitorEvent('pay_ord');	// 大数据按钮埋点 pay_ord
				if (this.isOrderEnded) {
					return uni.showToast({
						title: '订单已超时'
					})
				}
				const params = `orderId=${this.orderId}`
				uni.redirectTo({
					url: `/pages/payWay/payWay?${params}`
				})
			},

			async beforeConfirmPay() {
				this.MonitorEvent('submit_pay');	// 大数据按钮埋点 submit_pay
				// 确认支付前校验
				if (!this.address.id) return uni.showToast({
					title: '请选择收货地址',
					icon: 'none'
				})
				console.log('this.distributionId', this.distributionId);
				const isLogin = this.$isLogin()
				if (!isLogin) {
					return uni.navigateTo({
						url: `/pages/login/login?fromPage=orderInfo&sendType=${this.sendType}`
					});
				}
				// 一小时达商品进来， 但是被自动转成普通快递了， 需要弹窗提示
				if (this.sendType === 'hour' && this.distributionId == 3) {
					if (this.chargeHourTime()) {
						this.isShowConfirmPopup = true
						return
					}
				}
				
				// 蓝牙延后
				// if (this.isBluetooth) {
				// 	this.distributionId = 3
				// }
				this.confirmPay()
			},

			afterDayConfirm() {
				// 校验弹窗后操作
				if (this.isOpenedHourCity) {
					this.distributionId = 3
					this.sendWay = this.listDict[2]
				} else {
					this.distributionId = 3
					this.sendWay = this.listDict[2]
				}
				// 蓝牙延后
				// if (this.isBluetooth) {
				// 	this.distributionId = 3
				// }
				this.computSendTypeText()
				this.isShowConfirmPopup = false
				this.confirmPay()
			},

			async confirmPay() {
				uni.showLoading({
					title: '正在提交',
					mask: true
				})
				const itemList = []
				for (let item of this.goodsList) {
					itemList.push({
						spuId: item.spuId,
						skuId: item.skuId,
						skuNum: item.skuNum
					})
				}


				let couponList = []
				if (this.choosedCoupon.couponId || this.choosedCoupon.id) {
					couponList = [{
						couponId: this.choosedCoupon.couponId || this.choosedCoupon.id
					}]
				}
				const activityList = []
				const data = {
					couponList,
					itemList: itemList,
					activityList,
					distributionId: this.distributionId,
					addressId: this.address.id
				}
				const res = await checkOrder(data)
				if (res.code == 8) {
					this.isShowConfirmPopup = true
					uni.hideLoading()
					// next = await new Promise((resolve, reject) => {
					// 	uni.showModal({
					// 		title: '提示',
					// 		content: '您的收货地址暂未开通一小时达服务，您继续支付将自动为您转成普通快递，将在24小时之内为您发货。',
					// 		success(res) {
					// 			if (res.confirm) {
					// 				resolve(true)
					// 			} else {
					// 				resolve(false)
					// 			}
					// 		}
					// 	})
					// })
				} else if (res.code != 0) {
					const _this = this
					uni.hideLoading()
					return uni.showToast({
						title: '提示',
						content: '当前优惠已失效，是否重新下单',
						success(res) {
							if (res.confirm) {
								_this.confirmPay()
							}
						}
					})
				} else {
					// let emptyOrderSource = this.sourceInfo.orderSource?'1':this.sourceInfo.orderSource
					const orderVo = {
						addressId: this.address.id,
						distributionId: this.distributionId,
						buyerMemo: this.remark,
						// #ifdef H5
						orderSource: this.sourceInfo.orderSource?this.sourceInfo.orderSource:'1',
						material:this.sourceInfo.material?this.sourceInfo.material:'',
						channel:this.sourceInfo.channel?this.sourceInfo.channel:'',
						// #endif
						// #ifdef MP-WEIXIN
						orderSource: '2',
						// #endif
						// #ifdef APP-PLUS
						orderSource: '3',
						// #endif
					}
					const data = {
						couponList,
						itemList: itemList,
						activityList,
						orderVo
					}
					this.generateOrder(data)
				}
			},

			async generateOrder(data) {
				let ids = ''
				for (let item of this.goodsList) {
					ids += `${item.skuId},`
				}
				const {
					result
				} = await generateOrder(data)
				if (result.id) {
					uni.hideLoading()
					this.orderId = result.id
					const orderParam = {
						orderNo: result.orderNo,
						price: this.totalPrice,
						spuName: this.goodsList[0].spuName
					}
					uni.setStorageSync('orderParam', orderParam)
					delCar(ids)
					this.$wxBuryDot('order_info_submit_pay')
					const params = `orderId=${result.id}`
					uni.redirectTo({
						url: `/pages/payWay/payWay?${params}`
					})
				}
			},

			// hourToNormalConfirm() {
			// 	const itemList = []
			// 	let ids = ''
			// 	for (let item of this.goodsList) {
			// 		itemList.push({
			// 			spuId: item.spuId,
			// 			skuId: item.skuId,
			// 			skuNum: item.skuNum
			// 		})
			// 		ids += `${item.skuId},`
			// 	}
			// 	
			// 	
			// 	let couponList = []
			// 	if (this.choosedCoupon.couponId || this.choosedCoupon.id) {
			// 		couponList = [{couponId: this.choosedCoupon.couponId || this.choosedCoupon.id}]
			// 	}
			// 	const activityList = []
			// 	const orderVo = {
			// 		addressId: this.address.id,
			// 		distributionId: this.distributionId,
			// 		buyerMemo: this.remark,
			// 		orderSource: '1'
			// 	}
			// 	const data = {
			// 		couponList,
			// 		itemList: itemList,
			// 		activityList,
			// 		orderVo
			// 	}
			// 	this.generateOrder(data)
			// },

			async goSendWay() {
				if (this.options.orderId) return
				this.MonitorEvent('deli_meth');	// 大数据按钮埋点 deli_meth
				this.$store.commit('setTempData', this.listDict)
				// 未设置过firstSendType的话设置一下
				if (typeof this.firstSendType == 'object') this.firstSendType = this.distributionId - 1
				uni.navigateTo({
					url: `/pages/sendWay/sendWay?type=${this.sendWay.id - 1}&firstSendType=${this.firstSendType}`
				})
			},

			async numberChange(e) {
				const index = e.index
				const num = e.num
				this.goodsList[index].skuNum = num
				const res = await subCarNum(this.goodsList[index].skuId, num)
				if (res.code === 0) {
					// this.sum()
					let sum = 0
					for (let item of this.goodsList) {
						sum += Number(item.skuPrice) * item.skuNum
					}

					this.orderMoney = sum
				}
			},

			goAddress() {
				this.MonitorEvent('choo_addr');	// 大数据按钮埋点 choo_addr
				if (this.orderId) return
				uni.navigateTo({
					url: '/pages/addressManager/addressManager?fromPage=orderInfo'
				})
			},
			closePopup() {
				console.log('dddddd')
				this.isShowPopGoods = false
				this.isShowConfirmPopup = false
				uni.hideLoading()
			},
			showGoodsPopup() {
				this.isShowPopGoods = true
			},
			sum() {
				let sum = 0
				for (let item of this.goodsList) {
					sum += Number(item.skuPrice) * item.skuNum
				}
				this.orderMoney = sum
				console.log('sum', sum)
			},
			computSendTypeText() {
				console.log('computSendTypeText', this.sendWay)
				const date = +new Date()
				const timeStart = new Date().setHours(0, 0, 0, 0)
				const time9_30 = timeStart + 9.5 * 60 * 60 * 1000
				const time17_30 = timeStart + 17.5 * 60 * 60 * 1000
				if (this.sendWay.id == 1) {
					if (this.options.orderId && this.orderDetail.payTime) {
						const strArr = this.orderDetail.payTime && this.orderDetail.payTime.replace(/-|:/g, ' ').split(' ')
						const timeStamp = new Date(strArr[0], strArr[1] - 1, strArr[2], strArr[3], strArr[4], strArr[5]).getTime()
						const time = formatDate(timeStamp, 'HH:mm')
						const hourHalf = formatDate(timeStamp + 1.5 * 60 * 60 * 1000, 'HH:mm')
						this.sendTypeText = `预计配送时间为：${time}-${hourHalf}`
					} else {
						const time = formatDate(date, 'HH:mm')
						const hourHalf = formatDate(date + 1.5 * 60 * 60 * 1000, 'HH:mm')
						if (date > time9_30 && date < time17_30) {
							this.sendTypeText = `预计配送时间为：${time}-${hourHalf}`
						} else {
							this.sendWay = this.listDict[2]
							this.distributionId = 3
							this.computSendTypeText()
						}
					}
				} else if (this.sendWay.id == 2) {
					// const day = parseInt(formatDate(date, ''))
					this.sendTypeText = `预计配送时间为：明日送达`
				} else {
					let after3 = 0
					if (this.options.orderId && this.orderDetail.payTime) {
						const strArr = this.orderDetail.payTime && this.orderDetail.payTime.replace(/-|:/g, ' ').split(' ')
						const timeStamp = new Date(strArr[0], strArr[1] - 1, strArr[2], strArr[3], strArr[4], strArr[5]).getTime()
						after3 = timeStamp + 3 * 24 * 60 * 60 * 1000
					} else {
						after3 = date + 3 * 24 * 60 * 60 * 1000
					}
					const dayAfter3 = formatDate(after3, 'MM月DD日')
					console.log(dayAfter3)
					this.sendTypeText = `预计配送时间为: ${dayAfter3}`
				}
			},
			chargeHourTime() {
				let isShowModal = false
				const time = new Date()
				const day = time.getDay()
				const now = Date.now()
				const base0Time = +new Date(new Date().setHours(0, 0, 0, 0))
				const time9_30 = base0Time + 9.5 * 60 * 60 * 1000
				const time17_30 = base0Time + 17.5 * 60 * 60 * 1000
				if (day >= 6 || now < time9_30 || now > time17_30) {
					isShowModal = true
				}
				return isShowModal
			},
			goDiscounts() {
				this.MonitorEvent('choo_disc_coup');	// 大数据按钮埋点 choo_disc_coup
				if (this.couponList.length === 0) return
				this.$mstore.setItem('couponList', this.couponList)
				uni.navigateTo({
					url: '/pages/discounts/discounts?fromPage=orderInfo'
				});
			},
			copyFun: function() {
				uni.setClipboardData({
					data: this.orderId,
					success: function(data) {
						uni.showToast({
							icon: 'none',
							title: '订单号复制成功~'
						})
					},
					fail: function(err) {
						uni.showToast({
							icon: 'none',
							title: '订单号复制失败，请重试~'
						})
					},
					complete: function(res) {}
				})
			},
			goLogisticsDetail() {
				if (this.distributionId >= 2 && this.statusCode >= 30) {
					uni.navigateTo({
						url: `/pages/logisticsDetail/logisticsDetail?orderId=${this.orderId}`
					})
				}
			},
			callPhone() {
				this.MonitorEvent('cust_server');	// 大数据按钮埋点 cust_server
				uni.makePhoneCall({
					phoneNumber: '400-012-6828' //仅为示例
				});
			},
			async confirmReceive() {
				this.MonitorEvent('get_good_conf');	// 大数据按钮埋点 get_good_conf
				this.$wxBuryDot('ord_detail_get_good_conf')
				const {
					code
				} = await confirmFinishOrder(this.orderId)
				if (code == 0) {
					this.initData()
					// uni.navigateTo({
					// 	url:  `/pages/logisticsDetail/logisticsDetail?orderId=${this.orderId}`
					// })
				}
			},
			goGoodsDetail(id) {
				if (this.options.orderId) {
					const sendType = this.distributionId == 1 ? 'hour' : 'average'
					uni.navigateTo({
						url: `/pages/goodsDetail/goodsDetail?spuId=${id}&sendType=${sendType}`
					})
				}
			}
		}
	}
</script>

<style lang="scss">
	.order_info_wrapper {
		padding-bottom: 120upx;
		color: #333;

		.copyBtn {
			margin-left: 30upx;
			padding: 3upx 10upx;
			background: #DDDDDD;
			color: #999999;
			border-radius: 8upx;
			font-size: 20upx;
		}

		.order_status {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 24upx 24upx 0;
			// height: 180upx;
			background-color: #fff;

			.status {
				font-size: 34upx;
				font-weight: 800;
				color: rgba(51, 51, 51, 1);
				line-height: 50upx;

				.moti-right {
					color: #333;
				}
			}

			.status_text {
				margin-top: 20upx;
				font-size: 24upx;
			}

			.status_info {
				margin-top: 26upx;
				color: #333;

				.text_1,
				.text_3 {
					font-size: 24upx;
				}

				.text_2 {
					margin-left: 18upx;
					font-size: 32upx;

					.rmb_icon {
						font-size: 24upx;
					}
				}

				.text_3 {
					margin-left: 24upx;
				}

				.handle_btns {
					.handle_btn {
						display: inline-block;
						width: 150upx;
						border: 1px solid #ddd;
						border-radius: 8upx;
						box-sizing: border-box;
						font-size: 24upx;
						color: #333;
						margin: 20upx 0;
						padding: 10upx 24upx;
						margin-right: 20upx;
					}
				}
			}
		}

		.address_wrapper {
			position:relative;
			.un_address {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 24upx;
				height: 84upx;
				font-size: 26upx;
				line-height: 37upx;
				background-color: #fff;
			}

			.address_info {
				height: 172upx;
				padding: 24upx;
				box-sizing: border-box;
				display: flex;
				justify-content: space-between;
				align-items: center;
				background: url(../../static/images/blue-red-border.png) repeat-x;
				background-color: #fff;
				background-position: bottom left;
				background-size: 128upx 6upx;

				.column_left {
					.moti-round_location_fill {
						color: #FA4650;
						font-size: 56upx;
					}
				}

				.column_center {
					margin-left: 24upx;
					height: 100%;
					flex-grow: 1;
					display: flex;
					flex-direction: column;
					justify-content: center;

					.column_center_line_1 {
						font-size: 28upx;
						line-height: 40upx;
						font-weight: bold;
					}

					.column_center_line_2 {
						font-size: 22upx;
						line-height: 30upx;
						color: #000;

						.phone_number {
							color: #999;
							margin-left: 30upx;
						}
					}

					.column_center_line_3 {
						font-size: 22upx;
						line-height: 30upx;
						color: #999;
					}
				}
			}

		}

		.multi_wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.goods_wrapper {
				flex-shrink: 0;
				display: flex;
				width: 600upx;
				overflow: auto;

				.base_info {
					flex-shrink: 0;
					margin-right: 24upx;
					width: 128upx;
					height: 128upx;
					border-radius: 8upx;
					overflow: hidden;

					.poster_wrapper {
						width: 128upx;
						height: 128upx;
						text-align: center;

						.poster {
							max-width: 100%;
							height: 128upx;
						}
					}
				}
			}
		}

		.base_info {
			display: flex;
			text-align: left;

			.poster_wrapper {
				text-align: center;
				flex-shrink: 0;
				width: 180upx;
				height: 180upx;
				border-radius: 8upx;

				.poster {
					max-width: 100%;
					height: 180upx;
				}
			}

			.info_text {
				flex-grow: 1;
				margin-left: 24upx;
				overflow: hidden;

				.title {
					// width: 425upx;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					font-size: 26upx;
					line-height: 37upx;
					color: #000;
				}

				.choosed_attr {
					margin-top: 4upx;
					font-size: 22upx;
					line-height: 30upx;
					color: #999;
				}

				.price_number {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 29upx;
					font-size: 36upx;
					line-height: 35upx;
					color: #FA4650;

					.price {
						.icon_rmb {
							font-size: 22upx;
						}
					}

					.number {
						color: #000;
					}
				}

				.notice_text {
					margin-top: 10upx;
					margin-bottom: 10upx;
					font-size: 22upx;
					line-height: 30upx;
					color: #999;
				}
			}

		}

		.send_info {
			margin-top: 24upx;
			display: flex;
			align-items: center;
			font-size: 26upx;
			line-height: 37upx;
			color: #333;

			.send_info_text_1 {
				flex-shrink: 0;
			}

			.send_info_text_2 {
				flex-shrink: 0;
				margin-left: 12upx;
				color: #FA4650;
				flex-grow: 1;
			}

			.send_info_text_3 {
				color: #FA4650;
				font-weight: bold;
			}

			.send_info_text_4 {
				margin-left: 15upx;
				font-weight: bold;
			}
		}

		.bottom_text {
			padding-bottom: 18upx;
			text-align: right;
			margin-top: 21upx;
			font-size: 22upx;
			line-height: 30upx;
			color: #999;
		}
		
		.bluetooth_info {
			padding: 0 24upx;
			margin-top: 20upx;
			height: 163upx;
			background: #fff;
			overflow: hidden;
			.title {
				margin-top: 32upx;
				font-size: 30upx;
				color: #333;
				font-weight: bold;
			}
			.info {
				margin-top: 28upx;
				display: flex;
				justify-content: space-between;
				font-size: 26upx;
				color: #333;
			}
		}
		
		.price_sum {
			margin-top: 20upx;
			padding: 24upx 24upx 0 24upx;
			background-color: #fff;

			.table {
				.table_line {
					margin-top: 27upx;
					padding-right: 20upx;
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 26upx;
					line-height: 37upx;

					.left {
						.first_order {
							margin-left: 46upx;
						}

						.remark {
							margin-left: 20upx;
						}
					}

					.right {
						position: relative;
						// min-width: 50upx;
						display: flex;
						justify-content: space-between;
						align-items: center;

						.number {
							color: #999;
						}

						input {
							text-align: right;
						}

						.moti-right {
							position: absolute;
							right: -30upx;
						}
					}

					.red {
						color: #FA4650;
					}

					&.first_line {
						margin-top: 0upx;
					}
				}
			}

			.sum_footer {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				margin-top: 31upx;
				height: 88upx;
				font-size: 26upx;
				text-align: right;
				border-top: 1px solid #dcdcdc;

				.price {
					color: #FA4650;
					margin-left: 15upx;
					font-weight: 600;
					font-size: 28upx;
					position: relative;
					top: 2upx;
				}
			}
		}

		.order_base_info {
			margin-top: 20upx;
			padding: 40upx 24upx;
			background-color: #fff;

			.order_base_info_header {
				font-size: 30upx;
				font-weight: 500;
				color: rgba(51, 51, 51, 1);
			}

			.order_info_line {
				display: flex;
				align-items: center;
				margin-top: 24upx;

				.left {
					width: 150upx;
					font-size: 26upx;
					color: #333;
				}

				.right {
					flex-grow: 1;
					font-size: 26upx;
					color: #333;
				}
			}
		}

		.confirm_footer {
			padding: 0 24upx;
			display: flex;
			align-items: center;
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			height: 98upx;
			background-color: #fff;

			view {
				flex-shrink: 0;
			}

			.icon_rmb {
				letter-spacing: 2upx;
				font-size: 30upx;
				line-height: 58upx;
				color: #FA4650;
			}

			.money_number {
				letter-spacing: 2upx;
				font-size: 46upx;
				line-height: 58upx;
				color: #FA4650;
			}

			.discount {
				margin-left: 17upx;
				flex-grow: 1;
				font-size: 24upx;
				line-height: 33upx;
				color: #999;
			}

			.pay_btn,
			.cancle_btn {
				position: relative;
				width: 220upx;
				height: 72upx;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				background: linear-gradient(270deg, rgba(255, 74, 101, 1) 0%, rgba(250, 70, 80, 1) 100%);
				font-size: 28upx;
				border-radius: 8upx;
				font-weight: 600;

				&.order {
					border-radius: 4upx;
					width: 152upx;
					height: 60upx;
				}
			}

			.cancle_btn {
				margin-right: 32upx;
				background: #fff;
				color: #3c3c3c;
				border: 1px solid #ddd;
			}
		}

		.popup_header {
			padding: 0 24upx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 112upx;
			background-color: #fff;
			border-bottom: 1px solid #dcdcdc;

			.left {
				font-size: 34upx;
				line-height: 48upx;
				color: #333;
			}

			.right {
				display: flex;
				justify-content: center;
				align-items: center;

				text {
					font-size: 24upx;
					line-height: 33upx;
					color: #999;
				}

				image {
					margin-left: 25upx;
					width: 24upx;
					height: 24upx;
				}
			}
		}

		.popup_goods_wrapper {
			max-height: 600upx;
			overflow: auto;
			background-color: #fff;
			padding: 0 24upx;
			padding-bottom: 24upx;

			.base_info {
				margin-top: 44upx;
				display: flex;
				text-align: left;

				.poster_wrapper {
					overflow: hidden;
					flex-shrink: 0;
					width: 180upx;
					height: 180upx;
					border-radius: 8upx;
					text-align: center;

					.poster {
						max-width: 100%;
						height: 180upx;
					}
				}

				.info_text {
					flex-grow: 1;
					margin-left: 24upx;
					overflow: hidden;

					.title {
						// width: 425upx;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						font-size: 26upx;
						line-height: 37upx;
						color: #000;
					}

					.choosed_attr {
						margin-top: 4upx;
						font-size: 22upx;
						line-height: 30upx;
						color: #999;
					}

					.price_number {
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-top: 29upx;
						font-size: 36upx;
						line-height: 35upx;
						color: #FA4650;

						.price {
							.icon_rmb {
								font-size: 22upx;
							}
						}

						.number {
							color: #000;
						}
					}

					.notice_text {
						margin-top: 10upx;
						font-size: 22upx;
						line-height: 30upx;
						color: #999;
					}
				}

			}
		}

		.modal_wrapper {
			margin-top: 58upx;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// padding: 48upx 24upx 0 24upx;
			box-sizing: border-box;
			border-radius: 8upx;
			background-color: #fff;
			text-align: center;

			.btns_wrapper {
				height: 80upx;
				margin-top: 30upx;
				width: 100%;
				border-top: 1px solid #eee;
				display: flex;
				align-items: center;

				.btn {
					height: 100%;
					width: 50%;
					display: flex;
					justify-content: center;
					align-items: center;

					&.green {
						border-left: 1px solid #eee;
						color: rgb(59, 179, 35);
					}
				}
			}
		}
	}
</style>
