$defc: #FA4650;
	
	page {
		background-color: #f5f5f5;
		height: 100%;
	}
	/*自定义导航头部公用样式*/
	.status_bar{
		height: var(--status-bar-height);  
		width: 100%;  
		background-color: #FFFFFF;
		.top_view {  
		    height: var(--status-bar-height);  
		    width: 100%;  
		    position: fixed;  
		    background-color: #FFFFFF;  
		    top: 0;  
		    z-index: 999;  
		}
	}
	.header{
		width: 100%;
		height: 88upx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		/* #ifdef MP-WEIXIN */
		justify-content: flex-start;
		/* #endif */
		position: fixed;
		top: 0;
		z-index: 10;
		background-color: #ffffff;
		/*  #ifdef  APP-PLUS|| MP-WEIXIN  */
		top: var(--status-bar-height);
		/*  #endif  */
	}
	.place {
		background-color: #ffffff;
		/*  #ifdef  APP-PLUS || MP-WEIXIN || H5 */
		margin-top: var(--status-bar-height);
		/*  #endif  */
	}
	/*页面无list时样式*/
	.noList{
		padding: 200upx 0;
		.icon{
			text-align: center;
			margin-bottom: 40upx;
			i{
				width: 360upx;
				height: 360upx;
				line-height: 360upx;
				font-size: 200upx;
				color: #fff;
				display: inline-block;
				background: #D5DADD;
				border-radius: 50%;
			}
		}
		.text{
			text-align: center;
			view{
				padding: 0 100upx;
				font-size: 36upx;
				color: #999;
			}
		}
  }
  
  .flex_center {
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  .flex_center_column {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
  }
 
  .flex_between_center {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
  }
  .flex_around_center {
	  display: flex;
	  justify-content: space-around;
	  align-items: center;
  }
  
   .flex_column {
	  flex-direction: column;
  }
  .flex_between_center_column {
	  display: flex;
	  justify-content: center;
	  align-items: space-between;
  }
  .flex_around_center_column {
	  display: flex;
	  justify-content: center;
	  align-items: space-around;
  }
 
 
.bgc_fff {
	background-color: #ffffff;
}

.moti-right {
	font-size: 30upx;
	color: #c9c9c9;
}


// 用于提交formId的form表单的样式
.form_layout {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	.form_layout_btn {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		border: none;
	}
}