<template>
	<view class="map_wrapper">
		<map class="map" style="width: 100%; height: 300px;" :latitude="latitude" :longitude="longitude" :markers="covers"></map>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				title: 'map',
				latitude: 39.909,
				longitude: 116.39742,
				covers: [{
					latitude: 39.909,
					longitude: 116.39742,
					iconPath: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/cart_logo.png'
				}, {
					latitude: 39.90,
					longitude: 116.39,
					iconPath: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/cart_logo.png'
				}]
			}
		},
		onLoad() {
			uni.getLocation({
				type: 'gcj02',
				success(res) {
					console.log(res)
				},
				fail(err) {
					console.log(err)
				}
			})
		},
		methods: {

		}
	}
</script>

<style lang="scss">
	.map_wrapper {
		.map {
			margin: 0;
			width: 100%;
		}
	}
</style>
