<template>
	<view class="page_wrapper">
		<!-- <button open-type="getPhoneNumber" @getphonenumber="getPhoneNumber">获取手机号</button> -->
		<!-- <div id="info"></div> -->
		<!-- <div id="icenter"></div> -->
		<!-- <div id="container" style="width: 400px;height: 200px;"></div> -->
		<!-- #ifdef MP-WEIXIN -->
		<view class="guid_card" v-if="isShowAddTip" @tap="hideAddTip">
			<image class="bg_img" src="/static/images/pop.png"></image>
			<view class="guid_text">
				<text>点击选择“添加到我的小程序“\n随时查看优惠活动</text>
				<image class="icon_close" src="/static/images/icon_close.png"></image>
			</view>
		</view>
		<!-- #endif -->
		<view class="topBtn">
			<ul>
				<li :class="actInd == 1 ? 'act':'' " @tap="changeActTopTap" data-index="1">买家</li>
				<li :class="actInd == 0 ? 'act':'' " @tap="changeActTopTap" data-index="0" v-track-event="{category:'切换小店', action:'切换小店',label:'切换小店'}">小店</li>
			</ul>
		</view>
		<AppDownload v-if="actInd == 0"></AppDownload>
		<view class="main" v-if="actInd == 1">
			<view class="location_wrapper">
				<view class="location_inner" @tap="goChooseLocation"  v-track-event="{category:'位置选择', action:'选择地址',label:`material=${sourceInfo.material}+channel=${sourceInfo.channel}`}">
					<image class="icon" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/location.png"></image>
					<text class="location_text">{{address}}</text>
					<text class="iconfont moti-right"></text>
					<view class="stop_18">
						<image src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/forbid_18.png"></image>
					</view>
				</view>
			</view>

			<swiper class="swiper_wrapper" @change="bannerChange" :indicator-dots="true" :autoplay="true" :interval="3000" :duration="600" circular="true">
				<swiper-item class="swiper_item img_def" v-for="(item, index) in banners" :key="index" @tap="goGoodsDetail(item.id, 'pic_adv')" v-track-event="{category:'首页banner', action:'选择banner',label:`material=${sourceInfo.material}+channel=${sourceInfo.channel}+banner=${item.id}`}">
					<image v-if="item.url" :src="item.url"></image>
					<!-- #ifdef MP-WEIXIN -->
					<formIdLayout></formIdLayout>
					<!-- #endif -->
				</swiper-item>
			</swiper>


			<!-- 四个标志 -->
			<view class="services" @tap="goIntroduce" v-track-event="{category:'服务介绍', action:'查看服务',label:`material=${sourceInfo.material}+channel=${sourceInfo.channel}`}">
				<view class="services_item" v-for="(item, index) in services" :key="index">
					<image :src="item.url"></image>
					<text>{{item.text}}</text>
				</view>
			</view>


			<!-- 邀请奖励和签到有奖 -->
			<view class="handle_box_wrapper">
				<image class="sign_img" @tap="getNewUserCoupons" src="/static/images/get_coupon1.png" mode="widthFix"></image>
				<!-- <view class="handle_box" v-if="false">
					<view class="left">
						<view class="text_1">邀请奖励</view>
						<view class="text_2">INVITATION</view>
					</view>
					<image class="img" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/gift_box.png"></image>
				</view>
				<view class="handle_box" @tap="goSignAward">
					<view class="left">
						<view class="text_1">签到有奖</view>
						<view class="text_2">SIGN IN</view>
					</view>
					<image class="img" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/sign_card.png"></image>
				</view> -->
			</view>



			<!-- 中间tabs -->
			<block v-if="isContentReady">
				<wuc-tab :tabList="tabList" borderWidth="60upx" :textFlex="true" :tabCur.sync="tabCur" @change="tabChange"></wuc-tab>
			</block>

			<view class="content" v-if="tabList.length > 0">
				<block v-if="isContentReady" v-for="(item, index) in tabList[tabCur].goodsList" :key="index">
					<!-- 蓝牙预售的样式 -->
					<!-- <block v-if="item.id === '130285923059'">
						<view class="bluetooth" @tap="goGoodsDetail(item.id)">
							<image :src="item.pictureUrlC"></image>
							<view class="bluetooth_goods_handle">
								<view class="bluetooth_inner">
									<view class="line_1">
										<text class="line_1_text_1">距结束</text>
										<CountDown :second="timeDown"></CountDown>
									</view>
									<view class="line_2">
										<view class="price_wrapper">
											<text class="line_2_rmb_icon">¥</text>
											<text class="line_2_now_price">{{parseInt(item.marketPrice)}}</text>
											<text class="line_2_old_price">369</text>
										</view>
										<view class="border"></view>
										<text class="line_2_text">立即预定</text>
									</view>
								</view>
							</view>
						</view>
					</block> -->
					<block>
						<view class="goods_item img_def" @tap="goGoodsDetail(item.id, 'good_list')" v-track-event="{category:'商品列表', action:'查看商品',label:`material=${sourceInfo.material}+channel=${sourceInfo.channel}`}">
							<!-- <image v-if="item.pictureUrlC" :src="item.pictureUrlC"></image> -->
							<!-- <TransitonImg :src="item.pictureUrlC" width="346" height="560"></TransitonImg> -->
							<TransitonImg :src="item.pictureUrlC" width="346" height="560"></TransitonImg>
							<view class="goods_handle">
								<view class="price"><text class="icon_rmb">¥</text><text class="num">{{parseInt(item.marketPrice)}}</text><text
									 class="text">/套</text></view>
								<view class="border"></view>
								<view class="add_cart">加入购物车</view>
							</view>
							
							<!-- #ifdef MP-WEIXIN -->
							<formIdLayout></formIdLayout>
							<!-- #endif -->
						</view>						
					</block>
				</block>
				<block v-if="!tabList[tabCur].goodsList && isContentReady">
					<view class="content_unopend" v-if="isCanVote" @tap="doVote" v-track-event="{category:'开通城市', action:'投票',label:'未开通城市投票'}">
						<view class="unopen_text_1">1小时雾化弹送到家你想不想要</view>
						<view class="unopen_text_2">您的所在城市尚未开通一小时到家服务</view>
						<view class="unopen_text_3">报满10万人马上开城</view>
						<view class="unopen_text_4" @tap="showSecess" v-track-event="{category:'报名按钮', action:'立刻报名',label:'开通城市报名'}">立刻报名</view>
					</view>
					<view class="content_progress" v-else>
						<view class="progress_text_0">报名成功</view>
						<view class="progress_text_1">
							<progress class="progress" :percent="votePercent" activeColor="#FD495F">
							</progress>
							<view class="percent_number" :style="{left: tipLeft + '%'}">
								<view class="tip"></view>
								<text>{{votePercent}}%</text>
							</view>

						</view>
						<view class="progress_text_2">你的城市距离开通服务,只差{{100 - votePercent}}%</view>
						<view class="progress_text_3">MOTI到家火速筹备中…</view>
					</view>
				</block>
			</view>


			<!-- 购物车图标 -->
			<!-- 购物车图标暂时不用了，但是相应的逻辑还在 -->
			<!-- <view class="cart_icon" @tap="goCart">
				<image src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/cart_logo.png"></image>
				<view class="dot_num" v-if="cartNum > 0">{{cartNum}}</view>
			</view> -->


		</view>
		<!-- 18in弹窗 -->
		<mmodal :show="isShow18In" @confirm="is18" @cancel="un18">
			<view class="in18_popup">
				<view class="in18_popup_text"><text>本产品对未成年人禁止销售和使用请确认您已年满18岁</text></view>
			</view>
		</mmodal>
		<!-- 优惠券已领取弹窗 -->
		<mmodal :show="isShowGotDiscountModal" @confirm="goDiscounts" :isShowCancel="false" confirmText="确定">
			<view class="in18_popup">
				<view class="in18_popup_text"><text>新人礼包您已经领过啦</text></view>
			</view>
		</mmodal>


		<view class="mask_swiper_mask" v-if="isShowMaskSwiper && !isShow18In">
			<view class="mask_swiper_wrapper">
				<swiper class="mask_swiper" :current="currentMaskSwiperIndex" @change="maskSwiperChange">
					<swiper-item class="mask_swiper_item" v-for="(item, index) in popups" :key="index">
						<image class="img" :src="item.src"></image>
						<view class="text_1">{{item.text1}}</view>
						<view class="text_2">{{item.text2}}</view>
						<view class="text_3">{{item.text3}}</view>
						<view class="btn" :class="{success: item.id === 'voted'}" @tap.stop="swiperMaskBtnClick" :data-id="item.id"  v-track-event="{category:'领券按钮', action:'立即领券',label:`material=${sourceInfo.material}+channel=${sourceInfo.channel}`}">
							{{item.btnText}}
							<!-- #ifdef MP-WEIXIN -->
							<formIdLayout></formIdLayout>
							<!-- #endif -->
							<!-- <form report-submit @submit="formSubmit" class="form_layout">
								<button class="form_layout_btn" formType="submit" plain="true">
								</button>
							</form> -->
						</view>
						<view class="progress_wapper" v-if="item.id === 'voted'">
							<view class="progress_inner" :style="{width: progressWidth + 'upx'}"><text class="percent">{{votePercent}}%</text></view>
						</view>
					</swiper-item>
				</swiper>
			</view>
			<view class="mask_swiper_dots">
				<view class="dot" :class="{active: currentMaskSwiperDot === index}" v-for="(item, index) in popups" :key="index"></view>
			</view>

			<view class="close_btn" @tap="closeMaskSwiper"><text class="iconfont moti-tishicuohao"></text></view>
		</view>
		
		<!-- #ifdef MP-WEIXIN -->
		<loginMask :show="isShowLoginMask" @loginResult="loginResult"></loginMask>
		<!-- #endif -->
	</view>
</template>

<script>
	// import AMapJS from "amap-js";
	import WucTab from "@/components/wuc-tab/wuc-tab.vue";
	import {
		getCookie,
		flatten
	} from "@/common/utils.js";
	import goodsData from "@/common/mock.json";
	import cityData from '@/common/city-data/city.js'
	import CountDown from './components/countdown.vue'
	
	// #ifdef H5
	// import MapHandle from '@/common/MapHandle/AmapHandle.js'
	import MapHandle from '@/common/MapHandle/QqMapHandle.js'
	// #endif
	
	// #ifdef MP-WEIXIN
	import MapHandle from '@/common/MapHandle/QqMapWxHandle.js'
	// #endif
	// #ifdef APP-PLUS
	import MapHandle from '@/common/MapHandle/AmapAndroidHandle.js'
	// #endif
	// import MapHandle from '@/common/MapHandle/QqMapWxHandle.js'
	// import MapHandle from '@/common/MapHandle/QqMapHandle.js'
	// import MapHandle from '@/common/MapHandle/AmapHandle.js'
	// import MapHandle from '@/common/MapHandle/AmapHandle.1.js'
	import TransitonImg from '@/components/TransitonImg.vue'
	
	import {
		rotationInfoList,
		queryCategroyList,
		queryGoodsSpuByCategroy,
		getCar,
		queryHourSpu,
		queryCanVote,
		queryVoteNums,
		queryHourCity,
		vote,
		receiveNewCustomerCoupons
		
		// getShareParam
	} from "@/common/request.js";
	import AppDownload from './AppDownload.vue'
	
	
	export default {
		components: {
			WucTab,
			AppDownload,
			CountDown,
			TransitonImg
		},
		data() {
			return {
				// 城市码
				cityCode: '1101',
				// 是否可以投票, 是否已经投过票
				isCanVote: '',
				// 主题列表内容是否加载完毕
				isContentReady: false,
				// 是佛开通一小时达
				isOpenedOneHour: false,
				// 投票百分比
				votePercent: 20,
				// 百分比的小箭头浮窗的位置
				tipLeft: -14,
				progressWidth: 0,
				userInfo: {},
				actInd: 1, //买家小店按钮切换 取值:0,1,
				address: "请选择您的位置",
				banners: [
					// {
					// 	id: '112492578694',
					// 	url: "https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/home_banner_1.png"
					// },
					// {
					// 	id: '112492575959',
					// 	url: "https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/home_banner_2.png"
					// },
					{
						id: '112492581503',
						url: "https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/home_banner_3.jpeg"
					}
				],
				services: [{
						url: "https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/clock.png",
						text: "1小时达"
					},
					{
						url: "https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/circle_zheng.png",
						text: "七天包退"
					},
					{
						url: "https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/circle_bao.png",
						text: "终身质保"
					},
					{
						url: "https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/circle_zhen.png",
						text: "全程验真"
					}
				],
				tabList: [{
						name: "雾化弹",
						icon: ""
					},
					{
						name: "购套装",
						icon: ""
					},
					{
						name: "一次性",
						icon: ""
					},
					{
						name: "送礼盒",
						icon: ""
					}
				],
				tabCur: 0,
				goodsList: [],
				isShowVoteMask: false,
				isShowDiscount: false,
				cartNum: 0,
				isShow18In: false,
				isShowGotDiscountModal: false,
				popups: [],
				currentMaskSwiper: 0,
				timeDown: 0,
				currentMaskSwiperDot: 0,
				currentMaskSwiperIndex: 0,
				timeDown: 0,
				gotNewUserCouponsSatus: '未领取', // 领取优惠大礼包的状态
				currentBannerIndex: 0, // 轮播图当前的index
				
				// #ifdef MP-WEIXIN
				isShowLoginMask: false,
				// #endif
				sourceInfo:{},
				isShowAddTip: true
			};
		},
		watch: {
			// 根据顶部tab判断是否显示底部tabbar
			actInd(val) {
				val == 0 ? uni.hideTabBar() : uni.showTabBar()
			}
		},
		computed: {
			isShowMaskSwiper() {
				return this.popups.length
			}
		},
		async created() {
			
		},
		async onLoad(options) {
			const isLogin = this.$isLogin()
			this.getLocalCity()
			// this.getAmapLocation()
			if (!uni.getStorageSync('is18') || !this.$isLogin()) {
				// this.isShow18In = true
				// #ifdef H5 || APP-PLUS
				this.isShow18In = true
				// #endif
				// #ifdef MP-WEIXIN
				this.isShow18In = false
				// #endif
			}
			//获取存储信息
			this.sourceInfo = uni.getStorageSync('sourceInfo')
			console.log( JSON.stringify(this.sourceInfo))
			console.log("友盟更新")
			const isShowAddTip = uni.getStorageSync('isShowAddTip')
			if (typeof isShowAddTip === 'boolean') {
				this.isShowAddTip = isShowAddTip
			}
			this.initShare()
		},
		onShow() {
			console.log('index onShow');
			this.initData()
		},
		onHide() {
			this.isShowLoginMask = false
		},
		methods: {
			formSubmit(e) {
				console.log(e);
			},
			getPhoneNumber(e) {
				console.log('getPhoneNumber', e);
			},
			getLocalCity() {
				
				// #ifdef APP-PLUS
				
				// uni.getLocation({
				// 	type: 'wgs84',
				// 	success: function (res) {
				// 		uni.showModal({
				// 			title: 'msg',
				// 			content: `${JSON.stringify(res)}`
				// 		})
				// 		console.log('当前位置的经度：' + res)
				// 		console.log('当前位置的经度：' + res.longitude);
				// 		console.log('当前位置的纬度：' + res.latitude);
				// 	},
				// 	fail(err) {
				// 		console.log('当前位置的经度：' + JSON.stringify(err))
				// 	}
				// });
				// if(!map){
				// 	var map = plus.maps.create('map', {
				// 		top:'100px',
				// 		left:'0px',
				// 		width: '100%',
				// 		height: '200px',
				// 		position: 'static'
				// 	});
				// 	// console.log(map);
				// 	// plus.webview.currentWebview().append(map);
				// 	map.getUserLocation( function ( state, point ){
				// 		uni.showModal({
				// 			title: 'ss',
				// 			content: `${JSON.stringify(point)}`
				// 		})
				// 		
				// 		if( 0 == state ){
				// 			alert( JSON.stringify(point) );
				// 		}else{
				// 			alert( "Failed!" );
				// 		}
				// 	} );
				// 	
				// }
				// return
				// #endif
				
				
				
				// 首先获取到当前是哪个城市, 然后再请求数据
				const _this = this
				// uni.showLoading({
				// 	title: '加载中...'
				// })
				let timer = setTimeout(() => {
					clearTimeout(timer)
					timer = null
					if (!this.tabList[0].goodsList) {
						getPageData()
					}
				}, 3000)
				MapHandle.load().then(() => {
					console.log('MapHandle load');
					MapHandle.getLocalCity().then((city) => {
						_this.$utils.getCityInfo(city).then((cityInfo) => {
							_this.cityCode = cityInfo.cityCode
							_this.address = cityInfo.address
							console.log(_this.cityCode, _this.address);
							_this.$store.commit('setCity', _this.address)
							getPageData()
						})
					})
				})
				
				async function getPageData() {
					await _this.queryHourCity()
					await _this.queryCategroyList()
					_this.setTabList()
					const isLogin = _this.$isLogin()
					console.log('queryCanVote', isLogin);
					if (isLogin) {
						await _this.queryCanVote()
						_this.queryVoteNums()
					}
					
					// 先放蓝牙
					// 蓝牙预售延后
					// _this.addPopups('bluetooth')
					console.log('_this.isOpenedOneHour', _this.isOpenedOneHour);
					if (!_this.isOpenedOneHour) {
						if (isLogin) {
							if (_this.isCanVote) {
								// 未开通一小时达， 也未投票
								_this.addPopups('unvote')
							} else {
								// 未开通一小时达， 但是已投票
								_this.addPopups('voted')
							}
						} else {
							// 未开通一小时达且未登录按照未投票处理
							_this.addPopups('unvote')
							_this.addPopups('discountHalf')
						}
					}
					if (!isLogin) {
						_this.addPopups('discountHalf')
					}
					
					console.log('this.popups', _this.popups);
					uni.hideLoading()
					_this.$wxBuryDot('index')
				}
			},
			
			async initData() {
				this.getCar();
				const isLogin = this.$isLogin()
				if (isLogin) {
					this.delPopups('discountHalf')
					this.currentMaskSwiperIndex = -1
					this.$nextTick(() => {
						this.currentMaskSwiperIndex = 0
						this.currentMaskSwiperDot = 0
					})
				}
				// 必须进页面要获取一下, 要不然第一次登录不行
			},

			async initChoosedPositionData() {
				const _this = this
				this.tabCur = 0
				this.isCanVote = ''
				this.isShowVoteMask = false
				// 网页可以直接设置空数组, 但是小程序需要一个空对象否则报错
				this.tabList =[{}]
				this.popups = []
				await this.queryHourCity()
				await this.queryCategroyList();
				await this.setTabList()
				
				const isLogin = this.$isLogin()
				if (isLogin) {
					await this.queryCanVote()
					this.queryVoteNums()
				} else {
					this.isCanVote = true
				}
				
				// 处理弹窗内容
				// 先放蓝牙
				// 蓝牙预售延后
				// this.addPopups('bluetooth')
				if (!_this.isOpenedOneHour) {
					if (isLogin) {
						if (_this.isCanVote) {
							// 未开通一小时达， 也未投票
							_this.addPopups('unvote')
						} else {
							// 未开通一小时达， 但是已投票
							_this.addPopups('voted')
						}
					} else {
						// 未开通一小时达且未登录按照未投票处理
						_this.addPopups('unvote')
						_this.addPopups('discountHalf')
					}
				}
				if (!isLogin) {
					_this.addPopups('discountHalf')
				}
			},

			// 查询轮播图
			async rotationInfoList() {
				// mark: 后台返回的图片不正确, 暂时使用临时图片
				const res = await rotationInfoList();
			},
			
			async queryCategroyList() {
				const {
					result
				} = await queryCategroyList();
				this.tabList = result;
				this.tabList.forEach((cur) => {
					this.$set(cur, 'goodsList', [])
					cur.page = 1;
					cur.rows = 50;
					cur.isLoaded = false;
				});
			},
			
			// 查询tab对应的商品数据
			async queryGoodsSpuByCategroy(index) {
				if (this.tabList[index].isLoaded) return;
				if (this.tabList[index].unopend) return // 最后一个一小时达开城中不请求数据
				const {
					result
				} = await queryGoodsSpuByCategroy(
					this.tabList[index].id,
					this.tabList[index].page,
					this.tabList[index].rows
				);
				this.tabList[index].goodsList = this.tabList[index].goodsList.concat(result.rows)
				this.tabList[index].isLoaded = true;
				this.isContentReady = true
			},
				
			async setTabList() {
				if (this.isOpenedOneHour) {
					this.tabList.unshift({
						name: "一小时达",
						iconImg: "/static/images/hot.png",
						page: 1,
						rows: 50,
						goodsList: [],
						isLoaded: true
					});
					// 如果是一小时达的城市，需要请求一小时达的数据
					const {
						result
					} = await queryHourSpu(1, 50);
					result.rows.forEach(cur => {
						cur.pictureUrlC = cur.picture_url_c;
						cur.marketPrice = cur.market_price;
					});
					this.tabList[0].goodsList = result.rows
					this.isContentReady = true
				} else {
					this.tabList.push({
						name: "一小时达(开城中)",
						icon: "",
						color: "#FA4650",
						unopend: true
					});
					// 未开通一小时达, 请求第一个tab的数据
					this.queryGoodsSpuByCategroy(0)
				}
			},
			
			// 查询是否可以在当前城市投票投票
			async queryCanVote() {
				const userInfo = uni.getStorageSync('userInfo');
				const {
					result
				} = await queryCanVote(this.cityCode, userInfo.id)
				if (result.status == 0) {
					this.isCanVote = true
				} else {
					this.isCanVote = false
				}
			},
			
			// 查询城市投票数
			async queryVoteNums() {
				const {
					result
				} = await queryVoteNums(this.cityCode)
				this.tipLeft = -14
				console.log('queryVoteNums', result);
				result.forEach((cur) => {
					console.log(this.cityCode + '---' + cur.area_id);
					if (this.cityCode == cur.area_id) {
						const percent = parseInt(cur.cou / 100000 * 100)
						this.votePercent = percent > 20 ? percent : 20
						this.progressWidth = 450 * 20 / 100
						console.log('progressWidth', this.progressWidth);
						this.tipLeft = this.tipLeft + this.votePercent
					}
				})
			},
			
			// 查询是否是一小时达城市
			async queryHourCity() {
				const {
					result
				} = await queryHourCity(this.cityCode)
				if (result.areaOpen === false) {
					// this.isShowVoteMask = true
					this.isOpenedOneHour = false
				} else {
					this.isOpenedOneHour = true
				}
				this.$store.commit('setIsOneHour', this.isOpenedOneHour)
			},
			
			// 投票
			async doVote() {
				const userInfo = uni.getStorageSync('userInfo')
				const res = await vote(this.cityCode, userInfo.id)
				this.$wxBuryDot('index_imme_appl')
				if (this.$isLogin()) {
					if (res.code === 0) {
						this.isCanVote = false
						uni.showToast({
							title: '投票成功',
							icon: 'none'
						})
						await this.queryVoteNums()
						// 把未投票状态的弹窗删除掉
						this.delPopups('unvote')
						this.$nextTick(() => {
							this.addPopups('voted')
							this.$nextTick(() => {
								this.currentMaskSwiperDot = 0
								this.currentMaskSwiperIndex = 0
							})
						})
					}
				} else {
					// #ifdef H5
					this.$putils.goLogin()
					// #endif
					
					// #ifdef MP-WEIXIN
					await this.$getUserToken()
					this.isShowLoginMask = true
					// #endif
				}
			},
				
			async getCar() {
				const isLogin = await this.$isLogin()
				if (isLogin) {
					const {
						result
					} = await getCar();
					this.cartNum = result.items ? Object.keys(result.items).length : 0
					this.$store.commit("setCartNum", this.cartNum);
				} else {
					this.cartNum = this.$utils.cartCache.getCartCacheNum()
					this.$store.commit('setCartNum', this.cartNum)
				}
				this.cartNum > 0 ? uni.setTabBarBadge({
					index: 1,
					text: `${this.cartNum}`
				}) : uni.removeTabBarBadge({
					index: 1
				})
			},
			
			// 顶部两个tab切换
			changeActTopTap(e) {
				this.actInd = e.currentTarget.dataset.index
				this.MonitorEvent('selbuy_swit');	// 大数据按钮埋点 selbuy_swit
			},
			// 中间tab切换
			tabChange(e) {
				this.queryGoodsSpuByCategroy(e);
			},
			// 选择位置
			goChooseLocation() {
				this.MonitorEvent('posi');	// 大数据按钮埋点 posi
				const _this = this;
				uni.chooseLocation({
					success: function(res) {
						console.log("位置名称：" + res.name);
						console.log("详细地址：" + res.address);
						console.log("纬度：" + res.latitude);
						console.log("经度：" + res.longitude);
						
						MapHandle.latAndLngToAddress(res.longitude, res.latitude).then((choosedCity) => {
							console.log('choosedCity', choosedCity);
							const address = choosedCity.city
							_this.$utils.getCityInfo(address).then((cityInfo) => {
								_this.cityCode = cityInfo.cityCode
								_this.address = cityInfo.address
								_this.initChoosedPositionData()
							})
						})
						
						// 使用腾讯地图, 先保留高德地图的代码
						// AmapHandle.latAndLngToAddress(res.longitude, res.latitude).then((ampRes) => {
						// 	console.log('latAndLngToAddress', ampRes);
						// 	// _this.isOpenedOneHour = true;
						// 	const formattedAddress = ampRes.formattedAddress
						// 	_this.$utils.getCityInfo(formattedAddress).then((cityInfo) => {
						// 		_this.cityCode = cityInfo.cityCode
						// 		_this.address = cityInfo.address
						// 		_this.initChoosedPositionData()
						// 	})
						// })
						
					}
				});
			},
			numberChange(e) {
				console.log("numberChange", e);
			},
			goCart() {
				uni.navigateTo({
					url: "/pages/cart/cart"
				});
			},
			showSecess() {
				this.MonitorEvent('imme_appl');	// 大数据按钮埋点 imme_appl
				// this.isShowVoteMask = true;
			},
			closeMask(type = '') {
				this[type] = false
			},

			goGoodsDetail(id, type) {
				// type - 大数据按钮埋点类型
				this.MonitorEvent(type);	// 大数据按钮埋点
				if (type === 'pic_adv') {
					this.$wxBuryDot('index_pic_adv')
				} else {
					this.$wxBuryDot('index_good_list')
				}
				const params =
					this.tabCur === 0 && this.isOpenedOneHour ?
					`spuId=${id}&sendType=hour` :
					`spuId=${id}&sendType=average`;
				uni.navigateTo({
					url: `/pages/goodsDetail/goodsDetail?${params}`
				});
			},

			goDiscounts() {
				this.isShowGotDiscountModal = false
				uni.navigateTo({
					url: '/pages/discounts/discounts'
				})
			},
			async getNewUserCoupons() {
				this.MonitorEvent('imme_get_coup');	// 大数据按钮埋点 imme_get_coup
				if (this.$isLogin()) {
					const userInfo = uni.getStorageSync('userInfo')
					const res = await receiveNewCustomerCoupons(userInfo.id)
					if (res.code == 0) {
						this.gotNewUserCouponsSatus = '领取成功'
						this.$wxBuryDot('index_imme_get_coup')
						uni.navigateTo({
							url: '/pages/discounts/discounts?isFirst=true'
						})
					} else {
						this.gotNewUserCouponsSatus = '已经领过了'
						this.$wxBuryDot('index_imme_get_coup')
						this.isShowGotDiscountModal = true
					}
				} else {
					// #ifdef H5
					this.$putils.goLogin()
					// #endif
					
					// #ifdef MP-WEIXIN
					await this.$getUserToken()
					this.isShowLoginMask = true
					// #endif
				}
			},

			goSignAward() {
				uni.navigateTo({
					url: "/pages/sign/sign"
				});
			},
			goIntroduce() {
				this.MonitorEvent('serv_intr');	// 大数据按钮埋点 serv_intr
				uni.navigateTo({
					url: '/pages/index/introduce/introduce'
				});
			},
			un18() {
				this.MonitorEvent('18_no');	// 大数据按钮埋点 18_no
				uni.navigateTo({
					url: '/pages/index/in18/in18'
				})
			},
			is18() {
				this.MonitorEvent('18_yes');	// 大数据按钮埋点 18_yes
				this.isShow18In = false
				uni.setStorageSync('is18', true)
			},
			maskSwiperChange(e) {
				console.log(e);
				this.currentMaskSwiperDot = e.detail.current
			},
			closeMaskSwiper() {
				this.MonitorEvent('coup_close');	// 大数据按钮埋点 coup_close
				this.popups = []
				// this.popups.forEach((cur) => {
				// 	cur.isShow = false
				// })
			},
			async swiperMaskBtnClick(e) {
				const id = e.currentTarget.dataset.id
				switch (id) {
					case 'unvote': this.doVote()
						break
					case 'voted': this.closeMaskSwiper()
						break
					case 'dicount': this.closeMaskSwiper()
						break
					case 'discountHalf': 
					// #ifdef H5 || APP-PLUS
					this.MonitorEvent('coup_sign_get');
					this.$putils.goLogin({
						getDiscountHalf: '1'
					})
					// #endif
					
					// #ifdef MP-WEIXIN
					await this.$getUserToken()
					this.isShowLoginMask = true
					this.popups = []
					// #endif
					
						break
						// 蓝牙预售延后
					// case 'bluetooth': this.closeMaskSwiper()
					// 	break
					default: 
						this.closeMaskSwiper()
						break;
				}
			},
			computMaskSwiperCurrent() {
				for (let i = 0; i < this.popups.length; i++) {
					if (this.popups[i].isShow) {
						this.currentMaskSwiperDot = i
						break
					}
				}
			},
			delPopups(id) {
				for (let i = 0; i < this.popups.length; i++) {
					if (this.popups[i].id === id) {
						this.popups.splice(i, 1)
						break
					}
				}
				console.log('delPopups', this.popups);
			},
			addPopups(id) {
				console.log(id);
				const items = {
					unvote: {
						id: 'unvote',
						src: '/static/images/swiper_mask_one_hour.png',
						text1: '一小时雾化弹送到家',
						text2: '想不想要？',
						text3: '报满10万人 马上开城',
						btnText: '立即报名'
					},
					discount: {
						id: 'discount',
						src: '/static/images/swiper_mask_discount_rmb_9.png',
						text1: '恭喜获得9元新人红包',
						text2: '红包已发送到您的优惠券账户',
						text3: '',
						btnText: '立即下单'
					},
					voted: {
						id: 'voted',
						src: '/static/images/swiper_mask_one_hour.png',
						text1: '你的城市距离开通服务',
						text2: `只差${100 - this.votePercent}%啦`,
						text3: 'MOTI到家火速筹备中…',
						btnText: '报名成功'
					},
					discountHalf: {
						id: 'discountHalf',
						src: '/static/images/swiper_mask_discount_half.png',
						text1: '恭喜获得5折新人红包',
						text2: '登录即可领取',
						text3: '仅限雾化杆套装',
						btnText: '登录领取'
					},
					// 蓝牙预售延后
					// bluetooth: {
					// 	id: 'bluetooth',
					// 	src: '/static/images/swiper_mask_bluetooth.png',
					// 	text1: '蓝牙新款抢先购',
					// 	text2: '分享立减50元',
					// 	text3: 'MOTI新款 AI智能控烟',
					// 	btnText: '马上下单'
					// }
				}
				
				if (!this.popups.some(cur => cur.id === id)) {
					this.popups.unshift(items[id])
				}
			},
			loginResult() {
				this.isShowLoginMask = false
			},
			bannerChange(e) {
				this.currentBannerIndex = e.detail.current
			},
			hideAddTip() {
				uni.setStorageSync('isShowAddTip', false)
				this.isShowAddTip = false
			},
			initShare() {
				// #ifdef H5
				this.$wechat.share(location.href, {
					title: 'MOTIMOTI自营官方商城 同城1小时送达',
					desc: 'MOTI自营官方商城 同城1小时送达',
					link: location.href,
					imgUrl: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/home_share.jpg',
				})
				// #endif
			}
		},
		
		onShareAppMessage() {
			return {
				title: 'MOTI自营官方商城 同城1小时送达',
				path: '/pages/index/index',
				imageUrl: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/home_share.jpg'
			}
		}
	};
</script>

<style lang="scss" scoped>
	#container {
		width: 300px;
		height: 180px;
	}

	.page_wrapper {
		position: relative;
		padding-bottom: 120upx;
		.guid_card {
			position: absolute;
			right: 43upx;
			top: 0;
			width: 556upx;
			height: 189upx;
			display: flex;
			justify-content: center;
			align-items: center;
			.bg_img {
				position: absolute;
				width: 556upx;
				height: 189upx;
				z-index: 1;
			}
			.guid_text {
				position: relative;
				z-index: 5;
				display: flex;
				justify-content: center;
				align-items: center;
				.icon_close {
					margin-left: 36upx;
					width: 31upx;
					height: 31upx;
				}
			}
		}
	}

	.text_center {
		text-align: center;
	}

	.font40 {
		font-size: 40upx;
	}

	.font28 {
		font-size: 28upx;
	}

	.font32 {
		font-size: 32upx;
	}

	.font22 {
		font-size: 22upx;
	}

	.font24 {
		font-size: 24upx;
	}

	.bold {
		font-weight: bold;
	}

	.c-red {
		color: #fa4650;
	}

	.c-999 {
		color: #999;
	}

	.topBtn {
		display: flex;
		justify-content: center;
		padding: 10upx;
		padding-bottom: 16upx;
		background: #fff;

		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #333333;
			width: 50%;
			border-radius: 36upx;
			padding: 6upx;
			list-style: none;

			li {
				color: #ffffff;
				width: 50%;
				text-align: center;
				line-height: 52upx;
				font-size: 28upx;
			}

			.act {
				background: linear-gradient(270deg, rgba(255, 74, 101, 1) 0%, rgba(250, 70, 80, 1) 100%);
				border-radius: 28upx;
			}
		}
	}

	.main {
		background: #fff;

		.location_wrapper {
			padding: 0 24upx;
			background: #fff;

			.location_inner {
				height: 68upx;
				display: flex;
				align-items: center;
				background: #f0f0f0;
				border-radius: 6upx;

				.icon {
					flex-shrink: 0;
					margin-left: 12upx;
					width: 27upx;
					height: 33upx;
				}

				.location_text {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					margin-left: 10upx;
					font-size: 28upx;
					line-height: 45upx;
					color: #333;
				}

				.moti-right {
					font-size: 24upx;
					color: #333333;
				}

				.stop_18 {
					flex-grow: 1;
					width: 340upx;
					height: 44upx;
					text-align: right;
					padding-right: 12upx;

					image {
						width: 340upx;
						height: 44upx;
					}
				}
			}
		}

		.swiper_wrapper {
			margin: 0 auto;
			margin-top: 16upx;
			width: 702upx;
			height: 320upx;
			background: #fff;
			-webkit-backface-visibility: hidden; //解决苹果手机overflow: hidden;失效问题，和下面的-webkit-transform: translate3d(0, 0, 0);一起使用
			-webkit-transform: translate3d(0, 0, 0);
			border-radius: 10upx;
			overflow: hidden;

			.swiper_item {
				position: relative;
				width: 100%;
				height: 100%;

				image {
					width: 100%;
					height: 100%;
				}
			}
		}

		.services {
			margin-top: 24upx;
			padding: 0 24upx;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.services_item {
				display: flex;
				align-items: center;

				image {
					width: 28upx;
					height: 28upx;
				}

				text {
					margin-left: 10upx;
					font-size: 20upx;
					line-height: 28upx;
					color: #FE4962;
				}
			}
		}

		.handle_box_wrapper {
			margin-top: 24upx;
			padding: 0 0upx;
			display: flex;
			justify-content: space-between;

			.sign_img {
				display: block;
				margin: -10upx auto auto auto;
				width: 702upx;
				height: 160upx;
				box-shadow: rgba(0, 0, 0, 0.15) 0upx 0upx 8upx 0upx;
				border-radius: 8upx;
			}

			.handle_box {
				width: 340upx;
				height: 142upx;
				box-shadow: 0upx 0upx 5upx 5upx #eee;
				display: flex;
				justify-content: center;
				align-items: center;

				.left {
					.text_1 {
						font-size: 32upx;
						color: #333;
					}

					.text_2 {
						margin-top: 16upx;
						font-size: 22upx;
						line-height: 22upx;
						color: #333;
					}
				}

				.img {
					margin-left: 58upx;
					width: 92upx;
					height: 92upx;
				}
			}
		}

		.content {
			// margin-top: 12upx;
			padding: 0 24upx;
			padding-bottom: 20upx;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.goods_item, .bluetooth {
				position: relative;
				margin-top: 14upx;
				flex-shrink: 0;
				width: 346upx;
				height: 560upx;
				background: #f0f0f0;
				border-radius: 8upx;

				image {
					width: 100%;
					height: 100%;
				}
				// .def_bg {
				// 	background: url('/static/images/default.png') no-repeat;
				// 	background-position: center;
				// }
				.goods_handle {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 33upx;
					margin: auto;
					width: 280upx;
					height: 48upx;
					border-radius: 6upx;
					background-color: #000;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #fff;

					.price {
						.icon_rmb {
							font-size: 18upx;
							line-height: 25upx;
							font-weight: 600;
						}

						.num {
							font-size: 32upx;
							line-height: 40upx;
							font-weight: bold;
						}

						.text {
							font-size: 18upx;
							line-height: 25upx;
						}
					}

					.border {
						margin: 4upx 14upx 0 17upx;
						width: 1px;
						height: 16upx;
						background-color: #fff;
					}

					.add_cart {
						margin-top: 4upx;
						font-size: 21upx;
						line-height: 29upx;
					}
				}
				
				.bluetooth_goods_handle {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 24upx;
					overflow: hidden;
					display: flex;
					justify-content: center;
					align-items: center;
					.bluetooth_inner {
						overflow: hidden;
						border-radius: 8upx;
						background: #333;
						height: 94upx;
						display: flex;
						flex-direction: column;
						.line_1 {
							flex-shrink: 0;
							height: 36upx;
							display: flex;
							justify-content: center;
							align-items: center;
							color: #fff;
							font-size: 22upx;
							background: #333;
							.line_1_text_2 {
								margin-left: 16upx;
							}
						}
						.line_2 {
							padding: 0 16upx;
							flex-grow: 1;
							display: flex;
							justify-content: center;
							align-items: center;
							background: #FA4650;
							border-radius: 8upx;
							.price_wrapper {
								display: flex;
								justify-content: center;
								align-items: flex-end;
								.line_2_rmb_icon {
									font-size: 20upx;
									color: #fff;
								}
								.line_2_now_price {
									letter-spacing: -1;
									font-size: 36upx;
									font-weight: bold;
									color: #fff;
									line-height: 1;
								}
								.line_2_old_price {
									text-decoration: line-through;
									margin-left: 14upx;
									font-size: 24upx;
									color: #fff;
								}
							}
							.border {
								width: 2upx;
								height: 24upx;
								background: #fff;
								margin: 0 16upx;
							}
							.line_2_text {
								font-size: 20upx;
								color: #fff;
							}
						}
					}
					
					
				}
			}
		}

		.content_unopend {
			padding-bottom: 20upx;
			text-align: center;

			.unopen_text_1 {
				margin-top: 52upx;
				font-size: 40upx;
				line-height: 40upx;
				font-weight: 600;
				color: #fa4650;
			}

			.unopen_text_2 {
				margin-top: 43upx;
				font-size: 28upx;
				line-height: 36upx;
				color: #333;
			}

			.unopen_text_3 {
				margin-top: 8upx;
				font-size: 26upx;
				line-height: 36upx;
				color: #999;
			}

			.unopen_text_4 {
				margin: 39upx auto auto auto;
				width: 700upx;
				height: 72upx;
				border-radius: 8upx;
				background: #fa4650;
				color: #fff;
				line-height: 72upx;
			}
		}

		.content_progress {
			width: 100%;
			padding-bottom: 60upx;
			text-align: center;

			.progress_text_0 {
				margin-top: 28upx;
				font-size: 40upx;
				line-height: 40upx;
				font-weight: 600;
				color: #fa4650;
			}

			.progress_text_1 {
				position: relative;
				margin: 0 auto;
				width: 300upx;
				height: 8upx;
				border-radius: 8upx;
				margin-top: 52upx;
				font-size: 40upx;
				line-height: 40upx;
				font-weight: 600;
				color: #fa4650;

				.progress {
					width: 100%;
					height: 8upx;
					border-radius: 6upx;
				}

				.percent_number {
					position: absolute;
					top: 30upx;
					width: 89upx;
					height: 30upx;
					line-height: 30upx;
					text-align: center;
					background: #333;
					border-radius: 15upx;
					color: #fff;

					.tip {
						position: absolute;
						left: 0;
						right: 0;
						margin: auto;
						top: -32upx;
						height: 0;
						width: 0;
						overflow: hidden;
						font-size: 0;
						line-height: 0;
						border-color: transparent transparent #333 transparent;
						border-style: solid;
						border-width: 16upx;
					}
				}
			}

			.progress_text_2 {
				margin-top: 78upx;
				font-size: 28upx;
				line-height: 36upx;
				color: #333;
			}

			.progress_text_3 {
				margin-top: 17upx;
				font-size: 26upx;
				line-height: 36upx;
				color: #999;
			}
		}

		.cart_icon {
			position: fixed;
			right: 24upx;
			bottom: 120upx;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 88upx;
			height: 88upx;
			border: 4upx solid #c9c9c9;
			border-radius: 50%;
			box-sizing: border-box;
			background: #fff;

			image {
				width: 44upx;
				height: 42upx;
			}

			.dot_num {
				position: absolute;
				top: -6upx;
				right: -6upx;
				width: 30upx;
				height: 30upx;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				background: #ff4650;
				font-size: 18upx;
			}
		}
	}

	.content_progress {
		width: 100%;
		padding-bottom: 60upx;
		text-align: center;
		box-sizing: border-box;
		padding: 0 24upx 32upx 24upx;

		.progress_text_0 {
			margin-top: 28upx;
			font-size: 40upx;
			line-height: 40upx;
			font-weight: 600;
			color: #fa4650;
		}

		.progress_text_1 {
			position: relative;
			margin: 0 auto;
			width: 300upx;
			height: 8upx;
			border-radius: 8upx;
			margin-top: 52upx;
			font-size: 40upx;
			line-height: 40upx;
			font-weight: 600;
			color: #fa4650;

			.progress {
				width: 100%;
				height: 8upx;
				border-radius: 6upx;
			}

			.percent_number {
				position: absolute;
				top: 30upx;
				width: 89upx;
				height: 30upx;
				line-height: 30upx;
				text-align: center;
				background: #333;
				border-radius: 15upx;
				color: #fff;

				.tip {
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
					top: -32upx;
					height: 0;
					width: 0;
					overflow: hidden;
					font-size: 0;
					line-height: 0;
					border-color: transparent transparent #333 transparent;
					border-style: solid;
					border-width: 16upx;
				}
			}
		}

		.progress_text_2 {
			margin-top: 78upx;
			font-size: 28upx;
			line-height: 36upx;
			color: #333;
		}

		.progress_text_3 {
			margin-top: 17upx;
			font-size: 26upx;
			line-height: 36upx;
			color: #999;
		}

		.order_btn {
			width: 480upx;
			height: 72upx;
			border-radius: 8upx;
			color: #fff;
			text-align: center;
			line-height: 72upx;
			margin: 42upx auto auto auto;
			font-size: 28upx;
			background-color: #FF4A65;
		}
	}

	.popup_slot_inner {
		overflow: hidden;
		padding: 0 24upx 32upx 24upx;
		position: relative;
		width: 520upx;
		background-color: #fff;
		border-radius: 8upx;

		.close_icon {
			width: 25upx;
			height: 25upx;
			position: absolute;
			top: 20upx;
			right: 20upx;
		}

		view {
			line-height: 1;
		}

		.popup_text_1 {
			margin-top: 131upx;
		}

		.popup_text_2 {
			margin-top: 22upx;
		}

		.popup_text_3 {
			margin-top: 82upx;
		}

		.popup_text_4 {
			margin-top: 20upx;
		}

		.mbtn_1 {
			margin-top: 42upx;
		}

		.mbtn_2 {
			margin-top: 20upx;
		}
	}

	.discount_popup {
		overflow: hidden;
		padding: 0 24upx 32upx 24upx;
		position: relative;
		width: 560upx;
		background-color: #fff;
		border-radius: 8upx;

		.close_icon {
			width: 25upx;
			height: 25upx;
			position: absolute;
			top: 20upx;
			right: 20upx;
		}

		.discount_text_1 {
			text-align: center;
			margin-top: 50upx;
			font-size: 28upx;
			line-height: 40upx;
			color: #333;
			font-weight: bold;
		}

		.discount_text_2 {
			text-align: center;
			margin-top: 23upx;
			font-size: 28upx;
			line-height: 40upx;
			color: #333;
		}

		.coupon {
			display: flex;
			margin: 0 auto;
			margin-top: 35upx;
			width: 480upx;
			height: 160upx;
			background: url("https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/discount_coupon_got.png");
			background-size: cover;

			.left {
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 131upx;
				height: 100%;
				text-align: center;
				color: #fff;

				.coupon_number {
					.icon_rmb {
						font-size: 26upx;
						line-height: 33upx;
					}

					.number {
						font-size: 40upx;
						line-height: 40upx;
					}
				}

				.text {
					margin-top: 10upx;
					font-size: 22upx;
					line-height: 30upx;
				}
			}

			.right {
				margin-left: 16upx;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				flex-grow: 1;
				height: 100%;
				color: #fff;

				>view {
					width: 100%;
				}

				.title {
					display: flex;
					align-items: center;

					.icon {
						flex-shrink: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 76upx;
						height: 32upx;
						box-sizing: border-box;
						border: 1px solid #fa4650;
						border-radius: 2upx;
						font-size: 20upx;
						// color: #FA4650;
					}

					.title_text {
						margin-left: 8upx;
						font-size: 44upx;
						line-height: 44upx;
						// color: #FA4650;
					}
				}

				.deadline {
					margin-top: 30upx;
					display: flex;
					justify-content: space-between;
					align-items: center;

					.deadline_date {
						margin-left: 8upx;
						flex-shrink: 0;
						font-size: 22upx;
						line-height: 22upx;
						// color: #FA4650;
					}
				}
			}
		}
	}

	.in18_popup {
		overflow: hidden;
		position: relative;
		// width: 560upx;
		background-color: #fff;
		border-radius: 8upx;
		text-align: center;

		.in18_popup_text {
			margin-top: 58upx;
			font-size: 32upx;
			line-height: 48upx;
			// margin-top: 40upx;
			font-weight: 600;
		}

		.btns {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			height: 90upx;
			border-top: 1px solid #dcdcdc;

			.cancel,
			.confirm {
				width: 50%;
				height: 90upx;
				line-height: 90upx;
				text-align: center;
			}

			.cancel {
				border-right: 1px solid #dcdcdc;
			}
		}
	}

	.mask_swiper_mask {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .5);
		z-index: 1000;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.mask_swiper_wrapper {
			overflow: hidden;
			width: 540upx;
			height: 720upx;
			border-radius: 8upx;
			background: #fff;

			.mask_swiper {
				padding: 16upx;
				box-sizing: border-box;
				width: 100%;
				height: 100%;

				.mask_swiper_item {
					width: 100%;
					height: 100%;
					text-align: center;
					.img {
						width: 100%;
						height: 300upx;
						background: #eee;
					}

					.text_1 {
						margin-top: 40upx;
						font-size: 40upx;
						line-height: 48upx;
					}

					.text_2 {
						margin-top: 12upx;
						font-size: 32upx;
						line-height: 40upx;
					}

					.text_3 {
						margin-top: 44upx;
						font-size: 28upx;
						line-height: 32upx;
					}
					
					.progress_wapper {
						position: absolute;
						left: 0;
						right: 0;
						top: 224upx;
						margin: auto;
						width: 450upx;
						height: 40upx;
						border-radius: 100upx;
						border: 4upx solid #FA4650;
						background: #F1DFE0;
						.progress_inner {
							position: relative;
							width: 100upx;
							height: 100%;
							border-radius: 40upx;
							display: flex;
							justify-content: flex-end;
							align-items: center;
							background:linear-gradient(90deg,rgba(255,131,58,1) 0%,rgba(253,73,95,1) 100%);
							.percent {
								position: absolute;
								right: 20upx;
								font-size: 28upx;
								color: #fff;
							}
						}
					}
					.btn {
						position: relative;
						margin: 0 auto;
						margin-top: 76upx;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 360upx;
						height: 72upx;
						border-radius: 8upx;
						background: #FF4A65;
						font-size: 28upx;
						color: #fff;
						&.success {
							background:rgba(153,153,153,0.1);
							color: #FA4650;
						}
					}
				}
			}
		}

		.mask_swiper_dots {
			margin-top: 24upx;
			display: flex;
			justify-content: center;

			.dot {
				margin: 0 10upx;
				width: 16upx;
				height: 16upx;
				border-radius: 50%;
				background: #fff;

				&.active {
					background: #FA4650;
				}
			}
		}

		.close_btn {
			margin-top: 80upx;
			width: 64upx;
			height: 64upx;
			.moti-tishicuohao {
				font-size: 64upx;
				color: #fff;
			}
		}
	}
</style>	