<template>
	<view class="m_popup_center" v-if="show" @tap="closeMask">
		<!-- #ifdef H5 -->
		<view class="m_popup_center_inner" @tap.stop :style="{width: width + 'upx'}">
		<!-- #endif -->
		<!-- #ifdef MP-WEIXIN -->
		<view class="m_popup_center_inner" @tap.stop :style="{width: width + 'rpx'}">
		<!-- #endif -->
			<view class="m_close_wrapper" v-if="isShowClose">
				<image class="m_popup_center_close_icon" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/close_1.png" @tap.prevent="closeMask"></image>
			</view>
			<slot></slot>
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			show: {
				type: Boolean,
				default() {
					return false
				}
			},
			isShowClose: {
				type: Boolean,
				default() {
					return true
				}
			},
			width: {
				type: String,
				default() {
					return ''
				}
			}
		},
		methods: {
			closeMask() {
				this.$emit('close')
			}
		}
	}
</script>

<style lang="scss">
	.m_popup_center {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.3);
		z-index: 10;
		
		display: flex;
		justify-content: center;
		align-items: center;
		
		.m_popup_center_inner {
			position: relative;
			border-radius: 8upx;
			overflow: hidden;
			background-color: #fff;
			.m_close_wrapper {
				position: absolute;
				top: 0;
				right: 0;
				width: 50upx;
				height: 50upx;
				z-index: 999;
				display: flex;
				justify-content: center;
				align-items: center;
				.m_popup_center_close_icon {
					width: 25upx;
					height: 25upx;
				}				
			}
		}
	}
</style>
