<template>
	<view class="card_wrapper" :style="{'height': height + 'upx'}">
		<view class="card_header">
			<text class="title" :style="{'font-size': fontSize + 'upx'}">{{title}}</text>
			<slot name="header"></slot>
		</view>
		<slot></slot>
	</view>
</template>

<script>
	export default {
		name: 'card',
		props: {
			title: {
				type: String,
				default () {
					return '标题'
				}
			},
			fontSize: {
				type: String,
				default () {
					return ''
				}
			},
			height: {
				type: String,
				default () {
					return ''
				}
			}
		}
	}
</script>

<style lang="scss">
	.card_wrapper {
		margin-top: 20upx;
		padding: 0 24upx;
		background: #fff;

		.card_header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 76upx;

			.title {
				font-size: 30upx;
				line-height: 42upx;
				color: #333;
				font-weight: 600;
			}

		}
	}
</style>
