<template>
	<card title="如何赚钱">
		<template slot="header">
			<view class="header_slot flex_center">
				<text>赚钱攻略</text>
				<text class="iconfont moti-right"></text>
			</view>

		</template>
		<template>
			<tabbar :tabList="tabList" :textFlex="true" :tabCur.sync="tabCur" borderWidth="60upx" activeFontSize="32upx"></tabbar>

			<view class="tab_content">
				<view class="tab_content_handle flex_center_column">
					<view class="steps flex_center">
						<view class="step flex_center_column" v-for="(item, index) in steps" :key="index">
							<view class="text">{{item.text}}</view>
							<view class="border"></view>
							<view class="got">预计得<text>{{item.got}}</text>元</view>
						</view>
					</view>
					<view class="btns flex_center">
						<view class="btn">立即下单</view>
						<view class="btn black">立即邀请</view>
					</view>
				</view>
				<button class="button flex_center">好友管理</button>
			</view>

		</template>

	</card>
</template>

<script>
	import Card from './card.vue'
	import Tabbar from '@/components/wuc-tab/wuc-tab.vue'

	export default {
		components: {
			Card,
			Tabbar
		},
		data() {
			return {
				tabList: [{
					name: '自己赚钱'
				}, {
					name: '我有人脉'
				}],
				steps: [{
					text: '1.首次下单',
					got: 6
				}, {
					text: '1.首次下单',
					got: 15
				}, {
					text: '1.首次下单',
					got: 6
				}],
				tabCur: 0
			}
		}
	}
</script>

<style lang="scss">
	.header_slot {
		font-size: 22upx;
		line-height: 40upx;
		color: #999;
	}

	.tab_content {
		padding: 20upx 0;
		background: #fff;

		.tab_content_handle {
			padding: 0 20upx;
			height: 288upx;
			background: #f0f0f0;
			border-radius: 8upx;

			.steps {
				width: 100%;

				.step {
					flex-grow: 1;
					height: 144upx;
					background: #fff;
					border-radius: 8upx;

					&:nth-of-type(2) {
						margin: 0 20upx;
					}

					.text {
						font-size: 22upx;
						line-height: 33upx;
						color: #848484;
					}

					.border {
						width: 166upx;
						height: 2upx;
						background: #aaa;
						margin: 10upx 0 20upx 0;
					}

					.got {
						font-size: 28upx;
						line-height: 48upx;
						color: #333;
						font-weight: 600;

						text {
							font-size: 48upx;
							color: #FF4A65;
						}
					}
				}
			}

			.btns {
				margin-top: 24upx;

				.btn {
					border-radius: 8upx;
					background: #FF4A65;
					color: #fff;
					font-size: 28upx;
					width: 316upx;
					height: 72upx;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.black {
					margin-left: 22upx;
					background: #3C3C3C;
				}
			}
		}

		.button {
			padding: 0;
			margin-top: 20upx;
			height: 72upx;
			font-size: 28upx;
		}
	}
</style>
