<template>
	<card title="赚钱工具">
		<template>
			<view class="tool_item">
				<view class="icon_wrapper"><text class="iconfont moti-friendfill"></text></view>
				<view class="content">
					<view class="text_wrapper flex_center_cloumn">
						<view class="line_1">邀请好友</view>
						<view class="line_2">邀请1名好友下单可反<text class="red">2.5%现金</text></view>
					</view>
					<button class="btn" plain="true">去邀请</button>
				</view>
			</view>
			<view class="tool_item">
				<view class="icon_wrapper"><text class="iconfont moti-peoplelist"></text></view>
				<view class="content">
					<view class="text_wrapper flex_center_cloumn">
						<view class="line_1">导入通讯录</view>
						<view class="line_2">开启短信邀请功能，收益提升<text class="red">200%</text></view>
					</view>
					<button class="btn" plain="true">去导入</button>
				</view>
			</view>
			<view class="tool_item">
				<view class="icon_wrapper"><text class="iconfont moti-album"></text></view>
				<view class="content">
					<view class="text_wrapper flex_center_cloumn">
						<view class="line_1">生成图片</view>
						<view class="line_2">生成图片</view>
					</view>
					<button class="btn" plain="true">分享</button>
				</view>
			</view>
			<view class="tool_item">
				<view class="icon_wrapper"><text class="iconfont moti-form_fill_light"></text></view>
				<view class="content">
					<view class="text_wrapper flex_center_cloumn">
						<view class="line_1">分享至公众号</view>
						<view class="line_2">适合网红达人变现</view>
					</view>
					<button class="btn" plain="true">去邀请</button>
				</view>
			</view>
		</template>
	</card>
</template>

<script>
	import Card from './card.vue'

	export default {
		data() {
			return {

			}
		},
		components: {
			Card
		}
	}
</script>

<style lang="scss">
	.tool_item {
		height: 134upx;
		display: flex;

		.icon_wrapper {
			margin-top: 28upx;
			width: 40upx;
			height: 40upx;

			.iconfont {
				font-size: 40upx;
			}
		}

		.content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-left: 24upx;
			flex-grow: 1;
			border-top: 1upx solid #dcdcdc;

			.text_wrapper {
				flex-grow: 1;

				.line_1 {
					font-size: 32upx;
					line-height: 32upx;
					color: #333;
				}

				.line_2 {
					margin-top: 12upx;
					font-size: 24upx;
					line-height: 26upx;
					color: #999;

					.red {
						color: #FF4A65;
					}
				}
			}

			.btn {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 168upx;
				height: 60upx;
				padding: 0;
				border: 1upx solid #FA4650;
				font-size: 24upx;
				color: #FA4650;
			}
		}
	}
</style>
