<template>
	<card title="赚钱工具">
		<template>
			<view class="tool_item">
				<view class="icon_wrapper"><text class="iconfont moti-friendfill"></text></view>
				<view class="content">
					<view class="text_wrapper flex_center_cloumn">
						<view class="line_1">首次下单</view>
						<view class="line_2">首次下单用户，得支付金额<text class="red">3%现金</text></view>
					</view>
					<button class="btn" plain="true">去下单</button>
				</view>
			</view>
			<view class="tool_item">
				<view class="icon_wrapper"><text class="iconfont moti-peoplelist"></text></view>
				<view class="content">
					<view class="text_wrapper flex_center_cloumn">
						<view class="line_1">首次邀请好友下单</view>
						<view class="line_2">你和好友均可获得返现</view>
					</view>
					<button class="btn" plain="true">邀请下单</button>
				</view>
			</view>
			<view class="tool_item">
				<view class="icon_wrapper"><text class="iconfont moti-shopfill"></text></view>
				<view class="content">
					<view class="text_wrapper flex_center_cloumn">
						<view class="line_1">入驻MOTI</view>
						<view class="line_2">入驻并卖出商品，终身返利</view>
					</view>
					<button class="btn" plain="true">邀请入驻</button>
				</view>
			</view>
			<view class="tool_item">
				<view class="icon_wrapper"><text class="iconfont moti-form_fill_light"></text></view>
				<view class="content">
					<view class="text_wrapper flex_center_cloumn">
						<view class="line_1">关注公众号</view>
						<view class="line_2">关注MOTI公众号，得<text class="red">1元</text></view>
					</view>
					<button class="btn" plain="true">去关注</button>
				</view>
			</view>
			<view class="tool_item">
				<view class="icon_wrapper"><text class="iconfont moti-news_fill_light"></text></view>
				<view class="content">
					<view class="text_wrapper flex_center_cloumn">
						<view class="line_1">实名认证</view>
						<view class="line_2">提示您请完成实名认证</view>
					</view>
					<button class="btn" plain="true">去认证</button>
				</view>
			</view>
		</template>
	</card>
</template>

<script>
	import Card from './card.vue'

	export default {
		data() {
			return {

			}
		},
		components: {
			Card
		}
	}
</script>

<style lang="scss">
	.tool_item {
		height: 134upx;
		display: flex;

		.icon_wrapper {
			margin-top: 28upx;
			width: 40upx;
			height: 40upx;

			.iconfont {
				font-size: 40upx;
			}
		}

		.content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-left: 24upx;
			flex-grow: 1;
			border-top: 1upx solid #dcdcdc;

			.text_wrapper {
				flex-grow: 1;

				.line_1 {
					font-size: 32upx;
					line-height: 32upx;
					color: #333;
				}

				.line_2 {
					margin-top: 12upx;
					font-size: 24upx;
					line-height: 26upx;
					color: #999;

					.red {
						color: #FF4A65;
					}
				}
			}

			.btn {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 168upx;
				height: 60upx;
				padding: 0;
				border: 1upx solid #FA4650;
				font-size: 24upx;
				color: #FA4650;
			}
		}
	}
</style>
