<template>
	<card title="已赚金额排行">
		<text class="slot_header" slot="header">2019.05.20 08:20</text>
		<view class="ranklist" v-for="(item, index) in rankList" :key="index">
			<image class="medal" v-if="index === 0" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/rank_1.png"></image>
			<image class="medal" v-else-if="index === 1" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/rank_2.png"></image>
			<image class="medal" v-else-if="index === 2" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/rank_3.png"></image>
			<view class="medal" v-else>{{index}}</view>
			<image class="avatar" :src="item.avatar"></image>
			<view class="nickname">{{item.nickname}}</view>
			<view class="money">{{item.money}}元</view>
		</view>
	</card>
</template>

<script>
	import Card from './card.vue'

	export default {
		components: {
			Card
		},
		props: {
			rankList: {
				type: Array,
				default () {
					return []
				}
			}
		}
	}
</script>

<style lang="scss">
	.slot_header {
		color: #c9c9c9;
	}

	.ranklist {
		height: 140upx;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.medal {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 44upx;
			height: 44upx;
		}

		.avatar {
			width: 84upx;
			height: 84upx;
			border-radius: 50%;
		}

		.nickname {
			font-size: 32upx;
			line-height: 32upx;
			color: #333;
		}

		.money {
			font-size: 32upx;
			line-height: 32upx;
			color: #FA4650;
		}
	}
</style>
