<template>
	<card title="现在总额">
		<view class="total_wrapper">
			<view class="total_inner">
				<view class="total_money flex_center_column">
					<view class="made">已赚金额(元)</view>
					<view class="money">
						<text class="text">¥</text>
						<text class="num">999</text>
						<text class="text">元</text>
					</view>

					<text class="iconfont moti-jiantou"></text>
				</view>
				<view class="detail_money flex_between_center">
					<view class="item" :class="{lastone: index === item.length - 1}" v-for="(item, index) in detailMoney" :key="index">
						<view class="text">{{item.text}}</view>
						<view class="money">{{item.money}}</view>
					</view>
				</view>
			</view>
		</view>
	</card>
</template>

<script>
	import Card from './card.vue'

	export default {
		components: {
			Card
		},
		data() {
			return {
				detailMoney: [{
					text: '本月总收益',
					money: 20
				}, {
					text: '本月好友消费',
					money: 20
				}, {
					text: '本月好友订单',
					money: 20
				}, {
					text: '本月邀请人数',
					money: 20
				}]
			}
		}
	}
</script>

<style lang="scss">
	.total_wrapper {
		padding: 20upx 0;

		.total_inner {
			overflow: hidden;
			width: 100%;
			height: 293upx;
			border-radius: 8upx;
			background: #F5E6D7;

			.total_money {
				position: relative;
				margin-top: 32upx;
				text-align: center;

				.made {
					font-size: 22upx;
					line-height: 24upx;
					color: #aaa;
				}

				.money {
					font-size: 40upx;
					color: #333;
					font-weight: 500;

					.num {}

					.text {
						font-size: 20upx;
					}
				}

				.moti-jiantou {
					position: absolute;
					top: 30upx;
					right: 52upx;
					bottom: 0;
				}
			}

			.detail_money {
				margin-top: 36upx;
				padding: 0 20upx;

				.item {
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					&:after {
						position: absolute;
						right: -20upx;
						top: 0;
						bottom: 0;
						margin: auto;
						content: '';
						display: block;
						width: 2upx;
						height: 40upx;
						background: #aaa;
					}

					&.lastone:after {
						content: '';
						width: 0;
						height: 0;
					}
				}

				.text {
					font-size: 24upx;
					line-height: 24upx;
					color: #aaa;
				}

				.money {
					margin-top: 24upx;
					font-size: 32upx;
					line-height: 32upx;
					color: #333;
					font-weight: 500;
				}
			}
		}
	}
</style>
