<script>
	import {
		getShareParam
	} from '@/common/request.js'
	export default {
		// #ifdef H5
		created() {
			const isDev = process.env.NODE_ENV === 'development'
			// if (!isDev) {
			// 	//友盟统计添加
			// 	const script = document.createElement("script");
			// 	script.src = "https://s9.cnzz.com/z_stat.php?id=1277890458&web_id=1277890458";
			// 	script.language = "JavaScript";
			// 	document.body.appendChild(script);
			// }
		},
		watch: {
			$route(to, from) {
				// 路由变化之后执行一次大数据埋点-页面
				window._mreferrer = from.fullPath
				this.MonitorPV();
			}
		},
		// #endif
		onLaunch: function(options) {
			// #ifdef H5
			console.log('onLaunch', options);
			// 活动跳转到到家C的来源信息等
			//material 媒体素材号,orderSource 订单来源, channel 媒体渠道
			const query = options.query
			const sourceInfo = {
				material: query.material,
				orderSource: query.orderSource,
				channel: query.channel
			}
			uni.setStorageSync('sourceInfo', sourceInfo)			
			
			// APP启动之后执行一次大数据埋点-页面
			this.MonitorPV();
			// #endif

			// #ifdef MP-WEIXIN
			this.updateApp()
			// this.$getUserToken()
			// #endif
		},
		onShow: function(options) {
			console.log('app onShow');
			// #ifdef MP-WEIXIN
			// #endif

			
		},
		onHide: function() {
			console.log('App Hide')
		},
		methods: {
			updateApp() {
				// #ifdef MP-WEIXIN
				const updateManager = wx.getUpdateManager()
				updateManager.onCheckForUpdate(function(res) {
					// 请求完新版本信息的回调
					console.log(res.hasUpdate)
				})
				updateManager.onUpdateReady(function() {
					wx.showModal({
						title: '更新提示',
						content: '新版本已经准备好，是否重启应用？',
						success: function(res) {
							if (res.confirm) {
								// 新的版本已经下载好，调用 applyUpdate 应用新版本并重启
								uni.removeStorageSync('userInfo')
								// uni.removeStorageSync('userWxInfoCacheKey')
								uni.removeStorageSync('mt_token')
								updateManager.applyUpdate()
							}
						}
					})
				})
				updateManager.onUpdateFailed(function() {
					// 新版本下载失败
				})
				// #endif
			}
		}
	}
</script>


<style lang="scss">
	@import '/common/css/common.scss';
</style>
<style>
	/*每个页面公共css */
	@import '/common/css/uni.css';
	@import '/common/css/iconfont.css';

	page {
		height: 100%;
		background: #f5f5f5;
	}

	uni-swiper .uni-swiper-slides {
		border-radius: 8upx;
		overflow: hidden;
	}

	uni-swiper .uni-swiper-dots-horizontal {
		left: 90%;
	}

	uni-swiper .uni-swiper-dot {
		background: rgba(219, 219, 219, 1);
		opacity: 0.39;
		height: 12upx;
		width: 12upx;
	}

	uni-swiper .uni-swiper-dot-active {
		width: 32upx;
		background: rgba(255, 255, 255, 1);
		border-radius: 5upx;
		height: 10upx;
		opacity: 0.79;
	}

	/* .img_def {
		background: url('/static/images/default.png') #eee no-repeat !important;
		background-position: center !important;
	} */
</style>
