<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.documentElement.style.fontSize = document.documentElement.clientWidth / 20 + 'px'
        })
    </script>
    <link rel="stylesheet" href="<%= BASE_URL %>static/index.css" />
	<style type="text/css">
		body {
			padding-bottom: constant(safe-area-inset-bottom);
			padding-bottom: env(safe-area-inset-bottom);
		}
	</style>
	<!-- <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=4WTBZ-52AHW-JCDR5-O34QO-YTAFT-MGBAE"></script> -->

</head>

<body>
    <noscript>
        <strong>Please enable JavaScript to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>
<script src="//res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<!-- <script src="https://webapi.amap.com/maps?v=1.4.15&key=366fa30268423cbac363e421bba7c7b0&plugin=AMap.Geocoder"></script> -->
<script>
 
// function init() {
// 	var mapId = document.getElementById("container")
//     var map = new qq.maps.Map(mapId, {
//         // 地图的中心地理坐标。
//         center: new qq.maps.LatLng(39.916527,116.397128)
//     });
// }
</script>

</html>