<template>
	<view class="card_wrapper" :style="cardWrapperStyles">
		<view class="card_header" :style="cardWrapperStyles">
			<text class="title" :style="cardTitleStyles">{{title}}</text>
			<slot name="header"></slot>
		</view>
		<slot></slot>
	</view>
</template>

<script>
	export default {
		name: 'card',
		props: {
			title: {
				type: String,
				default() {
					return '标题'
				}
			},
			cardWrapperStyle: {
				type: Object,
				default() {
					return {}
				}
			},
			cardHeaderStyle: {
				type: Object,
				default() {
					return {}
				}
			},
			cardTitleStyle: {
				type: Object,
				default() {
					return {}
				}
			}
		},
		data() {
			return {
				cardWrapperStyles: '',
				cardHeaderStyles: '',
				cardTitleStyles: ''
			}
		},
		mounted() {
			if (Object.keys(this.cardWrapperStyles).length > 0) {
				for (let item in this.cardWrapperStyle) {
					this.cardWrapperStyles += `${item}:${this.cardWrapperStyle[item]};`
				}
			}
			if (Object.keys(this.cardHeaderStyle).length > 0) {
				for (let item in this.cardHeaderStyle) {
					this.cardHeaderStyles += `${item}:${this.cardHeaderStyle[item]};`
				}
			}
			
			if (Object.keys(this.cardTitleStyle).length > 0) {
				for (let item in this.cardTitleStyle) {
					this.cardTitleStyles += `${item}:${this.cardTitleStyle[item]};`
				}
			}
		}
	}
</script>

<style lang="scss">
	.card_wrapper {
		margin-top: 20upx;
		padding: 0 24upx;
		background: #fff;
		.card_header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 76upx;
			.title {
				font-size: 30upx;
				line-height: 42upx;
				color: #333;
				font-weight: 600;
			}
			
		}
	}
</style>
