<template>
	<view class="content" v-if="isPageReady">
		<view class="uni-tab-bar">
			<scroll-view id="tab-bar" class="uni-swiper-tab headerNav" scroll-x :scroll-left="scrollLeft">
				<view v-for="(tab,index) in tabBars" :key="tab.id" class="swiper-tab-list" :id="tab.id" :data-current="index"
				 @tap="tapTab">
					<span :class="tabIndex == index ? 'active' : ''">{{tab.name}}</span>
				</view>
			</scroll-view>

			<swiper :current="tabIndex" class="swiper-box" :duration="100" @change="changeTab">
				<swiper-item v-for="(order,index1) in orderList" :key="index1">
					<scroll-view class="list" scroll-y @scrolltolower="loadMore(index1)">
						<template v-if="order.length == 0">
							<view class="noOrder">
								<block v-if="tabIndex == 0">
									<anomaly :link="{url: '/pages/index/index', text: '去逛逛'}"></anomaly>
								</block>
								<block v-else>
									<anomaly :link="{url: '/pages/index/index'}"></anomaly>
								</block>
								<!-- <view class="tlwok-icon tlwicon-text"></view>
								<text>暂无相关数据</text> -->
							</view>
						</template>
						<template v-else>
							<block v-for="(item, index2) in order" :key="item.id">
								<allOrder v-if="index1 == 'myOrder'" :options='item' :index='index2' @cancelOrder="_cancelOrder"></allOrder>
								<refund v-if="index1 == 'refund'" :options='item'></refund>
							</block>
						</template>
					</scroll-view>
				</swiper-item>
			</swiper>
		</view>
	</view>
</template>

<script>
	import anomaly from '@/components/anomaly.vue'
	import allOrder from './list/allOrder.vue';
	import {
		getBuyerRefunds,
		listTradeOrder,
		cancelOrder
	} from "@/common/request.js";
	import refund from './list/refund.vue';
	export default {
		components: {
			allOrder,
			refund,
			anomaly
		},
		data() {
			return {
				isPageReady: false,
				buyerId: '',
				// buyerId:'',
				page: 1,
				rows: 50,
				tabIndex: 0,
				scrollLeft: 0,
				isClickChange: false,
				tabBars: [{
						name: '全部',
						id: 'order'
					},
					{
						name: '退款/售后',
						id: 'refund'
					}
				],
				//  0待支付  1待发货 2待收货 3打包中 4配送中 5已收货
				orderList: {
					myOrder: [],
					refund: []
				},
			}
		},

		methods: {
			async getOrder() { //获取退款订单
				uni.showLoading({
					title: '加载中...'
				})
				let {
					code,
					result
				} = await getBuyerRefunds(this.buyerId, this.page, this.rows);
				if (code == 0) {
					this.orderList.refund = []
					this.orderList.refund = result.rows;
				}
				uni.hideLoading()
				this.isPageReady = true
			},
			async allOrder() { //获取全部接口
				let {
					code,
					result
				} = await listTradeOrder(this.page, this.rows);
				if (code == 0) {
					this.orderList.myOrder = []
					this.orderList.myOrder = result.rows;
				}
				this.isPageReady = true
				this.$wxBuryDot('page_my_order')
			},
			async tapTab(e) { //点击tab-bar
				console.log(e);
				let tabIndex = e.currentTarget.dataset.current;
				if (this.tabIndex === tabIndex) {
					return false;
				} else {
					let tabBar = await this.getElSize("tab-bar"),
						tabBarScrollLeft = tabBar.scrollLeft; //点击的时候记录并设置scrollLeft

					this.scrollLeft = tabBarScrollLeft;
					this.isClickChange = true;
					this.tabIndex = tabIndex;
				}
			},
			async changeTab(e) {
				let index = e.target.current;
				if (this.isClickChange) {
					this.tabIndex = index;
					this.isClickChange = false;
					return;
				}
				let tabBar = await this.getElSize("tab-bar"),
					tabBarScrollLeft = tabBar.scrollLeft;
				let width = 0;

				for (let i = 0; i < index; i++) {
					let result = await this.getElSize(this.tabBars[i].id);
					width += result.width;
				}
				let winWidth = uni.getSystemInfoSync().windowWidth,
					nowElement = await this.getElSize(this.tabBars[index].id),
					nowWidth = nowElement.width;
				if (width + nowWidth - tabBarScrollLeft > winWidth) {
					this.scrollLeft = width + nowWidth - winWidth;
				}
				if (width < tabBarScrollLeft) {
					this.scrollLeft = width;
				}
				this.isClickChange = false;
				this.tabIndex = index; //一旦访问data就会出问题
			},
			getElSize(id) { //得到元素的size
				return new Promise((res, rej) => {
					uni.createSelectorQuery().select("#" + id).fields({
						size: true,
						scrollOffset: true
					}, (data) => {
						res(data);
					}).exec();
				})
			},
			orderDetail(id) {
				console.log(id + '订单详情')
			},
			_cancelOrder(id) {
				console.log(id)
				const _this = this
				uni.showModal({
					title: "确定要取消这个订单",
					success: function(res) {
						if (res.confirm) {
							_this.MonitorEvent('confirm'); // 大数据按钮埋点 confirm
							cancelOrder(id)

							_this.getOrder();
							_this.allOrder();
						} else if (res.cancel) {
							// 用户点击取消
							_this.MonitorEvent('cancel'); // 大数据按钮埋点 cancel
						}
					}
				})
			},
			loadMore(index) {
				console.log(index)
			}
		},
		onShow() {
			let userInfo = uni.getStorageSync('userInfo');
			this.buyerId = userInfo.id;
			this.getOrder();
			this.allOrder();
		}
	}
</script>
<style lang="scss" scoped>
	.content {
		// overflow: hidden;
		height: 100%;
		background: #f5f5f5;

	}

	.uni-tab-bar {
		.headerNav {
			background: #ffffff;
			border-bottom: none;

			.swiper-tab-list {
				width: calc(100% / 2);
				position: relative;

				span {
					font-size: 30upx;
					color: #666666;
					box-sizing: border-box;
					display: inline-block;
					width: 100%;
					box-sizing: border-box;
					height: 100%;
				}

				.active {
					color: #333;
					font-weight: 700;
					position: relative;
					display: inline-block;

					&.active:after {
						content: '';
						display: block;
						position: absolute;
						width: 60upx;
						height: 6upx;
						background: rgba(51, 51, 51, 1);
						bottom: 0;
						left: 50%;
						margin-left: -30upx;
					}
				}
			}
		}

		.list {
			padding-bottom: 120upx;

			.noOrder {}
		}
	}
</style>
