<template>
	<view class="cop-box">
		<view v-if="status === 1">
			<view class="info" @tap="middle = true">
				<view class="time">支付剩余时间 29:59</view>
				<view class="price">150.50元</view>
				<view class="order-number">订单号：3300 3200 3344899889</view>
			</view>
			<view class="pay-type">
				<view class="item" @tap="payType = 1">
					<view class="weixin">微信支付</view>
					<view v-bind:class="{ 'moti-round': !(payType === 1), 'moti-duihao': payType === 1 }" class="iconfont"></view>
				</view>
				<view class="item" @tap="payType = 2">
					<view class="alipay">支付宝</view>
					<view v-bind:class="{ 'moti-round': !(payType === 2), 'moti-duihao': payType === 2 }" class="iconfont"></view>
				</view>
			</view>
			<view class="pay-btn-box">
				<view class="pay-btn" @tap="pay">确认支付 ￥150.50</view>
			</view>
		</view>
		<uni-popup :show="middle" type="middle" mode="fixed" @hidePopup="hidePopup">
			<view class="pay-popup">
				<view @tap="hidePopup" class="iconfont moti-close_light"></view>
				<view class="title">支付超时，请重新下单</view>
				<view class="pay-popup-btn">重新下单</view>
			</view>
		</uni-popup>
		<view v-if="status === 2">
			<view class="pay-success">
				<view class="pay-success-info">
					<view class="iconfont moti-duihao"></view>
					<view class="tips">支付成功</view>
					<view class="price">150.50元</view>
				</view>
				<view class="pay-success-btn">
					<view class="back-index" @tap="toIndex">返回首页</view>
					<view class="check-order" @tap="toOrder">查看订单</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import uniPopup from '@/components/uni-popup/uni-popup.vue';
	export default {
		data() {
			return {
				status: 1,
				payType: 1,
				middle: false
			};
		},
		methods: {
			hidePopup() {
				this.middle = false;
			},
			pay() {
				this.status = 2;
				uni.setNavigationBarTitle({
					title: '支付成功'
				});
			},
			toIndex() {
				uni.navigateTo({
					url: '/pages/cartPages/cart/cart'
				})
			},
			toOrder() {
				uni.navigateTo({
					url: '/pages/cartPages/order/order'
				})
			}

		},
		components: {
			uniPopup
		}
	};
</script>

<style lang="scss" scoped>
	.cop-box {
		position: relative;

		.info {
			width: 100%;
			height: 170upx;
			padding: 24upx 0;
			background: #ffffff;
			margin: 20upx 0;
			text-align: center;

			.time {
				height: 40upx;
				font-size: 28upx;
				font-weight: 400;
				color: rgba(153, 153, 153, 1);
				line-height: 40upx;
				padding-bottom: 24upx;
			}

			.price {
				height: 66upx;
				font-size: 48upx;
				font-weight: 500;
				color: rgba(51, 51, 51, 1);
				line-height: 66upx;
				padding-bottom: 8upx;
			}

			.order-number {
				height: 32upx;
				font-size: 22upx;
				font-weight: 400;
				color: rgba(153, 153, 153, 1);
				line-height: 32upx;
			}
		}

		.pay-type {
			padding: 0 40upx;
			background-color: #ffffff;

			.iconfont {
				width: 32upx;
				height: 32upx;
				line-height: 32upx;
				border-radius: 100%;
			}

			.moti-duihao {
				color: #ffffff;
				background: rgba(250, 70, 80, 1);
			}

			.item {
				display: flex;
				height: 40upx;
				padding: 28upx 0;
				font-size: 30upx;
				font-weight: 500;
				color: rgba(51, 51, 51, 1);
				line-height: 40upx;

				&:first-child {
					border-bottom: 2upx solid #e6e6e6;
				}

				.weixin {
					flex: 1;
					padding-left: 76upx;
					background-image: url(../../static/images/weixin.png);
					background-repeat: no-repeat;
					background-position: left center;
					background-size: 46upx 40upx;
				}

				.alipay {
					flex: 1;
					padding-left: 76upx;
					background-image: url(../../static/images/zhifubao.png);
					background-repeat: no-repeat;
					background-position: left center;
					background-size: 44upx;
				}
			}
		}

		.pay-btn-box {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 702upx;
			height: 76upx;
			background: rgba(255, 255, 255, 1);
			padding: 12upx 24upx;

			.pay-btn {
				width: 702upx;
				height: 76upx;
				background: rgba(250, 70, 80, 1);
				border-radius: 8upx;
				font-size: 28upx;
				font-weight: 600;
				color: rgba(255, 255, 255, 1);
				line-height: 76upx;
				text-align: center;
			}
		}

		.pay-popup {
			width: 560upx;
			height: 350upx;
			background: rgba(255, 255, 255, 1);
			border-radius: 8upx;
			position: relative;

			.iconfont {
				position: absolute;
				top: 24upx;
				right: 24upx;
				width: 18upx;
				height: 18upx;
				font-size: 18upx;
				line-height: 18upx;
				color: #c9c9c9;
			}

			.title {
				padding: 52upx 0 134upx 0;
				height: 44upx;
				font-size: 32upx;
				font-weight: 600;
				color: rgba(51, 51, 51, 1);
				line-height: 44upx;
				text-align: center;
			}

			.pay-popup-btn {
				margin: 0 auto;
				width: 480upx;
				height: 80upx;
				background: rgba(153, 153, 153, 0.05);
				border-radius: 8upx;
				border: 2upx solid rgba(102, 102, 102, 1);
				font-size: 28upx;
				font-weight: 500;
				color: rgba(51, 51, 51, 1);
				line-height: 80upx;
				text-align: center;
			}
		}

		.pay-success {
			padding: 40upx;
			background-color: #ffffff;
			margin-top: 20upx;

			.pay-success-info {
				border-bottom: 2upx solid #E6E6E6;

				.iconfont {
					padding-top: 34upx;
					width: 110upx;
					height: 110upx;
					color: #231916;
					font-size: 110upx;
					line-height: 110upx;
					margin: 0 auto;
				}

				.tips {
					padding: 26upx 0 8upx 0;
					height: 44upx;
					font-size: 32upx;
					font-weight: 600;
					color: rgba(51, 51, 51, 1);
					line-height: 44upx;
					text-align: center;
				}

				.price {
					height: 66upx;
					font-size: 48upx;
					font-weight: 400;
					color: rgba(51, 51, 51, 1);
					line-height: 66upx;
					text-align: center;
					padding-bottom: 72upx;
				}
			}

			.pay-success-btn {
				padding-top: 40upx;
				display: flex;

				.back-index {
					width: 324upx;
					height: 76upx;
					background: rgba(153, 153, 153, 0.05);
					border-radius: 8upx;
					border: 2upx solid rgba(102, 102, 102, 1);
					margin-right: 14upx;
					font-size: 28upx;
					font-weight: 500;
					color: rgba(51, 51, 51, 1);
					line-height: 78upx;
					text-align: center;
				}

				.check-order {
					flex: 1;
					height: 80upx;
					background: rgba(250, 70, 80, 1);
					border-radius: 8upx;
					font-size: 28upx;
					font-weight: 500;
					color: rgba(255, 255, 255, 1);
					line-height: 80upx;
					text-align: center;
				}
			}
		}
	}
</style>
