<template>
	<view>
		<view class="payRes">
			<view class="tis">
				{{payTitle}}
			</view>
			<view class="icon">
				<image :src="iconUrl"></image>
			</view>
			<!-- <view class="pay-amount">
				支付金额:{{amount}}元
			</view> -->
			<view class="btnGroup">
				<view class="bakIndex" @tap="goPage('/pages/index/index')">
					返回首页
				</view>
				<view class="toOrder" @tap="handle">
					{{operaButt}}
				</view>
			</view>
		</view>
		<view class="orderCode">
			<text>订单编号</text>
			<text>{{orderNo}}</text>
		</view>
		<view class="buyerInfo" v-if="address">
			<text>收货人：{{address.receiveName}}</text>
			<text>收货地址：{{addressDetail}}</text>
			<text>联系电话：{{address.receivePhone}}</text>
		</view>
		<!-- 		<view class="back">
			<view class="btn" @tap="toUser">个人中心</view>
		</view> -->
	</view>
</template>

<script>
	import {
		queryUserDefaultAddress,
		queryPayStatus
	} from '../../../common/request.js'
	export default {
		data() {
			return {
				amount: 0.00, //	金额
				orderNo: '', //	订单编号
				address: '', //	收货地址对象
				iconUrl: '', // 	支付结果图标地址

				paymentType: '', // 支付类型
				payTitle: '', // 支付结果
				operaButt: '', // 操作按钮显示内容
				payResult: '', // 支付结果 

			};
		},
		onLoad(options) {
			// this.amount = parseFloat(e.amount).toFixed(2);
			this.paymentType = options.paymentType
			// alert(this.paymentType)

			this.orderNo = options.out_trade_no // 订单编号
			this.amount = options.total_amount // 订单总价

			this.queryPayStatus() //	获取支付结果
			this.getDefaultAddress() // 获取默认收货地址
		},
		computed: {
			addressDetail() {
				let {
					provinceName,
					cityName,
					districtName,
					userAddress
				} = this.address

				if (provinceName && cityName && districtName) {
					return `${provinceName}-${cityName}-${districtName}-${userAddress}`
				} else {
					return userAddress
				}
			}
		},
		methods: {
			async queryPayStatus() {
				let {
					data
				} = await queryPayStatus(this.orderNo, this.paymentType)
				// alert(JSON.stringify(data))
				if (data.code === "0") {
					//	result 为 30的时候为成功。0是失败
					data.result === "30" ? this.paySuccess() : this.payFail()
				}
			},
			paySuccess() { //  支付成功
				this.payTitle = "支付成功"
				this.operaButt = '查看订单'
				this.iconUrl = 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-mall/success.png'
				this.payResult = true // 记录支付结果为成功
			},
			payFail() { //	支付失败
				this.payTitle = "支付失败"
				this.operaButt = "重新支付"
				this.iconUrl = 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-mall/fail.png'
				this.payResult = false // 记录支付结果为失败
			},
			toUser() {
				uni.switchTab({
					url: '/pages/tabBar/user'
				});
			},
			goPage(link) {
				uni.switchTab({
					url: link
				})
			},
			handle() { // 结果显示之后的处理
				if (this.payResult) { // 支付成功后的处理。跳转到订单详情页
					uni.navigateTo({
						url: '../../orderDetail/orderDetail?orderNo=' + this.orderNo
					})
				} else { //	支付失败的处理，重新跳转到 支付页面
					uni.navigateTo({
						url: `../payment/payment?orderNo=${this.orderNo}&price=${this.amount}`
					})
				}
			},
			async getDefaultAddress() { // 获取默认收货地址
				let {
					data
				} = await queryUserDefaultAddress()
				if (data.code === "0") {
					this.address = data.result
				}
			},
		},
	}
</script>

<style lang="scss">
	page {
		// background-color: #ffffff;
	}

	view {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.payRes {
		padding-top: 50upx;
		padding-bottom: 50upx;
		background-color: #fff;
		width: 100%;

		.btnGroup {
			display: flex;
			margin-top: 30upx;

			view {
				width: 170upx;
				height: 70upx;
				border: 1px #a2a2a2 solid;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 10upx;
				border-radius: 8upx;
				color: #606060;
			}
		}
	}

	.orderCode {
		width: 100%;
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		margin-top: 30upx;
		padding: 20upx 3%;
	}

	.buyerInfo {
		width: 100%;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		margin-top: 30upx;
		padding: 20upx 3%;

		text {
			padding: 10upx 0;
		}
	}

	.icon {
		width: 100%;
		margin-top: 10vw;

		image {
			width: 25vw;
			height: 25vw;
		}
	}

	.tis {
		width: 100%;

		font-size: 48upx;
	}

	.pay-amount {
		width: 100%;
		margin-top: 10upx;
		font-size: 32upx;
	}

	.back {
		position: absolute;
		width: 100%;
		bottom: 80upx;

		.btn {
			padding: 0 50upx;
			height: 70upx;
			border: solid 2upx #f06c7a;
			color: #f06c7a;
			align-items: center;
			border-radius: 10upx;
			font-size: 34upx;
		}
	}
</style>
