<template>
	<view class="address_wrapper">
		<form @submit='formSubmit'>
			<view class="inp_wrapper">
				<view class="label">收货人</view>
				<input type="text" placeholder="请填写收货人姓名" v-model="addressInfo.userName" placeholder-style="font-size: 26upx; color: #999">
				<!-- <text class="iconfont moti-right"></text> -->
			</view>
			<view class="inp_wrapper">
				<view class="label">手机号</view>
				<input type="text" placeholder="请填写收货人手机号" v-model="addressInfo.userPhone" placeholder-style="font-size: 26upx; color: #999">
				<!-- <text class="iconfont moti-right"></text> -->
			</view>
			<view class="inp_wrapper" @tap="showMulLinkageThreePicker">
				<!-- <view class="inp_wrapper" @tap="showMulLinkageThreePicker"> -->
				<view class="label">地址</view>
				<!-- <view @tap="showMulLinkageThreePicker">asdfasdf</view> -->
				<input type="text" @tap="showMulLinkageThreePicker" disabled="true" placeholder="请选择地区" placeholder-style="font-size: 26upx; color: #999"
				 v-model="addressInfo.address" />
				<!-- <text class="iconfont moti-right"></text> -->
			</view>
			<view class="inp_wrapper">
				<view class="label">详细地址</view>
				<input type="text" placeholder="详细地址" v-model="addressInfo.addressDetail" placeholder-style="font-size: 26upx; color: #999">
				<!-- <text class="iconfont moti-right"></text> -->
			</view>
			<mpvue-city-picker themeColor="#00bb50" ref="mpvueCityPicker" :defaultValueCode="defaultValueCode"
			 :pickerValueDefault="cityPickerValueDefault" @onCancel="onCancel" @onConfirm="onConfirm"></mpvue-city-picker>
			<view class="btnCon">
				<button class="mbtn_address" type="button" formType="submit" v-track-event="{category:'添加地址保存', action:'保存',label:'保存新建'}">保存</button>
				<button v-if="type == 1" class="mbtn_address del-address" type="button" @tap="delAddress" v-track-event="{category:'删除地址', action:'删除',label:'删除地址'}">删除</button>
			</view>
		</form>

		<!-- <view class="mbtn_address"  @tap="saveAddress">保存</view> -->
	</view>
</template>

<script>
	import mpvueCityPicker from '@/components/mpvue-citypicker/mpvueCityPicker.vue';
	import {
		saveAddress,
		queryAddressById,
		updateAddress,
		delAddress
	} from "@/common/request.js";
	import {
		checkMobile
	} from '@/common/utils.js'
	import provinceData from '@/common/city-data/province.js'
	import cityData from '@/common/city-data/city.js'
	import areaData from '@/common/city-data/area.js'
	// import MapHandle from '@/common/AmapHandle.js'
	// import MapHandle from '@/common/MapHandle/AmapHandle.js'
	// import MapHandle from '@/common/MapHandle/QqMapWxHandle.js'
	// #ifdef H5
	import MapHandle from '@/common/MapHandle/QqMapHandle.js'
	// #endif
	
	// #ifdef MP-WEIXIN
	import MapHandle from '@/common/MapHandle/QqMapWxHandle.js'
	// #endif
	
	// #ifdef APP-PLUS
	import MapHandle from '@/common/MapHandle/AmapAndroidHandle.js'
	// #endif
	export default {
		data() {
			return {
				type: Number, //1修改地址 2 添加新地址
				id: Number, //修改地址id
				cityPickerValueDefault: [0, 0, 0],
				defaultValueCode: '',
				cityDetail: '',
				position: {},
				isSubmit: false,
				addressInfo: {
					userName: '',
					userPhone: '',
					addressDetail: '', //详细地址
					address: '',
					code_provinceCode: '', //省（直辖市)code
					provinceName: '', //省（直辖市）名称
					code_cityCode: '', //省辖市
					cityName: '', //省辖市名称
					code_districtCode: '', //县区code
					districtName: '', //县区名称
					id: ''
				}
			};
		},
		components: {
			mpvueCityPicker
		},
		methods: {
			onConfirm(e) {
				console.log(e)
				let cityCode = e.cityCode;
				let oneIndex = cityCode.indexOf('-');
				let lastIndex = cityCode.lastIndexOf('-');
				let addressInfo = this.addressInfo;
				addressInfo.address = e.label;
				addressInfo.code_provinceCode = cityCode.substring(0, oneIndex);
				addressInfo.code_cityCode = cityCode.substring(oneIndex + 1, lastIndex);
				addressInfo.code_districtCode = cityCode.substring(lastIndex + 1);
				let address = e.label;
				let oneAdd = address.indexOf('-');
				let lastAdd = address.lastIndexOf('-');
				addressInfo.provinceName = address.substring(0, oneAdd);
				addressInfo.cityName = address.substring(oneAdd + 1, lastAdd);
				addressInfo.districtName = address.substring(lastAdd + 1);
				// this.$attrs;
				let value = e.value;
				this.cityDetail = value;
				let oneV = value.indexOf('-');
				let lastV = value.lastIndexOf('-');
				this.cityPickerValueDefault[0] = parseInt(value.substring(0, oneV));
				this.cityPickerValueDefault[1] = parseInt(value.substring(oneV + 1, lastV));
				this.cityPickerValueDefault[2] = parseInt(value.substring(lastV + 1));
			},
			onCancel(e) {
				// console.log(e)
			},
			showMulLinkageThreePicker: function() {
				console.log(this.$refs.mpvueCityPicker)
				this.$refs.mpvueCityPicker.show()
			},
			async formSubmit() {
				this.MonitorEvent('save_addr');	// 大数据按钮埋点 save_addr
				console.log(this.addressInfo);
				if (!this.addressInfo.userName) return uni.showToast({
					title: '请输入收货人姓名',
					icon: 'none'
				})
				if (!checkMobile(this.addressInfo.userPhone)) return uni.showToast({
					title: '请输入正确的手机号',
					icon: 'none'
				})
				if (!this.addressInfo.address) return uni.showToast({
					title: '请选择地址',
					icon: 'none'
				})
				if (!this.addressInfo.addressDetail) return uni.showToast({
					title: '请输入详细地址',
					icon: 'none'
				})
				if (this.isSubmit) return
				this.isSubmit = true
				const addressStr = this.addressInfo.address + this.addressInfo.addressDetail
				
				// const latAndLng = await AmapHandle.addressToLatAndLng(addressStr)
				const latAndLng = await MapHandle.addressToLatAndLng(addressStr)
				console.log(latAndLng);
				this.addressInfo.lat = latAndLng.lat
				this.addressInfo.lon = latAndLng.lng
				
				if (typeof this.addressInfo.lat !== 'number' || typeof this.addressInfo.lon !== 'number') {
					return uni.showToast({
						title: '获取当前位置失败，请重新保存',
						icon: 'none'
					})
				}
				if (this.type == 2) {
					let {
						code,
						msg
					} = await saveAddress(this.addressInfo, this.cityDetail);
					this.isSubmit = false
					this.$wxBuryDot('newaddress_save_addr')
					if (code == 0) {
						uni.navigateBack()
					} else {
						uni.showToast({
							icon: 'none',
							title: msg
						})
					}
					console.log('this.addressInfo', this.addressInfo);
				} else {
					let {
						code,
						msg
					} = await updateAddress(this.addressInfo, this.cityDetail);
					this.isSubmit = false
					this.$wxBuryDot('editaddress_save_addr')
					if (code == 0) {
						uni.navigateBack()
					}
				}
			},
			async getAddInfo() {
				let {
					code,
					result
				} = await queryAddressById(this.addressInfo.id);
				if (code == 0) {
					let addressInfo = this.addressInfo;
					addressInfo.isDefault = result.isDefault
					addressInfo.userName = result.receiveName;
					addressInfo.userPhone = result.receivePhone;
					addressInfo.addressDetail = result.userAddress;
					addressInfo.address = result.provinceName + '-' + result.cityName + '-' + result.districtName;
					addressInfo.code_provinceCode = result.provinceCode;
					addressInfo.provinceName = result.provinceName;
					addressInfo.code_cityCode = result.cityCode;
					addressInfo.cityName = result.cityName;
					addressInfo.code_districtCode = result.districtCode;
					addressInfo.districtName = result.districtName;
					addressInfo.lat = result.lat
					addressInfo.lon = result.lon
					this.defaultValueCode = `${result.provinceCode}-${result.cityCode}-${result.districtCode}`
					console.log('this.defaultValueCode', this.defaultValueCode);
					this.cityPickerValueDefault = this.setDefault(this.defaultValueCode)
					console.log('this.cityPickerValueDefault', this.cityPickerValueDefault);
					// let pickerValueArr = result.pickerValue.split('-');
					// for (let i = 0; i < pickerValueArr.length; i++) {
					// 	this.cityPickerValueDefault.splice(i, 1, parseInt(pickerValueArr[i]))
					// }
				}
			},
			async delAddress() {
				this.MonitorEvent('del_addr');	// 大数据按钮埋点 del_addr
				let {
					code,
					msg,
					result
				} = await delAddress(this.addressInfo.id);
				this.$wxBuryDot('editaddress_del_addr')
				if (code == 0) {
					uni.navigateBack()
				} else {
					uni.showToast({
						icon: 'none',
						title: msg
					})
				}
			},
			setTitle(title) {
				uni.setNavigationBarTitle({
					title: title
				})
			},
			goChooseLocation() {
				const _this = this;

				// 2019-07-23的注释：以后再用地图
				console.log('goChooseLocation chooseLocation')
				// uni.$emit('chooseLocation')
				// uni.$on('cancelmap', () => {
				// 	
				// })
				// uni.$on('confirmmap', (data) => {
				// 	console.log('confirmmap', data)
				// 	this.position = {
				// 		lon: data.position.lng,
				// 		lat: data.position.lat
				// 	}
				// 	this.addressInfo.lon = data.position.lng
				// 	this.addressInfo.lat = data.position.lat
				// })
			},
			setDefault(codeStr) {
				const codeArr = codeStr.split('-')
				const provinceCodeIndex = this.findCodeIndex(provinceData, codeArr[0])
				const cityCodeIndex = this.findCodeIndex(cityData, codeArr[1])
				const areaCodeIndex = this.findCodeIndex(areaData, codeArr[2])
				console.log('[provinceCodeIndex, cityCodeIndex, areaCodeIndex]', [provinceCodeIndex, cityCodeIndex, areaCodeIndex]);
				return [provinceCodeIndex, cityCodeIndex, areaCodeIndex]
			},
			findCodeIndex(arr, code) {
				let index = 0

				const loop = (arr, code) => {
					for (let i = 0; i < arr.length; i++) {
						if (Array.isArray(arr[i])) {
							loop(arr[i], code)
						} else {
							if (arr[i].value === code) {
								index = i
								break
							}
						}
					}
				}
				loop(arr, code)
				return index
			},
		},
		onLoad(e) {
			this.type = e.type;
			e.type == 1 ? this.setTitle('修改配送地址') : this.setTitle('新建配送地址');
			if (e.id != -1) {
				this.addressInfo.id = e.id;
				this.getAddInfo();
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #fff;
		height: 100%;
	}

	.address_wrapper {
		height: 100%;
		padding: 0 24upx;
		background-color: #fff;

		.btn-show {
			background: #FF4A65 !important;
			color: #fff !important;
		}

		.inp_wrapper {
			height: 100upx;
			display: flex;
			align-items: center;
			border-bottom: 1px solid #dcdcdc;

			.label {
				width: 120upx;
				font-size: 26upx;
				color: #333;
			}

			input {
				flex-grow: 1;
				padding-left: 30upx;
			}
		}

		.btnCon {
			display: flex;
			justify-content: space-between;
			margin-top: 100upx;

			.mbtn_address {
				// margin: 300upx auto auto auto;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 320upx;
				height: 72upx;
				color: #fff;
				background: #000;
				font-size: 28upx;
				border-radius: 8upx;
			}

			.del-address {
				background: #3C3C3C !important;
			}
		}
	}
</style>
