<template>
	<view class="index-box">
		<view class="headers"></view>
		<view class="info">
			<view class="phone-box">
				<view class="pb-item">
					<view class="errmsg" v-if='errorInfo.mobile'>请输入手机号</view>
					<text class="section"></text>
					<view class="input-box">
						<input type="number" v-model="info.mobile" placeholder="请输入手机号" />
					</view>
				</view>
				<view class="pb-item">
					<view class="errmsg" v-if='errorInfo.code'>请输入验证码</view>
					<text class="section"></text>
					<view class="input-box">
						<input type="number" v-model="info.code" placeholder="请输入验证码" />
						<view class="getCode" v-if='!isGotCode' @tap='getCode'>获取验证码</view>
						<view class="getCode disabled" v-else>重新获取({{timeDown}})</view>
					</view>
				</view>
			</view>
			<view class="btn-box" id="btn" @tap="toSuccess">

			</view>
			<view class="rule-box">

			</view>
		</view>
		<view class="footer"></view>
	</view>
</template>

<script>
	import {
		checkUserMobile,
		sendDynamicCode,
		activity,
		mobileLogin,
		createNewCustomerCoupons
	} from '@/common/request.js';
	export default {
		data() {
			return {
				isGotCode: false,
				isNewUser: false,
				timeDown: 90,
				timer: null,
				userId:'',
				info: {
					mobile: '',
					code: ''
				},
				errorInfo: {
					mobile: false,
					code: false
				}
			}
		},
		onLoad() {

		},
		methods: {
			async toSuccess() {
				if (this.checkMobile() && this.checkCode()) {
					uni.showLoading({
						title: '领取中...',
						icon: 'none'
					})
					const loginParams = {
						mobile: this.info.mobile,
						dynamicCode: this.info.code,
						quickType: '1'
					}
					let res =await mobileLogin(loginParams);
					
					if(res.code==0){
						console.log(res);
						let {code,result,msg} = await activity(res.result);
						if (this.isNewUser) {
							await createNewCustomerCoupons(res.result)
						}
						uni.hideLoading()
						if(code==0 || code==209){
							uni.setStorageSync('activithy_data', {
								mobile: this.info.mobile,
								code: code
							})
							uni.navigateTo({
								url: '/pages/activitySucce/activitySucce'
							})
						}
					}else{
						uni.hideLoading()
						uni.showToast({
							icon:'none',
							title:msg
						})
					}
				}
			},
			async getCode() {
				if (this.checkMobile()) {
					let {
						code,
						msg,
						result
					} = await checkUserMobile(this.info.mobile);
					let res = null;
					if (code == 0) {
						res = await sendDynamicCode(this.info.mobile, '102');
					} else {
						this.isNewUser = true
						// this.isRegist = true
						res = await sendDynamicCode(this.info.mobile, '101');
					}
					if (res.code == 0) {
						this.isGotCode = true;
						this.timer = setInterval(() => {
							this.timeDown -= 1
							if (this.timeDown === 0) {
								clearInterval(this.timer)
								this.isGotCode = false
								this.timer = null
								this.timeDown = 90
							}
						}, 1000)
					} else if (res.code == 1) {
						uni.showToast({
							title: '请勿频繁操作',
							icon: 'none'
						})
					}
				}
			},
			checkMobile() {
				let reg = /^1[3456789]\d{9}$/;
				if (reg.test(this.info.mobile)) {
					this.errorInfo.mobile = false;
					return true;
				} else {
					this.errorInfo.mobile = true;
					return false;
				}
			},
			checkCode() {
				let reg = /^\d{6}$/;
				if (reg.test(this.info.code)) {
					this.errorInfo.code = false;
					return true;
				} else {
					this.errorInfo.code = true;
					return false;
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.index-box {
		position: relative;

		.headers {
			width: 750upx;
			height: 970upx;
			background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/bgimg.jpg');
			background-repeat: no-repeat;
			background-size: 100%;
		}

		.info {
			width: 750upx;
			height: 1746‬upx;
			background: #e1423d;

			.phone-box {
				width: 560upx;
				height: 457upx;
				background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/PhoneNumber.png');
				background-repeat: no-repeat;
				background-size: contain;
				padding: 50upx 95upx 0 95upx;

				.pb-item {
					display: flex;
					flex-direction: column;
					min-height: 150upx;

					.section {
						flex: 1 0 auto
					}

					.errmsg {
						height: 70upx;
						padding-left: 30upx;
						font-size: 24upx;
						color: #e2443f;
						line-height: 90upx;
						flex: 0 0 auto;
					}

					.input-box {
						width: 494upx;
						height: 94upx;
						border: 3upx solid #c0bfbf;
						border-radius: 10upx;
						padding: 0 30upx;
						position: relative;
						flex: 0 0 auto;

						input {
							height: 94upx;
							line-height: 94upx;
							font-size: 30upx;
						}

						.getCode {
							position: absolute;
							top: 0;
							right: 0;
							width: 220upx;
							height: 94upx;
							border-top-left-radius: 0;
							border-top-right-radius: 10upx;
							border-bottom-right-radius: 10upx;
							border-bottom-left-radius: 0;
							background-color: #fe514b;
							text-align: center;
							line-height: 94upx;
							font-size: 30upx;
							color: #ffffff;

							&.disabled {
								background-color: #baa4a3;
							}
						}
					}
				}
			}

			.btn-box {
				width: 750upx;
				height: 178upx;
				background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/button.png');
				background-repeat: no-repeat;
				background-size: contain;
			}

			.rule-box {
				width: 750upx;
				height: 1061upx;
				background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/guize.png');
				background-repeat: no-repeat;
				background-size: contain;
			}
		}

		.footer {
			width: 750upx;
			height: 70upx;
			background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/bottom.png');
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
</style>
