<template>
	<view class="registerBox">
		<view class="regInfo">
			<view class="logo">
				<view class="logoPic">
					<image src="/static/images/icons/logo.png" @tap="setAdmin"></image>
					<view class="title">MOTI</view>
				</view>
			</view>
			<view class="formInput">
				<view class="userName">
					<!-- <text>中国+86</text> -->
					 
					<input type="text" v-model="userInfo.mobile" v-bind:class="{ textBlod : userInfo.mobile.length>0 }" maxlength="11"
					 placeholder="请输入手机号码" />
					<text v-if='userInfo.mobile.length>0' @tap='deleteText' class='iconfont moti-round_close_fill_light textDelete'></text>
				</view>
				
				<view class="isCode">
					<input type="text" v-model="userInfo.code" v-bind:class="{ textBlod : userInfo.code.length>0 }" :disabled="false"
					 placeholder="请输入验证码" />
					<view v-if="cutDown" class="getCode" @tap="sendDynamicCode">获取验证码</view>
					<view v-if="!cutDown" class="repeatCode">{{ time }}秒后重新获取</view>
				</view>
				<!-- <view class="userName" v-if="isRegist"><input type="text" v-model="userName" maxlength="11" placeholder="请输入用户名称" /></view> -->
				<!-- <view class="userName" v-if="isRegist"><input type="password" v-model="password" maxlength="11" placeholder="请输入密码" /></view> -->
				
				<view class="registerBtn" @tap="loginPhone" v-track-event="{category:'按钮', action:'登录按钮',label:`identity=${identity}+material=${sourceInfo.material}+channel=${sourceInfo.channel}`}">登录</view>
				<!-- <view class="">{{sourceInfo.material}}33333</view> -->

				<input type="text" placeholder="请输入用户名称" v-if="isAdmin" v-model="userName" />
				<input type="text" placeholder="请输入密码" v-if="isAdmin" v-model="password" />
				<view class="registerBtn" v-if="isAdmin" @tap="loginAcount">账号密码登录</view>

				<!-- <view class="registerBtn" style="margin-top: 20upx" @tap="registAcount">注册</view> -->
				<!-- <view class="registerBtn" @tap="regMobile">手机号注册</view> -->
				<!-- <view class="wechat" @tap="weChat">微信快速登录</view> -->


			</view>
		</view>
		<view class="bottomInfo" @tap="lookUserAgree">注册代表你已同意 <text @tap='toDeal'>《用户协议》</text> 与 <text @tap='toPrivacy'>《隐私政策》</text>
		</view>
	</view>
</template>
<script>
	import {
		checkMobile
	} from '@/common/utils.js';
	import {
		sendDynamicCode,
		mobileLogin,
		loadInfo,
		nameLogin,
		checkUserMobile,
		regist,
		getCar,
		syncBuyCar,
		authWechat,
		createNewCustomerCoupons,
		wxAppletMobileLogin,
	} from '@/common/request.js';
	import { getUserToken } from '@/common/login.js'
	export default {
		data() {
			return {
				pages: [],
				lastPage: '',
				isCustomBackBtn: false,
				options: {},
				isDidLogin: false, // 是否执行过登陆操作并且登陆成功
				wxliteMobile: '',
				userInfo: {
					//用户注册信息
					mobile: '',
					code: '',
					userName: '',
					password: ''
				},
				cutDown: true, //区分是否是重复获取验证码
				timer: null,
				time: '',
				isDisabled: true,
				userName: '',
				password: '',
				isAdmin: false,
				nums: 0,
				isRegist: false,
				indexReturens: ['interaction', 'sign', 'index', 'cart'],
				sourceInfo:{},//埋点
				identity:'未登录'//埋点判断是否为新用户
				};
		},
		onLoad(options) {
			const b = new Buffer('adadad', 'base64')
			console.log(b);
			this.options = options
			console.log(this.options)
			const userInfo = uni.getStorageSync('userInfo')
			this.initBackBtn()
			// this.$store.commit('setFromPage', 'login')
			// this.doWechatAuth()
			 this.sourceInfo = uni.getStorageSync('sourceInfo')
			 console.log( JSON.stringify(this.sourceInfo))
			 console.log("友盟更新")
		},
		onShow() {
			
		},
		// onBackPress(e) {
		// 	if (!this.isDidLogin) {
		// 		if (this.indexReturens.includes(this.lastPage)) {
		// 			uni.switchTab({
		// 				url: '/pages/index/index'
		// 			})
		// 		} else if (this.lastPage === 'addressManager' || this.lastPage === 'discounts' || this.lastPage === 'myOrder') {
		// 			uni.switchTab({
		// 				url: '/pages/mine/mine'
		// 			})
		// 		}
		// 		return true
		// 	} else {
		// 		return false
		// 	}
		// 	// return this.isCustomBackBtn && !this.isDidLogin
		// },
		methods: {
			initBackBtn() {
				const pages = getCurrentPages()
				this.lastPage = pages[pages.length - 2] && pages[pages.length - 2].route.split('/')[2]
				// const lastPages = ['interaction', 'sign', 'addressManager', 'discounts', 'myOrder']
				// if (lastPages.includes(this.lastPage)) {
				// 	this.isCustomBackBtn = true
				// }
			},
			toDeal() {
				uni.navigateTo({
					url: '/pages/deal/deal'
				})
			},
			toPrivacy() {
				uni.navigateTo({
					url: '/pages/privacy/privacy'
				})
			},
			async doWechatAuth() {
				if (!this.options.code) {
					// setTimeout(() => {
					// 	const url = location.href
					// 	location.href =
					// 		`http://www.dgburn.com/auth?appid=wx1df7c13018a86a03&redirectUri=${encodeURIComponent(url)}&response_type=code&scope=snsapi_base&state=wechat`
					// }, 5000)
				} else if (this.options.code) {
					const code = this.options.code
					const {
						result
					} = await authWechat(code)
					console.log(result)
				}
			},
			deleteText() {
				this.userInfo.mobile = '';
			},
			// 账号密码登录
			async loginAcount() {
				// this.MonitorEvent('login');	// 大数据按钮埋点 login
				const cartNum = this.$utils.cartCache.getCartCacheNum()
				uni.showLoading({
					title: '登录中...',
					icon: 'none'
				})
				const {
					result
				} = await nameLogin(this.userName, this.password);
				await loadInfo();
				if (cartNum > 0) {
					// 获取到用户信息之后需要同步购物车
					await this.syncCartItems()
				}
				await this.getCar();
				uni.hideLoading();

				const pages = getCurrentPages()
				this.$store.commit('setFromPage', 'login')
				if (pages[pages.length - 2] && pages[pages.length - 2].route !== 'pages/login/login') {
					uni.navigateBack({
						delta: 1 //返回的页面数，如果 delta 大于现有页面数，则返回到首页,
					});
				} else {
					uni.switchTab({
						url: '/pages/index/index'
					});
				}
			},
			// 手机号登录
			async loginPhone() {
				// this.MonitorEvent('login');	// 大数据按钮埋点 login
				if (!checkMobile(this.userInfo.mobile)) {
					return uni.showToast({
						title: '请输入正确的手机号码',
						duration: 1000,
						icon: 'none'
					})
				}
				if (!(typeof Number(this.userInfo.code) === 'number') || this.userInfo.code.length !== 6) {
					return uni.showToast({
						title: '请输入正确的验证码',
						duration: 1000,
						icon: 'none'
					});
				}
				const cartNum = this.$utils.cartCache.getCartCacheNum()
				this.isDidLogin = true
				
				let loginRes = {}
				let quickType = ''
				// #ifdef H5
				quickType = '1'
				// #endif
				// #ifdef MP-WEIXIN
				quickType = '2'
				// #endif
				// #ifdef APP-PLUS
				quickType = '3'
				// #endif
				
				const loginParams = {
					mobile: this.userInfo.mobile,
					dynamicCode: this.userInfo.code,
					quickType: quickType,
					// #ifdef H5
					data_source:this.sourceInfo.orderSource,
					material:this.sourceInfo.material,
					channel:this.sourceInfo.channel
					// #endif
				}
				if (this.isNewUser) {
					const sourceInfo = uni.getStorageSync('sourceInfo')
					if (sourceInfo) {
						if (sourceInfo.material) loginParams.material = sourceInfo.material
						if (sourceInfo.channel) loginParams.channel = sourceInfo.channel
						if (sourceInfo.orderSource) loginParams.orderSource = sourceInfo.orderSource
					}
				}
				loginRes = await mobileLogin(loginParams);
				
				console.log('loginRes', loginRes);
				// #ifdef MP-WEIXIN || APP-PLUS
				if (loginRes.code == 0) {
					uni.setStorageSync('mt_token', loginRes.result.token)
					wx.setStorageSync('lastLoginTime', Date.now())
				}
				// #endif

				if (loginRes.code != 0) {
					return uni.showToast({
						title: `${loginRes.msg}`,
						icon: 'none'
					});
				}
				if (this.isRegist) {
					this.$mstore.setItem('isNewUser', true)
				}
				await loadInfo();
				if (this.isRegist) {
					const userInfo = uni.getStorageSync('userInfo')
					await createNewCustomerCoupons(userInfo.id)
					this.$wxBuryDot('index_coup_sign_get')
				}
				uni.hideLoading();
				if (cartNum > 0) {
					// 获取到用户信息之后需要同步购物车
					await this.syncCartItems()
				}
				console.log('mt_token', uni.getStorageSync('mt_token'));
				console.log('userInfo', uni.getStorageSync('userInfo'));
				await this.getCar();
				this.$wxBuryDot('login_login')
				this.back()
			},
			async sendDynamicCode() {
				if (!checkMobile(this.userInfo.mobile)) {
					return uni.showToast({
						title: '请输入正确手机号码',
						duration: 1000,
						icon: 'none'
					});
				}
				const checkRes = await checkUserMobile(this.userInfo.mobile);
				console.log(JSON.stringify(checkRes));
				let res = null;
				const _this = this;
				if (checkRes.code === 0) {
					res = await sendDynamicCode(this.userInfo.mobile, '102');
					_this.identity = "老用户";
				} else {
					this.isRegist = true
					res = await sendDynamicCode(this.userInfo.mobile, '101');
					_this.identity = "新用户"
				}
				if (res.code === 0) {
					this.isDisabled = false;
					const time_count = 90;
					if (!this.timer) {
						this.time = time_count;
						this.cutDown = false;
						this.timer = setInterval(() => {
							if (this.time > 0 && this.time <= time_count) {
								this.time--;
							} else {
								this.cutDown = true;
								clearInterval(this.timer);
								this.timer = null;
							}
						}, 1000);
					}
				} else if (res.code == 1) {
					uni.showToast({
						title: '请勿频繁操作',
						icon: 'none'
					})
				}
			},
			async loadInfo() {
				await loadInfo();
			},
			lookUserAgree() {
				console.log('查看协议');
			},
			async getCar() {
				const {
					result
				} = await getCar();
				if (result.items) {
					const cartNum = Object.keys(result.items).length;
					// cartNum > 0 ? uni.setTabBarBadge({
					// 	index: 1,
					// 	text: `${cartNum}`
					// }) : uni.removeTabBarBadge({
					// 	index: 1
					// })
					this.$store.commit('setCartNum', cartNum);
				}
				console.log('getCar', result);
			},
			registAcount() {
				uni.redirectTo({
					url: '/pages/register/register'
				});
			},
			setAdmin() {
				this.nums += 1;
				if (this.nums === 10) {
					this.isAdmin = true;
				}
			},
			async syncCartItems() {
				const cartCacheItems = this.$utils.cartCache.getCartCache()
				console.log('cartCacheItems', cartCacheItems)
				const items = []
				for (let item in cartCacheItems.items) {
					items.push(cartCacheItems.items[item])
				}
				const {
					result
				} = await syncBuyCar(items)
				if (result.code === 0) {
					this.$utils.cartCache.clearCartCache()
				}
			},
			back() {
				const pages = getCurrentPages()
				// this.$store.commit('setFromPage', 'login')
				if (this.options.getDiscountHalf && this.isRegist) {
					// 新用户并且是
					return uni.redirectTo({
						url: '/pages/discounts/discounts?isFirst=true'
					})
				}
				
				if (this.options.fromPage === 'goodsDetail' || this.options.fromPage === 'orderInfo') {
					uni.redirectTo({
						url: `/pages/orderInfo/orderInfo?sendType=${this.options.sendType}`
					})
				} else if (pages[pages.length - 2] && pages[pages.length - 2].route !== 'pages/login/login') {
					uni.navigateBack({
						delta: 1 //返回的页面数，如果 delta 大于现有页面数，则返回到首页,
					});
				} else {
					uni.switchTab({
						url: '/pages/index/index'
					});
				}
			},
			// #ifdef MP-WEIXIN
			async getPhoneNumber(e) {
				console.log('getPhoneNumber', e);
				const res = await wxAppletMobileLogin()
				if (res.code == 0) {
					this.$mstore.setItem('userInfo', {id: res.userId})
					this.$mstore.setItem('isNewUser', true)
				}
				await this.loadInfo()
				this.back()
			}
			// #endif
		}
	};
</script>

<style lang="scss" scoped>
	page {
		background-color: #fff;
	}

	.registerBox {
		display: flex;
		flex-direction: column;
		min-height: 100%;

		.regInfo {
			flex: 1;

			.logo {
				padding: 59upx 0 126upx 0;

				.logoPic {
					width: 109upx;
					height: 109upx;
					margin: 0 auto;

					image {
						width: 100%;
						height: 100%;
					}
					.title {
						margin-top: 10upx;
						text-align: center;
					}
				}
			}

			.formInput {
				padding: 0 24upx;

				.textDelete {
					color: #DDDDDD;
				}

				.textBlod {
					font-size: 40upx;
					font-weight: bold;
				}

				.userName,
				.isCode {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 15upx 24upx;
					border-bottom: 1px solid #dcdcdc;

					input {
						font-size: 32upx;
						color: #333;
					}

					.getCode {
						font-size: 26upx;
						color: #000;
					}

					.repeatCode {
						color: #999;
						font-size: 26upx;
					}
				}

				.userName {
					// justify-content: flex-start;
					margin-bottom: 65upx;
				}

				.isCode {
					margin-bottom: 80upx;
				}
				
				/* #ifdef MP-WEIXIN */
				.wx_mobile_login {
					border: none;
					background: rgba(51, 51, 51, 1);
					color: #fff;
					font-size: 32upx;
					margin-bottom: 20upx;
				}
				
				/* #endif */
				
				.registerBtn,
				.wechat {
					display: flex;
					justify-content: center;
					align-items: center;
					color: #fff;
					height: 80upx;
					background: rgba(51, 51, 51, 1);
					border-radius: 12upx;
					font-size: 32upx;
				}

				.wechat {
					margin-top: 30upx;
					background: rgba(255, 255, 255, 1);
					border: 2upx solid rgba(0, 0, 0, 1);
					color: #000;
				}
			}
		}

		.bottomInfo {
			display: flex;
			flex-direction: row;
			font-size: 22upx;
			font-weight: 400;
			line-height: 30upx;
			color: #000;
			padding: 20upx 0;
			justify-content: center;
			align-items: center;
		}
	}
</style>
