<template>
	<view class="registerBox">
		<view class="regInfo">
			<view class="logo">
				<view class="logoPic">
					<image src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/logo_1.png"></image>
					<view class="title"></view>
				</view>
			</view>
			<view class="formInput">
				<view class="userName">
					<!-- <text>中国+86</text> -->
					<input type="text" v-model="userInfo.mobile" maxlength="11" placeholder="请输入手机号码">
				</view>
				<view class="isCode">
					<input type="text" v-model="userInfo.code" :disabled="false" placeholder="请输入验证码">
					<view v-if="cutDown" class="getCode" @tap="sendDynamicCode">获取验证码</view>
					<view v-if="!cutDown" class="repeatCode">{{time}}秒后重亲获取</view>
				</view>
				<view class="registerBtn" @tap="loginPhone">注册</view>
				<!-- <view class="registerBtn" @tap="regMobile">手机号注册</view> -->
				<!-- <view class="wechat" @tap="weChat">微信快速登录</view> -->
			</view>
		</view>
		<view class="bottomInfo" @tap="lookUserAgree">注册代表你已同意《用户协议》与《隐私政策》</view>
	</view>
</template>
<script>
	import {
		checkMobile
	} from '@/common/utils.js'
	import {
		sendDynamicCode,
		mobileLogin,
		loadInfo,
		regist
	} from '@/common/request.js'
	export default {
		data() {
			return {
				userInfo: { //用户注册信息
					mobile: '',
					code: ''
				},
				cutDown: true, //区分是否是重复获取验证码
				timer: null,
				time: '',
				isDisabled: true,
			}
		},
		methods: {
			async loginPhone() {
				// if (!checkMobile(userInfo.mobile)) {
				// 	return uni.showToast({
				// 		title: '请输入正确的手机号码',
				// 		duration: 1000,
				// 		icon: 'none'
				// 	})
				// }
				// if (!(typeof Number(this.userInfo.code) === 'number') || this.userInfo.code.length !== 6) {
				// 	return uni.showToast({
				// 		title: '请输入正确的验证码',
				// 		duration: 1000,
				// 		icon: 'none'
				// 	})
				// }
				const res = await regist(this.userInfo.mobile, this.userInfo.code)
				if (res.code === 0) {
					await loadInfo()
				}
				uni.switchTab({
					url: '/pages/index/index'
				})
				console.log(res)

			},
			async sendDynamicCode() {
				console.log(this.userInfo)
				if (!checkMobile(this.userInfo.mobile)) {
					return uni.showToast({
						title: '请输入正确手机号码',
						duration: 1000,
						icon: 'none'
					})
				}
				const res = await sendDynamicCode(this.userInfo.mobile, '102')
				console.log('res', res)
				if (res.code === 0) {
					this.isDisabled = false
					const time_count = 90
					if (!this.timer) {
						this.time = time_count
						this.cutDown = false
						this.timer = setInterval(() => {
							if (this.time > 0 && this.time <= time_count) {
								this.time--
							} else {
								this.cutDown = true
								clearInterval(this.timer)
								this.timer = null
							}
						}, 1000)
					}
				}
			},
			async regMobile() {
				const res = await sendDynamicCode(this.userInfo.mobile, '101')
			},
			async loadInfo() {
				await loadInfo()
			},
			weChat() {
				console.log("微信登录")
			},
			async getCode() {
				if (checkMobile(this.userInfo.mobile)) {
					uni.showToast({
						title: '请输入正确手机号码',
						duration: 1000,
						icon: 'none'
					})
				} else {
					this.isDisabled = false
					const time_count = 90
					const res = await sendDynamicCode()
					if (!this.timer) {
						this.time = time_count
						this.cutDown = false
						this.timer = setInterval(() => {
							if (this.time > 0 && this.time <= time_count) {
								this.time--
							} else {
								this.cutDown = true
								clearInterval(this.timer)
								this.timer = null
							}
						}, 1000)
					}
				}

			},
			lookUserAgree() {
				console.log("查看协议")
			}
		},
	}
</script>

<style lang="scss" scoped>
	page {
		background-color: #fff;
		;
	}

	.registerBox {
		display: flex;
		flex-direction: column;
		min-height: 100%;

		.regInfo {
			flex: 1;

			.logo {
				padding: 59upx 0 126upx 0;

				.logoPic {
					width: 96upx;
					height: 117upx;
					margin: 0 auto;

					image {
						width: 100%;
						height: 100%;
					}
				}
			}

			.formInput {
				padding: 0 24upx;

				.userName,
				.isCode {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 15upx 24upx;
					border-bottom: 1px solid #DCDCDC;

					input {
						font-size: 32upx;
						color: #333;
					}

					.getCode {
						font-size: 26upx;
						color: #000;
					}

					.repeatCode {
						color: #999;
						font-size: 26upx
					}
				}

				.userName {
					// justify-content: flex-start;
					margin-bottom: 65upx;
				}

				.isCode {
					margin-bottom: 80upx;
				}

				.registerBtn,
				.wechat {
					display: flex;
					justify-content: center;
					align-items: center;
					color: #fff;
					height: 80upx;
					background: rgba(51, 51, 51, 1);
					border-radius: 12upx;
					font-size: 32upx;
				}

				.wechat {
					margin-top: 30upx;
					background: rgba(255, 255, 255, 1);
					border: 2upx solid rgba(0, 0, 0, 1);
					color: #000;
				}
			}
		}

		.bottomInfo {
			display: flex;
			flex-direction: row;
			font-size: 22upx;
			font-weight: 400;
			line-height: 30upx;
			color: #000;
			padding: 20upx 0;
			justify-content: center;
			align-items: center;
		}
	}
</style>
