<template>
	<view v-show="show"
		:style="{ top: offsetTop + 'px' }"
		:class="position"
		class="uni-mask"
		@click="hide"
		@touchmove.stop.prevent="moveHandle">
		
		<!-- <view>
			<image class="close_icon" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/close_1.png" @click.prevent="closeMask"></image>
		</view> -->
		<slot />
	</view>
</template>

<script>
	export default {
		name: 'UniPopup',
		props: {
			/**
			 * 页面显示
			 */
			show: {
				type: Boolean,
				default: false
			},
			/**
			 * 对齐方式
			 */
			position: {
				type: String,
				// top - 顶部， middle - 居中, bottom - 底部
				default: 'middle'
			},
			/**
			 * h5遮罩是否到顶
			 */
			h5Top: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				offsetTop: 0
			}
		},
		watch: {
			h5Top(newVal) {
				if (newVal) {
					this.offsetTop = 44
				} else {
					this.offsetTop = 0
				}
			}
		},
		created() {
			let offsetTop = 0
			// #ifdef H5
			if (!this.h5Top) {
				offsetTop = 44
			} else {
				offsetTop = 0
			}
			// #endif
			this.offsetTop = offsetTop
		},
		methods: {
			hide() {
				if (this.position === 'middle') return
				this.$emit('hidePopup')
			},
			closeMask() {
				this.$emit('hidePopup')
			},
			moveHandle() {}
		}
	}
</script>
<style lang="scss">
	.uni-mask {
		position: fixed;
		z-index: 998;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.3);
		&.middle {
			display: flex;
			justify-content: center;
			align-items: center;
			.default_middle {
				overflow: hidden;
				padding: 0 24upx;
				position: relative;
				width: 600upx;
				height: 300upx;
				background-color: #fff;
				border-radius: 8upx;
				.close_icon {
					width: 25upx;
					height: 25upx;
					position: absolute;
					top: 20upx;
					right: 20upx;
				}
			}
		}
		&.bottom {
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
	}
</style>