<template>
	<view class="uni-privacy">
		<view class="title">MOTI到家隐私政策</view>
		<view class="tit">本政策试用于您通过任何方式对MOTI到家各项服务的访问和使用。</view>
		<view class="tit">为了向您提供更好、更个性化的产品和服务，当您使用以下服务、功能或设置时，我们会以下列方式收集和使用您的个人信息：</view>
		<view class="uni-tit">注册信息</view>
		<text>注册账号时，您需要向我们提供以下信息：账号名称、头像、您的手机号，并创建密码。你也可以通过微信授权登陆MOTI到家，我们将获取您的微信头像、昵称的授权，以及与您微信账号绑定的手机号授权。</text>
		<view class="uni-tit">位置信息</view>
		<text>为方便您更好地使用一小时到家服务，我们需要获取您的位置信息。当您开启设备定位功能并使用我们基于位置提供的相关服务时，我们可能会收集和处理有关您的设备信息（即您的硬件型号、操作系统版本、设备配置、唯一设备标识符、国际移动设备身份码IMEI、网络设备硬件地址MAC、广告标识符IDFA），设备连接信息以及设备状态信息、位置信息、行踪轨迹、网络身份标识信息，以使得您不需要手动输入自身地理坐标就可获得相关服务。我们会使用各种技术进行定位，这些技术包括
			IP 地址、GPS
			以及能够提供相关信息的其他传感器（比如可能会为百度提供附近设备、WLAN接入点和基站的信息）。您可以通过系统授权关闭定位功能，停止我们对您的地理位置信息的收集，但之后您可能将无法使用相关服务或功能，或者无法达到相关服务拟达到的效果。</text>
		<view class="uni-tit">通讯录信息</view>
		<text>在“赚钱”产品中，如果希望通过共享通讯录获得返现，您需要授权访问您的手机通讯录，以帮助我们调取短信应用接口。通讯录授权不是“赚钱”产品中的必要操作步骤，您也可以通过其他方式使用该产品。</text>
		<view class="uni-tit">购物订单相关数据</view>
		<text>为了更好地优化MOTI到家的服务，我们会在您授权的基础上统计您与订单有关的信息和行为数据，包括：您的定位信息、订单金额以及在MOTI到家小程序/APP中进行的与订单有关的操作，包括：页面浏览、点击、添加购物车、收藏、支付等环节。</text>
		<view class="uni-tit">设备权限调用</view>
		<view class="tableBox">
			<view class="table-header tableBody">
				<text class="one borderOne">设备权限</text>
				<text class='two borderOne'>对应业务功能</text>
				<text class='three borderOne'>调用权限的目的</text>
				<text class='four borderLast'>询问</text>
			</view>
			<view class="tableBody">
				<text class="one borderOne">定 位</text>
				<text class='two borderOne'>核心业务功能</text>
				<text class='three borderOne'>获取用户定位 用于判断物流配送的具体发货仓</text>
				<text class='four borderLast'>是</text>
			</view>
			<view class="tableBody">
				<text class="one borderOne">摄像头</text>
				<text class='two borderOne'>人脸识别、商品验真</text>
				<text class='three borderOne'>用于实名认证、活体验证和二维码扫描</text>
				<text class='four borderLast'>是</text>
			</view>
			<view class="tableBody">
				<text class="one borderOne">照 片</text>
				<text class='two borderOne'>实名认证资料提交、售后判定照片、头像自定义等</text>
				<text class='three borderOne'>需要用户上传图片资料以优化或完善服务</text>
				<text class='four borderLast'>是</text>
			</view>
			<view class="tableBody">
				<text class="one borderOne">通讯录授权</text>
				<text class='two borderOne'>赚钱好友邀请</text>
				<text class='three borderOne'>方便通过短信的方式邀请好友</text>
				<text class='four borderLast'>是</text>
			</view>
			<view class="tableBody">
				<text class="one borderOne">微信授权</text>
				<text class='two borderOne'>账号注册</text>
				<text class='three borderOne'>使用微信绑定的实名信息创建账号</text>
				<text class='four borderLast'>是</text>
			</view>
			<view class="tableBody">
				<text class="one borderOne">APP通知</text>
				<text class='two borderOne'>APP通知</text>
				<text class='three borderOne'>推送与订单、商品相关的状态信息或活动信息</text>
				<text class='four borderLast'>是</text>
			</view>
		</view>
		<view class="uni-tit">隐私信息的使用方式</view>
		<text>MOTI到家会采取以下方式获取、展示、使用、处理及保存您的信息：</text>
		<text>在大部分场合下，我们都会以询问、授权或自主操作的形式来获取您的隐私数据。您有权不提交这部分数据，但也会相应影响部分功能的体验。</text>
		<text>您的真实姓名、用户昵称、手机号等数据如果有需要在前端展示的场合，我们会做脱敏处理隐去关键部分，以防止信息泄露给您带来困扰。</text>
		<text>为优化MOTI到家的体验，我们会从大数据维度，根据商品的浏览量、下单率等数据进行分析，以改善购物体验。我们也会根据购买订单的日期、地域、用户反馈等维度信息，统计MOTI到家的产品在不同地区不同渠道的市场反馈，以便针对不同地区推出针对性的特色服务。</text>
		<text>我们不会对您的订单个人信息，如：账号、手机号、家庭地址、收货人姓名等维度进行非法数据采集和存储。</text>
		<text>我们会采取相应的技术手段来保证您的隐私信息不被盗取和泄露。</text>
		<text>如果您有注销账号的需要，可以与MOTI到家取得联系，我们会帮助您注销账号、停止其相关服务，除法律明确规定必须由我们保留的个人信息外，您的个人信息将会从服务器移除。</text>
		<view class="footer-tit">无需征询您同意的特殊情况</view>
		<view class="footer-tit">请注意：在以下情形中，收集、使用个人信息无需事先征得您的授权同意：</view>
		<view class="footer-tit">与国家安全、国防安全直接相关的；</view>
		<view class="footer-tit">与公共安全、公共卫生、重大公共利益直接相关的；</view>
		<view class="footer-tit">与犯罪侦查、起诉、审判和判决执行等直接有关的；</view>
		<view class="footer-tit">出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</view>
		<view class="footer-tit">所收集的个人信息是您自行向社会公众公开的；</view>
		<view class="footer-tit">从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道；</view>
		<view class="footer-tit">根据您的要求向您提供产品或服务所必需的；</view>
		<view class="footer-tit">用于维护所提供的产品或服务的安全稳定运行所必需的，例如发现、处置产品或服务的故障；</view>
		<view class="footer-tit">法律法规规定的其他情形。</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			};
		}
	}
</script>

<style lang="scss">
	.uni-privacy {
		padding: 30upx;
		background: #fff;
		text-align: justify;
		font-size: 26upx;
		color: #666;

		.tableBox {
			border: 2upx solid #808080;
			border-radius: 3upx;
			height: 581upx;
			height: auto;
			font-size: 20upx;

			.borderOne {
				border-right: 1upx solid #CBCBCB;
				border-bottom: 1upx solid #CBCBCB;
			}

			.borderLast {
				border-bottom: 1upx solid #CBCBCB;
			}

			.tableBody {
				display: flex;
				align-items: center;

				text {
					text-align: center;
					margin: 0;
					height: 150upx;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.one {
					width: 20%;
				}

				.two {
					width: 35%;
				}

				.three {
					width: 35%;
				}

				.four {
					width: 10%;
				}
			}

			.table-header {
				height: 70upx;
				background: rgba(242, 242, 242, 1);

				text {
					height: 100%;
					line-height: 70upx;
				}
			}
		}

		.title {
			font-size: 32upx;
			font-weight: 600;
			color: #333;
			text-align: center;
		}

		.uni-tit {
			color: #333;
			font-weight: 600;
			margin: 60upx 0 30upx;
		}

		.footer-tit {
			color: #333;
			font-weight: 600;
		}

		.tit {
			margin-top: 30upx;
			margin-bottom: 10upx;
		}

		text {
			display: block;
			margin-top: 5upx;
			margin-bottom: 30upx;
		}
	}
</style>
