<template>
	<view class="address_manager_wrapper" v-if="isPageReady">
		<view class="adress_item" v-for='(item,index) in addList' :key='index' @tap="setDefaultAddress(item.id)">
			<view class="left">
				<view class="name_phone">
					<text class="username">{{item.receiveName}}</text>
					<text class="phone">{{item.receivePhone}}</text>
				</view>
				<view class="address">{{item.provinceName}}{{item.cityName}}{{item.districtName}}{{item.userAddress}}</view>
			</view>

			<view class="right" @tap.stop="goAddAddress(1,item.id)" v-track-event="{category:'地址管理', action:'编辑地址',label:'编辑地址'}">
				<image src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/edit.png"></image>
			</view>
		</view>

		<view v-if="addList.length === 0" @tap="monitorEventAddAddress" v-track-event="{category:'地址管理', action:'添加地址',label:'无地址列表新建地址'}">
			<anomaly :link="{url: '/pages/addAddress/addAddress?type=2', text: '添加地址', page: true}" hint="暂无收货地址"></anomaly>
		</view>

		<view class="address_mbtn" v-if="addList.length > 0" @tap="goAddAddress(2,-1)" v-track-event="{category:'地址管理', action:'新建地址',label:'有地址列表添加地址'}">+新建收货地址</view>
	</view>
</template>

<script>
	import anomaly from '@/components/anomaly.vue'
	import {
		listAddress,
		defaultAddress
	} from "@/common/request.js";
	export default {
		data() {
			return {
				options: {},
				page: 1,
				rows: 100,
				fromType: '',
				addList: [],
				isPageReady: false
			};
		},
		components: {
			anomaly
		},
		onLoad(e) {
			this.options = e
			this.fromType = e.returnUrl
			this.$store.commit('setFromPage', 'addressManager')
			this.$wxBuryDot('page_address')
		},
		onShow(e) {

		},
		methods: {
			monitorEventAddAddress(){
				this.MonitorEvent('add_addr');	// 大数据按钮埋点 add_addr
			},
			goAddAddress(type, id) {
				if(type == 1){
					this.MonitorEvent('edit_addr');	// 大数据按钮埋点 edit_addr
				}else {
					this.MonitorEvent('new_addr');	// 大数据按钮埋点 new_addr
				}
				uni.navigateTo({
					url: '/pages/addAddress/addAddress?type=' + type + '&id=' + id
				})
			},
			async getAddressList() {
				let succ = await listAddress(this.page, this.rows);
				this.addList = []
				if (succ.code == 0) {
					console.log(succ.result.rows.length);
					if (succ.result.rows.length == 0) {
						// uni.navigateTo({
						// 	url: '/pages/addAddress/addAddress?type=2' + '&id=-1'
						// })
					} else {
						this.isPageReady = true
						this.addList = succ.result.rows;
					}
				}
				this.isPageReady = true
			},
			async setDefaultAddress(id) {
				if (this.options.fromPage === 'orderInfo') {
					console.log(id)
					const res = await defaultAddress(id)

					this.$store.commit('setFromPage', 'addressManager')
					uni.navigateBack()
				}
				// if (res.code === 0) {
				// 	uni.navigateBack()
				// }
			}
		},
		onShow() {
			this.getAddressList();
		},
		// onPullDownRefresh() {
		// 	this.getAddressList();
		// 	setTimeout(function() {
		// 		uni.stopPullDownRefresh();
		// 	}, 1000);
		// }
	}
</script>

<style lang="scss">
	.address_manager_wrapper {
		min-height: 100%;
		padding: 0 24upx;
		background-color: #fff;
		padding-bottom: 120upx;
		box-sizing: border-box;

		.adress_item {
			padding: 24upx 0;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid #dcdcdc;
			align-items: center;

			.left {
				display: flex;
				flex-direction: column;
				justify-content: center;
				font-size: 28upx;
				line-height: 40upx;
				color: #333;

				.name_phone {
					.phone {
						margin-left: 36upx;
					}
				}

				.address {
					margin-top: 10upx;
					font-size: 22upx;
					line-height: 30upx;
					color: #999;
				}
			}

			.right {
				flex-shrink: 0;
				width: 85upx;
				height: 60upx;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				image {
					width: 32upx;
					height: 32upx;
				}
			}
		}

		.address_mbtn {
			position: fixed;
			bottom: 20upx;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 702upx;
			height: 72upx;
			color: #fff;
			background: linear-gradient(270deg, rgba(255, 74, 101, 1) 0%, rgba(250, 70, 80, 1) 100%);
			font-size: 28upx;
			border-radius: 8upx;
		}
	}
</style>
