<template>
	<view class="make_money_course">
		<view class="card_wrapper">
			<view class="card_header">
				怎么赚钱
			</view>

			<view class="text_item" :class="{border: item.border}" v-for="(item, index) in items1" :key="index" @tap="goDetail"
			 :data-text="item.text">
				<view class="dot">
					<view class="dot_inner"></view>
				</view>
				<text class="text">{{item.text}}</text>
				<text class="iconfont moti-right"></text>
			</view>
		</view>

		<view class="card_wrapper mt_20">
			<view class="card_header">
				如何变现
			</view>

			<view class="text_item" :class="{border: item.border}" v-for="(item, index) in items2" :key="index" @tap="goDetail"
			 :data-text="item.text">
				<view class="dot">
					<view class="dot_inner"></view>
				</view>
				<text class="text">{{item.text}}</text>
				<text class="iconfont moti-right"></text>
			</view>
		</view>

		<view class="card_wrapper mt_20">
			<view class="card_header">
				常见问题解疑
			</view>

			<view class="text_item" :class="{border: item.border}" v-for="(item, index) in items3" :key="index" @tap="goDetail"
			 :data-text="item.text">
				<view class="dot">
					<view class="dot_inner"></view>
				</view>
				<text class="text">{{item.text}}</text>
				<text class="iconfont moti-right"></text>
			</view>
		</view>

	</view>
</template>

<script>
	export default {
		data() {
			return {
				items1: [{
					text: '个人分享奖励',
					border: true
				}, {
					text: '入驻MOTI小店(仅限试点城市)',
					border: true
				}, {
					text: '网红达人快速变现',
					border: false
				}],
				items2: [{
					text: '怎样操作',
					border: true
				}, {
					text: '提现账期',
					border: false
				}],
				items3: [{
					text: '如何增加收益?',
					border: true
				}, {
					text: '提现手续费事怎么回事?',
					border: true
				}, {
					text: '为什么我长时间没有收益增长?',
					border: true
				}, {
					text: '怎么收益总额变少了?',
					border: true
				}, {
					text: '通过赚钱购买的商品和直接购买的商品有区别',
					border: true
				}, {
					text: '赚钱的收益可以用来购买产品吗?',
					border: false
				}]
			};
		},
		components: {},
		methods: {
			goDetail(e) {
				const text = e.currentTarget.dataset.text
				uni.navigateTo({
					url: `/pages/makeMoney/questionDetail?text=${encodeURIComponent(text)}`
				})
			}
		}
	}
</script>

<style lang="scss">
	.make_money_course {
		.card_wrapper {
			background: #fff;
			padding: 0 24upx;

			&.mt_20 {
				margin-top: 20upx;
			}

			.card_header {
				height: 76upx;
				font-size: 34upx;
				line-height: 76upx;
				color: #333;
				font-weight: 600;
			}

			.text_item {
				height: 104upx;
				display: flex;
				align-items: center;

				&.border {
					border-bottom: 2upx solid #dcdcdc;
				}

				.text {
					flex-grow: 1;
					margin-left: 8upx;
				}

				.moti-right {
					color: #c9c9c9;
				}

				.dot {
					width: 12upx;
					height: 12upx;
					background: #d8d8d8;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;

					.dot_inner {
						width: 8upx;
						height: 8upx;
						border-radius: 50%;
						background: #d8d8d0;
					}
				}
			}
		}
	}
</style>
