<template>
	<view class="make_money_wrapper">
		<view class="tips flex_center">
			<image src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/red_circle.png"></image>
			<text>xx先生体现了10元</text>
		</view>
		<!-- banner -->
		<swiper class="swiper_wrapper" :indicator-dots="true" :autoplay="true" :interval="3000" :duration="1000">
			<swiper-item class="swiper_item" v-for="(banner, index) in banners" :key="index">
				<image :src="banner.src"></image>
			</swiper-item>
		</swiper>

		<!-- 内容卡片 -->
		<total></total>
		<HowMakeMoney></HowMakeMoney>
		<MakeMoneyTool></MakeMoneyTool>
		<NoobTask></NoobTask>
		<ranking :rankList="rankList"></ranking>

	</view>
</template>

<script>
	import Total from './components/total.vue'
	import HowMakeMoney from './components/howMakeMoney.vue'
	import MakeMoneyTool from './components/makeMoneyTool.vue'
	import NoobTask from './components/noobTask.vue'
	import Ranking from './components/ranking.vue'

	export default {
		data() {
			return {
				banners: [{
					src: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/make_banner1.png'
				}, {
					src: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/make_banner1.png'
				}],
				rankList: [{
					avatar: '/static/images/logo.png',
					nickname: '张**',
					money: 520
				}, {
					avatar: '/static/images/logo.png',
					nickname: '张**',
					money: 520
				}, {
					avatar: '/static/images/logo.png',
					nickname: '王*',
					money: 520
				}, {
					avatar: '/static/images/logo.png',
					nickname: '张**',
					money: 520
				}]
			};
		},
		components: {
			Total,
			HowMakeMoney,
			MakeMoneyTool,
			NoobTask,
			Ranking
		}
	}
</script>

<style lang="scss">
	.make_money_wrapper {
		padding-bottom: 120upx;

		.tips {
			height: 56upx;
			background: #FD495F;

			image {
				width: 24upx;
				height: 24upx;
				margin-right: 10upx;
			}

			text {
				font-size: 22upx;
				line-height: 30upx;
				color: #fff;
			}
		}

		.swiper_wrapper {
			width: 100%;
			height: 320upx;

			.swiper_item {
				width: 100%;
				height: 100%;

				image {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
</style>
