<template>
	<view class="detail_wrapper">
		<view class="title">{{title}}</view>
		<view class="content_text"><text>{{contentText}}</text></view>

		<view class="special" v-if="title === '入驻MOTI小店(仅限试点城市)'">
			<text class="text_1">
				\n*具体奖励方式, <text class="text_2"> 可参考MOTI到家的奖励规则</text>
			</text>
		</view>
		<view class="special" v-if="title === '网红达人快速变现'">
			<text class="text_1">
				\n*具体返现规参考, <text class="text_2"> 个人奖励分享</text>
			</text>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				textObj: {
					'个人分享奖励': '您每次购买MOTI产品，都将获得订单总金额3%的现金返利。之后再推荐朋友直接购买，他们的每笔订单都会给您带2.5%的返利，以此类推。当可提现金额超过10元时，就可以提现到微信账户。分享的好友越多，您的收益也越多。一次分享终身获利。\n\n 您可以通过赚钱页面分享，或使用赚钱页面的图片生成工具，快速分享给有需要的朋友或微信群中的好友。',
					'入驻MOTI小店(仅限试点城市)': '入驻MOTI小店，0门槛，抢单高额返利，进货高额折扣！轻轻松松把钱赚！',
					'网红达人快速变现': '如果您是网红达人，希望流量快速变现，可以通过“赚钱工具”生成适合自己的物料。无论是通过文字链还是分享二维码购买MOTI产品的粉丝，都能给您带来现金返利。',
					'怎样操作': '您所有的现金返利都会汇总到赚钱账户里，可提现金额达到10元之后就可以提现到您绑定微信账号的微信零钱账户。 赚钱中的现金返利是不能直接用来购买产品的。但您提现到微信零钱之后，就可以用这笔钱再次购买MOTI产品，或者在其他场合进行消费。 如果您需要把微信零钱中的返利转到银行卡，微信会对这笔钱收取部分手续费。具体的费用以微信规定为准。',
					'提现账期': '您的现金返利产生之后就会被统计在收益总额之中，但只有X天之后才可以作为可提现返利。您的收益细分流水可以在赚钱首页，点击收益总额查看。',
					'如何增加收益?': '我们提供了包括好友推荐等各种赚钱方式，您可以根据自己的实际需要选择1个或者多个。',
					'提现手续费事怎么回事?': '您的收益总额提现到微信账户的过程，MOTI不会收取任何费用。 微信账户提现到银行卡的手续费，具体以微信为准。',
					'为什么我长时间没有收益增长?': '如果您的朋友长时间没有购买MOTI产品，就不会产生赚钱收益。 您可以通过赚钱工具中的“邀请下单”功能，把合适的产品推荐给他。',
					'怎么收益总额变少了?': '如果您和您的好友，在购买产品之后发起了退货。与退货有关的现金返利就会从收益总额中扣除。',
					'通过赚钱购买的商品和直接购买的商品有区别?': '您在MOTI到家中购买的商品都是官方正品，是全程验真的。通过赚钱购买的产品和直接购买的产品没有任何区别，都享受MOTI官方提供的售后服务。',
					'赚钱的收益可以用来购买产品吗?': '赚钱的收益是不能直接用来购买产品的，但是您可以将收益体现之后通过微信下单支付时使用。'
				},
				title: '',
				contentText: ''
			}
		},
		onLoad(options) {
			console.log(options)
			this.contentText = this.textObj[options.text]
			this.title = options.text
		}
	}
</script>

<style lang="scss">
	.detail_wrapper {
		padding: 0 24upx;
		overflow: hidden;
		background: #fff;
		height: 100%;

		.title {
			margin-top: 32upx;
			font-size: 34upx;
			line-height: 34upx;
			color: #333;
			font-weight: 600;
		}

		.content_text {
			margin-top: 24upx;
			font-size: 28upx;
			line-height: 42upx;
			color: #333;
		}

		.special {
			font-size: 28upx;
			line-height: 42upx;
			color: #333;

			.text_2 {
				color: rgb(55, 99, 228);
			}
		}
	}
</style>
