<template>
	<view class="refundOrder">
		<view class="refoundList" v-for="v in 4" :key="v">
			<view class="orderNum">
				<view class="txt">已提交申请</view>
				<view class="time">操作时间：2019.06.19</view>
			</view>
			<view class="proOrder">
				<view class="detail">
					<view class="productitem">
						<view class="orderImg">
							<image src="/static/images/good.png" mode="aspectFit"></image>
						</view>
						<view class="orderText">
							<view class="ordertitle">
								<view class="title">打发打发打发</view>
								<view class="type">颜色：红黑色</view>
							</view>
							<view class="orderPrice">
								<view class="price">¥ 123</view>
								<view class="num">x4</view>
							</view>
						</view>
					</view>
					<view class="total">
						<view class="totalCount">退款数量：4件</view>
					</view>
				</view>
				<view class="confirmBtn">
					<view class="btn" @tap="lookDetail">查看详情</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getBuyerRefunds
	} from "@/common/request.js"
	export default {
		data() {
			return {
				orderList: [{

				}]
			}
		},
		methods: {
			async refundList() {
				let buyerId = 580842177651937280;
				let {
					result
				} = await getBuyerRefunds(buyerId, 1, 2);
			}
		},
		onShow() {
			this.refundList();
		}
	}
</script>

<style lang="scss" scoped>
	.refoundList {
		padding: 0 24upx;
		background: #fff;
		margin-bottom: 20upx;

		.orderNum {
			padding-top: 32upx;
			color: #333;
			font-size: 24upx;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.txt {
				font-size: 30upx;
				font-weight: 600;
			}
		}
	}

	.proOrder {
		background: #fff;
		margin-top: 20upx;

		.topTitle {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 90upx;
			padding: 0 28upx;

			.item {
				font-size: 24upx;
				color: #333;
			}

			.proTag {
				font-size: 30upx;
				font-weight: bold;
			}
		}

		.productitem {
			width: 100%;
			display: flex;
			// padding: 0 28upx;
			align-items: center;
			background: #f9f9f9;
			box-sizing: border-box;

			.orderImg {
				flex: 1;
				height: 150upx;
				border-radius: 8upx;

				image {
					width: 100%;
					height: 100%;
					border-radius: 8upx;
				}
			}

			.allNum {
				flex: 1;
				text-align: center;
				font-size: 22upx;
				color: #000;
			}

			.orderText {
				flex: 4;
				display: flex;
				justify-content: space-between;
				padding: 14upx 20upx;

				.ordertitle {
					flex: 7;
					font-size: 26upx;
					color: #333333;

					.title {
						width: 100%;
						height: 80upx;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}

					.type {
						color: #999;
						display: flex;
						justify-content: space-between;
						align-items: center;
					}
				}

				.orderPrice {
					flex: 3;
					padding-left: 20upx;
					font-size: 24upx;
					color: #333;
					text-align: right;

					.price {
						height: 80upx;
					}

					.num {
						color: #999;
					}
				}

				.ordernum {
					font-size: 22upx;
					color: #999999;
					margin-top: 16upx;
				}
			}
		}

		.total {
			background: #fff;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: 36upx 22upx 27upx 22upx;

			.totalCount {
				font-size: 24upx;
				color: #333;
				font-weight: 600;

				span {
					color: #fa4650;
					padding-left: 20upx;
				}
			}

			.totalMoney {
				span {
					font-size: 24upx;
					font-weight: 600;
					color: #999;
					padding: 0 5upx;
				}

				.money {
					font-size: 36upx;
					color: #333;
				}
			}
		}

		.confirmBtn {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-bottom: 40upx;

			.btn {
				border: 1px solid #ddd;
				border-radius: 8upx;
				box-sizing: border-box;
				font-size: 24upx;
				color: #333;
				padding: 10upx 24upx;
				margin-right: 20upx;
			}

			.toPay {
				padding: 10upx 40upx;
			}
		}
	}
</style>
