<template>
	<view class="content" style="background: url(https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-mall/bg.png) no-repeat;">
		<view @tap="goVideo" class="step1" v-if="stepShow === 1">
			<step></step>
		</view>
		<view class="step1" v-else-if="stepShow === 2">
			<movie v-on:stepShow="showMovie"></movie>
		</view>
		<view v-else class="content" style="background: url(https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-mall/bg.png) no-repeat;">
			<view class="signHead">
				<view></view>
				<view @tap="playMusic" class="musicImg" :class="{ Rotation: isRotation }">
					<image src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-mall/music.png" mode=""></image>
				</view>
			</view>
			<view class="mobi">
				<view class="mobiTop">当前魔币</view>
				<view class="mobiNum">{{ signObj.totalScore }}</view>
			</view>
			<!-- 轮播图 -->
			<view class="swiper">
				<view class="swiper-box">
					<swiper class="swiperCon" circular="true" autoplay="true" @change="swiperChange">
						<swiper-item class="swiperItem" v-for="swiper in swiperList" :key="swiper.id">
							<image :src="swiper.img" @tap="toSwiper(swiper)" class="bannerImg" mode="aspectFit"></image>
						</swiper-item>
					</swiper>
				</view>
			</view>
			<view class="signInfo">
				<view class="infoTitle">物化弹套餐75折券</view>
				<view class="infoDec">物化弹套餐75折券</view>
				<view class="progress-box"><progress :percent="mobiNumber" active stroke-width="6" activeColor="#EAC774"
					 backgroundColor="#000000" /></view>
				<view class="infoNum">
					<view>
						<span>{{signObj.totalScore}}</span>
						/300
					</view>
					<view>{{mobiNumber}}%</view>
				</view>
			</view>
			<view class="signBottom">
				<view v-if="mobiNumber < 100">魔币不足，无法兑换</view>
				<view class="mobiBtn" v-if="false">
					<view class="btn" @tap="inviteUsers">邀请好友赚魔币</view>
				</view>
			</view>

			<uni-popup :show="showPopup" position="middle" mode="fixed" @hidePopup="togglePopup('')">
				<view class="box" style="width: 100%;">
					<coupon :coupon="signObj"></coupon>
					<view class="getButton" @tap="getCouponButton()">确定</view>
				</view>
			</uni-popup>
		</view>
	</view>
</template>

<script>
	import step from './step1/step1';
	import movie from './step2/step2';
	import uniPopup from '@/components/uni-popup/uni-popup.vue';
	import coupon from './coupon/coupon.vue';
	import {
		punchCard
	} from '@/common/request.js';
	export default {
		components: {
			step,
			movie,
			uniPopup,
			coupon
		},
		data() {
			return {
				showPopup: false,
				stepShow: false,
				inviteButton: false,
				isRotation: false,
				showCard: true,
				mobiNumber: 0,
				signObj: {},
				// 轮播图片
				swiperList: [{
						id: 1,
						src: 'url1',
						img: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-mall/dk1.png'
					},
					{
						id: 2,
						src: 'url2',
						img: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-mall/dk2.png'
					},
					{
						id: 3,
						src: 'url3',
						img: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-mall/dk3.png'
					},
					{
						id: 4,
						src: 'url4',
						img: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-mall/dk4.png'
					}
				],
				innerAudioContext: '' // 音乐播放对象
			};
		},
		onBackPress: function() {
			if (this.showPopup) {
				this.showPopup = false;
				return true;
			}
			uni.switchTab({
				url: '/pages/index/index'
			});
		},
		onShow: function() {
			// let lastSignTime = uni.getStorageSync('lastsigntime');
			// var timestamp = Date.parse(new Date());
			// if (!lastSignTime) {
			// 	this.stepShow = 1;
			// 	uni.setStorage({
			// 		key: 'lastsigntime',
			// 		data: timestamp,
			// 		success: function() {
			// 			console.log('storage now time success.');
			// 		}
			// 	});
			// } else {
			// 	if (timestamp - lastSignTime > 86400000) {
			// 		this.stepShow = 1;
			// 	}
			// }
			this.punchCard();
		},
		onLoad() {
			this.innerAudioContext = uni.createInnerAudioContext() // 生成音乐播放器对象
			this.innerAudioContext.src = 'https://img-cdn-qiniu.dcloud.net.cn/uniapp/audio/music.mp3' // 设置地址
		},
		methods: {
			toSwiper() {

			},
			punchCard: async function() { //	打卡
				let succ = await punchCard()
				if (succ.code == 0) {
					this.signObj = succ.result
					// this.signObj.punchCardFlag = true
					if (this.signObj.punchCardFlag) { // 这次是打卡了
						this.stepShow = 1 //  显示 "MOTI" 一下 动画开始页面
						this.showPopup = true // 	显示优惠券 和 积分领取情况弹窗
					}

					this.mobiNumber = parseInt(this.signObj.totalScore * 100 / 300)
					this.mobiNumber = this.mobiNumber >= 100 ? 100 : this.mobiNumber
					uni.setStorage({
						key: 'sign',
						data: this.signObj
					})

				} else {
					let that = this
					that.showPopup = false
					uni.getStorage({
						key: 'sign',
						success: function(res) {
							that.signObj = res.data;
							that.mobiNumber = parseInt(that.signObj.totalScore * 100 / 300);
							this.mobiNumber = this.mobiNumber >= 100 ? 100 : this.mobiNumber
							uni.showModal({
								title: '成功',
								content: `${succ.data.msg}`,
								success() {
									uni.redirectTo({
										url: '/pages/discounts/discounts'
									})
								}
							})
						}
					})
				}
			},
			togglePopup(type) {
				this.showPopup = !!type;
			},
			//轮播图指示器
			swiperChange(event) {
				this.currentSwiper = event.detail.current;
			},
			goVideo: function() {
				this.stepShow = 2;
			},
			showMovie: function(data) {
				this.stepShow = data;
			},
			// 邀请好友赚魔币
			inviteUsers: function() {
				this.inviteButton = true;
			},
			// 播放背景音乐 暂停和播放
			playMusic: function() {
				this.isRotation = !this.isRotation;

				this.isRotation ? this.innerAudioContext.play() : this.innerAudioContext.pause()
			},
			getCouponButton: async function() {
				this.showPopup = false
				uni.redirectTo({
					url: '/pages/discounts/discounts'
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.getButton {
		height: 80upx;
		background-color: #000000;
		border-radius: 5upx;
		font-family: MicrosoftYaHei;
		text-align: center;
		line-height: 2;
		margin: 0 100upx;
		border-radius: 10upx;
		background: #eee;
		color: #000;
	}

	@-webkit-keyframes rotation {
		from {
			-webkit-transform: rotate(0deg);
		}

		to {
			-webkit-transform: rotate(360deg);
		}
	}

	.Rotation {
		-webkit-transform: rotate(360deg);
		animation: rotation 3s linear infinite;
		-moz-animation: rotation 3s linear infinite;
		-webkit-animation: rotation 3s linear infinite;
		-o-animation: rotation 3s linear infinite;
	}

	.step1 {
		height: 100%;
	}

	.content {
		//height: 100%;
		padding-bottom: 100upx;
		color: #fff;
		height: 100%;

		.content1 {
			height: 100%;

		}

		.signHead {
			display: flex;
			padding: 60upx 40upx;
			padding-bottom: 0;
			justify-content: space-between;
			align-items: center;

			view {
				font-size: 22upx;
			}

			.musicImg {
				image {
					width: 65upx;
					height: 65upx;
				}
			}
		}

		.mobi {
			height: 80upx;

			view {
				text-align: center;
			}

			.mobiTop {
				font-size: 22upx;
			}

			.mobiNum {
				font-size: 48upx;
			}
		}

		.swiper {
			padding: 40upx;

			.swiperCon {
				height: 450upx;
				text-align: center;

				image {
					height: 500upx;
				}
			}
		}

		.signInfo {
			width: 80%;
			margin: 40upx auto;

			view {
				margin-bottom: 20upx;
			}

			.infoTitle {
				font-size: 24upx;
			}

			.infoDec {
				font-size: 20upx;
				color: #666666;
			}

			.infoNum {
				display: flex;
				justify-content: space-between;

				view {
					font-size: 20upx;
					color: #666666;

					span {
						color: #fff;
					}
				}
			}
		}

		.signBottom {

			//margin-top: 50upx;
			view {
				font-size: 22upx;
				color: #666666;
				text-align: center;
			}

			.mobiBtn {
				margin-top: 20upx;

				.btn {
					width: 280upx;
					height: 70upx;
					margin: 0 auto;
					color: #fff;
					text-align: center;
					line-height: 70upx;
					border: 2upx solid #666;
					border-radius: 10upx;
				}
			}
		}
	}

	.box {
		background: #eee;
	}
</style>
