<template>
	<view>
		<view class="in18_mask">
			<image src="/static/images/nonage.png" mode="aspectFill"></image>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		methods: {

		}
	}
</script>

<style lang="scss">
	.in18_mask {
		padding: 0 20upx;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .9);
		display: flex;
		justify-content: center;

		image {
			margin-top: 300upx;
			width: 540upx;
			height: 680upx;
			// height: 460upx;
			flex-shrink: 0;
		}
	}
</style>
