<template>
	<view class="refoundBox">
		<view class="refoundList" v-for="v in 2" :key="v">
			<view class="orderNum">订单号：2222333444555</view>
			<view class="proOrder">
				<view class="detail">
					<view class="productitem">
						<view class="orderImg">
							<image src="/static/images/good.png" mode="aspectFit"></image>
						</view>
						<view class="orderText">
							<view class="ordertitle">
								<view class="title">打发打发打发</view>
								<view class="type">颜色：红黑色</view>
							</view>
							<view class="orderPrice">
								<view class="price">¥ 123</view>
								<view class="num">x4</view>
							</view>
						</view>
					</view>
					<view class="total">
						<view class="totalCount">可退4件商品</view>
						<view class="totalMoney">
							<span>合计：¥</span>
							<span class="money">123</span>
						</view>
					</view>
				</view>
				<view class="confirmBtn">
					<view class="btn" @tap="refundMoney">申请退款</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	// import list from '../../components/list/orderList.vue'

	export default {
		data() {
			return {
				myOrder: [{
					afterSale: 0,
					orderId: 1000,
					shopName: 'Top的专属MOTI小店',
					payStatus: 0,
					picture: [{
						picUrl: '/static/good.png'
					}],
					productTitle: 'MOTI D13 电子烟套装雾化换弹小烟（1烟杆+3烟袋）',
					color: '谈蓝色',
					totalCount: 3,
					totalPrice: 999.80,
				}, {
					afterSale: 0,
					orderId: 1001,
					shopName: 'Top的专属MOTI小店',
					payStatus: 1,
					picture: [{
						picUrl: '/static/good.png'
					}],
					productTitle: 'MOTI D13 电子烟套装雾化换弹小烟（1烟杆+3烟袋）',
					color: '谈蓝色',
					totalCount: 3,
					totalPrice: 999.80,
				}, {
					afterSale: 0,
					orderId: 1002,
					shopName: 'Top的专属MOTI小店',
					payStatus: 2,
					picture: [{
						picUrl: '/static/good.png'
					}],
					productTitle: 'MOTI D13 电子烟套装雾化换弹小烟（1烟杆+3烟袋）',
					color: '谈蓝色',
					totalCount: 3,
					totalPrice: 999.80,
				}, {
					afterSale: 0,
					orderId: 1003,
					shopName: 'Top的专属MOTI小店',
					payStatus: 3,
					picture: [{
						picUrl: '/static/good.png'
					}, {
						picUrl: '/static/good.png'
					}, {
						picUrl: '/static/good.png'
					}, {
						picUrl: '/static/good.png'
					}],
					productTitle: 'MOTI D13 电子烟套装雾化换弹小烟（1烟杆+3烟袋）',
					color: '谈蓝色',
					totalCount: 3,
					totalPrice: 999.80,
				}, {
					afterSale: 0,
					orderId: 1004,
					shopName: 'Top的专属MOTI小店',
					payStatus: 4,
					picture: [{
						picUrl: '/static/good.png'
					}],
					productTitle: 'MOTI D13 电子烟套装雾化换弹小烟（1烟杆+3烟袋）',
					color: '谈蓝色',
					totalCount: 3,
					totalPrice: 999.80,
				}, {
					afterSale: 0,
					orderId: 1005,
					shopName: 'Top的专属MOTI小店',
					payStatus: 5,
					picture: [{
						picUrl: '/static/good.png'
					}],
					productTitle: 'MOTI D13 电子烟套装雾化换弹小烟（1烟杆+3烟袋）',
					color: '谈蓝色',
					totalCount: 3,
					totalPrice: 999.80,
				}]
			}
		},
		onLoad() {
			console.log(1111111)
			this.refundList();
		},
		methods: {
			refundMoney() {
				uni.navigateTo({
					url: '/pages/refundSubmit/refundSubmit',
					animationType: 'pop-in',
					animationDuration: 200
				})
			},

		}
	}
</script>

<style lang="scss" scoped>
	.refoundList {
		padding: 0 24upx;
		background: #fff;
		margin-bottom: 20upx;

		.orderNum {
			padding: 24upx 0 2upx 0;
			color: #333;
			font-size: 24upx;
		}
	}

	.proOrder {
		background: #fff;
		margin-top: 20upx;

		.topTitle {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 90upx;
			padding: 0 28upx;

			.item {
				font-size: 24upx;
				color: #333;
			}

			.proTag {
				font-size: 30upx;
				font-weight: bold;
			}
		}

		.productitem {
			width: 100%;
			display: flex;
			// padding: 0 28upx;
			align-items: center;
			background: #f9f9f9;
			box-sizing: border-box;

			.orderImg {
				flex: 1;
				height: 150upx;
				border-radius: 8upx;

				image {
					width: 100%;
					height: 100%;
					border-radius: 8upx;
				}
			}

			.allNum {
				flex: 1;
				text-align: center;
				font-size: 22upx;
				color: #000;
			}

			.orderText {
				flex: 4;
				display: flex;
				justify-content: space-between;
				padding: 14upx 20upx;

				.ordertitle {
					flex: 7;
					font-size: 26upx;
					color: #333333;

					.title {
						width: 100%;
						height: 80upx;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}

					.type {
						color: #999;
						display: flex;
						justify-content: space-between;
						align-items: center;
					}
				}

				.orderPrice {
					flex: 3;
					padding-left: 20upx;
					font-size: 24upx;
					color: #333;
					text-align: right;

					.price {
						height: 80upx;
					}

					.num {
						color: #999;
					}
				}

				.ordernum {
					font-size: 22upx;
					color: #999999;
					margin-top: 16upx;
				}
			}
		}

		.total {
			background: #fff;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: 36upx 22upx 27upx 22upx;

			.totalCount {
				font-size: 24upx;
				color: #999;

				span {
					color: #fa4650;
					padding-left: 20upx;
				}
			}

			.totalMoney {
				span {
					font-size: 24upx;
					font-weight: 600;
					color: #999;
					padding: 0 5upx;
				}

				.money {
					font-size: 36upx;
					color: #333;
				}
			}
		}

		.confirmBtn {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-bottom: 40upx;

			.btn {
				border: 1px solid #ddd;
				border-radius: 8upx;
				box-sizing: border-box;
				font-size: 24upx;
				color: #333;
				padding: 10upx 24upx;
				margin-right: 20upx;
			}

			.toPay {
				padding: 10upx 40upx;
			}
		}
	}
</style>
