<template>
	<view class="countdown">
		<text style="margin-left: 10upx;">{{d}}</text>
		<text>天</text>
		<text style="margin-left: 10upx;">{{h}}</text>
		<text>时</text>
		<text style="margin-left: 10upx;">{{i}}</text>
		<text>分</text>
	</view>
</template>
<script>
	import countdown from '@/components/countdown/countdown.js'
	export default countdown
</script>
<style>
	@charset "UTF-8";

	.countdown {
		padding: 2upx 0;
		display: inline-flex;
		flex-wrap: nowrap;
		justify-content: center;
		font-size: 24upx;
	}
</style>