<template>
	<form report-submit @submit="formSubmit" class="form_layout">
		<button class="form_layout_btn" formType="submit" plain="true"></button>
	</form>
</template>

<script>
	import { saveFormIds } from '@/common/request.js'
	export default {
		methods: {
			formSubmit(e) {
				console.log(e.detail.formId);
				saveFormIds(e.detail.formId)
				// this.$store.commit('addFormId', e.detail.formId)
			}
		}
	}
</script>

<style lang="scss">
	.form_layout {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		.form_layout_btn {
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
			border: none;
		}
	}
</style>
