<template>
	<view class='uni-deal'>
		<view class="title">MOTI到家用户协议</view>
		<view class="tit">您在使用MOTI到家提供的各项服务之前，请您务必审慎阅读、充分理解本协议各条款内容，特别是以粗体标注的部分，包括但不限于免除或者限制责任的条款。如您不同意本服务协议及/或随时对其的修改，您应立即停止注册；您一旦使用有MOTI到家提供的服务，即视为您已了解并完全同意本服务协议各项内容</view>
		<view class='uni-tit'>一、账号注册</view>
		<text>1、您应当同意本协议的条款并按照页面上的提示完成全部的注册程序。您在进行注册程序或第三方授权登录程序过程中勾选协议即表示您与MOTI到家达成协议，完全接受本协议项下的全部条款约束。</text>
		<text>2、当您选择通过第三方授权登录程序进入MOTI到家，您需授权MOTI到家收集您的账号昵称、头像、手机号等个人信息，授权完成后，您即成为MOTI到家的“用户”。
			当您按照注册页面提示填写信息并注册成功后，您即成为MOTI到家的“用户”；MOTI到家将给予您一个用户帐号，密码由您自行设置。该用户帐号和密码由您自行负责保管。
			您应当对您在MOTI到家进行的行为负法律责任。</text>
		<text>3、本协议服务条款和公告可由MOTI到家定时更新，并按照法定流程进行公示。</text>
		<text>4、使用同一身份认证信息、同一手机号或经MOTI到家排查认定多个账户的实际控制人为同一人的，均视为同一用户。</text>
		<text>5、您确认，您于MOTI到家上开展的行为与中华人民共和国法律规定的您的行为民事行为能力相符。若您不具备前述与您行为相适应的民事行为能力，则您需要在您监护人的陪同下完成注册，并且您与您的监护人应依照法律规定承担因此而导致的一切后果。</text>
		<text>6、MOTI到家所提供的电子烟产品及相关服务，仅供18岁及以上人士使用。如您未满18周岁，请停止使用此服务。</text>
		<view class="uni-tit">二、注册信息和隐私保护</view>
		<text>1、您按注册页面引导填写信息，阅读并同意本协议且完成全部注册程序后，即可获得注册账号并成为用户。您应提供及时、详尽及准确的个人资料，并尽量按照及时、准确地按照要求更新资料。所有原始键入的资料将引用为注册资料。如果因注册信息不真实或更新不及时而引发的相关问题，由您自行承担相应的责任。</text>
		<text>2、您应当通过真实身份信息认证注册帐号，且您提交的帐号名称、头像、简介等注册信息中不得出现违法或不良信息，经我司审核，如存在上述情况，MOTI到家将不予注册；同时，在注册后，如发现您以虚假信息骗取帐号名称注册，或者您的帐号头像、简介等注册信息存在违法或不良信息的，MOTI到家有权不经通知单方采取限期改正、暂停使用、注销登记、收回等措施。</text>
		<text>3、您帐号包括帐户名称和密码，账户名称作为您有效的身份凭证之一。您可使用手机号和验证码登录，要可以通过绑定微信授权登录MOTI到家。</text>
		<text>4、您不应将您的帐号或密码转让、出售或出借予他人使用。若您授权他人使用您所有的帐户，应对被授权人在该帐户下发生所有行为负全部责任。仅当依法律法规、司法裁定或经MOTI到家同意，并符合MOTI到家规定的用户帐号转让流程的情况下，方可进行帐号的转让。</text>
		<text>5、当您使用MOTI到家产品进行支付、登录等操作的时候，服务器会自动接收、验证、记录必要的信息（如手机号码、IP地址、服务访问异常信息、以及部分设备信息等）以保障您在使用服务时账户登录和支付过程的安全，进而保护您的上网安全。</text>
		<text>6、您在阅读《用户协议》和《隐私政策》后勾选确认并使用MOTI到家的服务，即表示您同意MOTI到家可以按照《隐私政策》处理您的个人信息。MOTI到家可能会与合作伙伴共同向您提供您所要求的服务或者共同向您展示您可能感兴趣的内容。在您授权MOTI到家使用这些信息为该项产品/服务所必须的情况下，您同意MOTI到家可与合作伙伴分享该信息。并且，MOTI到家会要求合作伙伴确保数据安全并且禁止信息滥用</text>
		<text>7、MOTI到家尊重用户个人权益，不会向任何无关第三方提供或分享用户信息。</text>
		<text>8、您知悉并授权，MOTI到家仅在您授权的情况下使用或与关联公司同步您的信息，以便于为您提供更好的服务。</text>
		<text>9、为更好地为您提供服务，您同意MOTI到家通过短信、app通知等形式向您发送相关商业性服务信息。</text>
		<view class="uni-tit">三、使用规则</view>
		<view class="tit">1、您在使用MOTI到家的服务时，必须遵守中华人民共和国相关法律法规的规定，您应同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为:</view>
		<text>（1）您设置的会员名或提供的信息不得含有下列内容之一的信息：</text>
		<text>① 反对宪法所确定的基本原则的；</text>
		<text>② 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</text>
		<text>③ 损害国家荣誉和利益的；</text>
		<text>④ 煽动民族仇恨、民族歧视、破坏民族团结的；</text>
		<text>⑤ 破坏国家宗教政策，宣扬邪教和封建迷信的；</text>
		<text>⑥ 散布谣言，扰乱社会秩序，破坏社会稳定的；</text>
		<text>⑦ 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</text>
		<text>⑧ 侮辱或者诽谤他人，侵害他人合法权利的；</text>
		<text>⑨ 含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；</text>
		<text>⑩ 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；</text>
		<view class="tit">（2）不得为任何非法目的而使用MOTI到家服务系统；</view>
		<view class="tit">（3）不利用MOTI到家的服务从事以下活动：</view>
		<text>① 未经允许，进入计算机信息网络或者使用计算机信息网络资源的；</text>
		<text>② 未经允许，对计算机信息网络功能进行删除、修改或者增加的；</text>
		<text>③ 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</text>
		<text>④ 故意制作、传播计算机病毒等破坏性程序的；</text>
		<text>⑤ 其他危害计算机信息网络安全的行为。</text>
		<view class="tit">2、您违反本协议或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，您同意赔偿MOTI到家及其合作公司、关联公司，并使之免受损害。对此，MOTI到家有权视您的行为性质，采取包括但不限于删除您发布信息内容、暂停使用许可、终止服务、限制使用、回收帐号、追究法律责任等措施。对恶意注册帐号或利用帐号进行违法活动、捣乱、骚扰、欺骗、其他用户以及其他违反本协议的行为，MOTI到家有权回收您的帐号。同时，MOTI到家会视国家相关部门的要求，协助调查。</view>
		<view class="tit">3、您需要对自己在服务使用过程中的行为负法律责任，即使您已经终止使用该服务。您承担法律责任的形式包括但不限于：对受到侵害者进行赔偿；在MOTI到家承担了因您的行为导致的行政处罚或赔偿责任后，MOTI到家对您进行的等额追偿。</view>
		<view class="tit">4、MOTI到家有权根据认定程序及标准判断您账户的使用可能危及您的账户安全及/或MOTI到家平台信息安全的，MOTI到家可拒绝提供相应服务或终止本协议。</view>
		<view class="uni-tit">四、服务内容</view>
		<view class="tit">商品购买和售后服务</view>
		<text>1、您有权在MOTI到家H5/小程序/客户端浏览商品/服务的信息、有权通过MOTI到家/达成订单、支付价款等。</text>
		<text>2、您有权按照MOTI到家发布的活动规则参与活动。</text>
		<text>3、您有权享受MOTI到家承诺为您提供的其他服务。</text>
		<text>4、MOTI到家保留对平台上发布的活动策略、满减策略、补贴策略等信息的最终解释权。</text>
		<text>5、您在MOTI到家购买的产品均可享受国家规定的7天无理由退货服务。但您在退货的同时，与退货订单有关的活动补贴、返现等返利权益也将一并取消。如果您退回的商品包装或标牌损坏，影响我司二次销售或多次恶意退换货，MOTI到家有权拒绝您的退换货申请。</text>
		<text>6、对非商品质量问题产生的退换货，包邮商品由MOTI到家承担退货邮费。
			非包邮商品需要您承担发货和退货邮费，MOTI到家不会对您退货中的物流费用进行补贴。</text>
		<text>7、在您成功下单并支付之后，货款将于1-2个工作日划转至MOTI到家的账户。如您在7天之内申请退货退款，该货款将原路退回您的支付账户。MOTI到家不会在其中收取任何形式的费用。</text>
		<view class="tit">“赚钱”及相关服务</view>
		<text>1、您有权自由支配在“赚钱”账户中的可提现金额。在满足提现的条件下，可随时提现到账户绑定的微信账号。MOTI到家不会对您的“赚钱”账户收取任何形式的费用。</text>
		<text>2、您有权按照“赚钱”中所规定的方式获取相关返现MOTI到家保留对返现的标准、发放规则等细则的最终解释权，并保证不会对返现抽取任何分成。</text>
		<text>3、您在“赚钱”中的返现均以最终实际效果为准（如订单达成且未退货、推荐人成为MOTI到家代理商等），只有在MOTI到家确认收入最终到账的前提下，您的“赚钱”返现才会变为可提现状态。</text>
		<view class="tit">1小时到家平台服务</view>
		<text>1、在使用“1小时到家”配送服务时，您购买的商品及发货流程均由认证商家提供，物流配送由三方服务商提供。在认证商家和配送服务商准入之前，MOTI到家已对他们的相关资质进行了审核。如果您在交易过程中与商家发生争议的，可以自行协商解决，也可以申请MOTI到家介入处理。若您觉得以上的方式均无法达到您要的结果，您可以寻求司法机关的协助。</text>
		<text>2、MOTI到家建议您在申请售后时，优先通过与店家协商的方式处理相关问题。</text>
		<text>3、若您选择MOTI到家介入的方式处理相关问题，那么您需要遵守和执行MOTI到家的处理结果。若您对MOTI到家的处理结果不满意，您可以寻求其他途径解决与商家的纠纷，例如起诉、仲裁等方式。</text>
		<view class="tit">商家按照MOTI到家的售后标准执行退换货策略，如出现商家违反相关标准的情况，我们将对其进行处理，包含冻结与您的订单有关的收入、介入退款退货等方式。MOTI到家将全力维护您的合法权益。</view>
		<view class="tit">终止服务</view>
		<text>您同意，若MOTI到家认为您已经违反本服务协议的内容及精神，终止您的密码、帐号或本服务之使用（或服务之任何部分），并将您在本服务内任何内容加以移除并删除。您同意依本服务协议任何规定提供之本服务，无需进行事先通知即可中断或终止，您承认并同意，MOTI到家可立即关闭或删除您的帐号及您帐号中所有相关信息及文件，及/或禁止继续使用前述文件或本服务。此外，您同意若本服务之使用被中断或终止或您的帐号及相关信息和文件被关闭或删除，MOTI到家对您或任何第三人均不承担任何责任。</text>
		<view class="uni-tit">五、个人数据保护与授权</view>
		<view class="tit">1、为了保护您的财产及信息安全，预防诈骗或者其他网络犯罪行为，MOTI到家有权经您同意后收集您的个人信息，包括但不限于个人会员信息、交易信息来判断您个人的交易风险，对您身份进行验证等。</view>
		<view class="tit">2、根据相关法律法规规定，以下情形中收集您的个人信息无需征得您的授权同意：</view>
		<text>①、涉及公共安全，与重大利益相关的；</text>
		<text>②、与政府部门包括司法机关等相关的；</text>
		<text>③、出于保护您的个人财产或者利益的目的，但无法事先征求您同意的行为；</text>
		<text>④、您以自行对外公开的，包括但不限于通过报纸、新闻等方式公开；</text>
		<text>⑤、根据您的要求签订合同所必需的；</text>
		<text>⑥、用于维护所提供的产品或服务的安全稳定运行所必需的，例如发现、处置产品或服务的故障；</text>
		<text>⑦、国家法律法规政策认可或支持的相关行为；</text>
		<view class="tit">3、我们已采取符合业界标准、合理可行的安全防护措施保护您提供的个人信息安全，防止个人信息遭到未经授权访问、公开披露、使用、修改、损坏或丢失。</view>
		<view class="uni-tit">六、免责声明</view>
		<view class="tit">因以下情况造成网络服务在合理时间内的中断，MOTI到家无需为此承担任何责任；</view>
		<text>（1）因台风、地震、洪水、雷电或恐怖袭击等不可抗力原因；</text>
		<text>（2）您的电脑软硬件和通信线路、供电线路出现故障的；</text>
		<text>（3）因病毒、木马、恶意程序攻击、网络拥堵、系统不稳定、系统或设备故障、通讯故障、电力故障、银行原因、第三方服务瑕疵或政府行为等原因。
			尽管有前款约定，MOTI到家将采取合理行动积极促使服务恢复正常。</text>
		<view class="uni-tit">七、知识产权和其他合法权益</view>
		<text>1、MOTI到家产品及相关网站上由MOTI到家上传、制作、拥有的所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由MOTI到家或其关联公司依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。但如因您上传的由其自行制作、拥有的内容涉及侵犯MOTI到家或其他任何第三方的合法权益的，您应自行对其侵权行为产生的纠纷进行处理，并对其侵权行为承担法律责任，且就由此给MOTI到家造成的损失（包括但不限于MOTI到家声誉的影响、MOTI到家由此承担的连带责任（如有）等）进行赔偿。</text>
		<text>2、非经MOTI到家或其关联公司书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表在本网站上程序或内容（仅限于由MOTI到家上传、制作、拥有的所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计等）；如您需使用著作权非MOTI到家所有的内容的，您应获得具体内容的著作权所有者的合法授权才能使用，如因您私自使用非自己所有的、且未经他人合法授权的著作、图片、档案、资讯、资料等内容的，由您自行承担责任，包括但不限于您自行对其侵权行为产生的纠纷进行处理，并对其侵权行为承担法律责任，且就由此给乙方造成的损失（包括但不限于乙方声誉的影响、乙方由此承担的连带责任（如有）等）进行赔偿。</text>
		<text>3、尊重知识产权是您应尽的义务，如有违反，您应承担损害赔偿责任。</text>
		<view class="uni-tit">八、其他</view>
		<text>1、本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，没有相关法律规定的，参照通用国际商业惯例和（或）行业惯例。</text>
		<text>2、 如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余条款则仍具有法律效力。</text>
		<text>3、本协议任何一方于另一方过失或违约时放弃本协议规定的权利的，不得视为其对一方的其他或以后同类之过失或违约行为弃权。</text>
		<text>4、MOTI到家未行使或执行本服务协议任何权利或规定，不构成对前述权利或权利之放弃。</text>
		<text>5、本协议最终解释权及修订权在我国法律范围内归MOTI到家所有。</text>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			};
		}
	}
</script>

<style lang="scss">
	.uni-deal {
		padding: 30upx;
		background: #fff;
		text-align: justify;
		font-size: 26upx;
		color: #666;

		.title {
			font-size: 32upx;
			font-weight: 600;
			color: #333;
			text-align: center;
		}

		.uni-tit {
			color: #333;
			font-weight: 600;
			margin: 60upx 0 30upx;
		}

		.tit {
			margin-top: 30upx;
			margin-bottom: 10upx;
		}

		text {
			display: block;
			margin-top: 5upx;
			margin-bottom: 30upx;
		}
	}
</style>
