<template>
	<view class="listAbout">
		<view class="proOrder">
			<view>
				<view class="topTitle">
					<view class="item">MOTI商城</view>
					<view class="item proTag">{{statusText}}</view>
				</view>
				<view class="productitem" v-for='(item,index) in options.tradeOrderItemVos' :key="index" @tap="goOrderInfo(options.id)">
					<view class="orderImg">
						<image :src="item.pictureUrl" mode="aspectFit"></image>
					</view>
					<view class="orderText">
						<view class="ordertitle">
							<view class="title">{{item.spuName}}</view>
							<view class="type">
								<text>规格：{{item.skuName}}</text>
								<text>x{{item.skuNum}}</text>
							</view>
						</view>
					</view>
				</view>
				<view class="total">
					<template>
						<text class="text text_1">共{{options.tradeOrderItemVos.length}}件商品</text>
						<text class="text text_2">合计:¥</text>
						<text>{{totlePrice}}</text>
					</template>
				</view>
			</view>
			<!-- v-if="options.afterSale==0" -->
			<view class="confirmBtn">
				<view class="btn" @tap.stop="callPhone" v-track-event="{category:'订单页面', action:'联系客服',label:'联系客服'}">联系客服</view>
				<template v-if="options.orderStatus==10 && options.orderYn == 1">
					<view class="btn" @tap.stop="cancelOrder" v-track-event="{category:'订单页面', action:'取消订单',label:'取消订单'}">取消订单</view>
					<view class="btn toPay" @tap.stop="toPay" v-track-event="{category:'订单页面', action:'去支付',label:'去支付'}">去支付</view>
				</template>
				<template v-if="options.payStatus==1">
					<view class="btn" @tap.stop="cancelOrder" v-track-event="{category:'订单页面', action:'取消订单',label:'取消订单'}">取消订单</view>
					<view class="btn" @tap.stop="remind(options.orderId)" v-track-event="{category:'订单页面', action:'提醒发货',label:'提醒发货'}">提醒发货</view>
				</template>
				<template v-if="options.payStatus==2">
					<view class="btn" @tap.stop="cancelOrder" v-track-event="{category:'订单页面', action:'取消订单',label:'取消订单'}">取消订单</view>
					<view class="btn" @tap.stop="buyAgian" v-track-event="{category:'订单页面', action:'重新购买',label:'重新购买'}">重新购买</view>
				</template>
				<!-- <template v-if="options.payStatus==3"> -->
				<template v-if="options.orderStatus==20">
					<!-- <view class="btn" @tap.stop="customer(options.orderId)">联系客服</view> -->
					<!-- <view class="btn" @tap.stop="applyRefund">申请退款</view> -->
				</template>
				<template v-if="options.payStatus==4">
					<view class="btn" @tap.stop="contactRider">联系骑手</view>
					<view class="btn" @tap.stop="contactShop(options.orderId)">联系小店</view>
					<view class="btn" @tap.stop="confirmGood" v-track-event="{category:'确认收货', action:'确认收货',label:'确认收货'}">确认收货</view>
				</template>
				<template v-if="options.payStatus==5">
					<!-- <view class="btn" @tap.stop="customer(options.orderId)">联系客服</view> -->
					<view class="btn" @tap.stop="contactShop(options.orderId)">联系小店</view>
					<!-- <view class="btn" @tap.stop="afterSell">申请售后</view> -->
					<view class="btn" @tap.stop="isProductTrue">商品验真</view>
				</template>
				
				<template v-if="options.payStatus==30 && options.distributionId == 1">
					<view class="btn" @tap.stop="confirmRecive">确认收货</view>
				</template>
			</view>
			<!-- <view class="confirmBtn" v-else>
				<template v-if="options.applyAfterSale==0">
					<view class="btn" @tap="afterSell">申请售后</view>
				</template>
				<template v-else>
					<view class="btn toPay" @tap="dropInDoor">上门取件</view>
				</template>
			</view> -->
		</view>
	</view>
</template>
<script>
	import {
		getOrderStatus,
	} from '@/common/utils.js'
	import { confirmFinishOrder } from '@/common/request.js'
	export default {
		props: {
			options: {
				type: Object,
			},
			index: {
				type: Number
			}
		},
		data() {
			return {
				stauts: {
					10: '待付款',
					20: '待发货',
					25: '部分发货',
					30: '待收货',
					99: '完成'
				},
				totalGoodsNum: 0,
				totalPrice: 0,
			}
		},
		computed: {
			statusText() {
				const status = getOrderStatus(this.options.isRefund, this.options.orderYn, this.options.orderStatus, this.options.distributionId)
				return status.status
			},
			totlePrice() {
				// let orderDiscountMoney = this.options.orderDiscountMoney || 0
				// - +orderDiscountMoney + +this.options.freight
				return +this.options.orderMoney
			}
		},
		created() {
			this.totalGoodsNum = this.options.tradeOrderItemVos.length
		},
		methods: {
			callPhone() {
				this.MonitorEvent('cust_server');	// 大数据按钮埋点 cust_server
				this.$wxBuryDot('my_order_cust_server')
				uni.makePhoneCall({
					phoneNumber: '400-012-6828' //仅为示例
				});
			},
			goOrderInfo(id) {
				uni.navigateTo({
					url: `/pages/orderInfo/orderInfo?orderId=${id}`
				});
			},
			timeFun(time) {
				// let i = time.indexOf(' ');
				// return time.substring(0,i);
			},

			toPay() {
				this.MonitorEvent('pay_ord');	// 大数据按钮埋点 pay_ord
				const params =
					`orderId=${this.options.id}&orderNo=${this.options.orderNo}&price=${this.options.orderMoney}&spuName=${this.options.tradeOrderItemVos[0].spuName}`;
				uni.navigateTo({
					url: `/pages/payWay/payWay?${params}`
				});
			},
			remind(id) {
				console.log(id + '提醒发货')
			},
			cancelOrder() {
				this.MonitorEvent('canc_ord');	// 大数据按钮埋点 canc_ord
				console.log('取消订单', this.options);
				// uni.navigateTo({
				// 	url: `../../pages/orderInfo/orderInfo?sendType=` + 'cancelOrder'
				// });
				this.$wxBuryDot('ord_detail_confirm')
				this.$emit('cancelOrder', this.options.id)
			},
			//取消订单
			customer(id) {
				console.log(id + '联系客服')
			},
			contactShop(id) {
				console.log(id + '联系小店')
			},
			contactRider() {
				console.log('联系骑手')
			},
			confirmGood() {
				console.log('确认收货')
			},
			buyAgian() {
				console.log('再次购买')
			},
			applyRefund() {
				let param = {};
				// let orderInfo = {};
				// let refundInfo ={};
				let infoObj = this.options;
				let list = infoObj.tradeOrderItemVos;
				param.orderId = infoObj.id;
				param.orderMoney = infoObj.orderMoney;
				param.orderNo = infoObj.orderNo;
				let goodsList = [];
				for (var i = 0; i < list.length; i++) {
					let info = {};
					info.pictureUrl = list[i].pictureUrl;
					info.spuName = list[i].spuName;
					info.skuName = list[i].skuName;
					info.skuNum = list[i].skuNum;
					// orderInfo.orderId = list[i].orderId;
					goodsList.push(info);
				}
				param.goodsList = goodsList;
				param.buyerId = infoObj.buyerId;
				console.log(param);
				uni.setStorageSync('refundInfo', param);
				uni.navigateTo({
					url: `/pages/refundSubmit/refundSubmit`
				})
			},
			afterSell() {
				console.log('申请售后')
			},
			isProductTrue() {
				console.log('商品验真')
			},
			dropInDoor() {
				console.log('上门取件')
			},
			orderDetail() {
				uni.navigateTo({
					url: '/pages/orderInfo/orderInfo'
				})
			},
			confirmRecive() {
				const _this = this
				uni.showModal({
					title: '提示',
					content: '确认收货吗?',
					success(res) {
						if (res.confirm) {
							confirmFinishOrder(_this.options.id)
						}
					}
				})
			}
		}
	}
</script>
<style lang="scss" scoped>
	.proOrder {
		background: #fff;
		margin-top: 20upx;
		padding: 0 28upx;

		.topTitle {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 90upx;
			// padding: 0 28upx;

			.item {
				font-size: 24upx;
				color: #333;
			}

			.proTag {
				font-size: 30upx;
				font-weight: 600;
			}
		}

		.productitem {
			margin-bottom: 20upx;
			width: 100%;
			display: flex;
			align-items: center;
			background: #f9f9f9;
			box-sizing: border-box;


			.orderImg {
				width: 200upx;
				height: 200upx;
				flex-shrink: 0;
				// height: 150upx;
				border-radius: 8upx;
				display: flex;
				justify-content: center;
				align-items: center;

				image {
					height: 200upx;
					border-radius: 8upx;
				}
			}

			.allNum {
				flex: 1;
				text-align: center;
				font-size: 22upx;
				color: #000;
			}

			.orderText {
				flex-grow: 1;
				// flex: 4;
				display: flex;
				justify-content: space-between;
				padding: 14upx 20upx;

				.ordertitle {
					flex: 7;
					font-size: 24upx;
					color: #333333;

					.title {
						width: 100%;
						height: 80upx;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}

					.type {
						font-size: 24upx;
						color: #999;
						display: flex;
						justify-content: space-between;
						align-items: flex-end;
					}
				}

				.orderPrice {
					flex: 3;
					padding-left: 20upx;
					font-size: 24upx;
					color: #333;
					text-align: right;

					.num {
						color: #999;
					}
				}

				.ordernum {
					font-size: 22upx;
					color: #999999;
					margin-top: 16upx;
				}
			}
		}

		.total {
			color: #FF4A65;
			font-size: 36upx;
			text-align: right;
			margin-bottom: 20upx;

			.text {
				color: #999;
				font-size: 24upx;
			}

			.text_1 {
				margin-right: 20upx;
			}

			.text_2 {
				margin-right: 10upx;
			}

			.totalCount {
				font-size: 24upx;
				color: #999;

				span {
					color: #FA4650;
					padding-left: 20upx;
				}
			}

			.totalMoney {
				line-height: 1;

				span {
					font-size: 24upx;
					font-weight: 600;
					color: #999;
					padding: 0 5upx;
				}

				.money {
					font-size: 36upx;
					color: #fa4650;
				}
			}
		}

		.confirmBtn {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-bottom: 40upx;

			.btn {
				border: 1px solid #ddd;
				border-radius: 8upx;
				box-sizing: border-box;
				font-size: 24upx;
				color: #333;
				padding: 10upx 24upx;
				margin-left: 20upx;
			}

			.toPay {
				padding: 10upx 40upx;
			}
		}
	}
</style>
