<template>
	<view class="listAbout">
		<view class="proOrder">
			<view>
				<view class="topTitle">
					<view class="item">{{payStatusList[options.refundStatus]}}</view>
				</view>
				<view class="productitem">
					<!-- options.pictureUrl.length==1 -->
					<template>
						<view class="orderImg">
							<image v-for="(p,i) in options.pictureUrl" :key="i" :src="p" mode="aspectFit"></image>
						</view>
						<view class="orderText">
							<!-- <template v-if="options.afterSale==0">
                <view class="ordertitle">
                  <view class="title">{{options.productTitle}}</view>
                  <view class="type">颜色：{{options.color}}</view>
                </view>
                <view class="orderPrice">
                  <view class="price">¥ {{options.totalPrice}}</view>
                  <view class="num">x{{options.refundNum}}</view>
                </view>
              </template> -->
							<template>
								<view class="ordertitle">
									<view class="title">{{options.spuName}}</view>
									<view class="type">
										<view>颜色：{{options.skuName}}</view>
										<view class="num">x{{options.refundNum}}</view>
									</view>
								</view>
							</template>
						</view>
					</template>
					<!-- <template v-else>
            <view class="orderImg" v-for="(p,i) in options.pictureUrl" :key="i" v-if="i<3">
              <image :src="p" mode="aspectFit"></image>
            </view>
            <view class="allNum">共 {{options.refundNum}} 件</view>
          </template> -->
				</view>
				<view class="total">
					<!-- v-if="options.afterSale==0" -->
					<template>
						<view class="totalCount">共计{{options.refundNum}}件商品</view>
						<view class="totalMoney">
							<span>合计：¥</span>
							<span class="money">{{options.refundPrice}}</span>
						</view>
					</template>
					<!-- <template v-else>
            <view class="totalCount" v-if="options.timeOut==0">可退{{options.refundNum}}件商品</view>
            <view class="totalCount" v-if="options.timeOut!=0">共计{{options.refundNum}}件商品 <span>已超出退款时间</span></view>
          </template> -->
				</view>
			</view>
			<view class="confirmBtn">
				<view class="btn toPay" @tap="orderDetail(options.refundId)">查看详情</view>
			</view>

		</view>
	</view>
</template>
<script>
	export default {
		props: {
			options: {
				type: Object,
			},
		},
		data() {
			return {
				payStatusList: {
					10: '申请状态',
					20: '同意退货',
					30: '拒绝退货',
					50: '买家发货',
					60: '平台收货',
					99: '退货完成',
				}
			}
		},
		onLoad(opt) {
			console.log(opt);
		},
		methods: {
			orderDetail(id) {
				uni.navigateTo({
					url: '/pages/orderInfo/orderInfo?refundId=' + id
				})
			}
		}
	}
</script>
<style lang="scss" scoped>
	.proOrder {
		background: #fff;
		margin-top: 20upx;

		.topTitle {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 90upx;
			padding: 0 28upx;

			.item {
				font-size: 24upx;
				color: #333;
			}

			.proTag {
				font-size: 30upx;
				font-weight: bold;
			}
		}

		.productitem {
			width: 100%;
			display: flex;
			padding: 0 28upx;
			align-items: center;
			background: #f9f9f9;
			box-sizing: border-box;

			.orderImg {
				flex: 1;
				height: 150upx;
				border-radius: 8upx;

				image {
					width: 100%;
					height: 100%;
					border-radius: 8upx;
				}
			}

			.allNum {
				flex: 1;
				text-align: center;
				font-size: 22upx;
				color: #000;
			}

			.orderText {
				flex: 4;
				display: flex;
				justify-content: space-between;
				padding: 14upx 20upx;

				.ordertitle {
					flex: 7;
					font-size: 26upx;
					color: #333333;

					.title {
						width: 100%;
						height: 80upx;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}

					.type {
						color: #999;
						display: flex;
						justify-content: space-between;
						align-items: center;
					}
				}

				.orderPrice {
					flex: 3;
					padding-left: 20upx;
					font-size: 24upx;
					color: #333;
					text-align: right;

					.num {
						color: #999;
					}
				}

				.ordernum {
					font-size: 22upx;
					color: #999999;
					margin-top: 16upx;
				}
			}
		}

		.total {
			background: #fff;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: 36upx 22upx 27upx 22upx;

			.totalCount {
				font-size: 24upx;
				color: #999;

				span {
					color: #FA4650;
					padding-left: 20upx;
				}
			}

			.totalMoney {
				span {
					font-size: 24upx;
					font-weight: 600;
					color: #999;
					padding: 0 5upx;
				}

				.money {
					font-size: 36upx;
					color: #fa4650;
				}
			}
		}

		.confirmBtn {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-bottom: 40upx;

			.btn {
				border: 1px solid #ddd;
				border-radius: 8upx;
				box-sizing: border-box;
				font-size: 24upx;
				color: #333;
				padding: 10upx 24upx;
				margin-right: 20upx;
			}

			.toPay {
				padding: 10upx 40upx;
			}
		}
	}
</style>
