<template>
	<view class="page_wrapper">
		<!-- 顶部选项卡 -->
		<view class="top_options flex_between_center bgc_fff">
			<view class="option_item flex_column flex_center" v-for="(item, index) in topOptions" :key="index" @tap="itemlink(item.url)">
				<text class="iconfont" :class="item.icon"></text>
				<text>{{item.text}}</text>
			</view>
		</view>

		<!-- 中间tab -->
		<view class="main">
			<wuc-tab v-if="false" :tabList="tabList" borderWidth="60upx" :textFlex="true" :tabCur.sync="TabCur" @change="tabChange"></wuc-tab>
			<view class="tab_content">
				<view class="goods_items bgc_fff" v-if="orderList.length > 0 && (TabCur === 0 || TabCur === 1)">
					<block v-for="(item, index) in orderList" :key="item.id">
						<order-item :order="item"></order-item>
					</block>

					<!-- <view class="goods_footer">
						<text class="text_1">共计{{orderList.length}}件商品</text>
						<text class="text_2">合计:¥</text>
						<text class="text_3">{{totlePrice}}</text>
					</view> -->
				</view>
				<anomaly v-if="orderList.length == 0 && (TabCur !== 0 || TabCur !== 1)"></anomaly>
				<!-- <view class="award_items" v-if="awardList.length > 0 && (TabCur === 0 || TabCur === 2)">
					<award-item v-for="(item, index) in awardList" :key="index"></award-item>
				</view> -->
			</view>
		</view>

	</view>
</template>

<script>
	import anomaly from '../../components/anomaly.vue'
	import WucTab from '@/components/wuc-tab/wuc-tab.vue'
	import OrderItem from './components/orderItem.vue'
	import AwardItem from './components/awardItem.vue'
	import {
		listTradeOrder
	} from '@/common/request.js'
	export default {
		data() {
			return {
				topOptions: [{
						url: '/pages/sign/sign',
						text: '签到有奖',
						icon: 'moti-qiandaoyouli'
					}, {
						url: '/pages/myOrder/myOrder',
						text: '我的订单',
						icon: 'moti-dingdan'
					},
					//  {
					// 	url: '/pages/makeMoney/makeMoney',
					// 	text: '我要赚钱',
					// 	src: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/interaction_make.png'
					// }, 
					{
						url: '/pages/feedback/feedback',
						text: '客服中心',
						icon: 'moti-kefu2'
					}
				],
				tabList: [{
					name: '全部'
				}, {
					name: '订单通知'
				}, {
					name: '奖励通知'
				}, {
					name: '赚钱通知'
				}],
				TabCur: 0,
				orderList: [],
				goodsList: [{
					type: 'order',
					img: '/static/images/def.png',
					title: ' D13 电子烟套装 雾化换弹小烟（1雾化杆+3雾化弹）雾化换弹小烟（1雾化杆+3雾化弹)雾化换弹小烟雾化换弹小烟',
					price: 999.81,
					number: 3
				}, {
					type: 'order',
					img: '/static/images/def.png',
					title: ' D13 电子烟套装 雾化换弹小烟（1雾化杆+3雾化弹）雾化换弹小烟（1雾化杆+3雾化弹)雾化换弹小烟雾化换弹小烟',
					price: 999.81,
					number: 3
				}],
				awardList: [{
					type: 'cash'
				}, {
					type: 'fanli'
				}],
				totlePrice: 998.50
			};
		},
		components: {
			WucTab,
			OrderItem,
			AwardItem,
			anomaly
		},
		onShow() {
			this.initData()
		},
		methods: {
			initData() {
				this.listTradeOrder()
			},
			async listTradeOrder() {
				uni.showLoading({
					title: '加载中...'
				})
				// this.orderList = []
				const {
					result
				} = await listTradeOrder(1, 100)
				this.orderList = result.rows
				uni.hideLoading()
			},
			tabChange(e) {
				console.log(e);
				this.TabCur = e
			},
			itemlink(url) {
				if (/makeMoney/.test(url)) {
					uni.switchTab({
						url: url
					})
				} else if (/feedback/.test(url)) {
					uni.showModal({
						title: '联系客服', //提示的标题,
						content: '拨打客服电话400-012-6828', //提示的内容,
						showCancel: true, //是否显示取消按钮,
						success: res => {
							if (res.confirm) {
								uni.makePhoneCall({
									phoneNumber: '4000126828' //仅为示例
								});
							} else if (res.cancel) {
								console.log('用户点击取消')
							}
						}
					});
				} else {
					uni.navigateTo({
						url: url,
						animationType: 'pop-in',
						animationDuration: 200
					})
				}
			},
		}
	}
</script>

<style lang="scss" scoped>
	.page_wrapper {
		padding-bottom: 120upx;

		.top_options {
			padding: 0 46upx;
			height: 200upx;

			.option_item {
				.iconfont {
					font-size: 92upx;
					margin-bottom: 14upx;
				}

				text {
					margin-top: 16upx;
					font-size: 24upx;
					color: #333;
					line-height: 24px;
				}
			}
		}

		.main {
			margin-top: 20upx;

			.tab_content {
				.goods_items {
					padding-top: 20upx;
					background: #f5f5f5;
				}

				.goods_footer {
					display: flex;
					justify-content: flex-end;
					align-items: flex-end;

					.text_1 {
						font-size: 24upx;
						font-weight: 400;
						color: #999;
						line-height: 24upx;
					}

					.text_2 {
						margin-left: 16upx;
						font-size: 24upx;
						font-weight: 600;
						color: #999;
						line-height: 24upx;
					}

					.text_3 {
						font-size: 36upx;
						font-weight: 600;
						color: #FA4650;
						line-height: 30upx;
					}
				}
			}
		}
	}
</style>
