<template>
	<view class="download_app_wrapper">
		<view class="logo flex_center_column">
			<image src="/static/images/logo.png"></image>
			<view class="text">MOTI商城</view>
		</view>

		<view class="text_1">下载MOTI小店App、立即开店</view>
		<view class="text_2">广结人脉共享财富 1000万用户的共同选</view>

		<view class="split_line flex_center">
			<view class="line"></view>
			<view class="text">你将获得</view>
			<view class="line"></view>
		</view>

		<view class="content">
			<view class="item">
				<view class="icon">
					<image src="/static/images/logo.png"></image>
				</view>
				<view class="text_wrapper">
					<view class="text_line_1">抢单</view>
					<view class="text_line_2">海量那个单任你抢</view>
				</view>
			</view>
			<view class="item">
				<view class="icon">
					<image src="/static/images/logo.png"></image>
				</view>
				<view class="text_wrapper">
					<view class="text_line_1">抢单</view>
					<view class="text_line_2">海量那个单任你抢</view>
				</view>
			</view>
			<view class="item mt_84">
				<view class="icon">
					<image src="/static/images/logo.png"></image>
				</view>
				<view class="text_wrapper">
					<view class="text_line_1">抢单</view>
					<view class="text_line_2">海量那个单任你抢</view>
				</view>
			</view>
			<view class="item mt_84">
				<view class="icon">
					<image src="/static/images/logo.png"></image>
				</view>
				<view class="text_wrapper">
					<view class="text_line_1">抢单</view>
					<view class="text_line_2">海量那个单任你抢</view>
				</view>
			</view>
		</view>

		<button plain="true">立即下载</button>

		<view class="last_text">MOTI拥有最终解释权</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		methods: {

		}
	}
</script>

<style lang="scss">
	.download_app_wrapper {
		height: 100%;
		background: #fff;
		overflow: hidden;

		.logo {
			margin-top: 86upx;

			image {
				width: 109upx;
				height: 108upx;
			}

			.text {
				margin-top: 8upx;
				font-size: 28upx;
				line-height: 40upx;
				color: #333;
			}
		}

		.text_1 {
			text-align: center;
			margin-top: 73upx;
			font-size: 42upx;
			line-height: 59upx;
			color: #333;
		}

		.text_2 {
			text-align: center;
			margin-top: 16upx;
			font-size: 26upx;
			line-height: 37upx;
			color: #999;
		}

		.split_line {
			margin-top: 97upx;

			.line {
				width: 228upx;
				height: 2upx;
				background: #d8d8d8;
			}

			.text {
				margin: 0 56upx;
				font-size: 24upx;
				line-height: 33upx;
				color: #999;
			}
		}

		.content {
			margin-top: 72upx;
			display: flex;
			flex-wrap: wrap;

			.item {
				flex-grow: 1;
				display: flex;
				justify-content: center;

				&.mt_84 {
					margin-top: 84upx;
				}

				.icon {
					width: 60upx;
					height: 60upx;

					image {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}

				.text_wrapper {
					margin-left: 10upx;

					.text_line_1 {
						font-size: 32upx;
						line-height: 44upx;
						color: #333;
					}

					.text_line_2 {
						margin-top: 4upx;
						font-size: 26upx;
						line-height: 37upx;
						color: #999;
					}
				}
			}
		}

		button {
			width: 654upx;
			height: 80upx;
			margin-top: 84upx;
			background: #FA4650;
			color: #fff;
			border-color: #FA4650;
			border-radius: 8upx;
			font-size: 28upx;
			line-height: 80upx;
		}

		.last_text {
			position: fixed;
			left: 0;
			right: 0;
			bottom: 32upx;
			font-size: 24upx;
			line-height: 33upx;
			color: #c6c6c6;
			text-align: center;
		}
	}
</style>
