<template>
  <scroll-view class="wuc-tab" :class="tabClass" :style="tabStyle" scroll-with-animation scroll-x :scroll-left="scrollLeft">
    <div v-if="!textFlex">
      <div class="wuc-tab-item" :class="[index === tabCur ? selectClass + ' cur':'']" v-for="(item,index) in tabList" :key="index" :id="index" @tap="tabSelect(index,$event)">
        <text :class="item.icon"></text>
        <span :style="{'font-size': index === tabCur ? activeFontSize : '', color: item.color}">{{item.name}}</span>
		<div class="border" :style="{width: borderWidth}"></div>
      </div>
    </div>
	
    <div class="flex text-center" v-if="textFlex">
      <div class="wuc-tab-item flex-sub" :class="index === tabCur ? selectClass + ' cur':''" v-for="(item,index) in tabList" :key="index" :id="index" @tap="tabSelect(index,$event)">
        <text :class="item.icon"></text>
        <span :style="{'font-size': index === tabCur ? activeFontSize : '', color: item.color}">{{item.name}}</span>
		<image v-if='item.iconImg' class='icon' :src='item.iconImg'></image>
		<div class="border" :style="{width: borderWidth}"></div>
      </div>
    </div>
  </scroll-view>
</template>
<script>
export default {
    name: 'wuc-tab',
    data() {
        return {};
    },
    props: {
        tabList: {
            type: Array,
            default() {
                return [];
            }
        },
        tabCur: {
            type: Number,
            default() {
                return 0;
            }
        },
        tabClass: {
            type: String,
            default() {
                return '';
            }
        },
        tabStyle: {
            type: String,
            default() {
                return '';
            }
        },
        textFlex: {
            type: Boolean,
            default() {
                return false;
            }
        },
        selectClass: {
            type: String,
            default() {
                return 'text-333';
            }
        },
		borderWidth: {
			type: String,
			default() {
				return '100%'
			}
		},
		activeFontSize: {
			type: String,
			default() {
				return ''
			}
		}
    },
    methods: {
        tabSelect(index, e) {
            if (this.currentTab === index) return false;
            this.$emit('update:tabCur', index);
            this.$emit('change', index);
        }
    },
    computed: {
        scrollLeft() {
            return (this.tabCur - 1) * 60;
        }
    }
};
</script>
<style>
div,
scroll-view,
swiper {
	box-sizing: border-box;
}
.wuc-tab {
    height: 100upx;
    white-space: nowrap;
	background: #fff;
}
.wuc-tab-item {
	position: relative;
    height: 90upx;
    display: inline-block;
    line-height: 90upx;
    margin: 0 10upx;
    padding: 0 20upx;
	color: #666666;
	display: flex;
	align-items: center;
}
.wuc-tab-item .icon{
	width:23upx;
	height:28upx;
	margin-left:6upx;
}
.wuc-tab-item .border {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100upx;
	height: 6upx;
	background: #333;
}
.wuc-tab-item.cur {
    /* border-bottom: 4upx solid; */
}
.wuc-tab-item.cur .border {
	display: block;
}
.wuc-tab.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1024;
	box-shadow: 0 1upx 6upx rgba(0, 0, 0, 0.1);
}

.flex {
    display: flex;
}
.text-center {
    text-align: center;
	border-bottom:1upx solid #DCDCDC;
}
.flex-sub {
    flex: 1;
}
.text-333 {
	color: #333333;
	font-weight: bold;
}
/* .text-blue{
  color:#0081ff;
} */
/* .text-white{
  color:#ffffff;
} */
/* .bg-white{
    background-color: #ffffff;
} */
/* .bg-blue{
    background-color: #0081ff;
} */
/* .text-orange{
  color: #f37b1d
} */

/* .text-xl {
	font-size: 36upx;
} */
</style>
