<template>
	<view class="wrapper">
		<text class="iconfont" :class="icon"></text>
		<text class="hint">{{hint}}</text>
		<text class="btn" v-if="link && link.text" @tap="go">{{link.text}}</text>
	</view>
</template>

<script>
	export default {
		props: {
			icon: {
				type: String,
				default: 'moti-bianzu'
			},
			hint: {
				type: String,
				default: '暂无订单'
			},
			link: {
				type: Object
			}
		},
		methods:{
			go() {
				if (!this.link.page) {
					uni.switchTab({
						url: this.link.url
					})
				} else {
					uni.navigateTo({
						url:this.link.url
					});
				}
			}
		}
	}
</script>

<style lang="scss">
	.wrapper {
		width: 100%;
		height: 100%;
		min-height: 1000upx;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.iconfont {
			margin-top: -30%;
			font-size: 103upx;
			margin-bottom: 80upx;
			color: #999999;
		}

		.hint {
			font-size: 28upx;
			color: #999999;
			font-weight: 500;
			margin-bottom: 44upx;
		}

		.mab {
		}

		.btn {
			width: 224upx;
			height: 72upx;
			border-radius: 8upx;
			background:#3C3C3C ;
			line-height: 72upx;
			text-align: center;
			font-size: 28upx;
			color: #ffffff;
		}
	}
</style>
