<template>
	<view>
		{{timeStr}}
	</view>
</template>

<script>
	export default {
		props: {
			timeDown: {
				type: Number,
				default() {
					return 0
				}
			}
		},
		computed: {
			timeStr() {
				return this.formatDate(this.count, 'HH:mm:ss')
			}
		},
		data() {
			return {
				count: 0,
				timer: null
			};
		},
		created() {
			this.initCountdown()
		},
		methods: {
			initCountdown() {
				this.count = parseInt(+new Date(this.timeDown) / 1000)
				console.log(this.count);
				this.timer = setInterval(() => {
					this.count -= 1
				}, 1000)
			},
			formatDate(num, fmt) {
				const d = this.targetTime
				const o = {
					'M+': d.getMonth() + 1, // 月份
					'D+': d.getDate(), // 日
					'H+': d.getHours(), // 小时
					'm+': d.getMinutes(), // 分
					's+': d.getSeconds(), // 秒
					'q+': Math.floor((d.getMonth() + 3) / 3), // 季度
					'S+': d.getMilliseconds(), // 毫秒
				};
				if (/(Y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (d.getFullYear() + '').substr(4 - RegExp.$1.length));
				for (const k in o) {
					if (new RegExp(`(${k})`).test(fmt)) {
					fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (('00' + o[k]).substr(('' + o[k]).length)));
					}
				}
				return fmt;
			}
		}
	}
</script>

<style lang="scss">

</style>
