<template>
	<view class="wrapper">
		<div class="block left"></div>
		<div class="text">{{text}}</div>
		<div class="block right"></div>
	</view>
</template>

<script>
	export default {
		props: {
			text: {
				type: String,
				default: ''
			}
		}
	}
</script>

<style lang="scss">
	.wrapper {
		display: inline-block;
		height: 26upx;
		padding: 0 12upx;
		line-height: 26upx;
		border: 2upx solid #FA4650;
		position: relative;
		background: #fff;
		border-radius: 4upx;
		font-size:22upx;
		color: #FA4650;
		.block {
			width: 10upx;
			height: 10upx;
			border-radius: 50%;
			position: absolute;
			top: 6upx;
			background: #fff;
		}
		.left {
			left: -4upx;
			border-top: 2upx solid #FA4650;
			border-right: 2upx solid #FA4650;
			transform:rotate(45deg);
		}
		.right {
			right: -4upx;
			border-left: 2upx solid #FA4650;
			border-top: 2upx solid #FA4650;
			transform:rotate(315deg);
		}
		.text{
			height: 26upx;
			line-height: 26upx;
			font-size:22upx;
			position: relative;
			top:2upx;
		}
	}
</style>
