<template>
	<view v-if="show" class="login_mask_wrapper" @tap.self="close">
		<view class="login_mask_inner" @tap.stop>
			<text class="icon_close iconfont moti-close_light" @tap="close"></text>
			<view class="login_mask_title">登录MOTI</view>
			<button class="wx_login_btn" type="primary" open-type="getPhoneNumber" @getphonenumber="getPhoneNumber">
				微信一键登录
			</button>
			<button class="mobile_login_btn" plain="1" type="primary" @tap="goLogin">手机号登录</button>
		</view>
		
	</view>
</template>

<script>
	import { wxAppletGetBindMobileNumber, wxAppletMobileLogin, loadInfo, getCar, syncBuyCar, createNewCustomerCoupons, checkUserMobile } from '@/common/request.js'
	import { getUserToken } from '@/common/login.js'
	export default {
		props: {
			show: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				userInfo: {}
			};
		},
		async mounted() {
			
		},
		onShow() {
			console.log('-----------------');
		},
		methods: {
			async getPhoneNumber(e) {
				if (e.detail.errMsg === 'getPhoneNumber:ok') {
					uni.showLoading({
						title: '登录中...',
						mask: true
					})
					// 先获取token
					// const getToken = await getUserToken()
					// if (!getToken) {
					// 	return uni.showModal({
					// 		title: '提示',
					// 		content: '获取token失败'
					// 	})
					// }
					// 不需要token
					const userWxInfoCacheKey = uni.getStorageSync('userWxInfoCacheKey')
					const res = await wxAppletGetBindMobileNumber(e.detail.encryptedData, e.detail.iv, userWxInfoCacheKey)
					console.log(res);
					if (res.code == 20) {
						uni.hideLoading()
						return uni.showModal({
							title: '提示',
							content: '获取手机号失败, 请重试'
						})
					}
					this.userInfo.mobile = res.result
					const checkRes = await checkUserMobile(res.result)
					if (checkRes.code == 0) {
						// 老用户
						this.isRegist = false
					} else {
						this.isRegist = true
					}
					// countryCode: "86"
					// phoneNumber: "18201536271"
					// purePhoneNumber: "18201536271"
					// this.$emit('loginResult', false)
					// 不需要token
					const loginRes = await wxAppletMobileLogin(res.result, userWxInfoCacheKey)
					// 登录成功之后设置token
					if (loginRes.code == 0) {
						uni.setStorageSync('mt_token', loginRes.result.token)
						// bindFlag为false说明未绑定过手机号, 即认为是新用户
						await loadInfo()
						await this.syncCartItems()
						if (this.isRegist) {
							this.createNewCustomerCoupons()
						}
						// await this.getCar()
						wx.setStorageSync('lastLoginTime', Date.now())
						this.$emit('loginResult', {
							type: 'success'
						})
						this.$wxBuryDot('login_login')
					}
				} else {
					uni.clearStorageSync()
					uni.showModal({
						title: '提示',
						content: '您已拒绝授权'
					})
				}
				uni.hideLoading()
			},
			async getCar() {
				const {
					result
				} = await getCar();
				if (result.items) {
					const cartNum = Object.keys(result.items).length
					cartNum > 0 ? uni.setTabBarBadge({
						index: 1,
						text: `${cartNum}`
					}) : uni.removeTabBarBadge({
						index: 1
					})
					this.$store.commit('setCartNum', cartNum);
				}
				console.log('getCar', result);
			},
			async syncCartItems() {
				const cartCacheItems = this.$utils.cartCache.getCartCache()
				console.log('cartCacheItems', cartCacheItems)
				const items = []
				for (let item in cartCacheItems.items) {
					items.push(cartCacheItems.items[item])
				}
				if (items.length === 0) return
				const {
					result
				} = await syncBuyCar(items)
				if (result.code === 0) {
					this.$utils.cartCache.clearCartCache()
				}
			},
			async createNewCustomerCoupons() {
				const userInfo = uni.getStorageSync('userInfo')
				createNewCustomerCoupons(userInfo.id)
			},
			goLogin() {
				this.$emit('loginResult', {
					type: 'close'
				})
				this.$putils.goLogin()
			},
			close() {
				this.$emit('loginResult', {
					type: 'close'
				})
			}
		}
	}
</script>

<style lang="scss">
.login_mask_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .3);
	z-index: 100;
	.login_mask_inner {
		position: relative;
		width: 560upx;
		height: 420upx;
		background: #fff;
		overflow: hidden;
		border-radius: 8upx;
		.icon_close {
			position: absolute;
			top: 24upx;
			right: 24upx;
			width: 30upx;
			height: 30upx;
			font-size: 24upx;
		}
		.login_mask_title {
			font-size: 32upx;
			margin-top: 52upx;
			line-height: 45upx;
			text-align: center;
		}
		.wx_login_btn, .mobile_login_btn {
			position: relative;
			margin-top: 75upx;
			width: 400upx;
			height: 80upx;
			line-height: 80upx;
			font-size: 28upx;
			border-radius: 8upx;
		}
		.mobile_login_btn {
			margin-top: 24upx;
			color: #333;
			border-color: #666;
		}
	}
}
</style>
