<template>
	<view class="m_modal" v-if="show">
		<view class="m_modal_inner">
			<view class="m_modal_title" v-if="title">{{title}}</view>
			<view class="m_modal_content">
				<slot></slot>
			</view>
			<view class="fill"></view>
			<view class="btns">
				<block v-if="isShowCancel && isShowConfirm">
					<view class="cancel" @tap.stop="cancel">{{cancelText}}</view>
					<view class="middle_block"></view>
					<view class="confirm" @tap.stop="confirm">{{confirmText}}</view>
				</block>
				<block v-else-if="isShowCancel">
					<view class="cancel one" @tap.stop="cancel">{{cancelText}}</view>
				</block>
				<block v-else-if="isShowConfirm">
					<view class="confirm one" @tap.stop="confirm">{{confirmText}}</view>
				</block>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			show: {
				type: Boolean,
				default() {
					return false
				}
			},
			isShowCancel: {
				type: Boolean,
				default() {
					return true
				}
			},
			isShowConfirm: {
				type: Boolean,
				default() {
					return true
				}
			},
			title: {
				type: String,
				default() {
					return ''
				}
			},
			confirmText: {
				type: String,
				default() {
					return '是'
				}
			},
			cancelText: {
				type: String,
				default() {
					return '否'
				}
			}
		},
		data() {
			return {
				
			};
		},
		methods: {
			cancel() {
				this.$emit('cancel')
			},
			confirm() {
				this.$emit('confirm')
			}
		}
	}
</script>

<style lang="scss">
.m_modal {
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	.m_modal_inner {
		display: flex;
		flex-direction: column;
		padding: 0upx 40upx 40upx 40upx;
		box-sizing: border-box;
		width: 560upx;
		min-height: 350upx;
		background: #fff;
		border-radius: 8upx;
		.m_modal_title {
			flex-shrink: 0;
			text-align: center;
			font-size: 38upx;
		}
		.fill {
			flex-grow: 1;
		}
		.btns {
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			.cancel, .confirm {
				width: 232upx;
				height: 80upx;
				border-radius: 8upx;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 32upx;
				color: #fff;
				background: #3c3c3c;
			}
			.confirm {
				background: #FA4650;
				&.one {
					width: 480upx;
				}
			}
			.cancel {
				&.one {
					width: 480upx;
				}
			}
			.middle_block {
				width: 40upx;
				height: 40upx;
			}
		}
	}
}
</style>
