<template>
	<!-- #ifdef H5 || APP-PLUS -->
	<view class="transition_img_wrapper" :style="{width: width + 'upx', height: height + 'upx'}" style="background: #eee url(/static/images/default.png) no-repeat center;">
	<!-- #endif -->
	
	<!-- #ifdef MP-WEIXIN -->
	<!-- upx通过外面传值进来写到行内的话并不会被转成rpx -->
	<view class="transition_img_wrapper" :style="{width: width + 'rpx', height: height + 'rpx'}" style="background: #eee url(/static/images/default.png) no-repeat center;">
	<!-- #endif -->
	<image :class="{fade_img: isShowImg}" :src="src" :style="{width: iwidth, height: iheight}"  :mode="mode" @load="imgOnLoad"></image>
	</view>
	
</template>

<script>
	export default {
		name: 'LazyLoadImg',
		props: {
			src: '',
			mode: {
				type: String,
				default: 'scaleToFill'
			},
			width: {
				type: String,
				default: ''
			},
			height: {
				type: String,
				default: ''
			},
			// 图片本身的宽高, 基本用不到
			iwidth: {
				type: String,
				default: ''
			},
			iheight: {
				type: String,
				default: ''
			},
		},
		data() {
			return {
				isShowImg: false,
				show: false
			}
		},
		methods: {
			imgOnLoad() {
				this.isShowImg = true
			}
		}
	}
</script>

<style lang="less" scoped>
	.transition_img_wrapper {
		width: 300upx;
		height: 300upx;
		background-size: 50%;
		image {
			width: 100%;
			height: 100%;
			opacity: 0;
		}
		.fade_img {
			opacity: 1;
			transition: opacity 0.2s;
		}
	}
	
</style>
