<template>
  <view class="listAbout">
    <view class="proOrder">
      <view @tap="orderDetail(options.orderId)">
        <view class="topTitle">
          <view class="item">{{options.shopName}}</view>
          <view class="item proTag" v-if="options.afterSale==0">{{payStatusList[options.payStatus]}}</view>
        </view>
        <view class="productitem">
          <template v-if="options.picture.length==1">
            <view class="orderImg">
              <image v-for="(p,i) in options.picture" :key="i" :src="p.picUrl" mode="aspectFit"></image>
            </view>
            <view class="orderText">
              <template v-if="options.afterSale==0">
                <view class="ordertitle">
                  <view class="title">{{options.productTitle}}</view>
                  <view class="type">颜色：{{options.color}}</view>
                </view>
                <view class="orderPrice">
                  <view class="price">¥ {{options.totalPrice}}</view>
                  <view class="num">x{{options.totalCount}}</view>
                </view>
              </template>
              <template v-else>
                <view class="ordertitle">
                  <view class="title">{{options.productTitle}}</view>
                  <view class="type">
                    <view>颜色：{{options.color}}</view>
                    <view class="num">x{{options.totalCount}}</view>
                  </view>
                </view>
              </template>
            </view>
          </template>
          <template v-else>
            <view class="orderImg" v-for="(p,i) in options.picture" :key="i" v-if="i<3">
              <image :src="p.picUrl" mode="aspectFit"></image>
            </view>
            <view class="allNum">共 {{options.picture.length}} 件</view>
          </template>
        </view>
        <view class="total">
          <template v-if="options.afterSale==0">
            <view class="totalCount">共计{{options.totalCount}}件商品</view>
            <view class="totalMoney">
              <span>合计：¥</span>
              <span class="money">{{options.totalPrice}}</span>
            </view>
          </template>
          <template v-else>
            <view class="totalCount" v-if="options.timeOut==0">可退{{options.totalCount}}件商品</view>
            <view class="totalCount" v-if="options.timeOut!=0">共计{{options.totalCount}}件商品 <span>已超出退款时间</span></view>
          </template>
        </view>
      </view>
      <view class="confirmBtn" v-if="options.afterSale==0">
          <template v-if="options.payStatus==0">
            <view class="btn" @tap="cancelOrder(options.orderId)">取消订单</view>
            <view class="btn toPay" @tap="toPay(options.orderId)">去支付</view>
          </template>
          <template v-if="options.payStatus==1">
            <view class="btn" @tap="cancelOrder(options.orderId)">取消订单</view>
            <view class="btn" @tap="remind(options.orderId)">提醒发货</view>
          </template>
          <template v-if="options.payStatus==2">
            <view class="btn" @tap="cancelOrder(options.orderId)">取消订单</view>
            <view class="btn" @tap="buyAgian">重新购买</view>
          </template>
          <template v-if="options.payStatus==3">
            <view class="btn" @tap="customer(options.orderId)">联系客服</view>
            <view class="btn" @tap="applyRefund">申请退款</view>
          </template>
          <template v-if="options.payStatus==4">
            <view class="btn" @tap="contactRider">联系骑手</view>
            <view class="btn" @tap="contactShop(options.orderId)">联系小店</view>
            <view class="btn" @tap="confirmGood">确认收货</view>
          </template>
          <template v-if="options.payStatus==5">
            <view class="btn" @tap="customer(options.orderId)">联系客服</view>
            <view class="btn" @tap="contactShop(options.orderId)">联系小店</view>
            <view class="btn" @tap="afterSell">申请售后</view>
            <view class="btn" @tap="isProductTrue">商品验真</view>
          </template> 
      </view>
      <view  class="confirmBtn" v-else>
          <template v-if="options.applyAfterSale==0">
            <view class="btn" @tap="afterSell">申请售后</view>           
          </template>
          <template v-else>
             <view class="btn toPay" @tap="dropInDoor">上门取件</view>
          </template>
        </view>
    </view>
  </view>
</template>
<script>
export default {
  props: {
    options: {
      type: Object,    
    },
  },
  data(){
    return{
      payStatusList:{
        0:'待支付',
        1:'待发货',
        2:'待收货',
        3:'打包中',
        4:'配送中',
        5:'已收货',
      }
    }
  },
  onLoad(opt){
    console.log(opt);
  },
  methods:{
    toPay(id){
      console.log(id+'去支付')
    },
    remind(id){
      console.log(id+'提醒发货')
    },
    cancelOrder(id){
      console.log(id+'取消订单')
    },
    customer(id){
      console.log(id+'联系客服')
    },
    contactShop(id){
      console.log(id+'联系小店')
    },
    contactRider(){
      console.log('联系骑手')
    },
    confirmGood(){
      console.log('确认收货')
    },
    buyAgian(){
      console.log('再次购买')
    },
    applyRefund(){
      console.log('退款售后')
    },
    afterSell(){
       console.log('申请售后')
    },
    isProductTrue(){
      console.log('商品验真')
    },
    dropInDoor(){
      console.log('上门取件')
    },
		orderDetail() {
			uni.navigateTo({
				url: '/pages/orderInfo/orderInfo'
			})
		}
  }
}
</script>
<style lang="scss" scoped>
.proOrder {
  background: #fff;
  margin-top: 20upx;
  .topTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90upx;
    padding: 0 28upx;
    .item {
      font-size: 24upx;
      color: #333;
    }
    .proTag {
      font-size: 30upx;
      font-weight: bold;
    }
  }
  .productitem {
    width: 100%;
    display: flex;
    padding: 0 28upx;
    align-items: center;
    background: #f9f9f9;
    box-sizing: border-box;
    .orderImg {
      flex: 1;
      height: 150upx;
      border-radius: 8upx;
      image {
        width: 100%;
        height: 100%;
        border-radius: 8upx;
      }
    }
    .allNum{
      flex:1;
      text-align: center;
      font-size: 22upx;
      color: #000;
    }
    
    .orderText {
      flex: 4;
      display: flex;
      justify-content: space-between;
      padding: 14upx 20upx;
      .ordertitle {
        flex: 7;
        font-size: 26upx;
        color: #333333;
        .title {
          width: 100%;
          height: 80upx;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .type {
          color: #999;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      .orderPrice {
        flex: 3;
        padding-left: 20upx;
        font-size: 24upx;
        color: #333;
        text-align: right;
        .num {
          color: #999;
        }
      }
      .ordernum {
        font-size: 22upx;
        color: #999999;
        margin-top: 16upx;
      }
    }
  }
  .total {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 36upx 22upx 27upx 22upx;

    .totalCount {
      font-size: 24upx;
      color: #999;
      span{
        color:#FA4650;
        padding-left: 20upx;
      }
    }
    .totalMoney {
      span {
        font-size: 24upx;
        font-weight: 600;
        color: #999;
        padding: 0 5upx;
      }
      .money {
        font-size: 36upx;
        color: #fa4650;
      }
    }
  }
  .confirmBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40upx;
    .btn {
      border: 1px solid #ddd;
      border-radius: 8upx;
      box-sizing: border-box;
      font-size: 24upx;
      color: #333;
      padding: 10upx 24upx;
      margin-right: 20upx;
    }
    .toPay {
      padding: 10upx 40upx;
    }
  }
}
</style>
