<template>
	<view class="orderItem">
			<view class="topTitle">
				<view class="item">
					<text class="tlwok-icon tlwicon-shop"></text>
					<text>{{ options.newsTitle }} </text>
					<text class="tlwok-icon tlwicon-right"></text>
				</view>
				<view class="item">
					<text class="proTag"> {{ options.date }} </text>
					<text class="tlwok-icon tlwicon-delete" @tap="deleteProduct"></text>
				</view>
			</view>
			<view class="productitem">
				<view class="orderImg">
					<image :src="options.imageurl" mode=""></image>
				</view>
				<view class="orderText">
					<view class="ordertitle">{{ options.ordertitle }}</view>
					<view class="ordernum">订单编号 : {{ options.ordernum }}</view>
				</view>
			</view>
	</view>
</template>

<script>
	export default {
		props: {
			options: {
				type: Object,
				default: function(e) {
					return {}
				}
			},
		},
		data(){
			return{
				// test:this.options.name//
			}
		},
		onLoad() {
			// console.log( JSON.stringify(this.test) )
		},
		methods: {
			deleteProduct() {
				console.log("删除商品操作");
			}
		}
	}
</script>

<style lang="scss" scoped>
	.orderItem {
		display: flex;
		width: 94%;
		flex-direction: column;
		background-color: #fff;
		margin: 20upx auto 0;
		padding-bottom: 20upx;
		.topTitle {
			display: flex;
			justify-content: space-between;
			height: 90upx;
			padding: 0 28upx;
			.item {
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: bold;

				.tlwicon-delete {
					padding-left: 20upx;
				}

				.tlwicon-shop {
					color: #e4093c;
					margin-right: 10upx;
				}

				.proTag {
					font-weight: normal;
					font-size: 22upx;
					color: #999999;
				}
			}
		}

		.productitem {
			display: flex;
			background-color: #FFFFFF;
			padding: 0 28upx;
			justify-content: space-between;
			.orderImg{
				background: #f9f9f9;
				image {
					width: 150upx;
					height: 150upx;
					border-radius: 8upx;
				}
			}
			.orderText{
				background: #f9f9f9;
				padding: 12upx 16upx;
				.ordertitle{
					font-size: 26upx;
					color: #333333;
				}
				.ordernum{
					font-size: 22upx;
					color: #999999;
					margin-top: 16upx;
				}
			}
		}
	}
</style>
