<template>
	<view class="orderItem">
    <template v-if="options.isOrder">
      <view class="topTitle">
				<view class="item">{{ options.newsTitle }}	</view>
				<view class="item">
					<text class="proTag"> {{ options.date }} </text>
				</view>
			</view>
			<view class="productitem">
				<view class="orderImg">
					<image :src="options.imageurl" mode=""></image>
				</view>
				<view class="orderText">
					<view class="ordertitle">
            <view class="title">{{ options.ordertitle }}</view>
            <view class="type">颜色：{{options.color}}</view>
          </view>
					<view class="orderPrice">
            <view class="price">¥ {{ options.totalPrice }}</view>
            <view class="num"> x{{ options.totalNum }}</view>
          </view>
				</view>       
			</view>
      <view class="total">
        <view class="totalCount">共计{{options.totalNum}}件商品</view>
        <view class=" totalMoney">
          <span>合计：¥</span>
          <span class="money">{{options.totalPrice}}</span>
        </view>
      </view>
    </template>
		<template v-else>
      <view class="topTitle notice">
				<view class="item"><span>{{options.size}}</span> {{ options.newsTitle }}</view>
				<view class="item">
					<text class="proTag"> {{ options.date }} </text>
				</view>
			</view>
      <view class="noticeInfo">
        <view class="orderImg">
					<image :src="options.imageurl" mode=""></image>
				</view>
				<view class="orderText">
          <view class="title">{{options.ordertitle}}</view>
          <view class="type">{{options.describe}} <span>点击查看</span> </view>
				</view>
      </view>
    </template>
	</view>
</template>

<script>
	export default {
		props: {
			options: {
				type: Object,
				default: function(e) {
					return {}
				}
			},
		},
		data(){
			return{
				// test:this.options.name//
			}
		},
		onLoad() {
			// console.log( JSON.stringify(this.test) )
		},
		methods: {
		
		}
	}
</script>

<style lang="scss" scoped>
	.orderItem {
		display: flex;
		width: 100%;
		flex-direction: column;
		background: #fff;
		padding-bottom: 20upx;
    margin-bottom: 20upx;
		.topTitle {
			display: flex;
			justify-content: space-between;
			height: 90upx;
			padding: 0 28upx;
			.item {
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: bold;

				.tlwicon-delete {
					padding-left: 20upx;
				}

				.tlwicon-shop {
					color: #e4093c;
					margin-right: 10upx;
				}

				.proTag {
					font-weight: normal;
					font-size: 24upx;
					color: #999999;
				}
			}
		}
    .notice{
      padding: 0;
      margin: 0 28upx;
      border-bottom: 1px solid #dcdcdc;
      span{
        color: #FA4650;
      }
    }
		.productitem,.noticeInfo {
			display: flex;
			background-color: #FFFFFF;
			padding: 0 28upx;
			justify-content: space-between;
			.orderImg{
				background: #f9f9f9;
				image {
					width: 150upx;
					height: 150upx;
					border-radius: 8upx;
				}
			}
			.orderText{
        display: flex;
				background: #f9f9f9;
				padding: 12upx 16upx;
				.ordertitle{
					font-size: 26upx;
					color: #333333;
          .title{
            width: 100%;
            height:80upx;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .type{
            color: #999;
          }
				}
        .orderPrice{
          width: 50%;
          padding-left: 20upx;
          font-size: 22upx;
					color: #333;
          .num{
            text-align: right;
            color: #999;
          }
        }
				.ordernum{
					font-size: 22upx;
					color: #999999;
					margin-top: 16upx;
				}
			}
      
		}
    .noticeInfo{
      justify-content: flex-start;
      padding: 24upx 28upx;
      .orderImg{
        width: 64upx;
        height:64upx;
        image{
          width: 100%;
          height: 100%;
        }
      } 
      .orderText{
        display: block;
        padding: 0 16upx ;
        .title{
          font-size: 28upx;
          color: #333;
        }
        .type{
          color:#999;
          font-size: 24upx;
          span{
            padding-left: 8upx;
          }
        }
      }
    }
    .total{
      background: #fff;
      display:flex;
      align-items: center;
      justify-content: flex-end;
      padding: 36upx 22upx 27upx 22upx;

      .totalCount{
        font-size: 24upx;
        color:#999;
      }
      .totalMoney{
        span{
          font-size: 24upx;
          font-weight: 600;
          color: #999;
          padding:0 5upx;
        }
        .money{
          font-size: 36upx;
          color:#FA4650;
        }
      }
    }
	}
</style>
