<template>
	<view>
		<swiper class="swiper" indicator-dots indicator-color="#DBDBDB" indicator-active-color="#C8C8C8" :autoplay="true"
		 :interval="3000" :duration="1000" circular>
			<swiper-item>
				<view class="swiper-item">
					<image src="../../static/banner-pic.png" mode=""></image>
				</view>
			</swiper-item>
			<swiper-item>
				<view class="swiper-item">第二页</view>
			</swiper-item>
			<swiper-item>
				<view class="swiper-item">
					<image src="../../static/banner-pic.png" mode=""></image>
				</view>
			</swiper-item>
		</swiper>
	</view>
</template>

<script>
export default{
	data(){
		return {}
	}
}
</script>

<style lang="scss" scoped>
	.swiper {
		height: 360upx;
	
		.swiper-item {
			image {
				width: 100%;
				height: 280upx;
				box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
			}
		}
	}
</style>
