<template>
	<view>
		<view class="canvas_wrapper">
			<painter :palette="shareCardTemplate" @imgOK="onImgOK"></painter>
		</view>
		<image :src="url" mode="widthFix"></image>
	</view>
</template>

<script>
	import Card from '../shareCard.js'
	export default {
		data() {
			return {
				shareCardTemplate: null,
				isShow: false,
				url: ''
			};
		},
		onLoad() {
			this.shareCardTemplate = new Card().palette([
				'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/mall/1%20%E9%BB%84%E9%87%91%E5%B9%B4%E4%BB%A3%E5%A5%97%E8%A3%85.png',
				'¥',
				'199.0',
				'未成年人请勿购买本产品',
				'这是一个什么设么的商品的名称, 而且还是很长很长的那种的哦',
				'可选颜色:',
				'可选颜色的内容',
				'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/logo.png',
				'扫码打开MOTI到家小程序',
				'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/clock.png',
				'1小时达',
				'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/clock.png',
				'七天包退',
				'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/clock.png',
				'全程验真',
				'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/clock.png',
				'终身质保'
			])
			console.log(this.shareCardTemplate);
			
		},
		methods: {
			onImgOK(e) {
				console.log(e);
				this.url = e.detail.path
			}
		}
	}
</script>

<style lang="less">
.canvas_wrapper {
	position: absolute;
	top: -1500rpx;
}
</style>
