<template>
	<view class="award_item_wrapper bgc_fff">
		<view class="award_header">
			<text class="text_wrapper"><text class="award_content">5元</text>奖励已到账</text>
			<text class="time">2019.05.20 08:20</text>
		</view>

		<view class="awatd_content">
			<image class="icon" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/award.png"></image>
			<view class="content_right">
				<view class="title">您成功邀请好友崔先生加入MOTI用户</view>
				<view class="text">10元现金已存入您的账号中</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {

	}
</script>

<style lang="scss">
	.award_item_wrapper {
		margin-top: 20upx;
		padding: 0 24upx;

		.award_header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 84upx;
			border-bottom: 1upx solid #dcdcdc;

			.text_wrapper {
				font-size: 28upx;
				font-weight: 500;
				color: #333;
				line-height: 28upx;

				.award_content {
					color: #FA4650;
				}
			}

			.time {
				font-size: 22upx;
				font-weight: 400;
				color: #999;
				line-height: 22upx;
			}
		}

		.awatd_content {
			display: flex;
			align-items: center;
			height: 144upx;

			.icon {
				margin-left: 10upx;
				width: 42upx;
				height: 44upx;
			}

			.content_right {
				margin-left: 26upx;

				.title {
					font-size: 28upx;
					font-weight: 400;
					color: #333;
					line-height: 28upx;
				}

				.text {
					margin-top: 16upx;
					font-size: 24upx;
					font-weight: 400;
					color: #999;
					line-height: 24upx;
				}
			}
		}
	}
</style>
