<template>
	<view class="goods-item-wrapper">
		<image class="bg-img" :src="goods.img"></image>
		<view class="content-center">{{goods.title}}</view>
		<view class="content-right">
			<view class="price">¥{{goods.price}}</view>
			<view class="number">x{{goods.number}}</view>
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			goods: {
				type: Object
			}
		}
	}
</script>

<style lang="scss">
	.goods-item-wrapper {
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		width: 646upx;
		height: 148upx;
		background: rgba(249, 249, 249, 1);
		border-radius: 4upx;
		margin-bottom: 36upx;

		.bg-img {
			flex-shrink: 0;
			width: 148upx;
			height: 148upx;
			border-radius: 4upx;
		}

		.content-center {
			padding-top: 14upx;
			margin: 0 24upx 0 26upx;
			height: 68upx;
			flex-grow: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			font-size: 24upx;
			font-weight: 400;
			color: rgba(51, 51, 51, 1);
			line-height: 34upx;
		}

		.content-right {
			padding-top: 10upx;
			padding-right: 10upx;
			flex-shrink: 0;

			.price {
				font-size: 24upx;
				font-weight: 400;
				color: rgba(51, 51, 51, 1);
				line-height: 34upx;
			}

			.number {
				font-size: 22upx;
				font-weight: 400;
				color: rgba(153, 153, 153, 1);
				line-height: 32upx;
				text-align: right;
			}
		}
	}
</style>
