<template>
	<view class="order-item-wrapper" @tap="goOrderDetail">
		<view class="goods_item_header">
			<text>{{orderState}}</text>
			<text class="time">{{order.createTime}}</text>
		</view>
		<view class="content" v-for="(item, index) in order.tradeOrderItemVos" :key="index">
			<view class="bg_img_warpper">
				<img class="bg-img" :src="item.pictureUrl" mode="aspectFit"></image>
			</view>
			<view class="content-center">
				<view class="name">{{item.spuName}}</view>
				<view class="spec grey">{{item.skuName}}</view>
			</view>
			<view class="content-right">
				<view class="price">¥{{parseInt(item.paymentPrice)}}</view>
				<view class="number">x{{item.skuNum}}</view>
			</view>
		</view>
		<view class="total">
			<text class="text text_1">共{{order.tradeOrderItemVos.length}}件商品</text>
			<text class="text text_2">合计:¥</text>
			<text>{{parseInt(order.orderMoney)}}</text>
		</view>
	</view>
</template>

<script>
	// 有order_status  10:待付款 20:待配送 25:部分发货 30:待收货 99:完成  
	// 也有：is_refund 是否退货（1：否，2：退货审核，3：退货完成）  也有order_yn：取消订单(1:否，2:是)'
	import {
		formatDate,
		getOrderStatus
	} from '@/common/utils.js'
	export default {
		props: {
			order: {
				type: Object
			}
		},
		data() {
			return {}
		},
		computed: {
			orderState() {
				const statusObj = getOrderStatus(this.order.isRefund, this.order.orderYn, this.order.orderStatus, this.order.distributionId)
				return statusObj.status
			},
			totalPrice() {
				return parseInt(this.order.orderMoney)
			}
		},
		created() {

		},
		methods: {
			goOrderDetail() {
				uni.navigateTo({
					url: `/pages/orderInfo/orderInfo?orderId=${this.order.id}`
				})
			},
			getOrderStatus(isRefund, orderYn, orderStatus, distributionId) {
				let status = '已完成'
				// 有order_status  10:待付款 20:待配送 25:部分发货 30:待收货 99:完成  
				// 也有：is_refund 是否退货（1：否，2：退货审核，3：退货完成）  也有order_yn：取消订单(1:否，2:是)'
				const _isRefund = parseInt(isRefund)
				const _orderYn = parseInt(orderYn)
				const _orderStatus = parseInt(orderStatus)
				const _distributionId = parseInt(distributionId)
				if (_isRefund === 3 || _isRefund === 2) {
					status = _isRefund === 3 ? '已退货' : _isRefund === 2 ? '退货审核中' : '已完成'
					return status
				}

				if (_orderYn === 2) {
					status = '已取消'
					return status
				}
				if (_distributionId == 3) {
					switch (_orderStatus) {
						case 10:
							status = '待付款'
							break
						case 20:
							status = '待发货'
							break
						case 25:
							status = '部分发货'
							break
						case 30:
							status = '待收货'
							break
						case 99:
							status = '已完成'
							break
					}
				} else {
					switch (_orderStatus) {
						case 10:
							status = '待付款'
							break
						case 20:
							status = '商品打包中'
							break
						case 25:
							status = '部分发货'
							break
						case 30:
							status = '待收货'
							break
						case 99:
							status = '已完成'
							break
					}
				}

				return status
			}
		}
	}
</script>

<style lang="scss">
	.order-item-wrapper {
		width: 100%;
		background: #fff;
		margin-bottom: 20upx;
		padding: 40upx 24upx 16upx 24upx;
		box-sizing: border-box;

		.goods_item_header {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			font-size: 30upx;
			font-weight: 600;
			color: #333;
			line-height: 30upx;
			margin-bottom: 26upx;

			.time {
				margin-left: 20upx;
				color: #666;
				font-size: 22upx;
				font-weight: 400;
				line-height: 22upx;
			}
		}

		.content {
			width: 100%;
			overflow: hidden;
			display: flex;
			justify-content: space-between;
			height: 148upx;

			border-radius: 4upx;
			margin-bottom: 16upx;
			margin-top: 24upx;

			.bg_img_warpper {
				width: 148upx;
				text-align: center;

				.bg-img {
					flex-shrink: 0;
					height: 148upx;
					border-radius: 4upx;
				}
			}

			.content-center {
				margin: 0 24upx 0 26upx;
				flex-grow: 1;

				.name,
				.spec {
					padding-top: 14upx;
					height: 68upx;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					font-size: 24upx;
					font-weight: 400;
					color: rgba(51, 51, 51, 1);
					line-height: 34upx;
				}

				.grey {
					color: #999999;
				}
			}

			.content-right {
				padding-top: 10upx;
				padding-right: 25upx;
				flex-shrink: 0;

				.price {
					font-size: 24upx;
					font-weight: 400;
					color: rgba(51, 51, 51, 1);
					line-height: 34upx;
				}

				.number {
					font-size: 22upx;
					font-weight: 400;
					color: rgba(153, 153, 153, 1);
					line-height: 32upx;
					text-align: right;
				}
			}
		}

		.total {
			color: #FF4A65;
			font-size: 36upx;
			text-align: right;
			margin-bottom: 20upx;

			.text {
				color: #999;
				font-size: 24upx;
			}

			.text_1 {
				margin-right: 20upx;
			}

			.text_2 {
				margin-right: 10upx;
			}
		}
	}
</style>
