<template>
	<view class="mian">
		<view class="kol-header">
			<view class="kol-header-box">
				<view class="kol-header-icon"></view>
				<view class="success-tips" v-if="isSuccess">
					<view class="tips">优惠券领取成功</view>
					<view class="tips-content">已成功存入<text>{{info.mobile.substr(0, 3) + "****" + info.mobile.substr(7)}}</text>账号</view>
				</view>

				<view class="kol-header-coupon"></view>
				<view class="kol-header-input" v-if="!isSuccess">
					<view class="input-box">
						<input type="number" maxlength="11" v-model="info.mobile" placeholder="请输入手机号" />
					</view>
					<view class="input-box">
						<input type="number" v-model="info.code" placeholder="请输入验证码" />
						<view class="getCode" v-if='!isGotCode' @tap='getCode'>获取验证码</view>
						<view class="getCode" v-else>重新获取({{timeDown}})</view>
					</view>
				</view>
				<view class="kol-header-btns" v-if="!isSuccess">
					<button type="default" @tap="toSuccess">立即领取</button>
				</view>
			</view>
		</view>
		<view class="rule-box">
			<view class="rule">
				<image src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/kol/rule.png" mode="widthFix" v-show="toggleRule" @tap="toggleRule = !toggleRule"></image>
				<image src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/kol/rule_show.png" mode="widthFix" v-show="!toggleRule" @tap="toggleRule = !toggleRule"></image>
			</view>
		</view>
		<view class="goods-box">
			<view class="goods-bg"></view>
			<view class="link1" @tap="toShop(1)"></view>
			<view class="link2" @tap="toShop(2)"></view>
			<view class="link3" @tap="toShop(3)"></view>
			<view class="link4" @tap="toShop(4)"></view>
			<view class="link5" @tap="toShop(5)"></view>
		</view>

		<view class="footer" :class="{active: isSuccess}">北京焱炎科技有限公司 京ICP备19024458号-1</view>

		<view class="more" v-if="isSuccess" @tap="toShop(6)"></view>

		<view class="popup-box" v-if="showPopup" @tap="showPopup = false">
			<view class="popup-box-img">
				<image :src="popupImg" mode="widthFix"></image>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		checkUserMobile,
		sendDynamicCode,
		mobileLogin,
		batchDrawCoupons,
		loadInfo,
		createNewCustomerCoupons
	} from '@/common/request.js';
	export default {
		data() {
			return {
				isSuccess: false,
				toggleRule: true,
				isGotCode: false,
				timeDown: 60,
				timer: null,
				userId: '',
				currentTime: new Date().getTime(),
				showPopup: false,
				popupImg: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/kol/popup1.png',
				info: {
					mobile: '',
					code: ''
				},
				errorInfo: {
					mobile: false,
					code: false
				},
				isNewUser: false
			}
		},
		onLoad() {
			let successMobile = uni.getStorageSync('kolActivitySuccessMobile');
			if(successMobile) {
				this.info.mobile = successMobile;
				this.isSuccess = true;
			}
		},
		methods: {
			async toSuccess() {
				if (this.checkMobile() && this.checkCode()) {
					uni.showLoading({
						title: '领取中...',
						icon: 'none'
					})
					const loginParams = {
						mobile: this.info.mobile,
						dynamicCode: this.info.code,
						quickType: '1'
					}
					let res = await mobileLogin(loginParams);
					if (this.isNewUser) {
						await createNewCustomerCoupons(res.result)
					}
					if (res.code == 0) {
						// 本次活动的2张优惠券id 604336981535113218,604336981665113227
						let data = await batchDrawCoupons('604336981535113218,604336981665113227', res.result, '1');
						if (data.code == 0) {
							uni.hideLoading();
							uni.showToast({
								icon: 'none',
								title: '领取成功!'
							});
							this.isSuccess = true;
							loadInfo();
							uni.setStorageSync('kolActivitySuccessMobile', this.info.mobile);
						} else {
							uni.hideLoading()
							if (data.code == 16) {
								// 优惠券领完了
								this.popupImg = 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/kol/popup1.png';
								this.showPopup = true;
								this.isSuccess = true;
								uni.setStorageSync('kolActivitySuccessMobile', this.info.mobile);
							} else {
								uni.showToast({
									icon: 'none',
									title: data.msg
								})
							}
						}
					} else {
						uni.hideLoading()
						uni.showToast({
							icon: 'none',
							title: res.msg
						})
					}
				}
			},
			async getCode() {
				if (Number(this.currentTime) > 1577807999000) {
					// 提示活动结束 结束时间2019/12/31 23:59:59
					this.popupImg = 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/kol/popup2.png';
					this.showPopup = true;
				}
				if (this.checkMobile()) {
					let {
						code,
						msg,
						result
					} = await checkUserMobile(this.info.mobile);
					let res = null;
					if (code == 0) {
						res = await sendDynamicCode(this.info.mobile, '102');
					} else {
						this.isNewUser = true
						res = await sendDynamicCode(this.info.mobile, '101');
					}
					if (res.code == 0) {
						this.isGotCode = true;
						this.timer = setInterval(() => {
							this.timeDown -= 1
							if (this.timeDown === 0) {
								clearInterval(this.timer)
								this.isGotCode = false
								this.timer = null
								this.timeDown = 60
							}
						}, 1000)
					} else if (res.code == 1) {
						uni.showToast({
							title: '请勿频繁操作',
							icon: 'none'
						})
					}
				} else {
					uni.showToast({
						title: '请输入正确的手机号',
						icon: 'none'
					})
				}
			},
			checkMobile() {
				let reg = /^1[3456789]\d{9}$/;
				if (reg.test(this.info.mobile)) {
					this.errorInfo.mobile = false;
					return true;
				} else {
					this.errorInfo.mobile = true;
					return false;
				}
			},
			checkCode() {
				let reg = /^\d{6}$/;
				if (reg.test(this.info.code)) {
					this.errorInfo.code = false;
					return true;
				} else {
					this.errorInfo.code = true;
					return false;
				}
			},
			toShop(n) {
				let url = '';
				switch (n) {
					case 1:
						url = '/pages/goodsDetail/goodsDetail?spuId=112492578540&sendType=average';
						break;
					case 2:
						url = '/pages/goodsDetail/goodsDetail?spuId=112492578693&sendType=average';
						break;
					case 3:
						url = '/pages/goodsDetail/goodsDetail?spuId=112492576695&sendType=average';
						break;
					case 4:
						url = '/pages/goodsDetail/goodsDetail?spuId=112492576865&sendType=average';
						break;
					case 5:
						url = '/pages/goodsDetail/goodsDetail?spuId=112492577792&sendType=average';
						break;
					case 6:
						url = '/pages/index/index';
						break;
				}
				if(n == 6){
					uni.switchTab({
					    url: url
					});
				}else {
					uni.navigateTo({
						url: url
					})
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.mian {
		position: relative;
		background: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/kol/background-mian.jpg') repeat-y;
		background-size: contain;

		.kol-header {
			background: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/kol/background-header.jpg') no-repeat;
			background-size: contain;
			padding: 578upx 24upx 0 24upx;

			.kol-header-box {
				position: relative;
				width: 614upx;
				height: auto;
				background: #FFFFFF;
				padding: 96upx 44upx 70upx 44upx;
				border-radius: 12upx;

				.kol-header-icon {
					width: 449upx;
					height: 60upx;
					background: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/kol/header-icon.png') no-repeat;
					background-size: contain;
					position: absolute;
					top: -30upx;
					left: 123upx;
				}

				.success-tips {
					.tips {
						color: #363636;
						font-size: 32upx;
						line-height: 32upx;
						text-align: center;
						padding-bottom: 24upx;
					}

					.tips-content {
						color: #999999;
						font-size: 22upx;
						line-height: 22upx;
						text-align: center;
						padding-bottom: 44upx;
						text {
							color: #666666;
							font-weight: 600;
						}
					}
				}

				.kol-header-coupon {
					width: 614upx;
					height: 170upx;
					background: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/kol/header-coupon.png') no-repeat;
					background-size: contain;
				}

				.kol-header-input {
					padding-top: 14upx;

					.input-box {
						width: 552upx;
						height: 83upx;
						border: 3upx solid #c0bfbf;
						border-radius: 10upx;
						padding: 0 30upx;
						margin-top: 44upx;
						position: relative;

						input {
							height: 83upx;
							line-height: 83upx;
							font-size: 30upx;
						}

						.getCode {
							position: absolute;
							top: -2upx;
							right: -2upx;
							width: 220upx;
							height: 85upx;
							border-top-left-radius: 0;
							border-top-right-radius: 10upx;
							border-bottom-right-radius: 10upx;
							border-bottom-left-radius: 0;
							background-color: #dd37ab;
							text-align: center;
							line-height: 83upx;
							font-size: 30upx;
							color: #ffffff;
						}
					}
				}

				.kol-header-btns {
					padding-top: 66upx;

					button {
						background: #dd37ab;
						color: #FFFFFF;
						font-size: 32upx;
					}
				}
			}
		}

		.rule-box {
			padding: 30upx 24upx 35upx 24upx;

			.rule {
				width: 100%;

				image {
					width: 100%;
					display: block;
					border: none;
				}
			}
		}

		.goods-box {
			padding: 0 25upx;
			position: relative;

			.goods-bg {
				width: 100%;
				height: 1549upx;
				background: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/kol/goods.png') no-repeat;
				background-size: contain;
			}

			.link1 {
				position: absolute;
				top: 0;
				left: 24upx;
				width: 700upx;
				height: 310upx;
				z-index: 99;
			}

			.link2 {
				position: absolute;
				top: 420upx;
				left: 24upx;
				width: 346upx;
				height: 560upx;
				z-index: 99;
			}

			.link3 {
				position: absolute;
				top: 420upx;
				left: 378upx;
				width: 346upx;
				height: 560upx;
				z-index: 99;
			}

			.link4 {
				position: absolute;
				top: 990upx;
				left: 24upx;
				width: 346upx;
				height: 560upx;
				z-index: 99;
			}

			.link5 {
				position: absolute;
				top: 990upx;
				left: 378upx;
				width: 346upx;
				height: 560upx;
				z-index: 99;
			}
		}

		.footer {
			margin-top: 60upx;
			background: #680c69;
			width: 100%;
			height: 100upx;
			line-height: 100upx;
			text-align: center;
			font-size: 24upx;
			color: #935193;

			&.active {
				background: none;
				margin-top: 0;
				color: #80788a;
				padding-bottom: 120upx;
			}
		}

		.more {
			width: 750upx;
			height: 115upx;
			background: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/kol/more.png') no-repeat;
			background-size: cover;
			position: fixed;
			left: 0;
			bottom: 0;
			z-index: 9999;
		}

		.popup-box {
			width: 100vw;
			height: 100vh;
			position: fixed;
			left: 0;
			top: 0;
			background: rgba(0, 0, 0, 0.8);
			z-index: 999;

			.popup-box-img {
				width: 524upx;
				height: 353upx;
				position: fixed;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				image {
					width: 100%;
				}
			}
		}
	}
</style>
