<template>
	<view class="goodsdetail_wrapper" v-if="isPageReady">
		<view class="goods_bg">
			<swiper :indicator-dots="true" :autoplay="true" :interval="3000" :duration="1000" :circular="true">
				<swiper-item v-for="(item, index) in goods.pictureList" :key="index">
					<view class="swiper-item img_def">
						<image v-if="item.picture_url" :src="item.picture_url"></image>
					</view>
				</swiper-item>
			</swiper>

		</view>
		
		<!-- 蓝牙预售的倒计时 -->
		<!-- 蓝牙延后 -->
		<!-- <view class="bluetooth_timedown" v-if="isBluetooth">
			<view class="price_wrapper">
				<text class="rmb_icon">¥</text>
				<text class="now_price">{{parseInt(goods.market_price)}}</text>
				<text class="old_price">¥369</text>
			</view>
			<view class="border"></view>
			<view class="timedown_wrapper">
				<view class="text">距预售结束</view>
				<countdown :second="timeDown"></countdown>
			</view>
		</view> -->
		
		<view class="goods_base_info">

			<view class="price_line">
				<!-- 价格 -->
				<view class="price">
					<view class="icon_money">¥</view>
					<view class="number">{{parseInt(goods.market_price)}}</view>
					<!-- <view class="number">{{goods.integerMoney}}</view>
					<view class="digitsMoney">{{goods.digitsMoney}}</view> -->
					
				</view>

				<!-- 分享按钮 -->
				<!-- #ifndef H5 -->
				<button class="share_btn" plain='1' @tap.stop="showSharePopup">分享</button>
				<!-- #endif -->
				<!-- #ifdef H5 -->
				<button class="share_btn" v-if="isWxBrowser" plain='1' @tap.stop="showSharePopup">分享</button>
				<!-- #endif -->

			</view>

			<!-- title -->
			<view class="title_line">
				<!-- 蓝牙延后 -->
				<!-- <text class="title_icon" vshare_btn-if="isBluetooth">预售</text> -->
				<text class="title_icon">热卖</text>
				<text class="title_icon" v-if="sendType === 'hour'">1小时达</text>
				<text class="title">{{goods.name}}</text>
			</view>

		</view>

		
		<!-- 蓝牙预售活动 延后 -->
		<!-- <block v-if="isBluetooth">
			<view class="bluetooth_activity">
				<view class="table_label">优惠</view>
				<view class="table_content">
					<view class="content_line">
						<view class="content_line_icon">活动</view>
						<view class="content_line_text">分享立减50元</view>
					</view>
					<view class="content_line">
						<view class="content_line_icon">限时</view>
						<view class="content_line_text">7月21日恢复原价369元</view>
					</view>
					<view class="content_line">
						<view class="content_line_icon">包邮</view>
						<view class="content_line_text">在线支付免运费</view>
					</view>
			
				</view>
			</view>
			<view class="bluetooth_activity mt0">
				<view class="table_label">发货</view>
				<view class="table_content">
					<view class="content_line send_line_1">
						<text>预计2019年7月20日发货</text>
						<view class="border"></view>
						<text>MOTI官方发货</text>
					</view>
					<view class="content_line send_line_2">全国包邮（不含海外/港澳台/新疆/内蒙古/西藏/青海）</view>
				</view>
			</view>
		</block> -->
		



		<!-- 优惠等信息 -->
		<view class="discount_info">

			<view class="table_layout">
				
				<!-- isHasDiscounts -->
				<view class="table_line" @tap="goPage('discounts/discounts')" v-if="false">
					<text class="iconfont moti-right"></text>
					<view class="table_label">优惠</view>
					<view class="table_content">
						<view class="activity mb25" v-if="goods.activityList && goods.activityList.length > 0">
							<text class="activity">领券最高可减</text>
							<text class="def_red">¥200</text>
						</view>
						<view class="discount" v-if="goods.couponList && goods.couponList.length > 0">
							<view class="dis_text">店铺优惠券</view>
							<view class="dis_number" v-for="(item, index) in goods.couponList" :key="index">
								<coupon-border :text="item.coupon_name"></coupon-border>
							</view>
						</view>
					</view>
				</view>
				<!-- <view class="table_line">
					<view class="table_label">重要</view>
					<view class="table_content">
						<view class="hint">未成年人请勿购买本产品</view>
					</view>
				</view> -->
			</view>


			<!-- <view class="table_line" @tap="goPage('discounts/discounts')">
				<text class="th">优惠</text>
				<text class="content"  v-if="goods.activityList.length > 0">
					<text>领券最高可减</text>
					<text class="def_red">¥200</text>
				</text>
        <view class="discount_line" v-if="goods.couponList.length > 0">
          <view class="dis_text">店铺优惠券</view>
          <view class="dis_number">
            <text>满300减20</text>
          </view>
          <view class="dis_number">
            <text>满300减20</text>
          </view>
          <view class="dis_number">
            <text>满300减20</text>
          </view>
        </view>
				<text class="iconfont moti-right"></text>
			</view>

		

			<view class="table_line">
				<text class="th">重要</text>
				<text class="def_red">未成年人请勿购买本产品</text>
			</view> -->
		</view>


		<!-- 已选商品信息 -->
		<view class="choosed_info" @tap="popupAttrsMask('middle')">
			<view class="th">已选</view>
			<view class="content">
				<text v-if="choosedAttr">{{choosedAttr}},</text>
				<text v-if="changedNumber > 0 && skuId">{{changedNumber}}件,</text>
				<text>可选服务</text>
			</view>
			<text class="iconfont moti-right"></text>
			<!-- #ifdef MP-WEIXIN -->
			<formIdLayout></formIdLayout>
			<!-- #endif -->
		</view>

		<!-- 商品介绍 -->
		<view class="goods_desc">
			<view class="goods_desc_header">
				商品详情
			</view>
			<view class="goods_desc_content img_def">
				<!-- #ifdef MP-WEIXIN -->
				<image src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/user/goods/detailPage/moti-statement.png"></image>
				<!-- #endif -->
				
				<!-- #ifdef H5 || APP-PLUS -->
				<image :src="goods.describe_url" v-show="isDescLoad" @load="descLoad" mode="widthFix"></image>
				<!-- #endif -->
			</view>
		</view>

		<view class="goods_footer">
			<view class="btns">
				<view class="btn" @tap="goPage('index/index')" v-track-event="{category:'回到首页', action:'回到首页',label:'回到首页'}">
					<image class="home" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/icon_home_1.png"></image>

					<text>首页</text>
				</view>
				<view class="btn" @tap="call" v-track-event="{category:'客服功能', action:'客服功能',label:'客服功能'}">
					<image class="service" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/icon_service.png"></image>
					<text>客服</text>
				</view>
				<!-- 蓝牙延后 -->
				<!-- <view class="btn" @tap="goPage('cart/cart')" v-if="!isBluetooth"> -->
				<view class="btn" @tap="goPage('cart/cart')" v-track-event="{category:'去购物车', action:'去购物车',label:'去购物车'}">
					<text class="iconfont moti-didaogouwuche"></text>
					<text>购物车</text>
					<view class="cart_num" v-if="cartNum > 0">{{cartNum}}</view>
				</view>
			</view>
			
			<!-- 蓝牙延后 -->
			<!-- <block v-if="isBluetooth">
				<view class="bluetooth_handle" @tap="buyNow">
					立即预定
				</view>
			</block> -->
			
			<block>
				<view class="goods_handle">
					<view class="join_cart" @tap="joinCart('add_shopcart')" v-track-event="{category:'加入购物车', action:'加入购物车',label:'加入购物车'}">
						加入购物车
						<!-- #ifdef MP-WEIXIN -->
						<formIdLayout></formIdLayout>
						<!-- #endif -->
					</view>
					<view class="buy_now" @tap="buyNow('imme_buy')">
						立即购买
						<!-- #ifdef MP-WEIXIN -->
						<formIdLayout></formIdLayout>
						<!-- #endif -->
					</view>
					
					
				</view>
			</block>
		</view>

		<popupbottom :show="isShowGoodsAttrs" @close="hidePopup">
			<view class="goods_info_popup" :class="{transition: isTransition}" @tap.stop>
				<view class="base_info">
					<view class="img_wrapper img_def">
						<image class="poster" :src="goods.picture_url" mode="aspectFit"></image>
					</view>
					<view class="info_text">
						<view class="title">{{goods.name}}</view>
						<view class="choosed_attr">已选: {{choosedAttr}}</view>
						<view class="price">
							<text class="icon_rmb">¥</text>
							<text class="number">{{parseInt(goods.market_price)}}</text>
							<!-- <text>{{goods.digitsMoney}}</text> -->
						</view>
						<view class="notice_text">未成年人(未满18岁)请勿购买本产品</view>
					</view>

					<view class="right" @tap="hidePopup"><text class="iconfont moti-close"></text></view>
				</view>

				<!-- 属性 -->
				<view class="attrs_wrapper">
					<!-- 颜色 -->
					<block v-if="colors.attrValueList && colors.attrValueList.length > 0">
						<view class="colors_header">颜色</view>
						<view class="colors">
							<view class="color" :class="{active: index === currentColorIndex}" v-for="(item, index) in colors.attrValueList"
							 :key="index" @tap="chooseColor" :data-index="index" :data-id="item.attrValueId">{{item.attrValue}}</view>
						</view>
					</block>
					<!-- 规格 -->
					<block v-if="specifications.attrValueList && specifications.attrValueList.length > 0">
						<view class="colors_header">规格</view>
						<view class="colors">
							<view class="color" :class="{active: index === currentSpecIndex}" v-for="(item, index) in specifications.attrValueList"
							 :key="index" @tap="chooseSpec" :data-index="index" :data-id="item.attrValueId">{{item.attrValue}}</view>
						</view>
					</block>
					<!-- 口味 -->
					<block v-if="tastes.attrValueList && tastes.attrValueList.length > 0">
						<view class="colors_header">口味</view>
						<view class="colors">
							<view class="color" :class="{active: index === currentTasteIndex}" v-for="(taste, index) in tastes.attrValueList"
							 :key="index" @tap="chooseTaste" :data-index="index" :data-id="taste.attrValueId">{{taste.attrValue}}</view>
						</view>
					</block>
					<!-- <view class="attrs_header">规格</view>
					<view class="attrs">
						<view class="attr"
							:class="{active: index == currentSpecIndex}"
							v-for="(item, index) in specifications"
							:key="index"
							@tap="chooseSpec"
							:data-index="index">{{item.spec}}</view>
					</view> -->

					<view class="nums_header">
						<text>数量</text>
						<uni-number-box :value="1" :min="1" @change="numberChange" />
					</view>

					<view class="service_header">服务</view>
					<view class="services">
						<view class="service" v-for="(item, index) in services" :key="index">
							<image :src="item.url"></image>
							<text>{{item.text}}</text>
						</view>
					</view>

					<view class="btn_wrapper">
						<block>
							<block v-if="isMiddleTapPop">
								<!-- 蓝牙延后 -->
								<!-- <block v-if="isBluetooth">
									<view class="confirm_btn" @tap="confirm">确定</view>
								</block> -->
								<block>
									<view class="popup_joincart" @tap="joinCart('add_shopcart_choo')" v-track-event="{category:'加入购物车', action:'弹出弹层',label:'加入购物车按钮弹出弹窗'}">
										加入购物车
										<!-- #ifdef MP-WEIXIN -->
										<formIdLayout></formIdLayout>
										<!-- #endif -->
									</view>
									<view class="popup_buynow" @tap="buyNow('imme_buy_choo')" v-track-event="{category:'立即购买', action:'弹出弹窗',label:'立即购买按钮弹出弹窗'}">
										立即购买
										<!-- #ifdef MP-WEIXIN -->
										<formIdLayout></formIdLayout>
										<!-- #endif -->
									</view>
								</block>
							</block>
							<block v-else>
								<view class="confirm_btn" @tap="confirm"  v-track-event="{category:'确定加入购物车', action:'详情页加入购物车',label:`skuId=${skuId}material=${sourceInfo.material}channel=${sourceInfo.channel}`}">
									确定
									<!-- #ifdef MP-WEIXIN -->
									<formIdLayout></formIdLayout>
									<!-- #endif -->
								</view>
							</block>
						</block>
					</view>

				</view>
			</view>
		</popupbottom>
		<!-- <popup-s :show="true" position="bottom">
			<view>sdfadsf</view>
		</popup-s> -->
		
		
		<popupbottom :show="false">
			<view class="share_btns_warpper">
				
			</view>
		</popupbottom>
		
		<!-- #ifdef MP-WEIXIN -->
		<loginMask :show="isShowLoginMask" @loginResult="loginResult"></loginMask>
		
		<view class="canvas_wrapper" v-if="shareCardTemplate">
			<painter :palette="shareCardTemplate" @imgOK="onImgOK"></painter>
		</view>
		
		<mmask :show="isShowShareMask" @maskTap="closeShareMask">
			<view class="share_mp" v-if="!shareCardUrl" @tap.stop>
				<button class="btn" plain="1" open-type="share" @tap="closeShareMask" data-type="shareList">分享给好友</button>
				<button class="btn" plain="1" @tap="createShareCard">生成图文海报</button>
				<button class="btn last" plain="1" @tap="closeShareMask" >取消</button>
			</view>
			<!-- shareCardUrl -->
			<view class="save_share_card" v-else  @tap.stop>
				<view class="share_card_header">
					<text>保存到相册</text>
					<image @tap="closeShareMask" class="share_card_close" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/close_1.png"></image>
				</view>
				<image class="share_card_img" :src="shareCardUrl" mdoe="widthFix"></image>
				<button class="save_btn" plain="1" @tap="saveShareCard">保存到相册</button>
			</view>
		</mmask>
		<!-- #endif -->
		<!-- #ifdef H5 -->
		<view class="share_mask_h5" v-if="isShowShareMask" @tap="closeShareMask">
			<view class="share_h5">
				<view class="share_mask_text">1.请点击右上角图标</view>
				<view class="share_mask_text">2.点击发送给朋友或分享到朋友圈</view>
			</view>
		</view>
		<!-- #endif -->
		
		
	</view>
</template>

<script>
	import {
		goodsSpuQuery,
		queryGoodsSku,
		addCar,
		subCarNum,
		goodsHourSpuQuery,
		countGoodsSellerEachMonth,
		getWxaCodeUnLimit
		// checkBlueToothPreBookingNum
	} from "@/common/request.js";
	import Popup from "@/components/popup/popup.vue";
	import uniNumberBox from "@/components/uni-number-box/uni-number-box.vue";
	import couponBorder from '@/components/couponBorder.vue'
	import countdown from './components/countdown.vue'
	import {
		getCookie
	} from "@/common/utils.js";
	import Card from './shareCard.js'
	// import goodsData from './mock.js'
	export default {
		data() {
			return {
				isPageReady: false,
				sendType: "",
				sellerNumber: '', //销售量
				spuType: "",
				goods: {},
				skuId: "",
				spuId: "",
				cartNum: 0,
				services: [{
						url: "https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/clock.png",
						text: "一小时达"
					},
					{
						url: "https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/circle_zheng.png",
						text: "七天包退"
					},
					{
						url: "https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/circle_bao.png",
						text: "终身质保"
					},
					{
						url: "https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/circle_zhen.png",
						text: "全程验真"
					}
				],
				colors: {},
				specifications: {},
				tastes: {},
				currentSpecIndex: -1, // 选中的规格的index
				currentColorIndex: -1, // 选中的颜色的index
				currentTasteIndex: -1,
				choosedNumber: 0,
				changedNumber: 1,
				choosedAttr: "",
				isShowGoodsAttrs: false,
				isTransition: false,
				btnHandleType: 0,
				isDescLoad: false,
				choosedAttrImg: '',
				cartCacheGoods: {},
				isHasDiscounts: false,
				isMiddleTapPop: false,
				// isBluetooth: false,
				timeDown: 0,
				
				// #ifdef MP-WEIXIN
				isShowLoginMask: false,
				shareCardUrl: '',
				// #endif
				
				sourceInfo:{},
				shareCardTemplate: null,
				isShowShareMask: false,
				isWxBrowser: false
			};
		},
		components: {
			Popup,
			uniNumberBox,
			couponBorder,
			countdown
		},
		onLoad(options) {
			console.log('goodsDetail', options);
			uni.showLoading({
				title: '加载中...'
			})
			if (options.scene) {
				const params = options.scene.split('_')
				this.sendType = params[1]
				this.spuId = params[0]
			} else {
				this.sendType = options.sendType;
				this.spuId = options.spuId;
			}
			console.log(this.sendType, this.spuId);
			
			// 蓝牙延后
			// if (this.spuId === '130285923059') {
			// 	this.isBluetooth = true
			// 	this.timeDown = parseInt((+new Date('2019', '07', '10', '00', '00', '00') - +new Date()) / 1000)
			// }
			
			if (this.sendType === 'average') {
				this.services.splice(0, 1)
			}
			// this.spuId = '112492576696'
			this.initData();
			this.saleNum();
			//取得缓存
			this.sourceInfo = uni.getStorageSync('sourceInfo')
			console.log( JSON.stringify(this.sourceInfo))
			console.log("友盟更新")
			// #ifdef H5
			this.isWxBrowser = this.$mutils.isWxBrowser()
			// #endif
		},
		onShow() {
			this.initOnShow()
		},
		onHide() {
			this.isShowLoginMask = false
		},
		methods: {
			call() {
				this.MonitorEvent('cust_server');	// 大数据按钮埋点 cust_server
				this.$wxBuryDot('my_order_cust_server')
				uni.makePhoneCall({
					phoneNumber: '400-012-6828' //仅为示例
				});
			},
			async initData() {
				const isLogin = await this.$isLogin()
				if (!isLogin) {
					this.cartNum = this.$utils.cartCache.getCartCacheNum()
					this.$store.commit('setCartNum', this.cartNum)
				}
				this.goodsSpuQuery();
				
				// console.log(this.tastes.attrValueList[0].attrValueId);
			},
			initOnShow() {
				this.cartNum = this.$store.getters.cartNum;
				if (this.cartNum > 0) {
					uni.setTabBarBadge({
						index: 1,
						text: `${this.cartNum}`
					})
				} else {
					uni.removeTabBarBadge({
						index: 1
					})
				}
			},
			initShare() {
				// #ifdef H5
				this.$wechat.share(location.href, {
					title: this.goods.name,
					desc: this.goods.name,
					link: location.href,
					imgUrl: this.goods.pictureList[0].picture_url,
				})
				// #endif
			},
			async saleNum() {
				let {
					code,
					result
				} = await countGoodsSellerEachMonth(this.spuId);
				if (code == 0) {
					this.sellerNumber = result.sellerNumber;
				}
			},
			async goodsSpuQuery() {
				const {
					result
				} = this.sendType === "hour" ? await goodsHourSpuQuery(this.spuId) : await goodsSpuQuery(this.spuId)
				// const { result } = await goodsSpuQuery(this.spuId);
				this.goods = result;
				// #ifdef H5
				// jWeixin.updateAppMessageShareData({ 
				// 	title: this.goods.name, // 分享标题
				// 	desc: this.goods.name, // 分享描述
				// 	link: location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
				// 	imgUrl: this.goods.picture_url
				// })
				// #endif
				if (this.goods.couponList && !Array.isArray(this.goods.couponList)) {
					this.goods.couponList = JSON.parse(this.goods.couponList);
				}
				if (this.goods.activityList && !Array.isArray(this.goods.activityList)) {
					this.goods.activityList = JSON.parse(this.goods.activityList);
				}
				if (this.goods.pictureList && !Array.isArray(this.goods.pictureList)) {
					this.goods.pictureList = JSON.parse(this.goods.pictureList);
				}

				if (this.goods.couponList && this.goods.couponList.length > 0 || this.goods.activityList && this.goods.activityList
					.length) {
					this.isHasDiscounts = true
				}
				let id = '';
				this.goods.attr.forEach(cur => {
					if (cur.attrName === "颜色") {
						this.colors = cur;
						id = this.colors.attrValueList && this.colors.attrValueList[0].attrValueId
						this.currentColorIndex = 0
						this.choosedAttr = this.colors.attrValueList && this.colors.attrValueList[0].attrValue;
					} else if (cur.attrName === "口味") {
						this.tastes = cur;
						id = this.tastes.attrValueList && this.tastes.attrValueList[0].attrValueId
						this.currentTasteIndex = 0
						this.choosedAttr = this.tastes.attrValueList && this.tastes.attrValueList[0].attrValue;
					} else if (cur.attrName === "规格") {
						this.specifications = cur;
						id = this.specifications.attrValueList && this.specifications.attrValueList[0].attrValueId
						this.currentSpecIndex = 0
						this.choosedAttr = this.specifications.attrValueList && this.specifications.attrValueList[0].attrValue;
					}
					this.queryGoodsSku(id)
				});
				this.isPageReady = true
				uni.hideLoading()
				console.log(this.goods);
				uni.setNavigationBarTitle({
					title: this.goods.name
				});
				console.log(this.goods.market_price);
				this.goods.integerMoney = this.goods.market_price.slice(0, this.goods.market_price.indexOf('.') + 1);
				this.goods.digitsMoney = this.goods.market_price.slice(this.goods.market_price.indexOf('.') + 1);
				
			},
			// async goodsHourSpuQuery() {
			// 	const {
			// 		result
			// 	} = await goodsHourSpuQuery(this.spuId);
			// 	console.log(result);
			// 	this.goods = result;
			// 	if (this.goods.couponList && !Array.isArray(this.goods.couponList)) {
			// 		this.goods.couponList = JSON.parse(this.goods.couponList);
			// 	}
			// 	if (this.goods.activityList && !Array.isArray(this.goods.activityList)) {
			// 		this.goods.activityList = JSON.parse(this.goods.activityList);
			// 	}
			// 	if (this.goods.pictureList && !Array.isArray(this.goods.pictureList)) {
			// 		this.goods.pictureList = JSON.parse(this.goods.pictureList);
			// 	}
			// 	if (this.goods.couponList && this.goods.couponList.length > 0 || this.goods.activityList && this.goods.activityList.length) {
			// 		this.isHasDiscounts = true
			// 	}
			// 	this.isPageReady = true
			// 	this.goods.attr.forEach(cur => {
			// 		if (cur.attrName === "颜色") {
			// 			this.colors = cur;
			// 		} else if (cur.attrName === "口味") {
			// 			this.tastes = cur;
			// 		} else if (cur.attrName === "规格") {
			// 			this.specifications = cur;
			// 		}
			// 	});
			// },
			async numberChange(e) {
				console.log('numberChange', e);
				this.changedNumber = e.num
				console.log('this.changedNumber', this.changedNumber);
				// const res = await subCarNum(this.skuId, e.num);
				// if (res.code == 3) {
				console.log(this.goods.picture_url);
				if (this.btnHandleType === 0) {
					this.cartCacheGoods = {
						spuId: this.spuId,
						spuName: this.goods.name,
						skuId: this.skuId,
						skuName: this.choosedAttr,
						skuNum: this.changedNumber,
						sendType: this.sendType,
						attrValue: this.choosedAttr,
						singlePrice: this.goods.market_price,
						pictureUrl: this.goods.picture_url
					}
					// console.log('cartCacheGoods', this.cartCacheGoods);
					// this.$utils.cartCache.addCartCache(this.cartCacheGoods)
					// this.cartNum = this.$utils.cartCache.getCartCacheNum()
					// this.$store.commit('setCartNum', this.cartNum)
				}
				// } else {
				// }
			},
			popupAttrsMask(type = '') {
				this.MonitorEvent('choosed');	// 大数据按钮埋点 choosed
				if (type === 'middle') {
					this.isMiddleTapPop = true
				}
				this.isShowGoodsAttrs = true;
				let timer = setTimeout(() => {
					this.isTransition = true;
					clearTimeout(timer);
					timer = null;
				});
			},
			hidePopup() {
				this.isMiddleTapPop = false
				this.isShowGoodsAttrs = false;
				this.isTransition = false;
			},
			chooseColor(e) {
				const index = e.currentTarget.dataset.index
				const id = e.currentTarget.dataset.id
				this.currentColorIndex = Number(index);
				this.choosedAttr = this.colors.attrValueList[index].attrValue;
				this.queryGoodsSku(id);
			},
			chooseSpec(e) {
				const index = e.currentTarget.dataset.index;
				const id = e.currentTarget.dataset.id;
				this.currentSpecIndex = Number(index);
				console.log(index);
				this.choosedAttr = this.specifications.attrValueList[index].attrValue;
				this.queryGoodsSku(id);
			},
			chooseTaste(e) {
				const index = Number(e.currentTarget.dataset.index);
				const id = e.currentTarget.dataset.id;
				this.currentTasteIndex = Number(index);
				this.choosedAttr = this.tastes.attrValueList[index].attrValue;
				this.queryGoodsSku(id);
			},
			async queryGoodsSku(arrtsIds) {
				const {
					result
				} = await queryGoodsSku(this.spuId, arrtsIds);
				this.skuId = result.id;
				this.goods.picture_url = result.pictureList && result.pictureList[0]
				this.$wxBuryDot('page_good_detail')
				this.initShare()
			},
			joinCart(type) {
				// console.log(getCookie);
				// if (!getCookie('token')) return uni.navigateTo({
				// 	url: '/pages/login/login'
				// })
				this.MonitorEvent(type);	// 大数据按钮埋点 type-add_shopcart:add_shopcart_choo
				this.btnHandleType = 0;
				if (this.isMiddleTapPop) {
					this.$wxBuryDot('good_detail_add_shopcart_choo')
					this.confirm()
				} else {
					this.popupAttrsMask();
				}
			},
			async buyNow(type) {
				// if (!getCookie('token')) return uni.navigateTo({
				// 	url: '/pages/login/login'
				// })
				this.MonitorEvent(type);	// 大数据按钮埋点 type-imme_buy:imme_buy_choo
				this.btnHandleType = 1;
				if (this.isMiddleTapPop) {
					this.$wxBuryDot('good_detail_imme_buy_choo')
					this.confirm()
				} else {
					this.popupAttrsMask();
				}
			},
			confirm() {
				console.log("dd");
				console.log(this.btnHandleType === 0 ? "加入购物车" : "立即购买");
				if(this.btnHandleType === 0 ){
					this.MonitorEvent('add_shopcart_conf');	// 大数据按钮埋点 add_shopcart_conf
					this.$wxBuryDot('good_detail_add_shopcart_conf')
				}else {
					this.MonitorEvent('imme_buy_conf');	// 大数据按钮埋点 imme_buy_conf
					this.$wxBuryDot('good_detail_imme_buy_conf')
				}
				if (!this.skuId)
					return uni.showToast({
						title: "请选择商品属性",
						icon: "none"
					});
				this.btnHandleType === 0 ? this.handleJoinCart() : this.handleBuyNow();
				// this.choosedColor = this.colors[this.currentColorIndex].color
				// this.choosedNumber = this.changedNumber
				this.hidePopup();
			},
			async handleJoinCart() {
				const isLogin = await this.$isLogin()
				if (isLogin) {
					const res = await addCar(this.skuId, this.changedNumber);
					if (res.code == 0) {
						this.cartNum = res.result.buyCarSkuNum;
						this.$store.commit("setCartNum", this.cartNum);
						if (this.cartNum > 0) {
							uni.setTabBarBadge({
								index: 1,
								text: `${this.cartNum}`
							})
						} else {
							uni.removeTabBarBadge({
								index: 1
							})
						}
					} else {
						uni.showToast({
							title: `${res.msg}`,
							icon: 'none'
						})
					}
				} else {
					console.log(this.goods.picture_url);
					this.cartCacheGoods = {
						spuId: this.spuId,
						spuName: this.goods.name,
						skuId: this.skuId,
						skuName: this.choosedAttr,
						skuNum: this.changedNumber,
						sendType: this.sendType,
						attrValue: this.choosedAttr,
						singlePrice: this.goods.market_price,
						pictureList: this.goods.pictureList,
						pictureUrl: this.goods.picture_url
					}
					console.log(this.cartCacheGoods);
					this.$utils.cartCache.addCartCache(this.cartCacheGoods)
					this.cartNum = this.$utils.cartCache.getCartCacheNum()
					this.$store.commit('setCartNum', this.cartNum)
				}
			},
			async handleBuyNow() {
				this.cartCacheGoods = {
					spuId: this.spuId,
					skuId: this.skuId,
					skuPrice: this.goods.market_price,
					skuNum: this.changedNumber,
					pictureUrl: this.goods.picture_url,
					spuName: this.goods.name
				};
				console.log('this.cartCacheGoods', this.cartCacheGoods)
				// const goods = {
				// 	spuId: item.spuId,
				// 	skuId: item.skuId,
				// 	spuName: item.spuName,
				// 	skuName: item.skuName,
				// 	price: item.singlePrice,
				// 	num: item.num,
				// 	picture: item.pictureList[0].pictureUrl
				// }
				if (this.colors.attrValueList && this.colors.attrValueList.length > 0 && this.currentColorIndex > -1) {
					this.cartCacheGoods.skuName = this.colors.attrValueList[
						this.currentColorIndex
					].attrValue;
					// goods.colorId = this.tastes.attrValueList[this.currentTasteIndex].attrValueId
				}
				if (this.tastes.attrValueList && this.tastes.attrValueList.length > 0 && this.currentTasteIndex > -1) {
					this.cartCacheGoods.skuName = this.tastes.attrValueList[
						this.currentTasteIndex
					].attrValue;
					// goods.tasteId = this.tastes.attrValueList[this.currentTasteIndex].attrValueId
				}
				if (this.specifications.attrValueList && this.specifications.attrValueList.length > 0 && this.currentSpecIndex > -1) {
					this.cartCacheGoods.skuName = this.specifications.attrValueList[
						this.currentSpecIndex
					].attrValue;
					// goods.specId = this.specifications.attrValueList[this.currentSpecIndex].attrValueId
				}
				uni.setStorageSync('orderGoodsList', [this.cartCacheGoods])

				const isLogin = await this.$isLogin()
				if (!isLogin) {
					// #ifdef H5 || APP-PLUS
					this.$putils.goLogin({
						fromPage: 'goodsDetail',
						sendType: this.sendType
					})
					// #endif
					
					// #ifdef MP-WEIXIN
					await this.$getUserToken()
					this.isShowLoginMask = true
					// #endif
					// uni.navigateTo({
					// 	url: `/pages/login/login?fromPage=goodsDetail&sendType=${this.sendType}`
					// });
				} else {
					// 蓝牙延后
					// if (this.isBluetooth) {
					// 	const { result } = await checkBlueToothPreBookingNum()
					// 	if (result === 3) return uni.showToast({
					// 		title: '最多购买三个'
					// 	})
					// }
					uni.navigateTo({
						url: `/pages/orderInfo/orderInfo?sendType=${this.sendType}`
					});
				}

			},
			goPage(path = "") {
				if (path === "index/index" || path === 'cart/cart') {
					if(path === "index/index"){
						this.MonitorEvent('back_to_home');	// 大数据按钮埋点 back_to_home
					}else if(path === "cart/cart"){
						this.MonitorEvent('shopcart');	// 大数据按钮埋点 shopcart
					}
					uni.switchTab({
						url: `/pages/${path}`
					});
				} else if (/discount/.test(path)) {
					// this.$store.set
				} else {

					uni.navigateTo({
						url: `/pages/${path}`
					});
				}
			},
			descLoad() {
				this.isDescLoad = true

			},
			loginResult() {
				this.isShowLoginMask = false
			},
			// #ifdef MP-WEIXIN
			onImgOK(e) {
				uni.hideLoading()
				console.log('onImgOK', e);
				this.shareCardUrl = e.detail.path
			},
			saveShareCard() {
				const that = this
				uni.saveImageToPhotosAlbum({
					filePath: that.shareCardUrl,
					success() {
						that.$wxBuryDot('gene_poster_save_poster')
						uni.showToast({
							title: '保存成功',
							icon: 'success'
						})
					},
					fail() {
						uni.showToast({
							title: '保存失败',
							icon: 'none'
						})
					},
					complete() {
						that.closeShareMask()
					}
				});
			},
			async createShareCard() {
				uni.showLoading({
					title: '正在生成海报'
				})
				const {result} = await getWxaCodeUnLimit('pages/goodsDetail/goodsDetail', `${this.spuId}_${this.sendType}`)
				this.qrcode = result
				const fsm = wx.getFileSystemManager();
			    const base64 = result.replace("data:image/png;base64,","");
			    const buffer = wx.base64ToArrayBuffer(base64);
			    const fileName = wx.env.USER_DATA_PATH +'/test' + Math.random().toString(16).slice(2) +'.png';
			    fsm.writeFileSync(fileName, buffer,'base64');
				
				this.$wxBuryDot('good_detail_gene_poster')
				this.shareCardTemplate = new Card().palette([
					this.goods.pictureList[0].picture_url,
					'¥',
					`${this.goods.market_price}`,
					'未成年人请勿购买本产品',
					this.goods.name,
					'可选颜色:',
					this.choosedAttr,
					fileName,	
					'扫码打开MOTI到家小程序',
					'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/clock.png',
					'1小时达',
					'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/circle_zheng.png',
					'七天包退',
					'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/circle_bao.png',
					'全程验真',
					'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/circle_zhen.png',
					'终身质保'
				])
			},
			// #endif
			showSharePopup() {
				this.isShowShareMask = true
				this.$wxBuryDot('good_detail_share')
			},
			closeShareMask(e) {
				console.log('========');
				if (e) {
					const type = e.currentTarget.dataset.type
					if (type === 'shareList') {
						this.$wxBuryDot('good_detail_share_friends')
					}
				}
				this.isShowShareMask = false
				this.shareCardUrl = ''
				this.shareCardTemplate = null
				
			}
		},
		onShareAppMessage() {
			return {
				title: this.goods.name,
				path: `/pages/goodsDetail/goodsDetail?spuId=${this.spuId}&sendType=${this.sendType}`,
				imageUrl: this.goods.pictureList[0].picture_url
			}
		}
	};
</script>

<style lang="scss">
	// page {
	// 	padding-bottom: constant(safe-area-inset-bottom);
	// 	padding-bottom: env(safe-area-inset-bottom);
	// }
	.goodsdetail_wrapper {
		padding-bottom: 160upx;
		background-color: #eee;
		.goods_bg {
			position: relative;
			width: 100%;
			padding-top: 100%;

			swiper {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;

				.swiper-item {
					background-color: #fff;
					width: 100%;
					height: 100%;

					image {
						width: 100%;
						height: 100%;
						background-color: #fff;
					}
				}
			}
		}
		
		.bluetooth_timedown {
			position: relative;
			padding: 0 24upx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 92upx;
			background: #FA4650;
			.price_wrapper {
				display: flex;
				justify-content: center;
				align-items: flex-end;
				.rmb_icon {
					font-size: 20upx;
					color: #fff;
				}
				.now_price {
					font-size: 46upx;
					font-weight: bold;
					color: #fff;
					line-height: 1;
				}
				.old_price {
					text-decoration: line-through;
					margin-left: 50upx;
					font-size: 28upx;
					color: #fff;
				}
			}
			.border {
				position: absolute;
				right: 250upx;
				width: 2upx;
				height: 44upx;
				background: #fff;
			}
			.timedown_wrapper {
				color: #fff;
				text-align: center;
				.text {
					font-size: 18upx;
				}
				.timedown {
					margin-top: 10upx;
					font-size: 24upx;
				}
			}
		}
		
		.goods_base_info {
			background: #fff;
			padding: 30upx 24upx;

			.price_line {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.price {
					height: 60upx;
					display: flex;
					align-items: flex-end;

					.icon_money {
						font-size: 32upx;
						line-height: 45upx;
						color: #fa4650;
						font-weight: 600;
					}

					.number {
						font-size: 60upx;
						line-height: 1;
						color: #fa4650;
						font-weight: bold;
					}
				}

				.share_btn {
					padding: 0;
					margin: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 99upx;
					height: 48upx;
					background: linear-gradient(270deg,
						rgba(255, 74, 101, 1) 0%,
						rgba(250, 70, 80, 1) 100%);
					border-radius: 8upx;
					font-size: 24upx;
					line-height: 24upx;
					color: #fff;
					font-weight: 500;
					border: none;
				}
			}

			.title_line {
				// display: flex;
				// align-items: center;
				margin-top: 20upx;
				position: relative;
				// text-overflow: ellipsis;
				// overflow: hidden;
				// white-space: nowrap;

				.sale {
					position: absolute;
					right: 0;
					bottom: 5upx;
					color: #999999;
					font-size: 26upx;
				}

				.title_icon {
					margin-right: 16upx;
					padding: 0upx 10upx;
					font-size: 24upx;
					color: #fff;
					border: 2upx solid rgba(250, 70, 80, 1);
					background: rgba(250, 70, 80, 0.1);
					color: rgba(250, 70, 80, 1);
					border-radius: 4upx;
				}

				.title {
					padding-right: 60upx;
					// text-overflow: ellipsis;
					// overflow: hidden;
					// white-space: nowrap;
					font-size: 36upx;
					line-height: 50upx;
					color: #333;
					font-weight: 600;
				}
			}
		}
		
		.bluetooth_activity {
			margin-top: 20upx;
			padding: 24upx;
			display: flex;
			background: #fff;
			min-height: 100upx;
			&.mt0 {
				margin-top: 0;
			}
			.table_label {
				width: 100upx;
			}
			.table_content {
				flex-grow: 1;
				.content_line {
					margin-bottom: 28upx;
					display: flex;
					align-items: center;
					.content_line_icon {
						height: 24upx;
						line-height: 24upx;
						padding: 0 10upx;
						background:rgba(250,70,80,.4);
						color: #FA4650;
						border-radius: 24upx;
						font-size: 10upx;
					}
					.content_line_text {
						margin-left: 12upx;
						font-size: 24upx;
						line-height: 24upx;
					}
					
					&.send_line_1 {
						font-size: 24upx;
						color: #333;
						.border {
							margin: 0 20upx;
							width: 1px;
							height: 28upx;
							background: #999;
						}
					}
					&.send_line_2 {
						font-size: 22upx;
						color: #999;
					}
				}
			}
		}
		
		.discount_info {
			// padding: 16upx 24upx;
			box-sizing: border-box;
			margin-top: 20upx;
			width: 100%;
			background-color: #fff;

			.table_layout {
				position: relative;

				.table_line {
					line-height: 2.5;
					display: flex;
					align-items: center;

					.table_label {
						flex-shrink: 0;
						padding-right: 28upx;
						font-size: 26upx;
						font-weight: 400;
						color: rgba(153, 153, 153, 1);
					}

					.table_content {
						display: flex;
						flex-wrap: wrap;

						.activity {
							width: 100%;
							flex-grow: 1;
							font-size: 26upx;
							line-height: 37upx;
							color: #333;
						}

						.discount {
							display: flex;
							flex-wrap: wrap;
							align-items: center;

							.dis_text {
								// margin-bottom: 20upx;
								flex-shrink: 0;
								display: flex;
								justify-content: center;
								align-items: center;
								width: 124upx;
								height: 26upx;
								font-size: 20upx;
								color: #fa4650;
								background: rgba(250, 70, 80, 0.3);
								border-radius: 13upx;
							}

							.dis_number {
								// margin-bottom: 20upx;
								// padding: 0 15upx;
								margin-right: 8upx;
								flex-shrink: 0;
								margin-left: 8upx;
								display: flex;
								justify-content: center;
								align-items: center;
								// min-width: 130upx;
								// height: 30upx;
								// background: url("https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/discount_bg_1.png") no-repeat;
								// background-size: 99% 100%;
								color: #fa4650;
								font-size: 24upx;
							}
						}
					}
				}

				.mt36 {
					margin-top: 36upx;
				}

				.mt16 {
					margin-top: 16upx;
				}

				.mb25 {
					margin-bottom: 25upx;
				}

				.moti-right {
					position: absolute;
					right: 0;
					margin-top: -5upx;
					font-size: 24upx;
					color: #c9c9c9;
				}
			}

			.def_red {
				color: #fa4650;
			}

			.hint {
				font-size: 26upx;
				line-height: 1.75;
				color: #333;
			}
		}

		.choosed_info {
			position: relative;
			margin-top: 20upx;
			display: flex;
			align-items: center;
			padding: 0 24upx;
			height: 100upx;
			background-color: #fff;

			.th {
				font-size: 26upx;
				line-height: 37upx;
				color: #999;
			}

			.content {
				margin-left: 28upx;
				flex-grow: 1;
				font-size: 26upx;
				line-height: 37upx;
				color: #333;

				text {
					margin-right: 10upx;
				}
			}

			.moti-right {
				font-size: 26upx;
				color: #c9c9c9;
			}
		}

		.goods_desc {
			margin-top: 20upx;

			.goods_desc_header {
				display: flex;
				align-items: center;
				padding: 0 24upx;
				height: 106upx;
				font-size: 30upx;
				line-height: 42upx;
				color: #333;
				background-color: #fff;
			}

			.goods_desc_content {
				image {
					width: 100%;
				}
			}
		}

		.goods_footer {
			display: flex;
			align-items: center;
			justify-content: space-around;
			height: 98upx;
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 0 26upx;
			background-color: #fff;
			
			padding-bottom: constant(safe-area-inset-bottom);
			padding-bottom: env(safe-area-inset-bottom);
			.btns {
				flex-grow: 1;
				height: 100%;
				display: flex;
				justify-content: space-around;
				align-items: center;

				.btn {
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.home {
						width: 34upx;
						height: 34upx;
					}

					.service {
						width: 37upx;
						height: 34upx;
					}

					.cart {
						width: 35upx;
						height: 35upx;
					}

					.iconfont {
						font-size: 35upx;
						margin-bottom: 4upx;
					}

					text {
						margin-top: 7upx;
						font-size: 18upx;
						line-height: 25upx;
						color: #7f8389;
					}

					.cart_num {
						position: absolute;
						top: -15upx;
						right: -15upx;
						width: 30upx;
						height: 30upx;
						border-radius: 50%;
						background-color: #fa4650;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 24upx;
						color: #fff;
					}
				}
			}
			
			
			.bluetooth_handle {
				margin-left: 50upx;
				width: 438upx;
				height: 72upx;
				border-radius: 8upx;
				background: #FF4A65;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				font-size: 28upx;
			}
			
			.goods_handle {
				margin-left: 30upx;
				width: 440upx;
				height: 72upx;
				border-radius: 8upx;
				display: flex;
				overflow: hidden;

				view {
					position: relative;
					width: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #fff;
					font-size: 28upx;
					font-weight: 600;
				}

				.join_cart {
					background-color: #3c3c3c;
				}

				.buy_now {
					background: linear-gradient(270deg,
						rgba(255, 74, 101, 1) 0%,
						rgba(250, 70, 80, 1) 100%);
				}
			}
		}

		.btn_wrapper {
			margin-top: 152upx;
			display: flex;
			justify-content: center;
			align-items: center;

			view {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 340upx;
				height: 72upx;
				font-size: 28upx;
				color: #fff;
				border-radius: 8upx;
			}

			.popup_joincart {
				background-color: #000;
			}

			.popup_buynow {
				margin-left: 22upx;
				background: linear-gradient(90deg,
					rgba(255, 74, 101, 1) 0%,
					rgba(250, 70, 80, 1) 100%);
			}
		}
		
		.canvas_wrapper {
			position: absolute;
			top: -1500rpx;
		}
	}

	.goods_info_popup {
		width: 100%;
		padding: 30upx 24upx;
		border-radius: 12upx 12upx 0 0;
		background-color: #fff;
		transition: all 0.2s;
		transform: translateY(1400upx);
		box-sizing: border-box;

		&.transition {
			transform: translateY(0);
			// transition: all 0.2s linear;
		}

		.base_info {
			display: flex;
			justify-content: space-between;
			text-align: left;

			.img_wrapper {
				flex-shrink: 0;
				width: 180upx;
				height: 180upx;
				display: flex;
				justify-content: center;
				align-items: center;

				.poster {
					flex-shrink: 0;
					// width: 180upx;
					height: 180upx;
					border-radius: 8upx;
				}
			}

			.info_text {
				flex-shrink: 0;
				// margin-left: 24upx;

				.title {
					width: 425upx;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					font-size: 30upx;
					line-height: 37upx;
					color: #000;
				}

				.choosed_attr {
					margin-top: 4upx;
					font-size: 22upx;
					line-height: 30upx;
					color: #999;
				}

				.price {
					margin-top: 29upx;
					font-size: 36upx;
					line-height: 35upx;
					color: #fa4650;
					font-weight: 600;

					.icon_rmb {
						font-size: 22upx;
					}
				}

				.notice_text {
					margin-top: 5upx;
					font-size: 22upx;
					line-height: 30upx;
					color: #999;
				}
			}

			.right {
				text-align: right;
				line-height: 1;
				height: 100%;
				width: 76upx;
			}
		}

		.attrs_wrapper {
			text-align: left;
			margin-top: 36upx;

			.colors_header,
			.attrs_header {
				font-size: 22upx;
				line-height: 30upx;
				color: #333;
				font-weight: bold;
			}

			.attrs_header {
				margin-top: 32upx;
			}

			.colors,
			.attrs {
				display: flex;
				flex-wrap: wrap;
				margin-top: 18upx;

				.color,
				.attr {
					flex-shrink: 0;
					margin-bottom: 14upx;
					margin-right: 16upx;
					padding: 12upx 32upx;
					border: 2upx solid #f2f2f2;
					border-radius: 8upx;
					line-height: 1;
					background: #f2f2f2;
					font-size: 22upx;
					color: #000;

					&.active {
						background: rgba(250, 70, 80, 0.1);
						color: #fa4650;
						border: 2upx solid #fa4650;
					}
				}
			}

			.nums_header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 32upx;
				font-size: 22upx;
				line-height: 30upx;
				color: #333;
				font-weight: bold;
			}

			.service_header {
				margin-top: 32upx;
				font-size: 22upx;
				line-height: 30upx;
				color: #333;
				font-weight: bold;
			}

			.services {
				display: flex;

				.service {
					margin-top: 16upx;
					margin-right: 30upx;
					line-height: 1;
					display: flex;
					align-items: center;
					font-size: 24upx;
					color: #333;

					image {
						margin-right: 6upx;
						width: 28upx;
						height: 28upx;
					}
				}
			}

			.btn_wrapper {
				margin-top: 152upx;
				display: flex;
				justify-content: center;
				align-items: center;

				view {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 340upx;
					height: 72upx;
					font-size: 28upx;
					color: #fff;
					border-radius: 8upx;
				}

				.confirm_btn {
					width: 100%;
					background: linear-gradient(90deg,
						rgba(255, 74, 101, 1) 0%,
						rgba(250, 70, 80, 1) 100%);
				}

				.popup_joincart {
					background-color: #000;
				}

				.popup_buynow {
					margin-left: 22upx;
					background: linear-gradient(90deg,
						rgba(255, 74, 101, 1) 0%,
						rgba(250, 70, 80, 1) 100%);
				}
			}
		}
	}
	
	.share_btns_warpper {
		height: 397upx;
		background: #fff;
	}
	.share_mp {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding-bottom: constant(safe-area-inset-bottom);
		padding-bottom: env(safe-area-inset-bottom);
		background: #fff;
		.btn {
			width: 100%;
			height: 99upx;
			line-height: 99upx;
			padding: 0;
			background: #fff;
			border-radius: 0;
			border: none;
			border-bottom: 0.5px solid #dcdcdc;
			font-size: 32upx;
			color: #333;
			&.last {
				border: none;
			}
		}
	}
	.share_mask_h5 {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		.share_h5 {
			margin-top: 200upx;
			.share_mask_text {
				margin-left: 200upx;
				color: #fff;
				font-size: 32upx;
			}
		}
	}
	
	.save_share_card {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background: #fff;
		border-radius: 12upx 12upx 0 0;
		height: 927upx;
		.share_card_header {
			position: relative;
			height: 112upx;
			line-height: 112upx;
			text-align: center;
			.share_card_close {
				position: absolute;
				width: 24upx;
				height: 24upx;
				right: 24upx;
				top: 50%;
				margin-top: -12upx;
			}
		}
		.share_card_img {
			margin-top: 48upx;
			display: block;
			margin: 0 auto;
			width: 338upx;
			min-height: 600upx;
			border: 8upx solid #EDEDED;
		}
		.save_btn {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			width: 702upx;
			height: 72upx;
			border: none;
			border-radius: 0;
			padding: 0;
			margin: 0 auto;
			bottom: 40upx;
			font-size: 28upx;
			border-radius: 8upx;
			background-image: linear-gradient(90deg, #FF4A65 1%, #FA4650 99%);
			color: #fff;
		}
	}
</style>
