<template>
	<view class='apply-refund'>
		<view class="apply-header" @tap='toDetail'>
			<view class="refund-status">{{refundStatus[goodsInfo.refundStatus]}}</view>
			<view class="refund-tit">
				{{statusExplain[goodsInfo.refundStatus]}}
				<view class="backIcon iconfont moti-rechargefill"></view>
			</view>
			<view class="btnBox">
				<text @tap='service'>联系店家</text>
				<text v-if='goodsInfo.refundStatus==10 && goodsInfo.status==1' @tap='cancelRefund'>取消申请</text>
			</view>
		</view>

		<view class="refoundList">
			<view class="orderNum">订单号：{{goodsInfo.orderId}}</view>
			<view class="proOrder">
				<view class="detail">
					<view class="productitem" v-for='(item,index) in goodsInfo.tradeOrderRefundItems' :key='index'>
						<view class="orderImg">
							<image :src='item.pictureUrl' mode="aspectFit"></image>
						</view>
						<view class="orderText">
							<view class="ordertitle">
								<view class="title">{{item.spuName}}&emsp;</view>
								<view class="type" v-for='(attr,index) in item.goodsAttrValues' :key='index'>{{attr.attr_name}}：{{attr.attr_value}}</view>
							</view>
						</view>
					</view>
					<view class="total">
						<view class="totalCount">可退{{refundNum}}件商品 <span>合计：¥</span></view>
						<view class="totalMoney">
							<span class="money">{{goodsInfo.refundPrice}}</span>
						</view>
					</view>
				</view>
			</view>
		</view>

		<view class="yuanyin">
			<text>退款原因</text>
			<text>{{goodsInfo.refundDesc}}</text>
		</view>

		<view class="goutong">
			<view class="title">沟通记录</view>
			<view class="time">
				<text class="user">用户</text>
				<text class='createTime'>{{createTime}}</text>
			</view>
			<view class="content">{{goodsInfo.refundReason}}</view>
			<!-- <view class="image">
				<image></image>
			</view> -->
		</view>

		<view class="drawBack">
			<view class="reaTitle">退款方式</view>
			<view class="method">
				<view>
					<view class="backIcon iconfont moti-rechargefill"></view>
					<view class="backMeth">原路返回</view>
				</view>
			</view>
		</view>

		<view class="tishi">
			<view class="title">温馨提示：</view>
			<view>
				<view>1. 限时特价，预约资格等购买优惠可能一并取</view>
				<view>2. 订单一旦取消，无法恢复</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getRefundItem,
		updateRefundCancel
	} from '@/common/request.js';
	export default {
		data() {
			return {
				refundId: '',
				goodsInfo: {},
				createTime: '',
				refundNum: '',
				refundStatus: {
					10: '申请状态',
					20: '同意退货',
					30: '拒绝退货',
					50: '买家发货',
					60: "平台收货",
					99: "退货完成"
				},
				statusExplain: {
					10: '正在审核，请耐心等待',
					20: '正在退款到您的支付账户，请耐心等待',
					30: '经审核，您的商品不符合退款条件，敬请谅解。',
					50: '买家发货',
					60: "平台收货",
					99: "退货完成"
				}
			};
		},
		methods: {
			toDetail() {
				uni.navigateTo({
					url: '/pages/refundDetail/refundDetail?refundId=' + this.refundId
				})
			},
			service() {
				uni.makePhoneCall({
					phoneNumber: '400-012-6828' //仅为示例
				});
			},
			async cancelRefund() {
				let {
					code,
					msg,
					result
				} = await updateRefundCancel(this.refundId);
				if (code == 0) {
					this.getInfo();
				} else {
					uni.showToast({
						icon: 'none',
						title: msg
					})
				}
			},
			async getInfo() {
				let {
					code,
					msg,
					result
				} = await getRefundItem(this.refundId);
				if (code == 0) {
					this.goodsInfo = result;
					let createTime = result.createTime;
					this.createTime = createTime.replace(/-/g, ".").slice(0, createTime.indexOf(' '));
					let num = 0;
					for (var i = 0; i < result.tradeOrderRefundItems.length; i++) {
						num += Number(result.tradeOrderRefundItems[i].refundNum);
					}
					this.refundNum = num;
				} else {
					uni.showToast({
						icon: 'none',
						title: msg
					})
				}
			}
		},
		onLoad(e) {
			this.refundId = e.refundId;
			this.getInfo();
		},
	}
</script>

<style lang="scss">
	.apply-refund {
		.tishi {
			background: #fff;
			color: #999;
			padding: 24upx;
			font-size: 24upx;
			font-weight: 400;
			margin-top: 20upx;

			.title {
				font-size: 26upx;
				margin-bottom: 20upx;
			}
		}

		.drawBack {
			padding: 24upx;
			background: #fff;
			margin-top: 20upx;

			.reaTitle {
				color: #999;
				font-size: 26upx;
			}

			.backIcon {
				font-size: 36upx;
			}

			.method {
				display: flex;
				align-items: center;
				text-align: center;
				flex: 1;
				margin-left: 20upx;
				margin-top: 29upx;

				.backMeth {
					font-size: 22upx;
					color: #333;
					margin-top: 14upx;
				}
			}
		}

		.goutong {
			background: #fff;
			padding: 24upx;
			font-weight: 400;
			margin-top: 20upx;

			.title {
				color: #999;
				font-size: 26upx;
			}

			.time {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 34upx 0 32upx;

				.user {
					font-weight: 500;
					font-size: 20upx;
					padding: 3upx 5upx;
					background: #4D88FF;
					border-radius: 8upx;
					color: #fff;
				}

				.createTime {
					font-weight: 400;
					font-size: 24upx;
					color: #999;
				}
			}

			.content {
				font-size: 22upx;
				color: #666;
				font-weight: 400;
				line-height: 33upx;
				text-align: justify;
			}

			.image {
				margin-top: 40upx;

				image {
					width: 148upx;
					height: 148upx;
					border-radius: 4upx;
					margin-right: 36upx;
				}
			}
		}

		.yuanyin {
			font-size: 26upx;
			padding: 24upx;
			background: #fff;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.refoundList {
			padding: 24upx;
			background: #fff;
			margin-bottom: 20upx;
			margin-top: 20upx;

			.proOrder {
				background: #fff;
				margin-top: 20upx;

				.topTitle {
					display: flex;
					justify-content: space-between;
					align-items: center;
					height: 90upx;
					padding: 0 28upx;

					.item {
						font-size: 24upx;
						color: #333;
					}

					.proTag {
						font-size: 30upx;
						font-weight: bold;
					}
				}

				.productitem {
					width: 100%;
					display: flex;
					align-items: center;
					background: #f9f9f9;
					box-sizing: border-box;

					.orderImg {
						flex: 1;
						height: 150upx;
						border-radius: 8upx;

						image {
							width: 100%;
							height: 100%;
							border-radius: 8upx;
						}
					}

					.allNum {
						flex: 1;
						text-align: center;
						font-size: 22upx;
						color: #000;
					}

					.orderText {
						flex: 4;
						display: flex;
						justify-content: space-between;
						padding: 14upx 20upx;

						.ordertitle {
							flex: 7;
							font-size: 26upx;
							color: #333333;

							.title {
								width: 100%;
								height: 80upx;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
							}

							.type {
								color: #999;
								display: flex;
								justify-content: space-between;
								align-items: center;
							}
						}

						.orderPrice {
							flex: 3;
							padding-left: 20upx;
							font-size: 24upx;
							color: #333;
							text-align: right;

							.price {
								height: 80upx;
							}

							.num {
								color: #999;
							}
						}

						.ordernum {
							font-size: 22upx;
							color: #999999;
							margin-top: 16upx;
						}
					}
				}

				.total {
					background: #fff;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					padding: 36upx 22upx 27upx 22upx;

					.totalCount {
						font-size: 24upx;
						color: #999;

						span {
							padding-left: 20upx;
						}
					}

					.totalMoney {
						span {
							font-size: 24upx;
							font-weight: 600;
							color: #999;
							padding: 0 5upx;
						}

						.money {
							font-size: 36upx;
							color: #333;
						}
					}
				}
			}

			.orderNum {
				padding: 0 0 2upx 0;
				color: #333;
				font-size: 24upx;
			}

			.reaTitle {
				color: #999;
				font-size: 26upx;
				padding-bottom: 28upx;
			}
		}

		.apply-header {
			padding: 32upx 24upx 24upx;
			background: #fff;
			color: #333;

			.refund-status {
				font-size: 36upx;
				font-weight: 500;
			}

			.refund-tit {
				font-size: 26upx;
				font-weight: 400;
				margin: 24upx 0;
				display: flex;
				justify-content: space-between;
			}

			.btnBox {
				font-weight: 400;
				font-size: 22upx;
				display: flex;
				align-items: center;

				text {
					padding: 12upx 32upx;
					border: 2upx solid rgba(221, 221, 221, 1);
					border-radius: 8upx;
					margin-right: 32upx;
				}
			}
		}
	}
</style>
