<template>
	<view class="container">

		<view class="title">MOTI到家隐私政策</view>

		<view class="section">
			本政策试用于您通过任何方式对MOTI到家各项服务的访问和使用。
		</view>
		<view class="section">
			为了向您提供更好、更个性化的产品和服务，当您使用以下服务、功能或设置时，我们会以下列方式收集和使用您的个人信息：
		</view>

		<view class="title">
			注册信息
		</view>

		<view class="section">
			注册账号时，您需要向我们提供以下信息：账号名称、头像、您的手机号，并创建密码。你也可以通过微信授权登陆MOTI到家，我们将获取您的微信头像、昵称的授权，以及与您微信账号绑定的手机号授权。
		</view>

		<view class="title">
			位置信息
		</view>

		<view class="section">
			为方便您更好地使用一小时到家服务，我们需要获取您的位置信息。当您开启设备定位功能并使用我们基于位置提供的相关服务时，我们可能会收集和处理有关您的设备信息（即您的硬件型号、操作系统版本、设备配置、唯一设备标识符、国际移动设备身份码IMEI、网络设备硬件地址MAC、广告标识符IDFA），设备连接信息以及设备状态信息、位置信息、行踪轨迹、网络身份标识信息，以使得您不需要手动输入自身地理坐标就可获得相关服务。我们会使用各种技术进行定位，这些技术包括
			IP 地址、GPS
			以及能够提供相关信息的其他传感器（比如可能会为百度提供附近设备、WLAN接入点和基站的信息）。您可以通过系统授权关闭定位功能，停止我们对您的地理位置信息的收集，但之后您可能将无法使用相关服务或功能，或者无法达到相关服务拟达到的效果。
		</view>

		<view class="title">
			通讯录信息
		</view>

		<view class="section">
			在“赚钱”产品中，如果希望通过共享通讯录，实现一键短信群发的功能，您需要授权访问您的手机通讯录，以帮助我们调取短信应用接口。通讯录授权不是“赚钱”产品中的必要操作步骤，您也可以通过其他方式使用该产品。
		</view>

		<view class="title">
			与购物订单的数据
		</view>

		<view class="section">
			为了更好地优化MOTI到家的服务，我们会统计您与订单有关的信息和行为数据，包括：您的定位信息、订单金额以及在MOTI到家小程序/APP中进行的与订单有关的操作，包括：页面浏览、点击、添加购物车、收藏、支付等环节。
		</view>

		<view class="title">
			设备权限调用
		</view>

		<view class="table">
			<view class="tr">
				<view class="td">
					设备权限
				</view>
				<view class="td">
					对应业务功能
				</view>
				<view class="td">
					调用权限的目的
				</view>
				<view class="td">
					是否询问
				</view>
			</view>
			<view class="tr">
				<view class="td">
					设备存储
				</view>
				<view class="td">
					核心业务功能
				</view>
				<view class="td">
					存储账号、浏览购买记录等缓存信息
				</view>
				<view class="td">
					是
				</view>
			</view>
			<view class="tr">
				<view class="td">
					定位
				</view>
				<view class="td">
					核心业务功能
				</view>
				<view class="td">
					获取用户的定位 用于判断物流配送的具体发货仓
				</view>
				<view class="td">
					是
				</view>
			</view>
			<view class="tr">
				<view class="td">
					摄像头
				</view>
				<view class="td">
					人脸识别
				</view>
				<view class="td">
					用于实名认证和活体验证
				</view>
				<view class="td">
					是
				</view>
			</view>
			<view class="tr">
				<view class="td">
					照片
				</view>
				<view class="td">
					实名认证资料提交、售后判定照片、头像自定义等
				</view>
				<view class="td">
					需要用户上传图片资料以优化或完善服务
				</view>
				<view class="td">
					是
				</view>
			</view>
		</view>


		<view class="section">
			隐私信息的使用方式
		</view>

		<view class="section">
			MOTI到家会采取以下方式获取、展示、使用、处理及保存您的信息：
		</view>

		<view class="section">
			在大部分场合下，我们都会以询问、授权或自主操作的形式来获取您的隐私数据。您有权不提交这部分数据，但也会相应影响部分功能的体验。
		</view>

		<view class="section">
			您的真实姓名、用户昵称、手机号等数据如果有需要在前端展示的场合，我们会做脱敏处理隐去关键部分，以防止信息泄露给您带来困扰。
		</view>

		<view class="section">
			我们会以大数据分析为目标，统计与商品有关的浏览量、下单率等维度的数据。我们不会针对您的个人订单数据，如：账号、手机号、家庭地址、收货人姓名等维度进行数据采集和分析。这些数据仅在退换货等十分必要的场合，在您本人有意向或授权MOTI到家的前提下，才会从后台调取。
		</view>

		<view class="section">
			我们会采取相应的技术手段来保证您的隐私信息不被盗取和泄露。
		</view>

		<view class="section">
			无需征询您同意的特殊情况
		</view>

		<view class="section">
			请注意：在以下情形中，收集、使用个人信息无需事先征得您的授权同意：<br>
			与国家安全、国防安全直接相关的；<br>
			与公共安全、公共卫生、重大公共利益直接相关的；<br>
			与犯罪侦查、起诉、审判和判决执行等直接有关的；<br>
			出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；<br>
			所收集的个人信息是您自行向社会公众公开的；<br>
			从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道；<br>
			根据您的要求向您提供产品或服务所必需的；<br>
			用于维护所提供的产品或服务的安全稳定运行所必需的，例如发现、处置产品或服务的故障；<br>
			法律法规规定的其他情形。
		</view>

	</view>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		methods: {

		}
	}
</script>

<style lang="scss" scoped>
	.container {
		font-size: 30upx;
		color: #555555;
		padding: 30upx;

		.title {
			margin-bottom: 50upx;
		}

		.section {
			margin-bottom: 50upx;
		}

		.table {
			border: 2upx solid rgb(0, 0, 0);
			border-right: none;
			border-bottom: none;
			margin-bottom: 60upx;

			.tr {
				display: flex;
				justify-content: space-between;

				&:first-child {
					background-color: rgb(189, 192, 191);

					.td {
						line-height: 80upx;

						&:first-child {
							background: rgb(189, 192, 191);
						}
					}
				}

				.td {
					border-bottom: 1upx solid rgb(0, 0, 0);
					border-right: 2upx solid rgb(0, 0, 0);
					align-items: center;
					display: flex;
					justify-content: center;

					&:first-child {
						width: 20%;
						background: rgb(226, 228, 227);
					}

					&:nth-child(2) {
						width: 25%;
					}

					&:nth-child(3) {
						width: 35%;
					}

					&:nth-child(4) {
						width: 20%;
					}
				}
			}
		}
	}
</style>
