<template>
	<view class="page_wrapper" v-if="isPageReady">
		<view class="block">
			<view class="content">
				<view class="info" @tap="middle = true">
					<view class="price">{{amount}}元</view>
					<view class="order-number">订单号：{{orderNo}}</view>
				</view>
			</view>
		</view>
		
		<view class="block">
			<view class="content">
				<view class="pay-type">
					<view class="item wxpay" @tap="paytype = 'wxpay'">
						<view class="weixin">微信支付</view>
						<img class="icon_active" v-if="paytype === 'wxpay'" src="/static/images/icons/duihao.png" alt="">
						<img class="icon" v-else src="/static/images/icons/round.png" alt="">
					</view>
					<!-- #ifdef H5 -->
					<view class="item" @tap="paytype = 'alipay'" v-if="!isWecahtBrowser">
						<view class="alipay">支付宝</view>
						<img class="icon_active" v-if="paytype === 'alipay'" src="/static/images/icons/duihao.png" alt="">
						<img class="icon" v-else src="/static/images/icons/round.png" alt="">
					</view>
					<!-- #endif -->
				</view>
			</view>
		</view>
		
		<view class="pay">
			<view class="pay-btn-box" @tap="pay" :class="{timeout: isOrderEnded}">
				<view class="pay-btn">确认支付 ￥{{amount}}</view>
				<!-- #ifdef MP-WEIXIN -->
				<formIdLayout></formIdLayout>
				<!-- #endif -->
			</view>
			<!-- <view class="tis">
				点击立即支付，即代表您同意<view class="terms" @tap="agreement">
					《条款协议》
				</view>
			</view> -->
		</view>
		
		<!-- #ifdef H5 -->
		<view class="payhtml" v-if="payHtml" v-html="payHtml"></view>
		<!-- #endif -->
	</view>
</template>

<script>
	import {
		// #ifdef H5
		aliWapPay,
		wxPay,
		wechatPay,
		authWechat,
		getJsApiParam,
		// #endif
		
		// #ifdef MP-WEIXIN
		wxAppletPay,
		paySignAgain,
		saveFormIds,
		// #endif
		
		queryPayStatus,
		tradeOrderDetail
	} from '@/common/request.js'
	
	// #ifdef H5
	import {
		isWxBrowser
	} from '@/common/utils.js'
	// #endif
	
	// import CountDown from '@/components/uni-countdown/uni-countdown'
	// #ifdef H5
	import md5 from 'js-md5'
	// #endif
	
	export default {
		data() {
			return {
				isPageReady: false,
				options: {},
				orderInfo: {},
				amount: 0,
				orderNo: '',
				orderId: '',
				price: '',
				paytype: 'wxpay', //支付类型
				payHtml: '',
				timeDown: 0,
				spuName: '',
				isOrderEnded: false,
				isWecahtBrowser: false
			};
		},
		components: {
			// CountDown
		},
		async onLoad(options) {
			console.log('options', options)
			
			// #ifdef H5
			// 处理去微信授权又回来的情况
			const orderParam = uni.getStorageSync('orderParam')
			if (orderParam) {
				this.options = orderParam
				for (let item in options) {
					this.options[item] = options[item]
				}
			} else {
				this.options = options
			}
			// #endif
			
			// #ifdef MP-WEIXIN
			this.options = options
			// #endif
			
			
			await this.tradeOrderDetail()
			this.orderNo = this.orderInfo.orderNo // 流水号
			this.orderId = this.orderInfo.id
			this.amount = parseFloat(this.orderInfo.orderMoney) //  订单金额
			this.spuName = this.orderInfo.tradeOrderItemVos[0].spuName
			
			// #ifdef H5
			if (this.options.code) {
				this.jssdkPay()
			}
			this.isWecahtBrowser = isWxBrowser()
			// #endif
			this.isPageReady = true
			this.queryPayStatus()
			this.$wxBuryDot('page_pay_way')
		},
		onShow() {
			// this.tradeOrderDetail()
		},
		methods: {
			async startPayment() {
				// 支付方式分流
				console.log('startPayment')
				this.paytype === 'alipay' ? this.aliPay() : this.wxPayCheck()
			},
			async queryPayStatus(isModal = false) {
				const res = await queryPayStatus(this.orderNo, this.paytype === 'alipay' ? '1' : '2')
				if (res.result == 30) {
					uni.redirectTo({
						url: `/pages/payWay/success?orderId=${this.orderId}&paymentType=2&isPayed=1`
					})
				} else if (isModal) {
					
				}
			},
			pay() {
				if (this.isOrderEnded) return
				
				// #ifdef MP-WEIXIN
				this.wxLitePay()
				// #endif
				
				
				// #ifdef H5
				if (this.paytype === 'alipay') {
					this.aliPay()
				} else {
					this.wxPayCheck()
				}
				// #endif
			},
			// 支付宝支付
			async aliPay() {
// 				uni.showLoading({
// 					title: '支付中...'
// 				});
// 
				const origin = location.origin
				let res = await aliWapPay(
					`${origin}/#/pages/payWay/success?paymentType=1&orderId=${this.orderId}&isPayed=1`,
					this.orderNo)

				if (res.code == 0) {
					this.payHtml = res.result // 接受到跳转支付宝页面表单HTML
					this.$nextTick(() => {
						document.forms[0].submit();
					})
				} else {
					uni.hideLoading()
					// uni.showToast({
					// 	title: `${res.msg}`,
					// 	icon: 'none'
					// })
				}


			},
			wxPayCheck() { // 微信支付前效验浏览器（微信浏览器不能用H5微信支付）
				isWxBrowser() ?
					this.jssdkPay() // 跳出微信弹窗
					:
					this.wxPay() //  进行微信支付
			},
			async jssdkPay() { // 微信内部的JSSDK支付
				// uni.showModal({
				// 	content: '暂不支持微信内支付，请用外部浏览器打开',
				// 	showCancel: false
				// })
				const _this = this
				if (!this.options.code) {
					const href = location.href.split('?')
					const url = href[0]
					uni.setStorageSync('orderParam', this.options)
					location.replace(
						`https://gezi.motivape.cn/auth.html?appid=wx80a7401a02e0f8ec&redirectUri=${encodeURIComponent(url)}&response_type=code&scope=snsapi_base&state=homec`
					)
				} else if (this.options.code) {
					uni.showLoading({
						title: '支付中...'
					})
					const code = this.options.code
					const authRes = await authWechat(code)
					// code只可以用一次的
					delete this.options.code
					// console.log(result)
					if (authRes.code == 0) {
						const wxJsRes = await wechatPay(this.orderNo, this.spuName || 'MOTI')
						if (wxJsRes.code == 0) {
							const apiParams = await getJsApiParam(wxJsRes.result)
							if (apiParams.code == 0) {
								// 标记已经掉调起过支付
								function onBridgeReady() {
									WeixinJSBridge.invoke('getBrandWCPayRequest', {
										"appId": apiParams.result.appId, //公众号名称，由商户传入     
										"timeStamp": apiParams.result.timeStamp, //时间戳，自1970年以来的秒数     
										"nonceStr": apiParams.result.nonceStr, //随机串     
										"package": apiParams.result.package,
										"signType": apiParams.result.signType, //微信签名方式：     
										// "paySign": apiParams.result.paySign ,//微信签名 
										"paySign": apiParams.result.paySign //微信签名 
										// "paySign": sign //微信签名 
									}, function(res) {
										uni.hideLoading()
										if (res.err_msg == "get_brand_wcpay_request:ok") {
											uni.removeStorageSync('orderParam')
											uni.redirectTo({
												url: `/pages/payWay/success?orderId=${_this.orderId}&paymentType=2&isPayed=1`
											})
											// 使用以上方式判断前端返回,微信团队郑重提示：
											//res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
										} else {
											uni.showToast({
												title: '支付失败',
												icon: 'none'
											})
										}
									});
								}
								if (typeof WeixinJSBridge == "undefined") {
									if (document.addEventListener) {
										document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
									} else if (document.attachEvent) {
										document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
										document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
									}
								} else {
									onBridgeReady();
								}
							}
						}
					} else {
						uni.showModal({
							title: '提示',
							content: '支付出现错误， 是否重试',
							success(res) {
								
							}
						})
						this.jssdkPay()
					}
				}
			},
			// 微信外浏览器的微信支付
			async wxPay() {
				// uni.showLoading({
				// 	title: '支付中...'
				// });
				let res = await wxPay(this.orderNo)
				if (res.code == 0) {
					uni.hideLoading()
					this.wxPayResult() // 显示 微信支付结果选择弹窗
					window.location.href = res.result // 跳转到微信支付页面
				}
			},
			async wxLitePay() {
				// 存储formId
				// saveFormIds(this.$store.getters.formIds)
				const _this = this
				uni.showLoading({
					title: '正在支付...'
				})
				const res = await wxAppletPay(this.orderNo, this.spuName)
				if (res.code == 0) {
					const { result } = await paySignAgain(res.result)
					// "{"timeStamp":"1566463700","package":"prepay_id=wx2216482033610532cc23cee51000588400",
					// "paySign":"B411B60E8E9AAE9CE72EA9F293153B42","appid":"wx80a7401a02e0f8ec",
					// "signType":"MD5","nonceStr":"614138801614225408"}"
					console.log('paySignAgain', result);
					this.$wxBuryDot('pay_way_pay_ord')
					uni.requestPayment({
						provider: 'wxpay',
						timeStamp: result.timeStamp,
						nonceStr: result.nonceStr,
						package: result.package,
						signType: 'MD5',
						paySign: result.paySign,
						success: function (res) {
							uni.hideLoading()
							uni.redirectTo({
								url: `/pages/payWay/success?orderId=${_this.orderId}&paymentType=2&isPayed=1`
							})
						},
						fail: function (err) {
							uni.hideLoading()
						}
					});
					// wx.requestPayment({
					// 	timeStamp: result.timeStamp,
					// 	nonceStr: result.nonceStr,
					// 	package: result.package,
					// 	signType: 'MD5',
					// 	paySign: result.paySign,
					// 	success (res) { },
					// 	fail (res) { }
					// })
				}
			},
			wxPayResult() { // 微信支付结果确认
				const _this = this
				setTimeout(() => {
					uni.showModal({
						content: "是否完成微信支付？",
						confirmText: "完成",
						cancelText: "重新支付",
						success: (res) => {
							if (res.confirm) { // 如果点击 完成支付，那么跳转到订单详情页面
								uni.redirectTo({
									url: `/pages/payWay/success?orderId=${_this.orderId}&paymentType=2&isPayed=1`
								})
							} else {
								_this.queryPayStatus()
							}
						}
					})
				}, 1000)
			},
			agreement() { // 用户使用协议跳转
				uni.navigateTo({
					url: '/pages/payWay/agreement'
				})
			},
			
			async tradeOrderDetail() {
				this.timeDown = 30 * 60
				const res = await tradeOrderDetail(this.options.orderId)
				if (res.code == 0) {
					this.orderInfo = res.result
					const time = +new Date(res.result.autoCancelTime.replace(/-/g, ' '))
					if (time - Date.now() < 1000) {
						this.isOrderEnded = true
					}
					let timeDown = parseInt((time - Date.now()) / 1000)
					this.timeDown = timeDown
				} else {
					this.timeDown = 30 * 60
				}
			},
			timeup() {
				this.tradeOrderDetail()
			}
		}
	}
</script>

<style lang="scss">
	.page_wrapper {
		overflow: auto;

		.msg {
			overflow: auto;
		}
	}

	.block {
		width: 94%;
		padding: 40upx 3% 40upx 3%;
		background-color: #fff;
		margin-top: 20upx;

		.title {
			width: 100%;
			font-size: 34upx;
		}

		.content {
			.info {
				width: 100%;
				height: 170upx;
				padding: 24upx 0;
				background: #ffffff;
				margin: 20upx 0;
				text-align: center;

				.time {
					height: 40upx;
					font-size: 28upx;
					font-weight: 400;
					color: rgba(153, 153, 153, 1);
					line-height: 40upx;
					padding-bottom: 24upx;
					.def_timedown {
						font-size: 24upx;
					}
				}

				.price {
					height: 66upx;
					font-size: 48upx;
					font-weight: 500;
					color: rgba(51, 51, 51, 1);
					line-height: 66upx;
					padding-bottom: 8upx;
				}

				.order-number {
					height: 32upx;
					font-size: 22upx;
					font-weight: 400;
					color: rgba(153, 153, 153, 1);
					line-height: 32upx;
				}
			}

			.pay-type {
				padding: 0 40upx;
				background-color: #ffffff;

				.iconfont {
					width: 32upx;
					height: 32upx;
					line-height: 32upx;
					border-radius: 100%;
				}

				.moti-duihao {
					color: #ffffff;
					background: rgba(250, 70, 80, 1);
				}

				.item {
					display: flex;
					height: 40upx;
					padding: 28upx 0;
					font-size: 30upx;
					font-weight: 500;
					color: rgba(51, 51, 51, 1);
					line-height: 40upx;
					.icon {
						width: 30upx;
						height: 30upx;
					}
					.icon_active {
						width: 28upx;
						height: 28upx;
					}
					&.wxpay {
						border-bottom: 2upx solid #e6e6e6;
					}

					.weixin {
						flex: 1;
						padding-left: 76upx;
						background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/weixin.png');
						background-repeat: no-repeat;
						background-position: left center;
						background-size: 46upx 40upx;
					}

					.alipay {
						flex: 1;
						padding-left: 76upx;
						background-image: url('/static/images/zhifubao.png');
						background-repeat: no-repeat;
						background-position: left center;
						background-size: 44upx;
					}
				}
			}

			.pay-list {
				width: 100%;
				border-bottom: solid 1upx #eee;

				.row {
					width: 100%;
					height: 120upx;
					display: flex;
					align-items: center;

					.left {
						width: 100upx;
						flex-shrink: 0;
						display: flex;
						align-items: center;

						image {
							width: 80upx;
							height: 80upx;
						}
					}

					.center {
						width: 100%;
						font-size: 30upx;
					}

					.right {
						width: 100upx;
						flex-shrink: 0;
						display: flex;
						justify-content: flex-end;
					}
				}
			}
		}
	}

	.pay {
		margin-top: 20upx;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.pay-btn-box {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 702upx;
			height: 76upx;
			background: rgba(255, 255, 255, 1);
			padding: 12upx 24upx;
			
			&.timeout {
				background: gray;
			}

			.pay-btn {
				width: 702upx;
				height: 76upx;
				background: rgba(250, 70, 80, 1);
				border-radius: 8upx;
				font-size: 28upx;
				font-weight: 600;
				color: rgba(255, 255, 255, 1);
				line-height: 76upx;
				text-align: center;
			}
		}

		.tis {
			margin-top: 10upx;
			width: 100%;
			font-size: 24upx;
			display: flex;
			justify-content: center;
			align-items: baseline;
			color: #999;

			.terms {
				color: #5a9ef7;
			}
		}
	}
</style>
