<template>
	<view class="pay_success" v-if="isPageReady">
		<view class="content">
			<text class="iconfont" :class="!isPaySuccess ? 'moti-tishicuohao' : 'moti-duihao'"></text>
			<view class="text">{{isPaySuccess ? '支付成功' : '支付失败'}}</view>
			<view class="price">{{price}}元</view>
		</view>

		<view class="line"></view>
		<view class="btns">
			<view class="home" @tap="goHome">返回首页</view>
			<view class="order" @tap="goOrderDetail" v-if="isPaySuccess">查看购买</view>
		</view>
	</view>
</template>

<script>
	import { tradeOrderDetail } from '@/common/request.js'
	export default {
		data() {
			return {
				price: 0,
				orderNo: '',
				isPaySuccess: true,
				orderId: '',
				isPageReady: false,
				orderInfo: {}
			}
		},
		async onLoad(options) {
			const { result } = await tradeOrderDetail(options.orderId)
			this.price = parseFloat(result.orderMoney)
			this.orderNo = result.orderNo
			this.isPaySuccess = options.isPayed == 1
			this.orderId = options.orderId
			this.orderInfo = result
			uni.setNavigationBarTitle({
				title: this.isPaySuccess ? "支付成功" : "支付失败"
			})
			this.isPageReady = true
			this.$wxBuryDot('page_payway_success')
		},
		methods: {
			goHome() {
				uni.switchTab({
					url: '/pages/index/index'
				});
			},
			goOrderDetail() {
				uni.redirectTo({
					url: `/pages/orderInfo/orderInfo?orderId=${this.orderId}`
				});
			}
		}
	}
</script>


<style lang="scss">
	.pay_success {
		margin-top: 20upx;
		padding: 0 24upx;
		background: #fff;

		.content {
			height: 410upx;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			color: #333;

			.iconfont {
				margin-top: 20upx;
				font-size: 100upx;
			}

			.text {
				margin-top: 24upx;
				font-size: 32upx;
				line-height: 45upx;
			}

			.price {
				margin: 7upx;
				font-size: 48upx;
				line-break: 67upx;
			}
		}

		.line {
			width: 702upx;
			height: 2upx;
			background-color: #eee;
			margin: 0 auto;
		}

		.btns {
			height: 132upx;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;

			view {
				width: 340upx;
				height: 72upx;
				border-radius: 8upx;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.home {
				background-color: #3c3c3c;
			}

			.order {
				margin-left: 22upx;
				background-color: #FF4A65;
			}
		}
	}
</style>
