<template>
	<view class="content">
		<view class="banner">
			<image src="../../static/product-pic@2x.png" mode="widthFix"></image>
		</view>
		<view class="mainPart">
			<view class="price">
				<view class="priceNum">
					¥<text>199.</text>00
				</view>
				<view class="shareButt" @click="showPopupMiddleImg = true">分享有礼</view>
			</view>
			<view class="title">
				<text>热卖</text>
				MOTI D13 电子烟套装 雾化换弹小烟（1雾化杆+3雾化弹） 燕尾黑
			</view>
			<view class="state">
				<text>快递：包邮</text>
				<text>月销949</text>
				<text>北京朝阳</text>
			</view>

		</view>
		<view class="goodsInfo">
			<view class="promotion info">
				<text class="left">促销</text>
				<text class="center">满300减50元、满500减100元、满1000减300元...</text>
				<image src="../../static/right-arrow-gray@2x.png" mode="aspectFit"></image>
			</view>
			<view class="discount info">
				<text class="left">优惠</text>
				<text class="center">优惠券x36</text>
				<image src="../../static/right-arrow-gray@2x.png" mode="aspectFit"></image>
			</view>
			<view class="selected info">
				<text class="left">选择</text>
				<text class="center">燕尾黑，1件，可选服务</text>
				<image src="../../static/right-arrow-gray@2x.png" mode="aspectFit"></image>
			</view>
		</view>
		<view class="evaluate">
			<view class="evaluateTitle">
				<view class="left">
					产品评价（666）
				</view>
				<view class="praiseDegree">
					好评度 99% <image src="../../static/right-arrow-gray@2x.png" mode="aspectFit"></image>
				</view>
			</view>
			<view class="tabList">
				<view class="tabs">包装精美（99）</view>
				<view class="tabs">包装精美（99）</view>
				<view class="tabs">包装精美（99）</view>
				<view class="tabs">包装精美（99）</view>
			</view>
			<view class="evaluateList">
				<view class="evaluateCon">
					<view class="personInfo">
						<image src="../../static/images/activity@2x.png" mode="aspectFit" class="headPortrait"></image>
						<text class="nickname">哈哈哈周杰伦996</text>
					</view>
					<view class="evaluateText">
						吸一口赛过活神仙啊！真的是妙啊哈哈哈吸一口赛过活神仙啊！真的是妙啊哈哈哈吸一口赛过活神仙啊！真的是妙啊…
					</view>
				</view>
			</view>
		</view>

		<view class="productDetail">
			<view class="detailTitle">
				商品详情
			</view>
			<rich-text :nodes="detail"></rich-text>
		</view>
		<view class="purchase">
			<view class="leftButt">
				<view class="icon">
					<i class="iconfont">&#xe653;</i>
					<br>
					首页
				</view>
				<view class="icon">
					<i class="iconfont">&#xe743;</i>
					<br>
					客服
				</view>
				<view class="icon">
					<i class="iconfont">&#xe635;</i>
					<br>
					购物车
				</view>

			</view>
			<view class="rightButt">
				<view class="addShopCart">
					加入购物车
				</view>
				<view class="buyNow">
					立即购买
				</view>
			</view>
		</view>
		<uni-popup :show="showPopupMiddleImg" position="bottom" mode="fixed" @hidePopup="hidePopup">
			<view class="sharePopup">
				<view class="title">
					分享给好友
				</view>
				<view class="text">
					朋友通过你分享的页面成功下单购买商品，并确认收货，你可获得对应的奖励金，奖励金可在“个人中心”中查看。
				</view>
				<view class="flowChat">
					<view class="icon">
						<i class="iconfont">&#xe7f6;</i>
						<br>
						分享给好友
					</view>
					<image src="../../static/分享页-箭头指引@2x.png" mode="aspectFit"></image>
					<view class="icon">
						<i class="iconfont">&#xe635;</i>
						<br>
						好友购买并收货
					</view>
					<image src="../../static/分享页-箭头指引@2x.png" mode="aspectFit"></image>
					<view class="icon">
						<i class="iconfont">&#xe7d1;</i>
						<br>
						收到奖励金
					</view>
				</view>
				<view class="shareButt">
					<image src="../../static/分享页-到好友@2x.png" mode="aspectFit"></image>
					<image src="../../static/分享页-到朋友圈@2x.png" mode="aspectFit"></image>
				</view>
			</view>
		</uni-popup>
	</view>
</template>

<script>
	import uniPopup from "@/components/uni-popup/uni-popup"
	export default {
		data() {
			return {
				detail: '这里是富文本的内容',
				showPopupMiddleImg: true
			}
		},
		methods: {
			hidePopup() {
				this.showPopupMiddleImg = false
			}
		},
		components: {
			uniPopup
		},
	}
</script>

<style lang="scss" scoped>
	.content {
		background-color: #F5F5F5;

		.banner {
			image {
				width: 100%;
			}
		}

		.mainPart {
			background-color: #fff;
			padding: 20upx 32upx 30upx 32upx;

			.price {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.priceNum {
					font-size: 32upx;
					font-family: PingFangSC-Semibold;
					font-weight: 600;
					color: #FA4650;

					text {
						font-size: 60upx;
						font-weight: bold;
						font-family: Helvetica-Condensed-Bold;

					}
				}

				.shareButt {
					width: 148upx;
					height: 48upx;
					border-radius: 8upx;
					font-size: 12upx;
					line-height: 48upx;
					background: linear-gradient(270deg, rgba(255, 74, 101, 1) 0%, rgba(250, 70, 80, 1) 100%);
					font-family: PingFangSC-Medium;
					font-weight: 500;
					color: #fff;
					text-align: center;
				}
			}

			.title {
				margin-top: 25upx;

				text {
					background-color: #FA4650;
					border-radius: 4upx;
					font-size: 24upx;
					font-family: PingFangSC-Medium;
					font-weight: 500;
					color: #fff;
					display: inline-block;
					line-height: 33upx;
					padding: 0 8upx 0 8upx;
					position: relative;
					top: -3upx;
					margin-right: 15upx;
				}

				color: #333333;
				font-size: 36upx;
				font-family: PingFangSC-Semibold;
				font-weight: 600;
				line-height: 50upx;
			}

			.state {
				display: flex;
				justify-content: space-between;
				margin-top: 35upx;

				text {
					font-size: 26upx;
					font-family: PingFangSC-Regular;
					font-weight: 400;
					color: #999999;
					line-height: 37upx;
				}
			}

		}

		.goodsInfo {
			padding: 30upx 25upx 30upx 25upx;
			margin-top: 20upx;
			background-color: #fff;

			.info {
				font-size: 26upx;
				font-family: PingFangSC-Regular;
				font-weight: 400;
				line-height: 37upx;
				display: flex;
				justify-content: space-between;

				.left {
					color: #999999;
					margin-right: 25upx;
				}

				.center {
					color: #333333;
					flex: 1;
					max-width: 583upx;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}

				image {
					width: 12upx;
					height: 20upx;
					position: relative;
					top: 8upx;
				}
			}

			.discount {
				margin: 35upx 0 35upx 0;
			}
		}

		.evaluate {
			padding: 30upx 25upx 30upx 25upx;
			margin-top: 20upx;
			background-color: #fff;

			.evaluateTitle {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 25upx;

				.left {
					color: #333333;
					font-size: 30upx;
					font-family: PingFangSC-Semibold;
					font-weight: 600;
					line-height: 42upx;
				}

				.praiseDegree {
					color: #FA4650;
					font-size: 26upx;
					font-family: PingFangSC-Regular;
					font-weight: 400;
					line-height: 37upx;

					image {
						width: 12upx;
						height: 20upx;
						margin-left: 20upx;
					}
				}
			}

			.tabList {
				display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;

				.tabs {
					color: #333333;
					font-family: PingFangSC-Regular;
					font-size: 22upx;
					font-weight: 400;
					line-height: 48upx;
					height: 48upx;
					background-color: #F5F5F5;
					padding: 0 16upx 0 16upx;
					margin-right: 15upx;
					margin-bottom: 15upx;
					border-radius: 8upx;
				}
			}

			.evaluateList {
				.evaluateCon {
					margin-top: 40upx;

					.personInfo {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						margin-bottom: 15upx;

						image {
							width: 40upx;
							height: 40upx;
							border-radius: 50%;
							overflow: hidden;
						}

						.nickname {
							font-size: 26upx;
							font-family: PingFangSC-Regular;
							font-weight: 400;
							color: #999999;
							margin-left: 20upx;
						}
					}

					.evaluateText {
						color: #333333;
						font-size: 26upx;
						line-height: 37upx;
						font-family: PingFangSC-Regular;
					}
				}
			}
		}

		.productDetail {
			margin-top: 20upx;
			background-color: #fff;
			padding-bottom: 200upx;

			.detailTitle {
				padding: 32upx 0 32upx 24upx;
				color: #333333;
				font-size: 30upx;
				font-family: PingFangSC-Semibold;
				font-weight: 600;
			}
		}

		.purchase {
			border-top: 1upx solid #ebecec;
			display: flex;
			justify-content: space-around;
			align-items: center;
			background-color: #fff;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100upx;
			flex: 1;

			.leftButt {
				display: flex;
				justify-content: space-around;

				.icon {
					text-align: center;
					color: #666666;
					font-family: PingFangSC-Regular;
					font-weight: 400;
					font-size: 18upx;

					i {
						color: #7F8389;
						font-size: 42upx;
					}

					margin-right: 35upx;

					&:last-child {
						margin-right: 0upx;
					}
				}
			}

			.rightButt {
				width: 440upx;
				height: 75upx;
				line-height: 75upx;
				display: flex;
				justify-content: space-between;
				border-radius: 12upx;
				overflow: hidden;
				color: #fff;
				font-size: 28upx;
				font-weight: 600;
				font-family: PingFangSC-Semibold;

				.addShopCart {
					width: 50%;
					background-color: #3C3C3C;
					text-align: center;
				}

				.buyNow {
					width: 50%;
					background: linear-gradient(270deg, rgba(255, 74, 101, 1) 0%, rgba(250, 70, 80, 1) 100%);
					text-align: center;
				}
			}
		}

		.sharePopup {
			background-color: #fff;
			padding: 45upx 45upx 45upx 45upx;
			overflow: hidden;

			.title {
				color: #333333;
				font-size: 36upx;
				font-family: PingFangSC-Semibold;
				font-weight: 600;
				line-height: 50upx;
				text-align: left;
			}

			.text {
				color: #999999;
				font-size: 26upx;
				font-family: PingFangSC-Regular;
				font-weight: 400;
				line-height: 37upx;
				margin-top: 25upx;
				text-align: left;
			}

			.flowChat {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 45upx;

				.icon {
					text-align: center;
					line-height: 50upx;
					color: #666666;
					font-size: 26upx;
					font-weight: 600;
					font-family: PingFangSC-Semibold;

					i {
						font-size: 60upx;
					}
				}

				image {
					width: 107upx;
					height: 22upx;
					position: relative;
					top: -30upx;
				}
			}

			.shareButt {
				display: flex;
				justify-content: space-between;
				margin-top: 60upx;

				image {
					width: 316upx;
					height: 80upx;
				}
			}
		}
	}
</style>
