<template>
	<view class='logisticsDetail'>
		<view class="titleBox" v-if="hasDeliverInfo">
			<view class="titleTop">
				<image class='logisticsLogo' :src='imageSrc'></image>
				<view>
					<view class='titleInfo'>{{expressCompanyCode}}快递</view>
					<view class='deliveryTime'>送达时间：2019.05.20</view>
				</view>
			</view>
			<view class="logisticsNum">{{expressCompanyCode}}快递 {{expressNo}}</view>
		</view>
		<view class="mainUl" v-if="deliveryInfo.length > 1">
			<view class="mainLi" v-for='(item,index) in deliveryInfo' :key='index'>
				<view class="timeBox">
					<view class="month">{{item.month}}</view>
					<view class='hour'>{{item.hour}}</view>
				</view>
				<view class="statusBox" :class="[index==0 ? 'firstStatus':'secondStatus']">
					<view class='status'></view>
					<view class="line"></view>
				</view>
				<view class="rightBox">
					<!-- <view class='statusInfo'>派送中</view> -->
					<view class='detailInfo'>{{item.context}}</view>
					<view class="sender_info" v-if="item.carrier_driver_name">骑手: {{item.carrier_driver_name}}</view>
					<view class="sender_info" v-if="item.carrier_driver_phone">骑手电话: {{item.carrier_driver_phone}}</view>
				</view>
			</view>
		</view>
		<block v-else>
			<anomaly hint="暂无物流信息" icon="moti-zanwuwuliuxinxi"></anomaly>
		</block>
	</view>
</template>

<script>
	import anomaly from '@/components/anomaly.vue'
	import {
		getOrderDeliveryInfo
	} from "@/common/request.js";
	import {
		formatDate
	} from '@/common/utils.js'
	export default {
		data() {
			return {
				orderId: '',
				deliveryInfo: [],
				expressNo: '',
				expressCompanyCode: '',
				imageSrc: '',
				hasDeliverInfo: false
			};
		},
		components: {
			anomaly
		},
		methods: {
			async getOrderDeliveryInfo() {
				let {
					code,
					result
				} = await getOrderDeliveryInfo(this.orderId);
				if (code == 0) {
					if (!result.result) {
						this.deliveryInfo = [{
							context: result.msg
						}]
						return
					}
					this.deliveryInfo = JSON.parse(result.result);
					if (Array.isArray(this.deliveryInfo)) {
						this.hasDeliverInfo = true
						this.deliveryInfo.forEach((cur) => {
							cur.month = cur.time.slice(5, cur.time.indexOf(' '))
							cur.hour = cur.time.slice(cur.time.indexOf(' '), cur.time.lastIndexOf(':'))
						})
						console.log(this.deliveryInfo);
						this.expressNo = result.expressNo;
						switch (result.expressCompanyCode) {
							case 'yunda':
								this.expressCompanyCode = '韵达';
								this.imageSrc = '../../static/images/kd/yunda.png';
								break;
							case 'shentong':
								this.expressCompanyCode = '申通';
								this.imageSrc = '../../static/images/kd/shentong.png';
								break;
							case 'yuantong':
								this.expressCompanyCode = '圆通';
								this.imageSrc = '../../static/images/kd/yuantong.png';
								break;
							case 'youzhengguonei':
								this.expressCompanyCode = '邮政';
								this.imageSrc = '../../static/images/kd/youzhengguonei.png';
								break;
							case 'zhongtong':
								this.expressCompanyCode = '中通';
								this.imageSrc = '../../static/images/kd/zhongtong.png';
								break;
							case 'shunfeng':
								this.expressCompanyCode = '顺丰';
								this.imageSrc = '../../static/images/kd/shunfeng.png';
								break;
							case 'huitongkuaidi':
								this.expressCompanyCode = '百世';
								this.imageSrc = '../../static/images/kd/huitongkuaidi.png';
								break;
							case 'jd':
								this.expressCompanyCode = '京东';
								this.imageSrc = '../../static/images/kd/jd.png';
								break;
							case 'tiantian':
								this.expressCompanyCode = '天天';
								this.imageSrc = '../../static/images/kd/tiantian.png';
								break;
							case 'ems':
								this.expressCompanyCode = 'EMS';
								this.imageSrc = '../../static/images/kd/ems.png';
								break;
						}
					} else {
						console.log(this.deliveryInfo);
						const data = JSON.parse(this.deliveryInfo.data)
						const status = data.order_status
						const list = data.event_log_details
						console.log(list);
						list.forEach((cur) => {
							switch (cur.order_status) {
								case 0:
									cur.context = '等待骑手接单';
									cur.month = formatDate(cur.occur_time * 1000, 'MM-DD');
									cur.hour = formatDate(cur.occur_time * 1000, 'HH:mm')
									break;
								case 1:
									cur.context = '系统已接单';
									cur.month = formatDate(cur.occur_time * 1000, 'MM-DD');
									cur.hour = formatDate(cur.occur_time * 1000, 'HH:mm')
									break;
								case 20:
									cur.context = '已分配骑手';
									cur.month = formatDate(cur.occur_time * 1000, 'MM-DD');
									cur.hour = formatDate(cur.occur_time * 1000, 'HH:mm')
									break;
								case 80:
									cur.context = '骑手已到店';
									cur.month = formatDate(cur.occur_time * 1000, 'MM-DD');
									cur.hour = formatDate(cur.occur_time * 1000, 'HH:mm')
									break;
								case 2:
									cur.context = '配送中';
									cur.month = formatDate(cur.occur_time * 1000, 'MM-DD');
									cur.hour = formatDate(cur.occur_time * 1000, 'HH:mm')
									break;
								case 3:
									cur.context = '已送达';
									cur.month = formatDate(cur.occur_time * 1000, 'MM-DD');
									cur.hour = formatDate(cur.occur_time * 1000, 'HH:mm')
									break;
								case 5:
									cur.context = '点单被拒绝';
									cur.month = formatDate(cur.occur_time * 1000, 'MM-DD');
									cur.hour = formatDate(cur.occur_time * 1000, 'HH:mm')
									break;
								default:
									break;
							}
						})
						list.reverse()

						this.deliveryInfo = list
					}
				}
			}
		},
		onLoad(e) {
			this.orderId = e.orderId;
			this.getOrderDeliveryInfo();
		}
	}
</script>

<style lang="scss">
	.logisticsDetail {
		.mainUl {
			border-radius: 12upx;
			background: #fff;
			padding: 52upx 24upx;
			margin: 0 24upx;
			margin-top: 24upx;

			.activeLi {
				color: #333 !important;
			}

			.mainLi {
				margin-bottom: 20upx;
				font-weight: 400;
				color: #999999;
				display: flex;
				justify-content: flex-start;
				// align-items: center;
				// height: 107upx;
				box-sizing: border-box;

				.rightBox {
					.statusInfo {
						font-size: 26upx;
						line-height: 37upx;
					}

					.detailInfo {
						font-size: 22upx;
					}
				}

				.timeBox {
					text-align: right;
					flex-shrink: 0;

					.month {
						font-size: 22upx;
					}

					.hour {
						font-size: 18upx;
					}
				}

				// .lineBox:after,
				// .lineBox:before,
				// .firstStatus:after,
				// .firstStatus:before,
				// .secondStatus:before,
				// .secondStatus:after {
				// 	content: '';
				// 	display: block;
				// 	height: 32upx;
				// 	width: 1upx;
				// 	box-sizing: border-box;
				// 	margin: 0 auto;
				// }

				// 				.lineBox:after {
				// 					border: 1upx solid #E6E6E6;
				// 				}
				// 
				// 				.lineBox:before {
				// 					border: 1upx solid #E6E6E6;
				// 				}
				// 
				// 				.firstStatus:after {
				// 					border: 1upx dashed #E6E6E6;
				// 				}
				// 
				// 				.firstStatus:before {
				// 					border: 1upx dashed transparent;
				// 				}
				// 
				// 				.secondStatus:before {
				// 					border: 1upx dashed #E6E6E6;
				// 				}
				// 
				// 				.secondStatus:after {
				// 					border: 1upx solid #E6E6E6;
				// 				}

				.statusBox {
					position: relative;
					margin: 0 20upx;

					// align-items: flex-start;
					// text-align: center;
					&.firstStatus {
						.status {
							background: #FA4650;
						}
					}

					.status {
						position: relative;
						z-index: 10;
						margin-top: 10upx;
						width: 20upx;
						height: 20upx;
						// line-height: 42upx;
						border-radius: 50%;
						// background: #FA4650;
						background: #e6e6e6;
						color: #fff;
						text-align: center;
					}

					.line {
						position: absolute;
						left: 0;
						right: 0;
						margin: 0 auto;
						top: 20upx;
						bottom: -40upx;
						width: 4upx;
						background: #e6e6e6;
					}

				}
			}
		}

		.titleBox {
			background: #fff;
			border-radius: 8upx;
			margin: 24upx;

			.logisticsNum {
				height: 56upx;
				color: #999;
				font-size: 22upx;
				margin: 0 24upx;
			}

			.titleTop {
				padding: 24upx 0 24upx 24upx;
				display: flex;
				justify-content: flex-start;
				font-weight: 400;
				align-items: center;

				.logisticsLogo {
					width: 80upx;
					height: 80upx;
					border-radius: 50%;
					margin-right: 28upx;
				}

				.titleInfo {
					font-size: 26upx;
					color: #333;
					line-height: 37upx;
				}

				.deliveryTime {
					color: #999999;
					font-size: 22upx;
					line-height: 30upx;
				}
			}
		}
	}
</style>
