<template>
	<view v-if="isPageReady">
		<view class="discounts_wrapper" v-if="true">
			<block v-for="(item, index) in couponList" :key="index">
				<m-discount :coupon="item"></m-discount>
			</block>

			<anomaly v-if="couponList == 0" :hint="'暂无可使用的优惠劵'" :icon="'moti-wuyouhuiquan'"></anomaly>
			<view class="foot_btn" v-if="isShowNotUseBtn" @tap="goOrderInfo">不使用优惠券</view>
			<view class="foot_btn" v-else @tap="goPath" v-track-event="{category:'我的优惠券', action:'兑换优惠券',label:'兑换优惠券'}">兑换优惠券</view>
		</view>
		<view class="default" v-else>
			<image src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/no_coupon.png"></image>
			<view class="text">暂无优惠券</view>

		</view>

		<!-- <PopupCenter :show="isShowFirstGotCouponMask" @close="confirm"> -->
		<PopupCenter :show="isShowFirstGotCouponMask" @close="confirm" width="480" :isShowClose='false'>
			<view class="got_coupons_mask">
				<img class="icon" src="/static/images/icons/coupon_1.png" alt="">
				<view class="text text_1">恭喜领取成功</view>
				<view class="text text_2">已放入到您的个人中心优惠券中</view>
				<view class="btn" @tap="confirm">我知道了</view>
			</view>
		</PopupCenter>
	</view>

</template>

<script>
	import anomaly from '../../components/anomaly.vue'
	import MDiscount from './components/mDiscount.vue'
	import PopupCenter from '@/components/popupCenter/popupCenter.vue'
	import {
		showUserCouponList
	} from '@/common/request.js'
	export default {
		data() {
			return {
				isPageReady: false,
				couponList: [],
				isShowNotUseBtn: false,
				isShowFirstGotCouponMask: false
			};
		},
		components: {
			MDiscount,
			anomaly,
			PopupCenter
		},
		onLoad(options) {
			if (options.isFirst) {
				this.isShowFirstGotCouponMask = true
			}
			if (options.fromPage === 'orderInfo') {
				this.couponList = this.$mstore.getItem('couponList')
				console.log(this.couponList);
				this.isPageReady = true
			} else {
				this.initData()
			}
			const pages = getCurrentPages()
			if (pages[pages.length - 2] && pages[pages.length - 2].route === 'pages/orderInfo/orderInfo') {
				this.isShowNotUseBtn = true
			}
			this.$wxBuryDot('page_discounts')
		},
		methods: {
			async initData() {
				// if (this.$mstore.getItem('fromPage') === 'orderInfo') {
				// 	this.couponList = this.$mstore.getItem('couponList')
				// } else {
				const {
					result
				} = await showUserCouponList()
				this.couponList = result.data
				this.isPageReady = true
				this.$wxBuryDot('page_my_discounts')
				// }
			},
			goPath() {
				this.MonitorEvent('exch_coup');	// 大数据按钮埋点 exch_coup
				uni.navigateTo({
					url: '/pages/discounts/exchangeCounts'
				})
			},
			goOrderInfo() {
				this.MonitorEvent('no_use_coup');	// 大数据按钮埋点 no_use_coup
				this.$store.commit('setFromPage', 'discounts')
				this.$store.commit('setTempData', {
					name: 'coupon',
					data: {
						denomination: 0,
						notuse: true
					}
				})
				uni.navigateBack({
					delta: 1 //返回的页面数，如果 delta 大于现有页面数，则返回到首页,
				});
			},
			confirm() {
				this.isShowFirstGotCouponMask = false
			}
		}
	}
</script>

<style lang="scss">
	.discounts_wrapper {
		// margin-top: 20upx;
		padding: 0 24upx;
		padding-top: 24upx;
		padding-bottom: 100upx;
		background: #f5f5f5;

		.not_use {
			height: 80upx;
			line-height: 80upx;
			text-align: center;
			background: #fff;
			border-bottom: 1px solid #eee;
		}

		.m_discount {
			margin-bottom: 24upx;
		}

		.foot_btn {
			display: flex;
			justify-content: center;
			align-items: center;
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			height: 95upx;
			font-size: 26upx;
			background-color: #fff;
		}


	}

	.default {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #999;

		image {
			width: 280upx;
			height: 229upx;
		}
	}

	.got_coupons_mask {
		position: relative;
		height: 440upx;

		.icon {
			display: block;
			margin: 0 auto;
			margin-top: 127upx;
			width: 180upx;
			height: 120upx;
		}

		.text {
			text-align: center;

			&.text_1 {
				font-size: 32upx;
				font-weight: bold;
				line-height: 45upx;
				margin-top: 90upx;
				color: #333;
			}

			&.text_2 {
				font-size: 22upx;
				color: #999;
				margin-top: 8upx;
			}
		}

		.btn {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 80upx;
			text-align: center;
			line-height: 80upx;
			border-top: 1px solid #dcdcdc;
			font-weight: bold;
		}
	}
</style>
