<template>
	<view class="content">
		<view class="img">
			<image src="/static/images/discount_exchange.png"></image>
		</view>
		<view class="codeCon">
			<view>
				<input type="text" v-model="couponCode" placeholder-style="color:#ABABAB" placeholder="请输入兑换码" />
			</view>
			<view class="exchangeBtn" @tap="couponSubmit" v-track-event="{category:'兑换页面', action:'确定兑换',label:'兑换优惠券'}">
				确定
			</view>
			<view class="text">
				<text>
					参与MOTI活动即有机会获得优惠券兑换码\n
					每个兑换码仅限兑换1张优惠券\n
					请在优惠券失效之前使用
				</text>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		redemptionCode
	} from '@/common/request.js'
	export default {
		data() {
			return {
				couponCode: '',
				exchangeRes: {}
			}
		},
		onLoad() {
			this.$wxBuryDot('page_exchange_counts')
		},
		methods: {
			async couponSubmit() {
				this.MonitorEvent('confirm');	// 大数据按钮埋点 confirm
				if (!this.couponCode) return uni.showToast({
					title: '请输入兑换码'
				})
				let res = await redemptionCode(this.couponCode)
				this.exchangeRes = res.result
				console.log(res);
				this.$wxBuryDot('page_exchange_counts')
				if (res.code == 0 && res.result.showFlag) {
					uni.showToast({
						title: '优惠券兑换成功'
					})
					uni.navigateTo({
						url: '/pages/discounts/discounts'
					})
				} else if (res.code === 0) {
					uni.showToast({
						icon: 'none',
						title: `${res.result.info}`
					})
				} else {
					uni.showToast({
						icon: 'none',
						title: `${msg}`
					})
				}
			}
		}
	}
</script>

<style scoped lang="scss">
	.content {
		height: 100%;
		padding-top: 88upx;
		background: #fff;
		box-sizing: border-box;

		.img {
			width: 280upx;
			height: 280upx;
			background: #FFEDEF;
			border-radius: 50%;
			margin: 0 auto;

			image {
				width: 100%;
				height: 100%;
			}
		}

		.codeCon {
			width: 520upx;
			margin: 0 auto;
			margin-top: 100upx;

			input {
				margin: 0 auto;
				border-bottom: 2upx solid #F2F2F2;
				text-align: center;
				height: 40upx;
				padding: 5upx 0;
			}

			.exchangeBtn {
				width: 100%;
				height: 70upx;
				line-height: 70upx;
				background: linear-gradient(90deg, rgba(255, 74, 101, 1) 0%, rgba(250, 70, 80, 1) 100%);
				border-radius: 8upx;
				box-sizing: border-box;
				text-align: center;
				color: #fff;
				margin-top: 50upx;
				font-size: 28upx;
			}

			.text {
				line-height: 0.7;
				margin-top: 50upx;
				color: #999;
				font-size: 24upx;
				text-align: center;
			}
		}
	}
</style>
