<template>
	<view class="activity-success-box">
		<view class="activity-header"></view>
		<view class="success-tips">
			8张优惠券已存入{{mobile}}的账号中
		</view>
		<view class="coupon-list"></view>
		<view class="dividing-line"></view>
		<view class="product-list">
			<view class="item item1" @tap="toDetail(1)"></view>
			<view class="item item2" @tap="toDetail(2)"></view>
			<view class="item item3" @tap="toDetail(3)"></view>
			<view class="item item4" @tap="toDetail(4)"></view>
		</view>
		<view class="more" @tap="toShop"></view>
		<view class="rule"></view>
		<view class="footer"></view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				mobile: '您',
			};
		},
		onLoad(options) {
			const activithyData = uni.getStorageSync('activithy_data')
			if (activithyData && activithyData.mobile) {
				this.mobile = activithyData.mobile
				let msg = '领取成功'
				if (options.code == 0) {
					msg = '领取成功'
					
				} else if (options.code == 209) {
					msg = '您已经领取过了'
				}
				uni.showToast({
					title: `${msg}`,
					icon: 'none'
				})
				uni.removeStorageSync('activithy_data')
			} else {
				uni.switchTab({
					url: '/pages/index/index'
				})
			}
		},
		methods: {
			toDetail(n){
				const origin = location.origin
				let url = ';'
				switch (n){
					case 1:
						url = `${origin}/#/pages/goodsDetail/goodsDetail?spuId=112492578694&sendType=hour`
						break;
					case 2:
						url = `${origin}/#/pages/goodsDetail/goodsDetail?spuId=112492578540&sendType=hour`
						break;
					case 3:
						url = `${origin}/#/pages/goodsDetail/goodsDetail?spuId=112492581503&sendType=hour`
						break;
					case 4:
						url = `${origin}/#/pages/goodsDetail/goodsDetail?spuId=112492577793&sendType=hour`
						break;
				}
				window.location.href = url;
			},
			toShop(){
				// const origin = location.origin
				// window.location.href = origin;
				uni.switchTab({
					url: '/pages/index/index'
				})
			}
		}
	}
</script>

<style lang="scss">
.activity-success-box {
	.activity-header {
		width: 750upx;
		height: 320upx;
		background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/bgimg2.jpg');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.success-tips {
		background: linear-gradient(#f6f7f8, #e5eaec);
		width: 750upx;
		height: 62upx;
		text-align: center;
		padding-top: 15upx;
		font-size: 28upx;
		line-height: 28upx;
		color: #3f5662;
	}
	.coupon-list {
		width: 750upx;
		height: 346upx;
		background-color: #e5eaec;
		background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/youhuiquan.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.dividing-line {
		width: 750upx;
		height: 120upx;
		background-color: #e2e7e9;
		background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/fengexian.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.product-list {
		width: 654upx;
		height: 1040upx;
		padding: 0 48upx;
		display: flex;
		background-color: #e2e7e9;
		flex-wrap: wrap;
		.item {
			width: 312upx;
			height: 507upx;
		}
		.item1 {
			background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/1.png');
			background-repeat: no-repeat;
			background-size: contain;
			margin-right: 30upx;
			margin-bottom: 25upx;
		}
		.item2 {
			background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/2.png');
			background-repeat: no-repeat;
			background-size: contain;
			margin-bottom: 25upx;
		}
		.item3 {
			background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/3.png');
			background-repeat: no-repeat;
			background-size: contain;
			margin-right: 30upx;
		}
		.item4 {
			background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/4.png');
			background-repeat: no-repeat;
			background-size: contain;
		}
		
	}
	.more {
		width: 750upx;
		height: 220upx;
		background-color: #e2e7e9;
		background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/more.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.rule {
		width: 750upx;
		height: 850upx;
		background-color: #e2e7e9;
		background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/huodongguize.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.footer {
		width: 750upx;
		height: 70upx;
		background-image: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/activities/footer.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
}
</style>
