<template>
	<view class="m_mask" v-if="show" @tap="maskTap">
		<slot></slot>
	</view>
</template>

<script>
	export default {
		props: {
			show: {
				type: Boolean,
				default() {
					return false
				}
			}
		},
		methods: {
			maskTap() {
				this.$emit('maskTap')
			}
		}
	}
</script>

<style lang="scss">
	.m_mask {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.3);
		z-index: 10;
		padding-bottom: constant(safe-area-inset-bottom);
		padding-bottom: env(safe-area-inset-bottom);
	}
</style>
