<template>
	<view class="dispatching_way_wrapper">
		<card title="配送方式" :cardTitleStyle="{'font-weight': 'normal'}" :cardWrapperStyle="{padding: 0}">
			<view class="ways">
				<view class="way" :class="{active: currentType === index}" v-for="(item, index) in listDict" :key="index" @tap="chooseType"
				 :data-index="index">
					<text>{{item.name}}</text>
					<text class="text" v-if="item.typeText">{{item.typeText}}</text>
				</view>
			</view>


			<view class="table">
				<view class="table_line table_line_1">
					<view class="left">预计到货时间</view>
					<view class="right">{{ listDict[currentType].estimate}}</view>
				</view>
				<!-- <view class="table_line table_line_2">
						<view class="left">预计配送费</view>
						<view class="right">¥{{freight}}</view>
					</view> -->
			</view>
		</card>


		<card :title="listDict[currentType].noticeTitle" :cardTitleStyle="{'font-weight': 'normal', color: '#999'}" :cardWrapperStyle="{padding: 0}">
			<view class="notice_text">
				<view class="notice_line_1" v-for="(text, index1) in listDict[currentType].texts" :key="index1">{{text}}</view>
			</view>
		</card>
	
		<button class="confirm_btn" type="warn" v-if="isShowBtn" @tap="confirm">确认</button>
	</view>
</template>

<script>
	import {
		listDictByName
	} from '@/common/request.js'
	import Card from '@/components/card/card.vue'
	export default {
		data() {
			return {
				options: {},
				currentType: 0,
				firstType: 0,
				tempType: 0,
				noticeTitle: '温馨提示(一小时达)',
				freight: 0,
				estimate: '支付后的一小时之内送达',
				listDictData: [],
				choosedDict: {},
				isInOnHourTime: false,
				isShowBtn: false,
				listDict: [{
						"price": "",
						"name": "一小时达",
						"rule": "9:0-100,5:100-150",
						"id": "1",
						noticeTitle: '温馨提示(一小时达)',
						estimate: '支付后的一小时之内送达',
						typeText: '仅试点城市支持',
						texts: [
							'1. 一小时达服务由MOTI认证商家发货。',
							'2. 一小时达服务正在部分试点城市内测。如遇到瞬时订单过多等情况，系统会自动为您转为同城达订单，敬请谅解。',
							'3. 非一小时达服务时间，您可以选择同城达或普通快递。',
							'4. 如您遇到其他订单问题，欢迎致电400-012-6828。',
						]
					},
					{
						"price": "9",
						"name": "同城快递,次日达",
						"rule": "",
						"id": "2",
						noticeTitle: '同城快递(次日送达)',
						estimate: '次日送达',
						typeText: '下单次日为您送达',
						texts: [
							'1. 同城达服务由MOTI委托顺丰快递为您发货。',
							'2. 同城达订单如中午12点前发货，当日即可送达。当天下午发货则次日送达',
							'3. 如遇法定节假日、特殊天气、网络故障、交通管制等不可抗力，送达时间会受到影响。',
							'4. 如您遇到其他订单问题，欢迎致电顺丰快递全国客服热线95338。',
						]
					},
					{
						"price": "5",
						"name": "普通快递",
						"rule": "",
						"id": "3",
						noticeTitle: '普通快递(3-4天送达)',
						estimate: '3-4日左右送达',
						texts: [
							'1. 普通快递由中通快递为您提供物流服务。',
							'2. 普通快递会在24小时之内为您发货，请您耐心等待。',
							'3. 如您的订单有其他物流配送问题，欢迎致电中通快递客服热线95311。'
						]
					}
				]
			};
		},
		components: {
			Card
		},
		async onLoad(options) {
			console.log('options', options);
			this.options = options
			this.currentType = Number(options.type)
			this.firstType = options.firstSendType
			console.log('this.currentType', this.currentType);
			// if (tempType == 0) {
			// 	this.currentType = 0
			// } else if (tempType == 1) {
			// 	this.listDict.splice(0, 1)
			// 	console.log(this.listDict);
			// 	this.currentType = 0
			// } else {
			// 	this.listDict.splice(0, 1)
			// 	this.listDict.splice(0, 1)
			// }
			// this.listDict = this.$store.getters.tempData
			this.initData()
			this.computIsOnHourTime()
			this.$wxBuryDot('page_send_way')
		},
		methods: {
			async initData() {
				const {
					result
				} = await listDictByName('DistributeType')
				this.listDictData = result
				console.log('this.listDictData', this.listDictData);
			},
			chooseType(e) {
				const num = Number(e.currentTarget.dataset.index)
				console.log('firstType', this.firstType);
				if (this.firstType == 0) {
					// 首次进来是一小时达，可以切换其他任何方式
				} else if (this.firstType == 1) {
					// 首次进来是同城达， 只能切换普通快递和同城达
					if (this.currentType == 0) {
						return uni.showModal({
							title: '提示',
							content: '同城达不能切换为一小时达'
						})
					}
				} else {
					// 首次进来是普通快递，不能切换其他方式
					// 普通快递进来切换为同城达
					if (num == 1) {
						return uni.showModal({
							title: '提示',
							content: '普通快递不能切换为同城达服务'
						})
					}

					// 普通快递进来切换为一小时达
					if (num == 0) {
						return uni.showModal({
							title: '提示',
							content: '普通快递不能切换为一小时达'
						})
					}
				}


				this.isShowBtn = true

				this.currentType = num

				const id = this.listDict[num].id
				this.listDictData.forEach((cur) => {
					if (id == cur.id) {
						this.choosedDict = cur
					}
				})
			},
			computIsOnHourTime() {
				const date = +new Date()
				const timeStart = new Date().setHours(0, 0, 0, 0)
				const time9_30 = timeStart + 9.5 * 60 * 60 * 1000
				const time17_30 = timeStart + 17.5 * 60 * 60 * 1000
				if (date > time9_30 && date < time17_30) {
					this.isInOnHourTime = true
				} else {
					this.isInOnHourTime = false
				}
			},
			confirm() {
				if (this.firstType == 0) {
					// 首次进来是一小时达，可以切换其他任何方式
				} else if (this.firstType == 1) {
					// 首次进来是同城达， 只能切换普通快递和同城达
					if (this.options.type == 1 && this.currentType == 0) {
						return uni.showModal({
							title: '提示',
							content: '同城达不能切换为一小时达'
						})
					}
				} else {
					// 首次进来是普通快递，不能切换其他方式
					// 普通快递进来切换为同城达
					if (this.options.type == 2 && this.currentType == 1) {
						return uni.showModal({
							title: '提示',
							content: '普通快递不能切换为同城达服务'
						})
					}

					// 普通快递进来切换为一小时达
					if (this.options.type == 2 && this.currentType == 0) {
						return uni.showModal({
							title: '提示',
							content: '普通快递不能切换为一小时达'
						})
					}
				}

				this.$store.commit('setFromPage', 'sendWay')
				this.$store.commit('setSendWay', this.choosedDict)
				uni.navigateBack({

				})
			}
		}
	}
</script>

<style lang="scss">
	.dispatching_way_wrapper {
		height: 100%;
		padding: 0 24upx;
		background-color: #fff;

		.ways {
			display: flex;
			// justify-content: space-between;
			align-items: center;

			.way {
				margin-right: 10upx;
				width: 224upx;
				height: 114upx;
				border-radius: 8upx;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;
				background: rgba(153, 153, 153, .2);
				font-size: 24upx;
				color: #333;
				box-sizing: border-box;

				.text {
					color: #999;
				}

				&.active {
					background: rgba(250, 70, 80, 0.1);
					border: 1px solid rgba(250, 70, 80, 1);
					color: #FA4650;
				}
			}
		}

		.table {
			padding-bottom: 33upx;
			border-bottom: 1px solid #dcdcdc;

			.table_line {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.left,
				.right {
					font-size: 26upx;
					line-height: 37upx;
					color: #333;
				}

				.right {
					color: #999;
				}

				&.table_line_1 {
					margin-top: 46upx;
				}

				&.table_line_2 {
					margin-top: 27upx;
				}
			}
		}

		.notice_text {
			font-size: 24upx;
			line-height: 42upx;
			color: #999;
			letter-spacing: 1upx;

			.notice_line_1 {
				line-height: 42uxp;
			}
		}

		.confirm_btn {
			margin-top: 80upx;
			font-size: 32upx;
		}
	}
</style>
