<template>
	<view class="content">
		<!-- <button type="primary" @tap="getUserInfo" open-type="getUserInfo">获取信息</button> -->
		<view class="mine-info">
			<view class="top">
				<!-- <button class="avatar_btn" plain="1" @tap="doLogin" open-type="getUserInfo"> -->
				<button class="avatar_btn" plain="1" @tap="doLogin">
					<view class="avatar">
						<image :src="avatarPicSrc || '../../static/images/tx.png'"></image>
					</view>
					<view class="mine-name">{{isLogin ? '': '立即登录'}}</view>
					<view class="phone" v-if="isLogin">{{mobile}}</view>
				</button>
			</view>
		</view>
		<view class="others-list">
			<view class="others-item" v-for="(item,index) in otherList" :key="index" @tap="listTap(index)" v-track-event="{category:'个人中心列表', action:`${item.name}`,label:`${item.name}`}">
				<image :src="item.src" mode="aspectFit"></image>
				<view class="content flex-center" :class="{border: item.border}">
					<text>{{item.name}}</text>
					<text v-if="item.text" class="right_text">{{item.text}}</text>
					<image class="arrow_right" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/arrow_right.png"></image>
				</view>
				<!-- <view class="left">
					<i class="iconfont" :class="item.iconClass"></i>
					<span>{{item.name}}</span>
				</view>
				<view><i class="iconfont">&#xe6a3</i></view> -->
			</view>
		</view>
		
		<view v-if="isLogin" class="logout_btn" @tap="doLogout">退出登录</view>
		
		<!-- #ifdef MP-WEIXIN -->
		<loginMask :show="isShowLoginMask" @loginResult="loginResult"></loginMask>
		<!-- #endif -->
	</view>
</template>
<script>
	import {
		loadInfo,
		logout,
		getCar,
		authenticateStatus,
		queryAuthenticateInfo
	} from '@/common/request.js'

	export default {
		data() {
			return {
				userInfo: {
					avatarPicSrc: '../../static/images/tx.png'
				},
				avatarPicSrc: '',
				isLogin: false,
				userName: "",
				mobile: '',
				otherList: [{
						name: "我的订单",
						src: '/static/images/icons/mine_order.png',
						border: true,
						width: '28',
						height: '26'
					},
					{
						name: "收货地址",
						src: '/static/images/icons/mine_address.png',
						border: true,
						width: '28upx',
						height: '29upx'
					},
					{
						name: "实名认证",
						text: '',
						src: '/static/images/icons/auth.png',
						border: true,
						width: '31upx',
						height: '26upx'
					},
					{
						name: "我的优惠券",
						src: '/static/images/icons/mine_discount.png',
						border: true,
						width: '28upx',
						height: '27upx'
					},
					{
						name: "关于我们",
						src: '/static/images/icons/mine_about.png',
						border: false,
						width: '28upx',
						height: '28upx'
					}
					// ,
					// {
					// 	name: "意见反馈",
					// 	src: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/feedback.png',
					// 	width: '30upx',
					// 	height: '26upx'
					// }
				],
				authStatus: 0,
				// #ifdef MP-WEIXIN
				isShowLoginMask: false,
				tempAvatarUrl: ''
				// #endif
			}
		},
		onLoad() {
			this.initOnLoad()
		},
		onShow() {
			// this.authorize()
			this.initData()
		},
		onHide() {
			this.isShowLoginMask = false
		},
		methods: {
			async initOnLoad() {
				
			},
			async initData() {
				const isLogin = this.$isLogin()
				if (isLogin) {
					// const res = await loadInfo()
					this.userInfo = uni.getStorageSync('userInfo');
					if (this.userInfo.id) {
						this.isLogin = true;
						this.mobile = this.userInfo.mobile.substr(0, 3) + "****" + this.userInfo.mobile.substr(7);
					}
					
					if (isLogin) {
						const authRes = await authenticateStatus()
						if (authRes.result.status < 9) {
							this.otherList[2].text = '已认证'
							const res = await queryAuthenticateInfo()
							this.authInfo = res.result
							this.$wxBuryDot('page_name_auth')
						} else {
							this.otherList[2].text = '未认证'
						}
					}
					
					// #ifdef MP-WEIXIN
					const _this = this
					// wx.getUserInfo({
					// 	success: function(res) {
					// 		console.log('getUserInfo', res);
					// 		if (_this.$isLogin()) {
					// 			_this.avatarPicSrc = res.userInfo.avatarUrl
					// 		} else {
					// 			_this.tempAvatarUrl = res.userInfo.avatarUrl
					// 		}
					// 	},
					// 	fail(err) {
					// 		console.log(err);
					// 	}
					// })
					// #endif
				}
				const cartNum = this.$store.getters.cartNum;
				if (cartNum > 0) {
					uni.setTabBarBadge({
						index: 1,
						text: `${cartNum}`
					})
				} else {
					uni.removeTabBarBadge({
						index: 1
					})
				}
				this.$wxBuryDot('page_mine')
				
			},
			listTap(e) {
				const index = Number(e)
				const isLogin = this.$isLogin()
				switch (index) {
					case 0:

						// this.MonitorEvent('my_ords');	// 大数据按钮埋点 my_ords
						if (isLogin) {
							uni.navigateTo({
								url: '/pages/myOrder/myOrder'
							})
						} else  {
							this.doLogin('list')
						}
						break
					case 1:

						// this.MonitorEvent('addr_mgr');	// 大数据按钮埋点 addr_mgr
						if (isLogin) {
							uni.navigateTo({
								url: '/pages/addressManager/addressManager'
							})
						} else  {
							this.doLogin('list')
						}
						break
						// case 1: uni.navigateTo({
						// 	url: '/pages/realAuth/realAuth'
						// })
						// 	break
						// case 0: uni.navigateTo({
						// 	url: '/pages/integralStore/integralStore'
						// })
						// 	break
						// case 1: uni.navigateTo({
						// 	url: '/pages/addressManager/addressManager'
						// })
						// 	break
						// case 2: uni.navigateTo({
						// 	url: '/pages/realAuth/realAuth'
						// })
						// 	break
					case 2:
						if (isLogin) {
							uni.navigateTo({
								url: '/pages/realAuth/realAuth'
							})
						} else  {
							this.doLogin('list')
						}
						break
						// this.MonitorEvent('my_disc_coup');	// 大数据按钮埋点 my_disc_coup
						
					case 3:
						if (isLogin) {
							uni.navigateTo({
								url: '/pages/discounts/discounts'
							})
						} else  {
							this.doLogin('list')
						}
						break
					case 4:
						this.MonitorEvent('about_us');	// 大数据按钮埋点 about_us
						uni.navigateTo({
							url: '/pages/aboutus/aboutus'
						})
						break
						// case 5: uni.navigateTo({
						// 	url: '/pages/feedback/feedback'
						// })
						// 	break
				}
			},
			async doLogin(type = '') {
				const isLogin = this.$isLogin()
				if (!isLogin) {
					// #ifdef H5 || APP-PLUS
					this.$putils.goLogin()
					// #endif

					// #ifdef MP-WEIXIN
					const _this = this
					await _this.$getUserToken()
					_this.isShowLoginMask = true
					// if (type === 'list') {
					// 	_this.isShowLoginMask = true
					// } else {
					// 	uni.showLoading({
					// 		title: '登录中...',
					// 		mask: true
					// 	})
					// 	wx.getUserInfo({
					// 		success: function(res) {
					// 			console.log('getUserInfo', res);
					// 			_this.tempAvatarUrl = res.userInfo.avatarUrl
					// 			_this.isShowLoginMask = true
					// 			uni.hideLoading()
					// 		},
					// 		fail(err) {
					// 			uni.hideLoading()
					// 			console.log(err);
					// 		}
					// 	})
					// }
					// #endif
				}
			},
			async getCar() {
				const {
					result
				} = await getCar();
				if (result.items) {
					const cartNum = Object.keys(result.items).length
					cartNum > 0 ? uni.setTabBarBadge({
						index: 1,
						text: `${cartNum}`
					}) : uni.removeTabBarBadge({
						index: 1
					})
					this.$store.commit('setCartNum', cartNum);
				}
				console.log('getCar', result);
			},
			loginResult(e) {
				console.log('loginResult', e);
				if (e.type === 'success') {
					this.isShowLoginMask = false
					this.initData()
					this.getCar()
				} else if (e.type === 'close') {
					this.isShowLoginMask = false
				}
			},
			async doLogout() {
				const res = await logout()
				// #ifdef MP-WEIXIN || APP-PLUS
				uni.removeStorageSync('userInfo')
				// uni.removeStorageSync('userWxInfoCacheKey')
				uni.removeStorageSync('mt_token')
				// #endif
				
				uni.removeTabBarBadge({
					index: 1
				})
				this.mobile = ''
				this.userInfo = {}
				this.tempAvatarUrl = ''
				this.avatarPicSrc = ''
				this.otherList[2].text = ''
				// #ifdef H5
				// 再调一次其他接口才会真正的清除掉token
				loadInfo()
				// #endif
				this.isLogin = false
			}
		}
	}
</script>

<style scoped lang="scss">
	// @import '../../common/iconfont.css';
	.content {
		height: 100%;
		background: #f0f0f0;

		.mine-info {
			padding: 0;
			border: none;
			border-radius: 0;

			.top {
				height: 280upx;
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				background: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/uesr-banner.png') no-repeat center/cover;
				.avatar_btn {
					border: none;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					
					.avatar {
						width: 120upx;
						height: 120upx;
						border-radius: 50%;
						box-sizing: border-box;
					
						image {
							width: 120upx;
							height: 120upx;
							border-radius: 50%;
						}
					}
					
					/* #ifdef H5 */
					.mine-name {
						margin-top: 28upx;
						text-align: center;
						font-size: 27upx;
						font-weight: 500;
						color: #fff;
						line-height: 38upx;
					}
					
					/* #endif */
					
					/* #ifdef MP-WEIXIN */
					.mine-name {
						padding: 0;
						border: none;
						margin-top: 28upx;
						text-align: center;
						font-size: 27upx;
						font-weight: 500;
						color: #fff;
						line-height: 38upx;
					}
					
					/* #endif */
					
					.phone {
						font-size: 24upx;
						font-family: PingFangSC-Medium;
						font-weight: 500;
						color: #aaa;
						line-height: 33upx;
					
					}
				}
			}

			.bottom {
				display: flex;
				justify-content: center;
				height: 150upx;

				.item {
					width: 33%;
					padding: 20upx 40upx;

					.num {
						font-size: 52upx;
						color: #333;
					}

					.type {
						display: flex;
						justify-content: space-between;

						view {
							font-size: 24upx;
							color: #666666;
						}
					}
				}
			}
		}

		.others-list {
			background: #f0f0f0;
			margin-top: 20upx;

			.others-item {
				padding: 0 24upx;
				background: #FFF;
				height: 95upx;
				display: flex;
				justify-content: space-between;
				align-items: center;

				image {
					width: 36upx;
					height: 36upx;
				}

				&.split {
					margin-top: 20upx;
				}

				.img_0 {
					width: 35upx;
					height: 35upx;
				}

				.img_1 {
					width: 28upx;
					height: 29upx;
				}

				.img_2 {
					width: 30upx;
					height: 25upx;
				}

				.img_3 {
					width: 28upx;
					height: 27upx;
				}

				.img_4 {
					width: 28upx;
					height: 28upx;
				}

				.img_5 {
					width: 30upx;
					height: 26upx;
				}

				.content {
					margin-left: 30upx;
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-grow: 1;
					box-sizing: border-box;
					background: #fff;

					&.border {
						border-bottom: 1px solid #dcdcdc;
					}
					.right_text {
						text-align: right;
						margin-right: 20upx;
						flex-grow: 1;
						color: #999;
					}
					.arrow_right {
						width: 12upx;
						height: 20upx;
					}
				}

				// .left {
				// 	i {
				// 		margin-right: 10upx;
				// 	}
				// }
			}
		}

		.logout_btn {
			height: 96upx;
			line-height: 96upx;
			text-align: center;
			font-size: 28upx;
			color: #333;
			background: #FFFFFF;
			margin-top: 20upx;
		}
	}
</style>
