<template>
	<view class="m_discount_wrapper" @tap="goPath" v-track-event="{category:'我的优惠券', action:'去使用',label:'去使用优惠券'}">
		<view class="coupon canuse">
			<view class="content">
				<view class="left">
					<view class="coupon_number">
						<text class="icon_rmb" v-if="couponType === 1">¥</text>
						<text class="number">{{denomination}}</text>
					</view>
					<view class="text" v-if="startFee > 0">满{{startFee}}减{{denomination}}</view>
				</view>
				<view class="right">
					<view class="title">
						<!-- <view class="icon">立减券</view> -->
						<view class="title_text">{{coupon.couponName}}</view>
					</view>
					<view class="miidel_line"></view>
					<view class="deadline">
						<view class="deadline_date">
							<text>有效期至: </text>
							<text>{{endTime}}</text>
						</view>
						<view class="use_btn">
							<text>去使用</text>
							<text class="iconfont moti-right"></text>
						</view>
					</view>
				</view>
			</view>
		</view>
		<!-- <view class="coupon cantuse">
			
		</view>
		<view class="coupon used">
			
		</view> -->
	</view>
</template>

<script>
	export default {
		props: {
			coupon: {
				type: Object,
				default () {
					return {}
				}
			}
		},
		data() {
			return {
				endTime: '',
				denomination: '',
				startFee: 0.,
				couponType: 1 // 1: 满减券, 2: 折扣券
			}
		},
		created() {
			this.endTime = this.coupon.endTime.split(' ')[0]
			
			if (this.coupon.denomination) {
				this.denomination = this.coupon.denomination.split('.')[0]
				this.couponType = 1
			} else if (this.coupon.discountRate) {
				this.denomination = `${this.coupon.discountRate * 10}折`
				this.couponType = 2
			}
			this.startFee = parseInt(this.coupon.startFee)
			console.log(this.denomination)
		},
		methods: {
			goPath() {
				this.MonitorEvent('use_coup');	// 大数据按钮埋点 use_coup
				const pages = getCurrentPages()
				const lastPage = pages[pages.length - 2]
				if (lastPage && /orderInfo/.test(lastPage.route)) {
					this.$store.commit('setFromPage', 'discounts')
					this.$store.commit('setTempData', {
						name: 'coupon',
						data: this.coupon
					})
					uni.navigateBack({
						delta: 1 //返回的页面数，如果 delta 大于现有页面数，则返回到首页,
					});
				} else {
					this.$store.commit('setFromPage', 'discounts')
					this.$store.commit('setTempData', {
						name: 'coupon',
						data: this.coupon
					})
					uni.switchTab({
						url: '/pages/index/index'
					});
				}
				this.$wxBuryDot('mine_my_disc_coup')
			}
		}
	}
</script>

<style lang="scss">
	// page{background-color: #000;}
	.m_discount_wrapper {
		overflow: hidden;
		width: 702upx;
		height: 180upx;
		margin-bottom: 24upx;

		.coupon {
			width: 100%;
			height: 100%;
			background-color: #fff;

			.content {
				height: 100%;
				display: flex;

				.left {
					flex-shrink: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 228upx;
					height: 100%;
					text-align: center;
					color: #fff;

					.coupon_number {
						.icon_rmb {
							font-size: 36upx;
							line-height: 44upx;
						}

						.number {
							font-size: 72upx;
							line-height: 100upx;
							font-weight: 600;
						}
					}

					.text {
						font-size: 26upx;
						line-height: 37upx;
					}
				}

				.right {
					padding: 0 25upx 0 31upx;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					flex-grow: 1;
					height: 100%;

					>view {
						width: 100%;
					}

					.title {
						display: flex;
						align-items: center;
						margin-bottom: 24upx;
						margin-top: 18upx;

						.icon {
							flex-shrink: 0;
							display: flex;
							justify-content: center;
							align-items: center;
							width: 76upx;
							height: 32upx;
							box-sizing: border-box;
							border: 1px solid #FA4650;
							border-radius: 2upx;
							font-size: 20upx;
							// color: #FA4650;
						}

						.title_text {
							margin-left: 8upx;
							font-size: 40upx;
							line-height: 44upx;
							font-weight: 600;
							// color: #FA4650;
						}
					}

					.miidel_line {
						// margin-top: 34upx;
						// margin-bottom: 20upx;
						width: 100%;
						height: 2upx;
						background-color: #e6e6e6;
					}

					.deadline {
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-top: 24upx;

						.deadline_date {
							flex-shrink: 0;
							font-size: 22upx;
							line-height: 22upx;
							// color: #FA4650;
						}

						.use_btn {
							font-size: 28upx;
							line-height: 28upx;
							// color: #FA4650;
							font-weight: bold;

							.moti-right {
								// color: #FA4650;
								font-weight: normal;
							}
						}
					}
				}
			}

			&.canuse {
				background: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/discount_coupon_canuse.png');
				background-size: 100%;
				color: #FA4650;
			}

			&.cantuse {
				background: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/discount_coupon_canuse.png');
				background-size: 100%;
				opacity: 0.6;

			}

			&.used {
				background: url('https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/discount_coupon_used.png');
				background-size: 100%;
				color: #999;

				.right {
					.title {
						.icon {
							border-color: #999;
						}
					}
				}

			}
		}
	}
</style>
