<template>

	<view class="by">

	</view>

</template>

<script>
	export default {
		data() {
			return {
				stepPage: false,
				hasHiddenTabBar: false
			}
		},


		methods: {
			// goVideo: function() {
			// 	uni.navigateTo({
			// 		url: "pages/sign/step2/step2"
			// 	})
			// },


		}
	}
</script>


<style lang="scss">
	.by {
		// background-color: #ff0000;
		height: 100%;
		background: url("https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-mall/step1.png") no-repeat;
		background-size: contain;
	}

	.bg1 {
		display: flex;
		width: 100%;
		height: 100%;
	}
</style>
