<template>
	<view class="refundDetail">
		<view class="refundOrder">
			<view class="orderItem">
				<view class="title">订单号</view>
				<view class="title">{{refundInfo.orderId}}</view>
			</view>
			<view class="orderItem">
				<view class="title">退款金额</view>
				<view class="title money">¥{{refundInfo.refundPrice}}</view>
			</view>
			<view class="orderItem reason">
				<view class="title">退款原因</view>
				<view class="title">{{refundInfo.refundDesc}}</view>
			</view>
		</view>
		<view class="process">
			<uni-steps :options="list" direction="column" :active="active"></uni-steps>
		</view>
	</view>
</template>

<script>
	import uniSteps from '@/components/uni-steps/uni-steps.vue';
	import {
		getRefundItem
	} from '@/common/request.js';
	export default {
		components: {
			uniSteps
		},
		data() {
			return {
				refundId: '',
				refundInfo: {},
				active: 0,
				list: []
			}
		},
		methods: {
			async getRefundItem() {
				let {
					code,
					result,
					msg
				} = await getRefundItem(this.refundId);
				if (code == 0) {
					this.refundInfo = result;
					let statusObj = {
						title: result.createDesc,
						desc: result.createTime
					};
					this.list.push(statusObj);
				}
			}
		},
		onLoad(e) {
			this.refundId = e.refundId;
			this.getRefundItem();
		}
	}
</script>

<style lang="scss" scoped>
	.refundOrder,
	.process {
		padding: 24upx;
		background: #fff;

		.orderItem {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 27upx;

			.title {
				font-size: 26upx;
				color: #333;
			}

			.money {
				color: #FA4650;
			}
		}

		.reason {
			margin-bottom: 0;
		}
	}

	.process {
		margin-top: 20upx;
		padding: 56upx 48upx;
	}
</style>
