<template>
	<view class="about_us">
		<view class="moti_icon">
			<image src="/static/images/icons/logo.png"></image>
			<view class="text">MOTI</view>
		</view>
		<view class="tabs">
			<view class="tab tab_1" @tap="goPath(1)" v-track-event="{category:'用户协议', action:'用户协议',label:'查看用户协议'}">
				<text>MOTI到家用户协议</text>
				<text class="iconfont moti-right"></text>
			</view>
			<view class="tab" @tap="goPath(2)" v-track-event="{category:'隐私政策', action:'隐私政策',label:'查看隐私政策'}">
				<text>MOTI到家隐私政策</text>
				<text class="iconfont moti-right"></text>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			};
		},
		methods: {
			goPath(e = 1) {
				let url = ''
				if (e == 1) {
					this.MonitorEvent('deal');	// 大数据按钮埋点 deal
					url = '/pages/deal/deal'
				} else {
					this.MonitorEvent('privacy');	// 大数据按钮埋点 privacy
					url = '/pages/privacy/privacy'
				}
				uni.navigateTo({
					url: url
				})
			}
		}
	}
</script>

<style lang="scss">
	.about_us {
		padding-top: 1px;
		height: 100%;
		background: #fff;

		.moti_icon {
			margin-top: 100upx;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			image {
				width: 109upx;
				height: 109upx;
			}

			.text {
				margin-top: 10upx;
				font-size: 26upx;
			}
		}

		.tabs {
			margin-top: 120upx;
			padding: 0 48upx;

			.tab {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 80upx;
				border-bottom: 1px solid #eee;
			}

			.tab_1 {}
		}
	}
</style>
