<template>
	<view class="real_auth_page">
		<image :src="myUrl" mode=""></image>
		<canvas v-if="canvasWidth" class="compress_canvas" canvas-id="compress" :style="{width: canvasWidth + 'px', height: canvasHeight + 'px'}"></canvas>
		<!-- 未认证状态 -->
		<block v-if="!isAuthed && !authSuccess">
			<!-- header -->
			<view class="real_auth_header">
				请按要求上传证件照
			</view>
			
			<!-- 上传身份证 -->
			<view class="upload_wrapper">
				<view class="m_upload_img_wrapper">
					<image class="img_def" v-if="!frontSrc" src="/static/images/id_front.png" @tap="chooseFrontImg" data-type="front"></image>
					<image class="img_idcard" v-else :src="frontSrc" @tap="chooseFrontImg" data-type="front"></image>
				</view>
				<view class="m_upload_img_wrapper">
					<image class="img_def" v-if="!backSrc" src="/static/images/id_back.png" @tap="chooseBackImg" data-type="back"></image>
					<image class="img_idcard" v-else :src="backSrc" @tap="chooseBackImg" data-type="back"></image>
				</view>
			</view>
			
			<!-- 手机号,身份证号,真实姓名等 -->
			<view class="input_wrapper">
				<view class="m_input_tap">
					<view class="left_text">手机号</view>
					<input class="right_input" v-model="phoneNumber" placeholder="请输入手机号" placeholder-style="color: #999;font-size: 26upx" type="text">
				</view>
				<view class="m_input_tap">
					<view class="left_text">真实姓名</view>
					<input class="right_input" v-model="realName" disabled placeholder="上传后将自动识别" placeholder-style="color: #999;font-size: 26upx" type="text">
				</view>
				<view class="m_input_tap">
					<view class="left_text">身份证号</view>
					<input class="right_input" v-model="idNumber" disabled placeholder="上传后将自动识别" placeholder-style="color: #999;font-size: 26upx" type="text">
				</view>
			</view>
			
			
			<!-- 中间填充 -->
			<view class="content_black"></view>
			
			<!-- 提交按钮 -->
			<view class="confirm_btn" @tap="confirmAuth">
				提交认证
			</view>
			
			<!-- 返回时的弹窗 -->
			<mmodal :show="isShowBackModal" @confirm="backConfirm" @cancel="backCancel" confirmText="继续填写" cancelText="确认返回">
				<view class="back_msg">
					<text>返回后已填写的信息将丢失\n确认返回？</text>
				</view>
			</mmodal>
		</block>
		
		
		<!-- 执行认证且成功 -->
		<block v-else-if="authSuccess">
			<view class="auth_success">
				<image class="success_icon" src="/static/images/auth_success.png"></image>
				<view class="text">认证成功, 感谢您的配合</view>
			</view>
			<view class="split_line"></view>
			
			<view class="goods_content" v-if="!isUn18ed">
				<view class="goods_content_header">
					开启您的MOTI之旅吧
				</view>
				
				<view class="contents">
					<view class="goods_item img_def" v-for="(item, index) in goodsList" :key="index" @tap="goGoodsDetail(item)">
						<TransitonImg :src="item.picture_url_c" width="346" height="560"></TransitonImg>
						<view class="goods_handle">
							<view class="price"><text class="icon_rmb">¥</text><text class="num">{{parseInt(item.market_price)}}</text><text
								 class="text">/套</text></view>
							<view class="border"></view>
							<view class="add_cart">加入购物车</view>
						</view>
					</view>	
				</view>
			</view>
			<!-- <view class="un18ed" v-else>
				<image class="in18_img" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/forbid_18.png"></image>
				<view class="text text_one">本着未成年健康成长创造良好的社会环境原则，MOTI依法不对未成年人售卖雾化烟相关产品，在此声明</view>
				<view class="text text_one">1.未成年人使用雾化烟会影响呼吸系统、肺部
</view>
				<view class="text">2.我们不会向未成年人推荐，出售雾化烟，未成年人请勿购买，使用雾化烟.
</view>
				<view class="text">3.如发现未成年人使用雾化烟相关产品，请立即给予制止</view>
			</view> -->
		</block>
		
		
		<!-- 执行认证且失败 -->
		<block v-else-if="authFail">
			<view class="auth_fail">
				<image class="fail_icon" src="/static/images/auth_fail.png"></image>
				<view class="text">认证失败</view>
			</view>
			<view class="try_again">重新认证</view>
		</block>
		<!-- 已经认证过了 -->
		<block v-else>
			<view class="input_wrapper">
				<view class="m_input_tap">
					<view class="left_text">手机号</view>
					<input class="right_input linght" v-model="phoneNumber" placeholder="请输入手机号" placeholder-style="color: #999;font-size: 26upx" type="text">
				</view>
				<view class="m_input_tap">
					<view class="left_text">真实姓名</view>
					<input class="right_input linght" v-model="realName" placeholder="上传后将自动识别" placeholder-style="color: #999;font-size: 26upx" type="text">
				</view>
				<view class="m_input_tap">
					<view class="left_text">身份证号</view>
					<input class="right_input linght" v-model="idNumber" placeholder="上传后将自动识别" placeholder-style="color: #999;font-size: 26upx" type="text">
				</view>
			</view>
		</block>
	</view>
</template>

<script>
	import TransitonImg from '@/components/TransitonImg.vue'
	import { ocrScanBackIdCard, ocrScanFrontIdCard, threeFactorDetection, queryAuthenticateInfo, saveAuthenticateInfo, querySpuConfigGoods } from '@/common/request.js'
	export default {
		data() {
			return {
				frontSrc: '',
				backSrc: '',
				phoneNumber: '',
				realName: '',
				realFullName: '',
				idNumber: '',
				idRealNumber: '',
				isShowBackModal: false,
				isOnBackPress: false,
				isAuthed: false, // 是否已经认证过, 打开页面时查询到的状态
				authSuccess: false, // 认证成功, 打开页面未认证, 然后做认证操作, 认证成功
				authFail: false, // 认证失败
				isUn18ed: false, // 未成年
				cardFrontUrl: '',
				cardBackUrl: '',
				goodsList: [
					
				],
				tapedGoods: {},
				canvasWidth: '',
				canvasHeight: '',
				myUrl: ''
			}
		},
		components: {
			TransitonImg
		},
		watch: {
			phoneNumber() {
				this.isOnBackPress = true
			},
			realName() {
				this.isOnBackPress = true
			},
			idNumber() {
				this.isOnBackPress = true
			},
			frontSrc() {
				this.isOnBackPress = true
			},
			backSrc() {
				this.isOnBackPress = true
			}
		},
		async onLoad() {
			
			const res = await queryAuthenticateInfo()
			console.log('queryAuthenticateInfo', res);
			if (res.code == 0 && res.result && res.result.card_id) {
				this.isAuthed = true
				this.phoneNumber = res.result.mobile.replace(res.result.mobile.slice(3, 7), '****')
				const idStr = res.result.card_id.slice(10, 14)
				this.idNumber = res.result.card_id
				this.idRealNumber = res.result.card_id
				this.realName = res.result.card_name
				this.realFullName = res.result.card_name
				this.realName = res.result.card_name
				// if (res.result.status == 1) {
				// 	this.authSuccess = true
				// 	this.isUn18ed = true
				// }
			} else {
				const userInfo = uni.getStorageSync('userInfo')
				this.phoneNumber = userInfo.mobile
			
			}
		},
		methods: {
			chooseFrontImg(e) {
				const _this = this
				uni.getImageInfo
				uni.chooseImage({
					count: 1,
					async success(res) {
						console.log(res);
							
						uni.getImageInfo({
							src: res.tempFiles[0].path,
							success(info) {
								console.log(info);
								
								if (info.width > 1080) {
									_this.canvasWidth = 1080
									_this.canvasHeight = info.height / (info.width / 1080)
								} else {
									_this.canvasWidth = info.width
									_this.canvasHeight = info.height
								}
								_this.$nextTick(() =>{
									const ctx = uni.createCanvasContext('compress', _this)
									ctx.drawImage(res.tempFiles[0].path, 0, 0, _this.canvasWidth, _this.canvasHeight)
									ctx.draw(true, () => {
										uni.canvasToTempFilePath({
											x: 0,
											y: 0,
											destWidth: _this.canvasWidth,
											destHeight: _this.canvasHeight,
											canvasId: 'compress',
											fileType: 'jpg',
											async success(img) {
												console.log('canvasToTempFilePath', img);
													uni.showLoading({
														title: '正在识别',
														mask: true
													})
													let timer = setTimeout(() => {
														uni.hideLoading()
													}, 30000)
													var arr = img.tempFilePath.split(','),
														mime = arr[0].match(/:(.*?);/)[1],
														bstr = atob(arr[1]),
														n = bstr.length,
														u8arr = new Uint8Array(n);
														while (n--) {
															u8arr[n] = bstr.charCodeAt(n);
														}
														console.log('mime', mime);
													const file = new Blob([u8arr], { type: "image/jpg" });
													 let oFileReader = new FileReader();
													  oFileReader.onloadend = function (e) {
														// let base64 = e.target.result;
														// console.log("方式一》》》》》》》》》", e.target.result)
														const ocrRes = ocrScanFrontIdCard(e.target.result)
													  };
													  oFileReader.readAsText(file);
													  return
													// var myUrl = URL.createObjectURL(file)
													_this.myUrl = myUrl
													// file.lastModifiedDate = new Date()
													// file.name = 'img'
													console.log('file', file);
													console.log('myUrl', myUrl);
													// return 
													// console.log('base64', atob(img));
													_this.frontSrc = myUrl
													const ocrRes = await ocrScanFrontIdCard(_this.frontSrc)
													const parseRes = JSON.parse(ocrRes)
													console.log('parseRes', parseRes);
													uni.hideLoading()
													
													
													if (parseRes.code == 0) {
														const info = JSON.parse(parseRes.result)
														_this.realName = info.realName
														_this.idNumber = info.cardId
														_this.cardFrontUrl = info.imageUrl
													} else {
														uni.showToast({
															title: `${parseRes.msg}`,
															icon: 'none'
														})
													}
													clearTimeout(timer)
													timer = null
											}
										})
									})
								})
							}
						})
						// if (res.tempFiles[0].size > 1024 * 1024 * 4) {
						// 	return uni.showToast({
						// 		title: '照片最大支持4MB',
						// 		icon: 'none'
						// 	})
						// }
					// 	uni.showLoading({
					// 		title: '正在识别',
					// 		mask: true
					// 	})
					// 	let timer = setTimeout(() => {
					// 		uni.hideLoading()
					// 	}, 30000)
					// 	_this.frontSrc = res.tempFiles[0].path
					// 	const ocrRes = await ocrScanFrontIdCard(_this.frontSrc)
					// 	const parseRes = JSON.parse(ocrRes)
					// 	console.log('parseRes', parseRes);
					// 	uni.hideLoading()
					// 	
					// 	
					// 	if (parseRes.code == 0) {
					// 		const info = JSON.parse(parseRes.result)
					// 		_this.realName = info.realName
					// 		_this.idNumber = info.cardId
					// 		_this.cardFrontUrl = info.imageUrl
					// 	} else {
					// 		uni.showToast({
					// 			title: `${parseRes.msg}`,
					// 			icon: 'none'
					// 		})
					// 	}
					// 	clearTimeout(timer)
					// 	timer = null
					}
				})
			},
			chooseBackImg() {
				const _this = this
				uni.chooseImage({
					count: 1,
					async success(res) {
						uni.showLoading({
							title: '正在识别',
							mask: true
						})
						let timer = setTimeout(() => {
							uni.hideLoading()
						}, 30000)
						_this.backSrc = res.tempFiles[0].path
						const ocrRes = await ocrScanBackIdCard(_this.backSrc)
						const parseRes = JSON.parse(ocrRes)
						const info = JSON.parse(parseRes.result)
						_this.cardBackUrl = info && info.imageUrl
						uni.hideLoading()
						if (parseRes.code != 0) {
							uni.showToast({
								title: `${parseRes.msg}`,
								icon: 'none'
							})
						}
						clearTimeout(timer)
						timer = null
					}
				})
			},
			backConfirm() {
				this.isShowBackModal = false
			},
			backCancel() {
				this.isShowBackModal = false
				this.isOnBackPress = false
				uni.navigateBack({
					delta: 1
				});
			},
			async confirmAuth() {
				if (!this.$mutils.checkMobile(this.phoneNumber)) return uni.showToast({
					title: '请输入手机号',
					icon: 'none'
				})
				
				if (!this.frontSrc) return uni.showToast({
					title: '请上传正面身份证图片',
					icon: 'none'
				}) 
				if (!this.backSrc) return uni.showToast({
					title: '请上传反面身份证图片',
					icon: 'none'
				}) 
				uni.showLoading({
					title: '正在提交'
				})
				this.$wxBuryDot('name_auth_submit_auth')
				const authRes = await threeFactorDetection(this.idNumber, this.realName, this.phoneNumber)
				console.log('authRes', authRes);
				uni.hideLoading()
				if (authRes.code == 0) {
					const saveRes = await saveAuthenticateInfo({
						cardFrontUrl: this.cardFrontUrl,
						cardBackUrl: this.cardBackUrl,
						cardId: this.idNumber,
						cardName: this.realName,
						mobile: this.phoneNumber
					})
					if (saveRes.code == 0) {
						this.$wxBuryDot('page_auth_success')
						if (saveRes.result == 1) {
							this.authSuccess = true
							const goodss = await querySpuConfigGoods(0)
							this.goodsList = goodss.result
						} else if (saveRes.result == 2) {
							uni.showToast({
								title: '未成年',
								icon: 'none'
							})
							this.authSuccess = true
							this.isUn18ed = true
						}
					} else {
						this.$wxBuryDot('page_auth_fail')
						uni.showToast({
							title: `${saveRes.msg}`,
							icon: 'none'
						})
					}
				} else {
					uni.showToast({
						title: `${authRes.msg}`,
						icon: 'none'
					})
				}
			},
			goGoodsDetail(item) {
				this.tapedGoods = item
				this.$wxBuryDot('name_auth_imme_buy')
				uni.navigateTo({
					url: `/pages/goodsDetail/goodsDetail?spuId=${item.id}`
				})
			}
		},
		onBackPress() {
			this.isShowBackModal = true
			return this.isOnBackPress
		}
	}
</script>
<style lang="scss">
	page {
		background: #fff;
	}
	.real_auth_page {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		background: #fff;
		.compress_canvas {
			position: fixed;
			left: -9999rpx;
			top: -9999px;
		}
		.real_auth_header {
			margin-top: 48upx;
			font-size: 26upx;
			color: #999999;
			letter-spacing: 0;
			line-height: 37upx;
			padding: 0 40upx;
		}
		.upload_wrapper {
			margin-top: 41upx;
			padding: 0 24upx;
			display: flex;
			justify-content: space-between;
			.m_upload_img_wrapper {
				width: 337upx;
				height: 200upx;
				background: #F5F5F5;
				border-radius: 6upx;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				.img_def {
					width: 190upx;
					height: 104upx;
				}
				.img_idcard {
					width: 100%;
					height: 100%;
				}
			}
			
		}
		.input_wrapper {
			padding: 0 24upx;
			margin-top: 60upx;
			.m_input_tap {
				display: flex;
				align-items: center;
				height: 80upx;
				border-bottom: 1px solid #dcdcdc;
				font-size: 26upx;
				.left_text {
					width: 150upx;
					font-size: #333;
				}
				.right_input {
					
					flex-grow: 1;
					&.linght {
						color: #999;
					}
				}
			}
		}
		
		
		.content_black {
			height: 10px;
			flex-grow: 10;
		}
		
		
		.confirm_btn {
			display: flex;
			width: 702upx;
			justify-content: center;
			align-items: center;
			height: 72upx;
			background-image: linear-gradient(90deg, #FF4A65 1%, #FA4650 99%);
			border-radius: 8upx;
			font-size: 28upx;
			color: #FFFFFF;
			letter-spacing: 0;
			margin: auto auto 60upx auto;
		}
		
		.back_msg {
			text-align: center;
			margin-top: 52upx;
			font-size: 32upx;
			color: #333333;
		}
		
		.auth_success, .auth_fail {
			height: 340upx;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.success_icon {
				width: 146upx;
				height: 144upx;
			}
			.fail_icon {
				width: 116upx;
				height: 144upx;
			}
			.text {
				margin-top: 47upx;
				font-size: 24upx;
				color: #999999;
				letter-spacing: 0;
				text-align: center;
			}
			
		}
		.try_again {
			position: fixed;
			left: 0;
			right: 0;
			bottom: 20upx;
			display: flex;
			width: 702upx;
			justify-content: center;
			align-items: center;
			height: 72upx;
			background-image: linear-gradient(90deg, #FF4A65 1%, #FA4650 99%);
			border-radius: 8upx;
			font-size: 28upx;
			color: #FFFFFF;
			letter-spacing: 0;
			margin: auto auto 20upx auto;
		}
			
		.auth_fail {
			margin-top: 150upx;
		}
		
		
		.split_line {
			height: 30upx;
			background: #eee;
		}
		
		.goods_content {
			.goods_content_header {
				height: 120upx;
				line-height: 120upx;
				font-size: 28upx;
				color: #333333;
				padding: 0 24upx;
			}
			.contents {
				padding: 0 24upx;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.goods_item {
					margin-bottom: 10upx;
					position: relative;
					flex-shrink: 0;
					width: 346upx;
					height: 560upx;
					background: #f0f0f0;
					border-radius: 8upx;
				
					image {
						width: 100%;
						height: 100%;
					}
					// .def_bg {
					// 	background: url('/static/images/default.png') no-repeat;
					// 	background-position: center;
					// }
					.goods_handle {
						position: absolute;
						left: 0;
						right: 0;
						bottom: 33upx;
						margin: auto;
						width: 280upx;
						height: 48upx;
						border-radius: 6upx;
						background-color: #000;
						display: flex;
						justify-content: center;
						align-items: center;
						color: #fff;
				
						.price {
							.icon_rmb {
								font-size: 18upx;
								line-height: 25upx;
								font-weight: 600;
							}
				
							.num {
								font-size: 32upx;
								line-height: 40upx;
								font-weight: bold;
							}
				
							.text {
								font-size: 18upx;
								line-height: 25upx;
							}
						}
				
						.border {
							margin: 4upx 14upx 0 17upx;
							width: 1px;
							height: 16upx;
							background-color: #fff;
						}
				
						.add_cart {
							margin-top: 4upx;
							font-size: 21upx;
							line-height: 29upx;
						}
					}
				}
			}
		}
		
		.un18ed {
			padding: 40upx 50upx 0 50upx;
			.in18_img {
				display: block;
				margin: 0 auto;
				width: 480upx;
				height: 65upx;
			}
			.text {
				line-height: 36upx;
				font-size: 26upx;
				color: #999;
			}
			.text_one {
				margin-top: 40upx;
			}
		}
	}
</style>