<template>
	<view class="app_guide">
		<swiper class="guide_swiper" :indicator-dots="true" :autoplay="false" indicator-active-color="#FA4650">
			<swiper-item class="guide_swiper_item" v-for="(item, index) in swiperData" :key="index">
				<view class="swiper_item_view">
					<image class="icon_img" :src="item.url"></image>
					<view class="title">{{item.title}}</view>
					<view class="text">{{item.text}}</view>
					<!-- #ifdef H5 -->
					<mbtn class="go_app" width="260upx" height="80upx" background="#000" v-if="index === 3">立即体验</mbtn>
					<!-- #endif -->
					<!-- #ifdef MP-WEIXIN -->
					<mbtn class="go_app" width="260rpx" height="80rpx" background="#000" v-if="index === 3">立即体验</mbtn>
					<!-- #endif -->
				</view>
			</swiper-item>
		</swiper>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				swiperData: [{
					url: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/circle_zhen.png',
					title: '1小时达',
					text: '同城1小时送达（目前仅限成都）'
				}, {
					url: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/circle_zhen.png',
					title: '1小时达',
					text: '同城1小时送达（目前仅限成都）'
				}, {
					url: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/circle_zhen.png',
					title: '1小时达',
					text: '同城1小时送达（目前仅限成都）'
				}, {
					url: 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/circle_zhen.png',
					title: '1小时达',
					text: '同城1小时送达（目前仅限成都）'
				}]
			};
		}
	}
</script>

<style lang="scss">
	.app_guide {
		height: 100%;
		background-color: #fff;

		.guide_swiper {
			height: 100%;

			.guide_swiper_item {
				height: 100%;

				.swiper_item_view {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					height: 100%;

					.icon_img {
						width: 400upx;
						height: 310upx;
					}

					.title {
						margin-top: 185upx;
						font-size: 48upx;
						line-height: 72upx;
						color: #333;
						font-weight: bold;
					}

					.text {
						margin-top: 8upx;
						font-size: 32upx;
						line-height: 45upx;
						color: #999;
					}

					.go_app {

						margin-top: 39upx;
					}
				}
			}
		}
	}
</style>
