<template>

	<view class="cart_item_wrapper">
		<view class="cart_item_header" v-if="false">
			<view class="left">
				<view class="discount_icon">满减</view>
				<view class="text">满350元减60元，还差58元复制</view>
			</view>
			<view class="right">
				<text>去凑单</text>
				<text class="iconfont moti-right"></text>
			</view>
		</view>
		<uni-swipe-action :options="swipeActionOpt" @click="swipeAction">
			<view class="cart_item_content" @tap="goGoodsDetail">
				<view class="cart_item_checkbox img_def" @tap.stop="changeCheck">
					<image :src="goods.selected ? 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/cart_checked.png' : 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/cart_unchecked.png'"></image>
				</view>

				<view class="content">
					<!-- <image class="bg_img" :src="goods.pictureList[0] && goods.pictureList[0].pictureUrl"></image> -->
					<view class="bg_img_wrapper">
						<!-- goods.pictureUrl: 前端缓存购物车的图片，  goods.pictureList[0]： 请求过来的购物车图片 -->
						<img class="bg_img" mode="aspectFit" :src="goods.pictureUrl || (goods.pictureList && goods.pictureList[0]) || 'https://moti-dev.oss-cn-beijing.aliyuncs.com/image/placeholder/placeholderSKU.png'">
					</view>
					<view class="content_right">
						<view class="title">{{goods.spuName}}</view>
						<view class="goods_info">
							<!-- <view class="discount">满90减9元</view> -->
							<view class="attr">已选: {{goods.attrValue}}</view>
						</view>

						<view class="price_num">
							<view class="price"><text>¥</text>{{parseInt(goods.singlePrice)}}</view>
							<view class="counter" @tap.stop>
								<uni-number-box :value="goods.num || goods.skuNum" :isCanTap="isCanNumBoxTap" :min="1" @change="numberChange" />
							</view>
						</view>
					</view>
				</view>
			</view>
		</uni-swipe-action>
	</view>
</template>

<script>
	import uniSwipeAction from '@/components/uni-swipe-action/uni-swipe-action.vue'
	import uniNumberBox from '@/components/uni-number-box/uni-number-box.vue'
	import {
		subCarNum
	} from '@/common/request.js'

	export default {
		props: {
			goods: {
				type: Object,
				default () {
					return {}
				}
			},
			index: {
				type: [Number, String],
				default () {
					return 0
				}
			},
			type: {
				type: String,
				default () {
					return ''
				}
			}
		},
		data() {
			return {
				swipeActionOpt: [{
					text: '删除',
					style: {
						backgroundColor: '#FA4650'
					}
				}],
				numberValue: this.goods.skuNum,
				totalPrice: 0,
				selected: false,
				isCanNumBoxTap: true
			}
		},
		components: {
			uniSwipeAction,
			uniNumberBox
		},
		methods: {
			changeCheck() {
				console.log(this.goods)
				// this.selected = !this.selected
				let selected = false
				// 
				if (this.goods.selected) {
					selected = false
				} else {
					selected = true
				}
				// this.goods.selected = !this.goods.selected
				// if (this.goods.selected) {
				// 	this.$set(this.goods, 'selected', false)
				// } else {
				// 	this.$set(this.goods, 'selected', true)
				// }
				// index是skuId
				this.$emit('changeCheck', {
					index: this.index,
					selected: selected,
					type: this.type
				})
			},
			async numberChange(e) {
				if (this.$isLogin()) {
					this.isCanNumBoxTap = false
					const res = await subCarNum(this.goods.skuId, e.num);
					this.isCanNumBoxTap = res.code == 0
				} else {
					this.isCanNumBoxTap = true
				}
				// this.goods.num = e
				// this.totalPrice = this.goods.price * e
				this.$emit('numberChange', {
					index: this.index,
					num: e.num,
					type: this.type
				})
			},
			swipeAction(e) {
				this.MonitorEvent('item_del');	// 大数据按钮埋点 item_del
				this.$emit('delGoods', {
					index: this.index,
					type: this.type || this.goods.sendType,
					skuId: this.goods.skuId
				})
			},
			goGoodsDetail() {
				const sendType = this.type || this.goods.sendType
				const param = `spuId=${this.goods.spuId}&sendType=${sendType}`
				uni.navigateTo({
					url: `/pages/goodsDetail/goodsDetail?${param}`
				})
			}
		}
	}
</script>

<style lang="scss">
	.first-top-padding {
		padding-top: 16upx;
	}

	.cart_item_wrapper {
		padding: 40upx 24upx;
		background: #fff;
		border-bottom: 2upx solid rgba(220, 220, 220, 0.5);
		;

		.cart_item_header {
			margin-left: 56upx;
			margin-bottom: 24upx;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.left {
				display: flex;
				align-items: center;
				flex-grow: 1;

				.discount_icon {
					text-align: center;
					font-size: 20upx;
					width: 58upx;
					height: 30upx;
					line-height: 30upx;
					background: #FA4650;
					color: #fff;
					border-radius: 4upx;
				}

				.text {
					margin-left: 10upx;
					font-size: 22upx;
					line-height: 22upx;
					color: #000;
				}
			}

			.right {
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 22upx;
				line-height: 22upx;
				color: #000;

				.moti-right {
					color: #c9c9c9;
				}
			}
		}

		.cart_item_content {
			display: flex;
			align-items: center;

			.cart_item_checkbox {
				width: 56upx;
				height: 100upx;
				display: flex;
				align-items: center;
				image {
					width: 32upx;
					height: 32upx;
				}
			}

			.content {
				width: 100%;
				// margin-left: 24upx;
				display: flex;
				align-items: center;
				height: 160upx;

				.bg_img_wrapper {
					text-align: center;
					flex-shrink: 0;
					width: 160upx;
					height: 160upx;
					border-radius: 8upx;
					overflow: hidden;

					.bg_img {
						max-width: 160upx;
						max-height: 160upx;
					}

				}

				.content_right {
					flex-grow: 1;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					margin-left: 18upx;
					height: 100%;

					.title {
						font-size: 24upx;
						line-height: 33upx;
						color: #000;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}

					.goods_info {
						// margin-top: 14upx;
						display: flex;
						align-items: center;

						.discount {
							line-height: 1;
							padding: 2upx 10upx;
							background: rgba(250, 70, 80, .2);
							color: #FA4650;
							border-radius: 15upx;
							font-size: 20upx;
						}

						.attr {
							margin-left: 8upx;
							font-size: 22upx;
							line-height: 30upx;
							color: #999;
						}
					}

					.price_num {
						// margin-top: 22upx;
						display: flex;
						justify-content: space-between;
						align-items: flex-end;

						.price {
							line-height: 1;
							font-size: 36upx;
							line-height: 36upx;
							color: #FA4650;
							font-weight: bold;
						}

						text {
							font-size: 24upx;
						}
					}
				}
			}
		}
	}
</style>
