<template>
	<view class="refundSubmit">
		<view class="refoundList">
			<view class="orderNum">订单号：{{orderInfo.orderNo}}</view>
			<view class="proOrder">
				<view class="detail">
					<view class="productitem" v-for='(item,index) in orderInfo.goodsList' :key='index'>
						<view class="orderImg">
							<image :src='item.pictureUrl' mode="aspectFit"></image>
						</view>
						<view class="orderText">
							<view class="ordertitle">
								<view class="title">{{item.spuName}}</view>
								<view class="type">颜色：{{item.skuName}}</view>
							</view>
							<!-- <view class="orderPrice">
								<view class="price">¥ {{orderInfo.orderMoney}}</view>
								<view class="num">x{{orderInfo.skuNum}}</view>
							</view> -->
						</view>
					</view>
					<view class="total">
						<view class="totalCount">可退{{orderInfo.skuNum}}件商品 <span>合计：¥</span></view>
						<view class="totalMoney">
							<span class="money">{{orderInfo.orderMoney}}</span>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="reasonBox">
			<view class="whyRefund">
				<view class="reaTitle">退款原因</view>
				<view class="selected" @tap="showService">
					<view class="checked">{{refundGoodsInfo.refundDesc}}</view>
					<view class="iconfont  moti-right"></view>
				</view>
			</view>
			<view class="problemDes">
				<view class="reaTitle">问题描述</view>
				<textarea v-model="refundGoodsInfo.refundReason" class="problemContent" placeholder="请描述退款具体原因，方便参考"></textarea>

			</view>
			<!-- <view class="uploadBox">
				<view class="reaTitle">上传凭证</view>
				<view class="uploadImg">
					<view class="img-box">
						<view class="img-item" v-if='prove.imagePath.length>0' v-for='(image,index) in prove.imagePath' :key='index'>
							<image :src="image" @tap="uploadImg(index)"></image>
							<view class="iconfont moti-close_light" @tap="deleteImg(index)"></view>
						</view>
						<view class="upload-btn" v-if='prove.imagePath.length<prove.maxImage'>
							<view class="blank"></view>
							<view class="iconfont moti-add_light"></view>
							<view class="tips" @tap="uploadImg(prove.imagePath.length)">
								<text>上传图片</text>
								<text>最多{{prove.maxImage}}张</text>
							</view>
						</view>
					</view>
				</view>
			</view> -->
		</view>
		<view class="drawBack">
			<view class="reaTitle">退款方式</view>
			<view class="method">
				<view>
					<view class="backIcon iconfont moti-rechargefill"></view>
					<view class="backMeth">原路返回</view>
				</view>
			</view>
		</view>
		<view class="refundTips">
			<view class="reaTitle">退款提示</view>
			<view class="tipsInfo">
				<view>小店发货之前退款时</view>
				<view>1. 若您使用过优惠券将返还到您的账户中</view>
				<view>2.将进行全额退款</view>
			</view>
		</view>
		<view class="submitBtn">
			<view class="btn" @tap='refundBtn'>提交</view>
		</view>

		<!-- 弹出信息 -->
		<view class="popup service" :class="serviceClass" @touchmove.stop.prevent="discard" @tap="hideService">
			<!-- 遮罩层 -->
			<view class="mask"></view>
			<view class="layer" @tap.stop="discard">
				<view class="content">
					<view class="layerTitle">
						<view class="title">退款原因</view>
						<view class="errioc iconfont moti-close_light" @tap="hideService"></view>
					</view>
					<view class="reminder">
						<view class="tipTitle">温馨提示</view>
						<view class="tipTxt">1. 订单一旦取消，显示特价，购买资格等购买优惠可能一并取消，不可恢复</view>
						<view class="tipTxt">2. 订单所有优惠券支持退回，为避免过期请尽快使用</view>
						<view class="tipTxt">3. 若您支付未成功银行卡已扣款，钱款将于4个工作日内退回银行卡</view>
					</view>
					<view class="reasonList">
						<view class="listTitle">请选择退款原因（必填）：</view>
						<view class="options" v-for="item in reasonArr" :key="item.id">
							<view class="checked" @tap="chooseCur(item.id,item.reason)"><span v-if="item.checked"></span></view>
							<view class="text">{{item.reason}}</view>
						</view>

					</view>
				</view>
				<view class="btn">
					<view class="isSure button" @tap="hideService">确认</view>
					<view class="isCancel button" @tap="hideService">取消</view>
				</view>
			</view>
		</view>

	</view>
</template>

<script>
	import {
		addRefund
	} from '@/common/request.js';
	export default {
		data() {
			return {
				prove: { //拒绝理由
					imagePath: [],
					maxImage: 3,
				},
				orderInfo: {},
				refundGoodsInfo: {
					orderId: '',
					buyerId: '',
					refundReason: '',
					refundDesc: '请选择',
					skuId: '',
					refundsCount: ''
				},
				serviceClass: '', //遮罩层 控制
				// backReason: '请选择',
				reasonArr: [{
						id: 0,
						reason: '请选择',
						checked: true
					},
					{
						id: 1,
						reason: '商品无货',
						checked: false
					}, {
						id: 2,
						reason: '不想要了',
						checked: false
					}, {
						id: 3,
						reason: '商品信息有误',
						checked: false
					}, {
						id: 4,
						reason: '地址错误',
						checked: false
					}, {
						id: 5,
						reason: '其他',
						checked: false
					}
				]

			}
		},
		methods: {
			deleteImg(index) {
				let _this = this;
				_this.$delete(_this.prove.imagePath, index);
			},
			uploadImg(index) { //上传图片
				let _this = this;
				let maxInsertLength = _this.prove.maxImage - _this.prove.imagePath.length;
				uni.chooseImage({
					count: maxInsertLength,
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					sourceType: ['album'], //从相册选择
					success: (res) => {
						let tempFilePaths = res.tempFilePaths;
						if (tempFilePaths.length > 1) { //多张，添加到后面
							let originLength = _this.prove.imagePath.length;
							for (let i = 0; i < maxInsertLength; i++) {
								_this.$set(_this.prove.imagePath, i + originLength, res.tempFilePaths[i]);
							}
						} else { //单张
							_this.$set(_this.prove.imagePath, index, res.tempFilePaths[0]);
						}
					}
				})
			},
			async refundBtn() {
				if (this.refundGoodsInfo.refundDesc == "请选择") {
					uni.showToast({
						icon: 'none',
						title: '请选择退款原因'
					})
				} else if (this.refundGoodsInfo.refundReason == '') {
					uni.showToast({
						icon: 'none',
						title: '请填写问题描述'
					})
				} else {
					let data = this.refundGoodsInfo;
					let result = await addRefund(data);
					console.log(result);
					console.log(result.refundId);
					if (result.code == 0) {
						uni.navigateTo({
							url: '/pages/applyRefund/applyRefund?refundId=' + result.result.refundId
						})
					} else {
						uni.showToast({
							icon: 'none',
							title: msg
						})
					}

				}

			},
			discard(e) {
				// console.log(e);
				// console.log(111);
			},
			showService() {
				console.log('show');
				this.serviceClass = 'show';
			},
			//关闭弹窗
			hideService() {
				this.serviceClass = 'hide';
				setTimeout(() => {
					this.serviceClass = 'none';
				}, 250);
			},
			chooseCur(id, reason) {
				this.refundGoodsInfo.refundDesc = reason;
				this.reasonArr.forEach(item => {
					if (item.id == id) {
						item.checked = true
						this.refundGoodsInfo.refundDesc = item.reason
					} else {
						item.checked = false
					}
				});
			},
		},
		onLoad() {
			let param = uni.getStorageSync('refundInfo');
			console.log(param);
			this.orderInfo = param;
			this.refundGoodsInfo.orderId = param.orderId;
			this.refundGoodsInfo.buyerId = param.buyerId;
		}
	}
</script>

<style lang="scss" scoped>
	.refoundList,
	.reasonBox,
	.drawBack,
	.refundTips,
	.submitBtn {
		padding: 24upx;
		background: #fff;
		margin-bottom: 20upx;

		.orderNum {
			padding: 0 0 2upx 0;
			color: #333;
			font-size: 24upx;
		}

		.reaTitle {
			color: #999;
			font-size: 26upx;
			padding-bottom: 28upx;
		}
	}

	.whyRefund {
		display: flex;
		justify-content: space-between;
		font-size: 26upx;
		color: #999;

		.selected {
			display: flex;

		}
	}

	.problemDes {
		.problemContent {
			width: 100%;
			height: 160upx;
			// border: 1px solid red;
			box-sizing: border-box;
			background: #f5f5f5;
			border-radius: 8upx;
			font-size: 26upx;
			padding: 24upx;
		}
	}

	.drawBack {
		.backIcon {
			font-size: 36upx;
		}

		.method {
			display: flex;
			align-items: center;
			text-align: center;
			flex: 1;
		}
	}

	.uploadBox {
		margin-top: 24upx;

		.uploadImg {
			display: flex;
			align-items: center;

			.img-box {
				.img-item {
					position: relative;
					display: inline-block;
					margin-right: 32upx;
					width: 128upx;
					height: 128upx;
					border-radius: 8upx;

					image {
						width: 128upx;
						height: 128upx;
						border-radius: 8upx;
					}

					.iconfont {
						width: 30upx;
						height: 30upx;
						border: 2upx solid rgba(151, 151, 151, 1);
						background: rgba(230, 230, 230, 1);
						text-align: center;
						border-radius: 50%;
						font-size: 20upx;
						line-height: 30upx;
						color: #979797;
						position: absolute;
						top: -8upx;
						right: -8upx;
						z-index: 98;
					}
				}

				.upload-btn {
					vertical-align: top;
					display: inline-block;
					width: 126upx;
					height: 126upx;
					background: rgba(255, 255, 255, 1);
					border-radius: 8upx;
					border: 2upx solid rgba(153, 153, 153, 1);

					.blank {
						width: 100%;
						height: 24upx;
					}

					.iconfont {
						width: 40upx;
						height: 40upx;
						font-size: 40upx;
						line-height: 40upx;
						color: #C9C9C9;
						margin: 0 auto;
					}

					.tips {
						text-align: center;
						height: 52upx;
						font-size: 18upx;
						font-weight: 400;
						color: rgba(153, 153, 153, 1);
						line-height: 26upx;

						text {
							display: block;
						}
					}
				}
			}
		}
	}

	.tipsInfo {
		font-size: 24upx;
		color: #999;
	}

	.submitBtn {
		.btn {
			width: 100%;
			height: 72upx;
			line-height: 72upx;
			text-align: center;
			color: #fff;
			font-size: 28upx;
			background: #FA4650;
			border-radius: 6upx;
		}
	}

	.popup {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 20;
		display: none;

		.mask {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 21;
			background-color: rgba(0, 0, 0, 0.6);
		}

		.layer {
			position: fixed;
			z-index: 22;
			bottom: -75%;
			width: 92%;
			padding: 0 4%;
			height: 75%;
			border-radius: 20upx 20upx 0 0;
			background-color: #fff;
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;

			.content {
				width: 100%;
				padding: 20upx 0;
			}

			.layerTitle {
				width: 100%;
				padding-bottom: 32upx;
				display: flex;
				align-items: center;

				.title {
					flex: 9;
					text-align: center;
					font-size: 34upx;
					color: #333;
				}

				.erricon {
					flex: 1;
					color: #333;
					font-weight: bold;
				}
			}

			.reminder {
				padding: 24upx;
				background: #f5f5f5;
				color: #999;

				.tipTitle {
					font-size: 26upx;
					margin-bottom: 20upx;

				}

				.tipTxt {
					font-size: 24upx;
				}
			}

			.reasonList {
				.listTitle {
					padding: 32upx 0;
					font-size: 26upx;
					color: #333;
				}

				.options {
					display: flex;
					align-items: center;
					margin-top: 32upx;
					font-size: 24upx;
					color: #333;

					.checked {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 32upx;
						height: 32upx;
						border-radius: 50%;
						border: 1px solid #c9c9c9;

						span {
							display: inline-block;
							width: 26upx;
							height: 26upx;
							border-radius: 50%;
							background: #FA4650;
						}
					}

					.text {
						margin-left: 24upx;
					}
				}
			}

			.btn {
				display: flex;
				align-items: center;
				width: 100%;
				height: 100upx;

				.button {
					flex: 1;
					height: 80upx;
					border-radius: 8upx;
					color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					background: #FA4650;
					font-size: 28upx;
					margin-right: 20upx;
				}

				.isCancel {
					background: #3C3C3C;
				}
			}
		}

		@keyframes showPopup {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}

		@keyframes hidePopup {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}

		@keyframes showLayer {
			0% {
				transform: translateY(0);
			}

			100% {
				transform: translateY(-100%);
			}
		}

		@keyframes hideLayer {
			0% {
				transform: translateY(-100%);
			}

			100% {
				transform: translateY(0);
			}
		}

		&.show {
			display: block;

			.mask {
				animation: showPopup 0.25s linear both;
			}

			.layer {
				animation: showLayer 0.25s linear both;
			}
		}

		&.hide {
			display: block;

			.mask {
				animation: hidePopup 0.25s linear both;
			}

			.layer {
				animation: hideLayer 0.25s linear both;
			}
		}

		&.none {
			display: none;
		}

		&.service {
			.row {
				margin: 30upx 0;

				.title {
					font-size: 30upx;
					margin: 10upx 0;
				}

				.description {
					font-size: 28upx;
					color: #999;
				}
			}
		}
	}





	.proOrder {
		background: #fff;
		margin-top: 20upx;

		.topTitle {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 90upx;
			padding: 0 28upx;

			.item {
				font-size: 24upx;
				color: #333;
			}

			.proTag {
				font-size: 30upx;
				font-weight: bold;
			}
		}

		.productitem {
			width: 100%;
			display: flex;
			align-items: center;
			background: #f9f9f9;
			box-sizing: border-box;

			.orderImg {
				flex: 1;
				height: 150upx;
				border-radius: 8upx;

				image {
					width: 100%;
					height: 100%;
					border-radius: 8upx;
				}
			}

			.allNum {
				flex: 1;
				text-align: center;
				font-size: 22upx;
				color: #000;
			}

			.orderText {
				flex: 4;
				display: flex;
				justify-content: space-between;
				padding: 14upx 20upx;

				.ordertitle {
					flex: 7;
					font-size: 26upx;
					color: #333333;

					.title {
						width: 100%;
						height: 80upx;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}

					.type {
						color: #999;
						display: flex;
						justify-content: space-between;
						align-items: center;
					}
				}

				.orderPrice {
					flex: 3;
					padding-left: 20upx;
					font-size: 24upx;
					color: #333;
					text-align: right;

					.price {
						height: 80upx;
					}

					.num {
						color: #999;
					}
				}

				.ordernum {
					font-size: 22upx;
					color: #999999;
					margin-top: 16upx;
				}
			}
		}

		.total {
			background: #fff;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: 36upx 22upx 27upx 22upx;

			.totalCount {
				font-size: 24upx;
				color: #999;

				span {
					padding-left: 20upx;
				}
			}

			.totalMoney {
				span {
					font-size: 24upx;
					font-weight: 600;
					color: #999;
					padding: 0 5upx;
				}

				.money {
					font-size: 36upx;
					color: #333;
				}
			}
		}
	}
</style>
