<template>
	<view class="uni-countdown">
		<view>{{d}}</view>
		<text>:</text>
		<view>{{h}}</view>
		<text>:</text>
		<view>{{i}}</view>
		<text>:</text>
		<view>{{s}}</view>
		<!-- <view v-if="showDay" :style="{borderColor:borderColor, color:color, background:backgroundColor}" class="uni-countdown__number">{{ d }}</view>
		<view v-if="showDay" :style="{color:splitorColor}" class="uni-countdown__splitor">天</view>
		<view :style="{borderColor:borderColor, color:color, background:backgroundColor}" class="uni-countdown__number">{{ h }}</view>
		<view :style="{color:splitorColor}" class="uni-countdown__splitor">{{ showColon ? ':' : '时' }}</view>
		<view :style="{borderColor:borderColor, color:color, background:backgroundColor}" class="uni-countdown__number">{{ i }}</view>
		<view :style="{color:splitorColor}" class="uni-countdown__splitor">{{ showColon ? ':' : '分' }}</view>
		<view :style="{borderColor:borderColor, color:color, background:backgroundColor}" class="uni-countdown__number">{{ s }}</view>
		<view v-if="!showColon" :style="{color:splitorColor}" class="uni-countdown__splitor">秒</view> -->
	</view>
</template>
<script>
	import countdown from './countdown.js'
	export default countdown
</script>
<style>
	@charset "UTF-8";

	.uni-countdown {
		padding: 2upx 0;
		display: inline-flex;
		flex-wrap: nowrap;
		justify-content: center
	}

	.uni-countdown__splitor {
		justify-content: center;
		line-height: 44upx;
		padding: 0 5upx;
		font-size: 28upx
	}

	.uni-countdown__number {
		line-height: 44upx;
		justify-content: center;
		height: 44upx;
		border-radius: 6upx;
		margin: 0 5upx;
		font-size: 28upx;
		border: 1px solid #000;
		font-size: 24upx;
		/* padding: 0 10upx */
	}
</style>