<template>
	<view class="introdeuce_wrapper">
		<view class="introduce_header">
			<view class="text_1">MOTI到家</view>
			<view class="text_2">同城一小时送货到家</view>
		</view>

		<view class="card_wrapper mt_200 pb_64 pt_65">

			<!-- <view class="item_title mt_12">一小时到家服务</view> -->
			<sign :text="'一小时到家服务'"></sign>
			<view class="item_content">
				<view class="icon_wrapper">
					<text class="iconfont moti-shuomingye-shandianfahuo"></text>
				</view>
				<view class="text_wrapper">
					<view class="text_1">随时下单 闪电发货</view>
					<view class="text_2">每天8小时不间断服务 随时下单不用等待</view>
				</view>
			</view>
			<view class="item_content">
				<view class="icon_wrapper">
					<text class="iconfont moti-shuomingye-xiaoshida plus"></text>
				</view>
				<view class="text_wrapper">
					<view class="text_1">同城1小时极速达</view>
					<view class="text_2">同城配送范围中 平均60分钟内极速送达</view>
				</view>
			</view>
			<view class="item_content">
				<view class="icon_wrapper">
					<text class="iconfont moti-shuomingye-zhuanyepeisong plus"></text>
				</view>
				<view class="text_wrapper">
					<view class="text_1">专业配送团队</view>
					<view class="text_2">全国100万专业配送员 保证订单 安全</view>
				</view>
			</view>

			<!-- <view class="item_title">7天包退</view> -->
			<view class="pt_69">
				<sign :text="'7天包退'"></sign>
			</view>
			<view class="item_content">
				<view class="icon_wrapper">
					<text class="iconfont moti-shuomingye-tianbaotui"></text>
				</view>
				<view class="text_wrapper">
					<!-- <view class="text_1">7天包退</view> -->
					<view class="text_2">在签收货物后7天内,且货物不影响MOTI二次销售的情况下, 您可以提出"7天无理由退换货"的申请</view>
				</view>
			</view>
			<!-- <view class="item_title">终身质保</view> -->
			<view class="pt_69">
				<sign :text="'终身质保'"></sign>
			</view>
			<view class="item_content">
				<view class="icon_wrapper">
					<text class="iconfont moti-shuomingye-zhongshenzhibao"></text>
				</view>
				<view class="text_wrapper">
					<!-- <view class="text_1">随时下单 闪电发货</view> -->
					<view class="text_2">从购买之日起,对于非人为损坏造成的问题, 您均可享受有MOTI到家提供的终身换新服务</view>
				</view>
			</view>
			<!-- <view class="item_title">全程验真</view> -->
			<view class="pt_69">
				<sign :text="'全程验真'"></sign>
			</view>
			<view class="item_content">
				<view class="icon_wrapper">
					<text class="iconfont moti-shuomingye-quanchengyanzhen"></text>
				</view>
				<view class="text_wrapper">
					<!-- <view class="text_1">随时下单 闪电发货</view> -->
					<view class="text_2">MOTI到家保证平台所售商品,均为厂家专供正品.我们在生产/物流配送/等所有相关渠道都提供全程验真.您收到产品之后可以通过APP的产品验真功能查询真伪</view>
				</view>
			</view>
		</view>

		<view class="card_wrapper">
			<view class="remind_title">温馨提示</view>
			<view class="remind_text">
				<image class="icon" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/red_circle.png"></image>
				<view class="text">仅限试点城市</view>
			</view>
			<view class="remind_text">
				<image class="icon" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/red_circle.png"></image>
				<view class="text">如瞬时订单量过多,系统将为您转为同城达订单</view>
			</view>
			<view class="remind_text">
				<image class="icon" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/red_circle.png"></image>
				<view class="text">具体服务时间和时长,如有变动以实际为准</view>
			</view>
			<view class="remind_text">
				<image class="icon" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/red_circle.png"></image>
				<view class="text">此处为全国配送员总量,具体因城市不同略有差异</view>
			</view>
			<view class="remind_text">
				<image class="icon" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/red_circle.png"></image>
				<view class="text">货物包装完好,雾化弹/小烟未使用 ,雾化杆无损坏</view>
			</view>
			<view class="remind_text">
				<image class="icon" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/red_circle.png"></image>
				<view class="text">部分活动商品及类目不享受7天无理由服务</view>
			</view>
			<view class="remind_text">
				<image class="icon" src="https://moti-dev.oss-cn-beijing.aliyuncs.com/image/moti-home-c/icons/red_circle.png"></image>
				<view class="text">最终解释权由MOTI所有</view>
			</view>
		</view>
	</view>
</template>

<script>
	import sign from './sign.vue'
	export default {
		data() {
			return {

			};
		},
		components: {
			sign
		}
	}
</script>

<style lang="scss">
	.introdeuce_wrapper {
		overflow: hidden;
		// padding: 0 24upx;
		padding-bottom: 40upx;
		background: #141A53;

		.introduce_header {
			padding-top: 60upx;
			text-align: center;
			height: 475upx;
			box-sizing: border-box;
			background: url(../../../static/images/indtroduce-banner.png) center/cover;

			.text_1 {
				font-size: 50upx;
				line-height: 50upx;
				color: #fff;
				font-weight: 600;
			}

			.text_2 {
				margin-top: 24upx;
				font-size: 34upx;
				line-height: 34upx;
				color: #35F3E9;
			}
		}

		.card_wrapper {
			padding: 28upx 52upx;
			width: 702upx;
			margin: 0 auto;
			box-sizing: border-box;
			overflow: hidden;
			margin-top: 20upx;
			background: #fff;
			border-radius: 8upx;

			&.mt_200 {
				margin-top: 0;
			}

			&.pb_64 {
				padding-bottom: 64upx;
			}

			&.pt_65 {
				padding-top: 65upx;
			}

			.pt_69 {
				padding-top: 69upx;
			}

			.item_title {
				margin: 0 auto;
				margin-top: 68upx;
				width: 280upx;
				height: 56upx;
				background: linear-gradient(1deg, rgba(92, 95, 119, 1) 0%, rgba(61, 62, 76, 1) 100%);
				border-radius: 28upx;
				color: #fff;
				text-align: center;
				line-height: 56upx;

				&.mt_12 {
					margin-top: 12upx;
				}

				&.mt_68 {
					margin-top: 68upx;
				}

			}

			.item_content {
				display: flex;
				margin-top: 36upx;

				&.mt_36 {
					margin-top: 36upx;
				}

				&.mt_40 {
					margin-top: 40upx;
				}

				.icon_wrapper {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 60upx;
					height: 60upx;

					.iconfont {
						color: #FA4650;
						font-size: 48upx;
						font-weight: 500;
					}

					.plus {
						font-size: 52upx;
					}
				}

				.text_wrapper {
					margin-left: 46upx;

					.text_1 {
						font-size: 24upx;
						line-height: 28upx;
						color: #333;
						font-weight: 600;
						margin-bottom: 12upx;
					}

					.text_2 {
						font-size: 22upx;
						line-height: 33upx;
						color: #333;
					}
				}
			}

			.remind_title {
				font-size: 24upx;
				line-height: 33upx;
				color: #333;
				font-weight: 600;
			}

			.remind_text {
				display: flex;
				align-items: center;

				.icon {
					margin-left: 10upx;
					width: 12upx;
					height: 12upx;
				}

				.text {
					margin-left: 20upx;
					font-size: 22upx;
					line-height: 33upx;
					color: #333;
				}
			}
		}
	}
</style>
