<template>
	<view class="sign">
		<view class="line">

		</view>
		<view class="text">
		{{text}}
		</view>
		<view class="line">

		</view>
	</view>
</template>

<script>
	export default {
		props: {
			text: {
				text: String
			}
		}
	}
</script>

<style lang="scss">
	.sign {
		display: flex;
		height: 40upx;
		.line{
			flex:1;
			position: relative;
			top: -20upx;
			border-bottom:2upx solid #cdcdcd;
		}
		.text{
			padding:0 23upx;
			font-size:32upx;
			font-weight: 600;
			line-height: 40upx;
			color: #333333;
		}
	}
</style>
