<template>
	<view class="m_btn_wrapper">
		<view class="moti_btn" @tap="btnClick" :style="{
			margin: margin,
			background: background,
			width: width,
			height: height,
			'border-radius': borderRadius,
			border: border,
			'font-size': fontSize,
			color: color,
			'font-weight': bold ? 'bold' : 'normal'
			 }">
			<slot></slot>
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			text: {
				type: String,
				default() {
					return '点击'
				}
			},
			background: {
				type: String,
				default() {
					return ''
				}
			},
			width: {
				type: String,
				default() {
					return ''
				}
			},
			height: {
				type: String,
				default() {
					return ''
				}
			},
			borderRadius: {
				type: String,
				default() {
					return ''
				}
			},
			border: {
				type: String,
				default() {
					return ''
				}
			},
			fontSize: {
				type: String,
				default() {
					return ''
				}
			},
			color: {
				type: String,
				default() {
					return ''
				}
			},
			bold: {
				type: Boolean,
				default() {
					return false
				}
			},
			margin: {
				type: String,
				default() {
					return '0 auto'
				}
			}
		},
		methods: {
			btnClick() {
				this.$emit('mTap')
			}
		}
	}
</script>

<style lang="scss">
	.m_btn_wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.moti_btn {
			margin: 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 480upx;
			height: 72upx;
			color: #fff;
			background:linear-gradient(270deg,rgba(255,74,101,1) 0%,rgba(250,70,80,1) 100%);
			font-size: 28upx;
			border-radius: 8upx;
		}
	}
</style>
